[2019-09-03 22:16] samreid commented on #253
The branch is calling `allBodiesUpdated` and hence `addPathPoint` numerous times.  Here is a patch that runs the physics multiple times and updates the path the same number of times.

<details>

[code]

</details>

I'd like to investigate this further.  If this has reasonable performance on our slowest systems, then it seems good to proceed.  I'd also like to make the slow/normal/fast be integral

[2019-09-04 16:03] samreid commented on #253
I'm partway through converting to a playback speed enumeration, and quantizing the speeds.  Here is a patch for me to continue with:

<details>

[code]

</details>

[2019-10-16 15:52] samreid commented on #137
@KatieWoe can you please test performance on some of PhET's slower supported devices?  Here's a fresh dev version: https://phet-dev.colorado.edu/html/gravity-and-orbits/1.2.0-dev.2/phet/gravity-and-orbits_en_phet.html

[2019-10-16 16:39] KatieWoe commented on #137
Things look pretty ok.

[2019-10-16 16:40] samreid commented on #137
Thanks, it seems we will not need to invest in WebGL for this sim at the moment, closing.

[2019-10-16 16:40] #137 closed

[2019-10-16 17:34] samreid commented on #253
Fixed in the above commits.  I did a few spot checks that the overall behavior is undisturbed, but we will likely need a closer look as we proceed through next round of RC testing.  Closing.

[2019-10-16 17:34] #253 closed

[2019-10-16 17:37] samreid opened #285 "Should fast motion be 7x slow motion, or 8x slow motion?"
During #253 I noticed that fast speed is 7x slow speed.  The current values are:

Slow: 1 step
Normal: 4 steps
Fast: 7 steps.

I just wanted to double check that the 7x factor is desired.  @arouinfar what do you think?

[2019-10-16 17:38] samreid commented on #260
@arouinfar can you please report the status of this issue?  Does anything need to be done for the upcoming publication?

[2019-10-16 17:40] samreid commented on #262
This is still broken in the published version, but it is fixed in master and will go out with the next minor release, closing.

[2019-10-16 17:40] #262 closed

[2019-10-16 17:41] samreid commented on #265
I no longer see any GAO-prefixed files, closing.

[2019-10-16 17:41] #265 closed

[2019-10-16 18:48] #267 closed

[2019-10-16 19:02] samreid commented on #272
In discussion today, @jessegreenberg said this branch can be deleted because master already supports this.

[2019-10-16 19:02] #272 closed

[2019-10-16 19:03] samreid commented on #269
@jessegreenberg and I reviewed this branch today and concluded that the fixes in #253 are in good shape, and nothing needs to be preserved from this branch.  We deleted the branch, closing.

[2019-10-16 19:03] #269 closed

[2019-10-16 19:03] samreid commented on #270
@arouinfar or @ariel-phet do you want to work on this before the upcoming publication?

[2019-10-16 19:28] samreid commented on #271
I eliminated the re-entrant property, this is much nicer, closing.

[2019-10-16 19:28] #271 closed

[2019-10-16 19:30] samreid commented on #273
Fixed in master and will go out with next release, closing.

[2019-10-16 19:30] #273 closed

[2019-10-16 19:30] samreid commented on #275
@arouinfar or @ariel-phet would like like to work on this for the upcoming publication?

[2019-10-16 19:31] arouinfar commented on #285
@samreid that does seem a bit odd to me. My guess is that the speed settings are a holdover from Java, and weren't ever explicitly discussed in the HTML5 design. The Earth/Moon and Earth/Satellite are pretty fast in the published version, so perhaps that's why we went with an odd step-size. I don't think we need to make fast any faster.

Even if we made fast forward 8x slow motion, the spacing wil

[2019-10-16 19:31] #285 closed

[2019-10-16 19:33] arouinfar commented on #270
@samreid I think this would take quite a bit of design and development resources, which I don't think we have any bandwidth for right now. My inclination is to defer, but I'll let @ariel-phet make that call.

[2019-10-16 19:34] arouinfar commented on #260
This issue has no effect on the upcoming publication. We don't currently have anyone working on video production, so this is very much a back-burnered issue for me.

[2019-10-16 19:53] samreid commented on #276
I reviewed RewindableProperty, simplified and cleaned it up a bit, and it seems like it provides the feature needed by Gravity and Orbits of being able to store and restore a specific value (in addition to the overall reset value).  @pixelzoom would you recommend any further work or discussion before this issue can be closed?

[2019-10-16 19:57] samreid commented on #277
Fixed in the preceding commit:

![image](https://user-images.githubusercontent.com/679486/66954034-d6806500-f01c-11e9-8372-5f45c2b2ee43.png)

Can you please review, @ariel-phet?  Close if all is well.

[2019-10-16 20:38] arouinfar commented on #268
Miles is a bit of an odd (and USA-centric) choice. My best guess is that miles is better understood by middle school students in the USA, so that's why we chose that unit. That said, km or AU are also appropriate units, and would be a better choice for globalization or even HS/university students. I see two ways we could address this request.
1. Add 3 horizontal radio options below the Measuring T

[2019-10-16 20:47] arouinfar commented on #275
This is an interesting suggestion. I think it might be nice to someday add a slider for semi-major axis (since that's what's Kepler's 3rd Law) but I think it will take some design work in terms of space constraints and scaffolding/flow.

I don't know the constraints on the GAO work in terms of priorities and timelines, but this seems like a bigger change than #268 (but smaller-scale than #270). I

[2019-10-16 21:00] ariel-phet commented on #270
Yes, I think it would be wise to continue to defer this issue, although it is a good suggestion, it would likely be a whole new screen.

[2019-10-17 02:36] samreid commented on #281
After review, I determined it will be nontrivial based on existing implementation details to make the drag bounds match the visible bounds.  There is also the question of whether we would apply that expanded bounds to dragging the masses, or the return button display.  There is the further question about whether to extend the bounds to the right of the screen--at the moment they are limited by the

[2019-10-18 00:10] pixelzoom commented on #276
Changes look good, looks like most removing stuff that wasn't used.

I'm OK to close this.  But can you summarize where we ended up on this, and how it differs from https://github.com/phetsims/graphing-lines/issues/109?

[2019-10-18 02:42] samreid commented on #276
Gravity and Orbits requires the ability to store and restore specific states that differ from the overall reset value.  This is accomplished via RewindableProperty.  GraphingLines needs to make other state changes before `gamePhaseProperty`'s value changes, this is accomplished by performing that work in `BaseGameModel.setGamePhase` before setting the Property.  Please reopen if there's more to di

[2019-10-18 02:42] #276 closed

[2019-10-21 17:14] ariel-phet commented on #277
Looks good. Closing

[2019-10-21 17:14] #277 closed

[2019-10-21 17:21] ariel-phet commented on #275
I am not sure I understand the request. I feel like this request is actually sort of covered...you just have to adjust the orbital radius to begin with by moving the planet, before pressing play. Once it is moving things are trickier, agreed. I however do not think we should be making a change like a orbital radius slider at this time.

[2019-10-21 19:34] ariel-phet commented on #268
@arouinfar a couple of thoughts

1. For the tape measure, I think we should just change to "km" - it seems very odd to have this one in miles. I am guessing that is a hold over from Java. If we put the units in "thousand kms" I would be fine if we had an option menu to change to miles or AU, but it seems like km should be the default

2. If we do values of the velocity, they probably need to be in

[2019-10-21 20:05] ariel-phet commented on #281
@samreid I do not think we should work on having the drag bounds match the visible bounds. Although that might well be nice, I don't believe we have received any teacher requests for such a feature change, so I do not think it is currently worth our time to make that kind of nontrivial change to the sim.

If we were going to invest time in improvements, I would be much more inclined to improve per

[2019-10-21 20:45] arouinfar commented on #281
I agree with @ariel-phet. While it'd be nice if the drag bounds matched the visible bounds, it's not worth the investment of resources that a nontrivial change would require.

[2019-10-21 22:07] samreid opened #286 "Improve performance and smoothness"
In https://github.com/phetsims/gravity-and-orbits/issues/281#issuecomment-544684595 @ariel-phet said:

I wasn't sure whether this is the same as the issue reported in https://github.com/phetsims/gravity-and-orbits/issues/162 which seemed like it eventually focused on a single long pause in firefox.

@ariel-phet can you please report what hardware and browser you are running, and quantify the perfo

[2019-10-21 22:49] arouinfar commented on #275
While this issue is still somewhat fresh, a few final thoughts...

Yes, but only somewhat. You can change the initial distance, but it will be hard to extract the T^2 ~ a^3 relationship. There's some tricky geometry going on -- the user is changing the distance at perihelion, not the semi-major axis directly.

In this screenshot, the useful distance is represented by the cyan line. It can be estim

[2019-10-22 15:41] ariel-phet commented on #286
@samreid I was seeing the somewhat stuttering behavior on Win 7 Chrome. I have not done a thorough comparison of platforms. I just wonder if given the age of this sim there are some performance improvements to be had that are low hanging fruit (things we have learned since then).

We could have QA take a brief look at some point to see if performance issues are platform specific. I think having va

[2019-10-31 02:43] samreid opened #287 "Should cartoon be renamed to model in the code?"
Gravity and Orbits has 2 screens.  “Model” and “To Scale”.  The first screen used to be called “Cartoon” and all of the code is called cartoon.  There is a comment that says we kept the name “cartoon” in the code because “ModelModel” and “ModelScreenView” would be confusing.  What do you think?

I also asked this on slack.  I'm inclined to rename it but wanted to check before spending that time.

[2019-10-31 02:45] samreid opened #288 "Rename module => model"
Discovered during #284, some of the models are named modules.

[2019-11-01 16:13] samreid opened #289 "Sim doesn't correctly rewind to last user-specified positions"
This doesn't appear to be working on master or published version.  Discovered during #284

[2019-11-01 21:35] samreid opened #290 "Pressing step makes NaN days"
Pressing step makes NaN days.  Discovered during #284

[2019-11-02 14:59] samreid commented on #253
Note that I also had to increase the single-step dt from 0.525x to 1x in order to maintain reproducible runs when using the step button.

[2019-11-02 15:07] samreid commented on #290
Fixed, closing.

[2019-11-02 15:07] #290 closed

[2019-11-02 15:08] samreid commented on #288
Fixed, closing.

[2019-11-02 15:08] #288 closed

[2019-11-02 17:49] samreid commented on #284
I published a reference version here for review before the upcoming design meeting:
https://phet-dev.colorado.edu/html/gravity-and-orbits/1.2.0-dev.4/phet-io/

[2019-11-04 22:15] samreid commented on #286
QA characterized the performance across a range of platforms in https://github.com/phetsims/QA/issues/443#issuecomment-545496827.  @ariel-phet can you please help identify which platforms we should focus on, what target performance we would like to shoot for as part of our next publication, and how much time should be allocated for it?

[2019-11-06 19:37] ariel-phet commented on #286
@samreid I think we should focus on just two platforms, I think if you make some headway on these two, it will probably be good enough:

1. Windows 7 Chrome
2. ChromeOS

The goal should not really be FPS but more eliminating "stutters" in the orbit. It looks like ChromeOS does drop in FPS sometimes, so maybe that would be a quantifiable place to start.

I would say lets start in the 8 hour range.

[2019-11-14 22:18] samreid commented on #284
At today's design meeting:

* We would like to add a new layer to tandems like `gravityAndOrbits.modelScreen.view.starPlanetSceneMassControlPanel` so they would read like `gravityAndOrbits.modelScreen.view.massesControlPanel.starPlanetSceneMassControlPanel`
* Same for structuring the scene views (play areas)

[2019-11-15 15:53] oliver-phet opened #291 "User request: rotation speed, zoom, satellite line of sight"

[2019-11-21 21:19] samreid commented on #284
In the first two bullets of the preceding comment, I noticed the time controls are outside of the playAreaNode, and wanted to make sure that's OK.

[2019-11-21 21:26] samreid commented on #284
I also improved the names for vectorNode tandems, but not sure they should appear on the 1st screen.

[2019-11-21 21:54] samreid commented on #284
I published a dev version here: https://phet-dev.colorado.edu/html/gravity-and-orbits/1.2.0-dev.5/phet-io/

[2019-11-21 22:14] samreid commented on #284
[code]

I should add units for this part.

[2019-11-22 15:33] samreid commented on #284
After review, I determined that the clock abstraction is appropriate for this simulation.  If we promote its parts to the parent, then the model (rather than the clock) would need to be passed to numerous places, including the GravityAndOrbitsPhysicsEngine, the ModelState and would complicate usage in DayCounter and BodyNode.  We could change the tandems without changing the code, but at yesterday

[2019-11-22 20:08] kathy-phet commented on #284
OK - I'm fine with keeping clock as the container.

[2019-12-02 18:58] samreid opened #292 "It takes 700 days to go around the sun once"
During https://github.com/phetsims/gravity-and-orbits/issues/284, I noticed it's taking way too long for the earth to go around the sun.   This is not buggy in the published version.  This will block publication.

[2019-12-02 19:07] samreid commented on #292
Tagging @kathy-phet, @arouinfar and @ariel-phet so they are aware of this problem.

[2019-12-02 19:18] kathy-phet commented on #292
Hi Sam, Could this be related to your dt changes to correct the difference in the outcomes for running in slow versus fast motion? I don't recall the ticket number.

[2019-12-02 19:19] samreid commented on #292
It's possible, I'll investigate there first.

[2019-12-02 20:37] samreid commented on #292
I committed a proposed fix and tested a few scenes and playback speeds.  It seems better now.  Still, I'd like QA to take a closer look at testing time, so I'll leave this issue open until then.

[2019-12-02 20:44] samreid commented on #283
This sim is now ES6, closing.

[2019-12-02 20:44] #283 closed

[2019-12-02 20:46] samreid commented on #289
I think I just misunderstood how this is supposed to work.  If the user pauses the sim, then moves the bodies that does get reset as the new return point.  Closing.

[2019-12-02 20:46] #289 closed

[2019-12-02 20:47] samreid commented on #287
Mostly in commits beyond the one mentioned above, this is complete.  Closing.

[2019-12-02 20:47] #287 closed

[2019-12-02 20:52] samreid commented on #286
Summarizing the results from https://github.com/phetsims/QA/issues/443#issuecomment-545496827 for the requested platforms:

Windows 7 Chrome has subjective performance "Decent. Some lag" and 55-60fps.
ChromeOS has subjective performance "Ok. Some lag" and 50-60fps but does dip much lower.

[2019-12-02 22:22] samreid commented on #284
I've implemented the requested features above.  There are still several issues that I have not yet had time for, but which may not be essential or compatible with our early December timeline:
https://github.com/phetsims/gravity-and-orbits/issues?utf8=%E2%9C%93&q=is%3Aissue+is%3Aopen+-label%3Apriority%3A5-deferred

I published this dev version:
https://phet-dev.colorado.edu/html/gravity-and-orbits/

[2019-12-02 23:03] arouinfar commented on #284
@samreid I think something might be broken. When I open studio and start clicking in the tree, there aren't any messages generated in the console. From our [documentation](https://docs.google.com/document/d/116HkWEDCmw59PLZETiEUHlxAQf4aUpDHCZIHulIbPmQ/edit), it would expect to see things in the console that would need to be pasted into the overrides file.

[2019-12-02 23:27] samreid commented on #284
That looks really broken, let me consult with @zepumph and get back to you.

[2019-12-03 02:21] samreid commented on #284
@zepumph reminded me that the studio admin mode only works in requirejs (non-built) mode, you can run it locally as described in the document, or perhaps off of phettest. Back to you @arouinfar

[2019-12-03 16:33] arouinfar commented on #284
Ah, thanks @samreid. I'll make a note of this in the instructions doc.

[2019-12-05 07:20] kathy-phet opened #293 "Designer review comments/feedback/todos for PhET-iO GAO "Model" screen"
@arouinfar and @kathy-phet worked on the "Model" screen today, and have several comments/requests/questions to be considered by @samreid in advance of doing the overrides.

- [x] We need clarity on how each screen's "activeProperty" works. What are the conditions underwhich it is "true"? Can we be a bit more clear in the Documentation too.

UPDATE by @samreid and @chrisklus: We I updated the docum

[2019-12-11 00:19] arouinfar commented on #293
@kathy-phet I read through my notes, and I couldn't find anything that you hadn't already documented in the issue.

[2019-12-11 19:23] jessegreenberg opened #294 "Use TimeControlNode for Play/Pause/Step buttons"
From phetsims/scenery-phet#561. A scenery-phet/TimeControlNode was created that combines the PlayPauseButton and StepForwardButton and includes PhET-iO and PDOM instrumentation. It should be used in this sim. Assigning to responsible dev.

[2019-12-17 20:40] arouinfar commented on #293
Comparing notes to Projectile Motion, I just realized that the MeasuringTapeNode doesn't appear to be instrumented (just the checkbox to toggle it). I've edited @kathy-phet's original comment to add this item.

[2020-01-28 15:31] samreid commented on #286
I've been unable to profile using Chrome 79.0.3945.130 on MacOS 10.15.1 for several days, receiving a problem like this:

![image](https://user-images.githubusercontent.com/679486/73278176-70bd8080-41a8-11ea-867e-5d633291e613.png)

[2020-01-29 02:39] samreid commented on #286
I was able to use Chrome Canary for performance profiling.  I'm seeing 32% time taken in "Update Layer Tree", 9% in "setAttribute" and 5% in "watchedBoundsScan".  Here's everything that takes 1% or more self-time from "bottom up" view:

![image](https://user-images.githubusercontent.com/679486/73323731-9c228880-4205-11ea-88d8-5c13bac3c4aa.png)

@ariel-phet most of these are related to scenery or b

[2020-01-29 13:42] samreid opened #295 "Add derived properties to the model for the data stream"
From #293:

1. a "forceMagnitudeProperty" for each body and perhaps a "forceDirectionProperty" (in degrees where 0 is horizontal to the right and conventions as in "Vector Addition")
2. a "velocityMagnitudeProperty" for each body and perhaps a "velocityDirectionProperty"
3. a "planetMoonDistanceProperty" at the scene level for each pair of bodies in that scene. e.g.
gravityAndOrbits.modelScreen.mo

[2020-01-29 14:28] samreid commented on #295
For context, the existing force properties already output in x,y form like so:

[code]

It won't be very hard to add these new proposed derived Properties for the data stream, but I wanted to verify that we are on the same page about them before I proceed.  If I recall correctly, we have made contrasting decisions as a team.  One principle we have settled on as a team is:

* For the data stream, c

[2020-01-29 15:04] samreid commented on #293
For the preceding commit, I was unsure whether to go with readOnly: true or studioControl: false.  @zepumph can you please comment?

[2020-01-29 16:43] pixelzoom commented on #295
I don't recall a discussion about whether this responsibility belongs in the sim or in the wrapper.

What I can say is that putting PhET-iO-only features (like these DerivedProperties) in the sim creates a QA dilemma.   How will those features be verifies? In this case, these DerivedProperties will not be exercised by the sim proper, and will therefore not be tested when running the sim in CT or o

[2020-01-29 16:53] pixelzoom commented on #293
@samreid update in https://github.com/phetsims/gravity-and-orbits/issues/293#issue-533171338:

That's correct.  For sim-specific elements,  I think it's desirable to move most metadata changes back into the code. The exception is `phetioFeatured`

For common-code elements, metadata changes should be reviewed to see whether they are appropriate to move back into the code.   For example, the `phetio

[2020-01-29 17:00] kathy-phet commented on #295
For some simulations, like this one, a benefit we expect clients to take advantage of is the ability to pull more quantitative data from the simulation. I do not want to ask every client to have to build their own quantitative data creator for the natural quantities you would want to collect to show common relationships from a sim like this one.

I agree that we will want QA to have access to thes

[2020-01-29 23:48] KatieWoe opened #296 "CT registered PhetioObject baseline must equal baseline schema to ensure that baseline changes are intntional"
[code]

[2020-01-30 01:28] ariel-phet commented on #286
@samreid yes, feel free to have @jonathanolson take a look with you, but only briefly (a couple of hours).

We have dropped windows 7 support, so really ChromeOS would be the question mark now. Looking on Win 10 chrome, things just don't seem quite as smooth as I would expect still. However, this sim has been out in the public for a LONG time without any complaints, so if after a couple hours we h

[2020-01-30 02:36] zepumph commented on #293
It looks like it is very buggy to every set that visibility. I felt this especially after setting it to readOnly false, and toggling it in studio. From this I recommend `phetioReadOnly`, as I wouldn't want any way to toggle that, since the sim will handle that for us.

I also grunt updated. Back to you!

[2020-01-30 03:03] samreid commented on #295
Can the QA team use the readouts in studio or in the data stream?

[2020-01-30 22:34] jessegreenberg commented on #296
I am not seeing this on CT anymore, looks like `grunt update` was run.

[2020-01-30 22:34] #296 closed

[2020-02-03 17:16] samreid commented on #286
@jonathanolson and I took a quick look at the performance profile on MacOS Chrome Canary today, and didn't see any obvious problems.  We will schedule to meet on Thursday with a Chromebook.  @KatieWoe can you please let us know if/how we can check out a Chromebook on Thursday for investigation here?  I'm not sure which device was used in https://github.com/phetsims/QA/issues/443#issuecomment-54549

[2020-02-03 17:17] KatieWoe commented on #286
Just let me know. If you're taking it for more than a day sign it out on the assets inventory. Probably Lovelace was used, and it is the most up to date.

[2020-02-04 18:59] samreid commented on #295
In the above commits, I added:

* `forceMagnitudeProperty`
* `speedProperty` -- seemed a better name than `velocityMagnitudeProperty`
* pairs and a `distanceProperty` for each pair.  I did this instead of flat values like `planetMoonDistanceProperty` in case we want to add other pairwise quantities in the future.

I didn't add the direction properties, since their importance was unclear ("perhaps"

[2020-02-04 21:25] samreid commented on #294
It is unclear how to combine the RewindButton with the TimeControlNode.  It seems suboptimal to place the RewindButton next to the TimeControlNode--it seems like the RewindButton should be a child of the TimeControlNode.  @jessegreenberg can you please advise how to proceed?

[2020-02-04 21:31] samreid opened #297 "Should tandem names be constructed dynamically?"
I asked on slack:

Do we have a consensus on dynamic tandem construction?  For instance, in this code: https://github.com/phetsims/gravity-and-orbits/blob/938b98e932bd01cc9ed65077620e6a055c8291d3/js/common/SceneFactory.js#L477-L496 I am passing

[code]

but that could all be factored out if I used `tandem.name + 'MassLabel'` etc.

[2020-02-04 23:09] jessegreenberg commented on #294
It seems useful to me to add a RewindButton to TimeControlNode, Ill do that.

[2020-02-04 23:26] jessegreenberg commented on #294
I began to add the RewindButton to the TimeControlNode but this sim needs access to it or a way to set it enabled/disabled based on sim specific Properties/logic which adds some complexity.

[2020-02-05 00:07] jessegreenberg commented on #294
Im not sure what is best, I opened https://github.com/phetsims/scenery-phet/issues/574 to get feedback from original authors.

[2020-02-05 03:29] samreid commented on #297
From slack:

Chris Malley  2:34 PM
Seems like tandem.name really should be tandemNamePrefix

Sam Reid  2:34 PM
Did you mean ‘suffix’?

Chris Malley  2:35 PM
tandemNamePrefix: 'satellite'

Sam Reid  2:35 PM
I see

Chris Malley  2:35 PM
tandem.createTandem( body.tandemNamePrefix + 'MassLabel' )  etc.
2:36
That's how I see the fields from Body being used.

Sam Reid  2:37 PM
That sounds reasonable to

[2020-02-05 03:31] samreid commented on #297
Regarding `tandemNamePrefix`, that seems it would create duplication:
[code]
Are you saying this duplication is desirable in this case?

[2020-02-05 15:53] samreid commented on #294
Now tracked in https://github.com/phetsims/scenery-phet/issues/575.  Until that's resolved, we should probably use the decorator pattern by placing the RewindButton next to the TImeControlNode.

[2020-02-05 16:05] samreid commented on #293
We addressed or commented on each of the requested items.  @kathy-phet and/or @arouinfar can you please review?  For any nontrivial issues that are not complete, I recommend to open a new issue.  Also, my notes indicate we would like to publish this "mid-February" and this is one of the last issues that needs to be completed before RC testing.  We could also schedule a design meeting or a side mee

[2020-02-05 16:26] samreid commented on #297
There is already some discussion of this topic in https://github.com/phetsims/tandem/issues/128

[2020-02-06 23:19] jonathanolson commented on #286
Really dug into this with @samreid! It looks like we have a fixed-timestep physics model underneath, and we are properly using EventTimer to keep the time consistent, BUT we are not interpolating the display between the previous and next state (leading to jittery-ness, where one frame it might not run a physics step and would stay in the same position, and the next it could run two physics steps a

[2020-02-07 04:07] samreid commented on #286
The above commit blends the view coordinates using the interpolation ratio from the EventTimer.  @jonathanolson you indicated this should be done in the model, but it made sense to me to implement in the view as we had done for Wave Interference.  Can you please take a look and advise?

Even after this change, I'm still seeing non-smooth motion on my MBP.  It seems we can save around 1% CPU if we

[2020-02-07 15:57] jonathanolson commented on #286
Above commit looks good. The "blend in the model" was only if you were storing the blended state in the model. Since it happens in the BodyNode, having that in the view seems perfect!

Improved at all?

[2020-02-07 16:59] samreid commented on #286
Performance in a built version seems roughly the same to me.

[2020-02-10 17:14] kathy-phet commented on #293
- [ ] Regarding, isRunningProperty and isPlayingProperty, we would like to have documentation on both of these. Suggestion:
isRunningProperty = "This value is true when [INSERT SCENE NAME] is the active scene AND the sim is playing (isPlayingProperty is 'true')."
isPlayingProperty = "This value is true [SCREEN] is the active screen AND the play/pause button is in play mode."
NOTE: We are a bit con

[2020-02-10 17:34] kathy-phet opened #298 "isMovableProperty is creating bugs in the sim"
@arouinfar and @kathy-phet found some odd behavior when experimenting with the isMovableProperty of objects. Two observed behaviors (not consistent behavior):
- isMovableProperty was set to "false" but @arouinfar was still able to move it.
- we also saw a situation where you would click on the moon when it was "isMoveable=false" and the moon would not move but its velocity would and it would get o

[2020-02-10 17:36] kathy-phet commented on #298
Also, you said in https://github.com/phetsims/gravity-and-orbits/issues/293 that the sun's isMoveableProperty is false, but in the published sim it moves and in the phettest sim it moves, so we are also confused about this.

[2020-02-10 18:27] arouinfar opened #299 "Several properties should be phetioHighFrequency: true"
Related to #293 and #295

There are several properties that should be phetioHighFrequency: true.

For each screen/scene:
- [x] clock.timeProperty (e.g. `gravityAndOrbits.modelScreen.model.planetMoonScene.clock.timeProperty`)

For each screen/scene/body:
- [x] forceProperty (e.g. `gravityAndOrbits.modelScreen.model.planetMoonScene.moon.forceProperty`)
- [x] forceMagnitudeProperty
- [x] positionProp

[2020-02-11 03:37] pixelzoom commented on #293
@kathy-phet Regarding your descriptions in the previous comment....

I just examined GAO in the debugger.  I see no change to isPlayingProperty when a screen becomes inactive.  And isRunningProperty is also therefore unaffected by whether the screen is active.

[2020-02-11 03:46] pixelzoom commented on #293
Here's what I see in GAO for these 2 Properties:

* `isPlayingProperty` applies to a screen's model, and is true if the play/pause button for the screen is in the "play" mode.

* `isRunningProperty` applies to a scene, and is true if the scene is selected and isPlayingProperty is true for the model that the scene belongs to.

Switching between screens results in no change to either Property.

[2020-02-11 15:57] samreid commented on #293
I'll be moving the preceding 3 comments to a new issue.

[2020-02-11 15:58] samreid opened #300 "Improvements for isRunningProperty and isPlayingProperty"
From https://github.com/phetsims/gravity-and-orbits/issues/293

@kathy-phet said:

[2020-02-11 15:58] samreid commented on #300
@pixelzoom replied:

@kathy-phet Regarding your descriptions in the previous comment....

I just examined GAO in the debugger.  I see no change to isPlayingProperty when a screen becomes inactive.  And isRunningProperty is also therefore unaffected by whether the screen is active.

[2020-02-11 15:59] samreid commented on #300
@pixelzoom continued:

Here's what I see in GAO for these 2 Properties:

* `isPlayingProperty` applies to a screen's model, and is true if the play/pause button for the screen is in the "play" mode.

* `isRunningProperty` applies to a scene, and is true if the scene is selected and `isPlayingProperty` is true for the model that the scene belongs to.

Switching between screens results in no change

[2020-02-11 16:28] samreid commented on #300
I added the changes @kathy-phet recommended.  @pixelzoom is correct in what he commented about the Properties, and I would add that it is a common pattern in our sims that the selected screen acts as a "filter" for `step` events, and we do not track that information with sim-specific Properties or data.

[2020-02-11 17:47] kathy-phet commented on #300
Yes @pixelzoom - I saw what you saw ...

However, what I didn't understand was should it change when you change screens? What controls the clock from proceeding. isRunningProperty for instance seems to control the clock for each scene, but I observe that if I change screens, the clock does stop on the other screen, and picks back up where I left it when I switched back.

I just want to know if thi

[2020-02-11 23:29] samreid commented on #298
@arouinfar said this problem could be reproduced without using studio to change `isMovableProperty`

[2020-02-11 23:32] samreid commented on #298
It seems the bodies get away from the mouse, that may be the root of the problem.

[2020-02-11 23:42] samreid commented on #300
In discussion, we clarified that time only flows to a screen when that screen is selected.  And each screen will often keep track of its own "is running" parameters, which only operate if the screen is selected and the browser tab is active.  Back to @kathy-phet to see if there are refinements to make.

[2020-02-11 23:47] kathy-phet commented on #295
We discussed, and we like the structure and feel we can defer any directionProperties until we get client input that that is needed. They can calculate it from the vector.

@arouinfar will check the veracity of the values in the model to make sure they match reality (with the exception of the Model screen earth-moon distance).

[2020-02-12 00:08] kathy-phet opened #301 "Instrument the measuring tape node"
This to-do was left over from #293. The measuringTapeCheckbox is instrumented, but the MeasuringTapeNode itself does not appear to be instrumented.

See also this related issue about new features - derived properties - for measuring tape node:
https://github.com/phetsims/phet-io/issues/1596

Assigning to @samreid

[2020-02-12 00:15] kathy-phet commented on #294
@samreid - This seems like it should also move forward before delivery to client to at least get parts of this on TimeControlNode.

[2020-02-12 00:19] kathy-phet commented on #294
Also, we don't understand why each scene has a "TimeControlPanel" because if we interact with play/pause, its current state is effects all scenes in the same way. That is the scene doesn't remember the state of its own play/pause button. They would each need a unique rewind button because that is stateful for each scene.

[2020-02-12 02:33] samreid opened #302 "Rectify model values"
From a discussion today, @kathy-phet and @arouinfar and I agreed the model values in the "Model" screen should more closely match the "to scale" screen.  Here's a patch and I'll paste more notes about it later.

<details>

[code]

</details>

[2020-02-12 06:57] ariel-phet commented on #286
@samreid no need to make either of the design changes mentioned in https://github.com/phetsims/gravity-and-orbits/issues/286#issuecomment-583225134

It seems you and @jonathanolson have given some effort to this issue and made a potential improvement, I think it can be closed now.

[2020-02-14 14:54] samreid commented on #286
Understood, thanks, closing.

[2020-02-14 14:54] #286 closed

[2020-02-17 05:08] samreid opened #303 "There is a bug where the mouse cursor gets away from the dragged object"
From a meeting last week, @kathy-phet said:

[2020-02-17 05:12] samreid commented on #302
My notes from discussion with @kathy-phet and @arouinfar last week:

In "to scale" everything should be accurate.  We would like to unify the "model" values with "to scale" as much as possible, so the main change is the radius of each object.  For instance, we would like to have:
* the earth mass should be the actual earth mass
* To get the right motion for the moon, Make a "fake" mass for the Ear

[2020-02-17 05:18] samreid commented on #302
An alternate proposal which may be easier to implement and have better overall behavior.

* Model will have all of the same physics as the "To Scale" screen.  Masses will all be accurate
* Radii will be different in the model (scaled up so things are large and visible)
* For showing the moon orbiting the earth, use correct "to scale" physics, but then take the angle of the moon relative to the ear

[2020-02-17 15:45] samreid commented on #302
I'd like to discuss the preceding proposal with @arouinfar and/or @kathy-phet before I start on this issue, as it would dramatically change the direction we proceed.

[2020-02-17 15:59] samreid commented on #303
To reproduce the problem,

* Open the model screen
* Press play
* Press pause
* Drag the earth

Result: the earth gets away from the mouse.

[2020-02-17 16:13] samreid commented on #303
I noticed this code is using a deprecated input listener `MovableDragHandler` and it inspired me to create https://github.com/phetsims/chipper/issues/882

[2020-02-17 16:14] kathy-phet commented on #302
Sam, I am intrigued by this model, but it seems like it would be harder to know how to handle any modified configuration where the moon is moved to a different part of the system. I think for any outside party it would be easier to explain that the physics is all correct if they measure the distances with the tape measure and such and that we just use a fake earth mass (which we can provide) in th

[2020-02-17 16:36] samreid commented on #302
The "model" screen currently does not include a measuring tape.  We could add once since some measurements like the "sun to earth" distance would be accurate, but other distances like the "sun radius" would be wrong.  Does the proposal for this issue include adding a measuring tape to the "model" screen?

This would probably be accomplished by choosing an artificial view scale factor that magnifie

[2020-02-17 16:41] kathy-phet commented on #302
I don't think we would need a fake "sun mass" at all. If they put it near the sun, that's fine.

I worry about moving the moon in the zoomed in view. Because then the moon could "look" half way between the earth and the sun, but the model would think that its really far from the sun and close to the earth. So the behavior would be off, visually.

[2020-02-17 16:44] samreid commented on #302
Would it help if we depict the moon differently, like a partially transparent image with an arrow or indicator line pointing to the true location?  Or is that too big a step in the wrong direction?

[2020-02-17 16:51] kathy-phet commented on #302
I don't see that as useful. Can we try the "fake earth mass only" approach for now, and tune that and see how it goes?

[2020-02-17 16:53] samreid commented on #302
Sounds good, I'll proceed with that.

[2020-02-18 00:23] samreid commented on #302
I'm still planning to implement the "fake earth mass only" approach, but wanted to write down another idea about the alternate proposal in case we come back to it: we could make the moon non-grabbable in the "model" screen.  You could still end up with odd cases, say, if you drag the earth close to the sun.  But maybe they would be less frequent.

I'm not really sure how finnicky fine-tuning the "

[2020-02-18 13:14] samreid commented on #303
Working patch:

<details>

[code]

</details>

[2020-02-18 19:11] jonathanolson opened #304 "branch: dynamic-layout"
For https://github.com/phetsims/joist/issues/608, from @samreid's original patch with modifications.

[2020-02-19 21:46] KatieWoe opened #305 "Reset all button does not properly reset objects"
**Test device**
Dell or iPad
**Operating System**
Win 10 or iPadOS 13
**Browser**
Chrome or Safari
**Problem description**
Found during https://github.com/phetsims/chipper/issues/878, but seems unrelated to that change.
When you hit reset all there is a chance that the objects won't return to their proper place and won't be in the place they appear to be. Dragging them around can be difficult to i

[2020-02-26 17:52] arouinfar commented on #293
@samreid I don't believe there is anything in this issue that is still awaiting designer review, so I'm going to unassign @kathy-phet and myself.

[2020-02-26 18:10] arouinfar commented on #302
@samreid I agree with @kathy-phet that the "fake earth mass only" approach would be preferable. It sounds like that is what you'll be proceeding with and (for now) you don't need any additional feedback from @kathy-phet or myself.

I would rather not take away interactivity/flexibility from the simulation.

[2020-02-26 19:19] arouinfar commented on #295
I checked the `massProperty`, `diameterProperty`, `speedProperty`, `forceMagnitudeProperty`, and the pair-wise `distanceProperty` on the To Scale screen for all bodies. For the most part things are looking good, but I did notice some discrepancies for the satellite (defaults should match the International Space Station).

| Property | satellite default | [ISS](https://www.nasa.gov/feature/facts-an

[2020-02-26 19:20] arouinfar commented on #284
Since design review is taking place in other issues, I'm going to unassign the designers from this issue.

[2020-03-05 04:29] samreid commented on #302
Still thinking through the alternative before I resume work on the "fake earth mass" strategy, in case it doesn't pan out.  When dragging the moon, once it gets far enough from the Earth, it would no longer need that nonlinear mapping and it could just be at the coordinates where it is drawn.  It would only have the "special" nonlinear mapping behavior when it is closer to the earth than the sum o

[2020-03-07 15:56] samreid commented on #303
This bug was introduced in https://github.com/phetsims/gravity-and-orbits/issues/286

[2020-03-07 15:56] samreid commented on #286
This caused a bug in #303, and since it is not a measurable improvement, I'm planning to roll it back.

[2020-03-09 01:12] samreid commented on #303
Fixed, closing.

[2020-03-09 01:12] #303 closed

[2020-03-09 01:13] samreid commented on #286
Rolled back, remaining closed.

[2020-03-09 01:14] samreid commented on #305
It looks like this was introduced by #286 and fixed when that was reverted.  @KatieWoe can you please test?

[2020-03-09 01:19] samreid commented on #301
In the latest version, it looks like the measuring tape node is instrumented:

![image](https://user-images.githubusercontent.com/679486/76175303-a07d8200-6171-11ea-9e5e-ffa0482423ef.png)

Leaving self-assigned as a reminder about https://github.com/phetsims/phet-io/issues/1596

[2020-03-09 15:13] samreid commented on #302
@kathy-phet said this will not be essential for the upcoming dev version.

[2020-03-09 16:38] samreid opened #306 "Scene views should not be created during model creation"
GravityAndOrbitsScene is created as part of the model, but creates its own view during the constructor:

[code]

It is incorrect for the view to be created during model creation.  Instead, model creation should create scene models.  Then view creation should create scene views as necessary.

[2020-03-09 16:38] KatieWoe commented on #305
Looks good on master

[2020-03-09 19:05] samreid commented on #306
There is not enough time to implement this for the upcoming dev version, unassigning.

[2020-03-09 19:06] #305 closed

[2020-03-09 19:10] samreid commented on #299
Fixed in the commit, @arouinfar can you please review?

[2020-03-09 19:21] samreid commented on #298
I discovered the true meaning of `isMovableProperty` is whether the body can be moved by the physics during the step function.  I updated the documentation.  @arouinfar or @kathy-phet  should we also give it a different name?  What else do you recommend for this issue?

[2020-03-09 19:24] samreid opened #307 "Revise model values for the space station"
From https://github.com/phetsims/gravity-and-orbits/issues/295#issuecomment-591597100, @arouinfar said:

I checked the `massProperty`, `diameterProperty`, `speedProperty`, `forceMagnitudeProperty`, and the pair-wise `distanceProperty` on the To Scale screen for all bodies. For the most part things are looking good, but I did notice some discrepancies for the satellite (defaults should match the In

[2020-03-09 19:24] samreid commented on #295
I moved the prior comment to a new issue, and based on feedback in preceding comments, it sounds like this issue is ready to close.

[2020-03-09 19:24] #295 closed

[2020-03-09 19:26] samreid commented on #293
@kathy-phet and/or @arouinfar can this issue be closed?  If there is remaining work to be done, can it be in a new issue?

[2020-03-09 19:27] samreid commented on #282
We may not be able to accomplish this entire issue in time for the next dev version.

[2020-03-09 23:21] samreid commented on #294
After the commits, there is one TimeControlPanel per screen (not per scene), and it uses TimeControlNode.  After https://github.com/phetsims/scenery-phet/issues/575 is in master, we can take further steps in that direction which will clean up the studio tree.

[2020-03-10 01:21] samreid opened #308 "The GravityAndOrbitsScene constructor is out of control"
It looks like this, with a record of 21 required parameters.

[code]

Also related to #306

[2020-03-10 10:06] samreid commented on #308
We are down to a dozen, that seems reasonable, closing.

[2020-03-10 10:06] samreid commented on #308
On second thought, @arouinfar can you please review master and make sure behavior for the different scenes hasn't changed?  This was a medium complexity refactoring and it would be nice to confirm nothing was disturbed.

[2020-03-10 14:54] samreid commented on #307
In the above commit, I set the space station mass and radius as prescribed.  I noticed there is a fudge factor of 1000x in the diameter (even in the "To Scale" screen) to make the space station big enough to see.  I removed the 1000x fudge factor for the commit, but I'm wondering if should leave it in the sim, just not as a part of the `diameterProperty`.  But if someone uses the measuring tape, t

[2020-03-10 14:55] samreid commented on #297
I decided to factor out tandem prefixes, closing.

[2020-03-10 14:55] #297 closed

[2020-03-10 14:58] samreid commented on #292
I tested this again and am more confident that it is OK, or at least will be caught during regular design or RC testing.  Closing.

[2020-03-10 14:58] #292 closed

[2020-03-10 14:59] samreid opened #309 "Step button does nothing"
Maybe this was disturbed during https://github.com/phetsims/gravity-and-orbits/issues/294

[2020-03-10 19:13] samreid commented on #302
I had some time while waiting on another issue to be addressed, so I worked on this one.  I published a dev version here: https://phet-dev.colorado.edu/html/gravity-and-orbits/1.2.0-dev.8/phet-io/

Summary of changes:
* All mass values in the Model screen match values in the "To Scale" screen
* The moon is kept in orbit by a "moon adjustment" scale factor for the earth-moon force.
* I adjusted the

[2020-03-10 19:21] samreid commented on #309
Priority is high since this should be closed before upcoming dev release.

[2020-03-11 12:35] samreid opened #310 "Should the sim display "1 Earth Days"?"
The simulation is capable of showing "1 Earth Days"

![image](https://user-images.githubusercontent.com/679486/76417362-5c9d9f00-6362-11ea-9688-00bdae76b4cb.png)

Can that be changed to say "1 Earth Day"?  Or do we prefer to avoid that complexity in the i18n?

[2020-03-11 12:39] samreid commented on #309
Fixed, closing.

[2020-03-11 12:39] #309 closed

[2020-03-11 12:41] samreid commented on #294
I noticed the review completed, but the TimeControlNode changes are still in the branch, going back on hold.

[2020-03-13 03:57] samreid opened #311 "Control panels should be the same width"
Today @kathy-phet pointed out that the panels should be the same width:

![image](https://user-images.githubusercontent.com/679486/76588303-51ef2100-64ac-11ea-91fc-c19d36930eb2.png)

This is fine in the published version.  I'm not sure at what point it was disturbed.  This doesn't seem essential for the imminent dev version, but I may have time to look into it as I await feedback on other issues.

[2020-03-13 04:56] arouinfar commented on #310
@samreid I think we generally avoid that complexity for i18n wherever possible. Since the time  passes relatively quickly, it's unlikely the grammatically incorrect `1 Earth Days` is visible on screen often or for long periods. I'm inclined to leave it as-is, but appreciate you bringing it up.

[2020-03-13 04:56] #310 closed

[2020-03-13 05:09] arouinfar commented on #293
@samreid the unchecked items are all being tracked in separate issues. I've added references to those issues and checked them off. We can go ahead and close this behemoth.

[2020-03-13 05:09] #293 closed

[2020-03-16 20:31] arouinfar commented on #308
@samreid I don't exactly know what things I should be looking for here, but what I did was compare the behavior of master and latest for one full orbit for each scene/screen with the vectors, grid, and path on. The only visual difference I noted was the diameter of the orbits on the Model screen and the moon's velocity vector on the star/planet/moon scene, but my guess is that the changes are like

[2020-03-16 20:33] samreid commented on #308
Thanks!  It seems this can be closed.  I agree those differences were most likely due to #302.

[2020-03-16 20:33] #308 closed

[2020-03-16 20:44] arouinfar commented on #307
Thanks! The mass looks good.

Looking more carefully at https://github.com/phetsims/gravity-and-orbits/commit/ba6fceb5570caf79e3b95ed52f4df17f9160fb01, I see that the value in the model for `SPACE_STATION_RADIUS` was 109 m (which is the ISS's longest dimension). However, the value I was seeing in studio for `modelScreen.model.planetSatelliteScene.satellite.diameterProperty` was significantly diffe

[2020-03-16 20:49] arouinfar commented on #299
Looks good in studio @samreid. Thanks!

[2020-03-16 20:49] #299 closed

[2020-03-16 21:37] samreid commented on #307
I noticed there was another factor of 8x in the "model" radius for the space station here:

https://github.com/phetsims/gravity-and-orbits/blob/b5c87702503d6c8ba1a1e1685810d0e1b9e8bd6d/js/model/ModelSceneFactory.js#L110-L116

It was my understanding from https://github.com/phetsims/gravity-and-orbits/issues/302#issuecomment-586820602 that the "Model" screen values for radii would be purposefully i

[2020-03-16 23:15] arouinfar commented on #298
Reviewed with @kathy-phet. The updated documentation looks fine, but we think all `isMoveableProperty`s should be `phetioReadOnly: true`.

[2020-03-16 23:42] arouinfar commented on #307
Discussed with @kathy-phet.

On the Model screen, the `diameterProperty` of the Earth and Satellite do not need to be accurate. The satellite is inflated so it is visible, and to maintain clearance between the bodies, the earth is reduced a bit, which is how the published sim behaved.
![image](https://user-images.githubusercontent.com/8419308/76808346-1ce51600-67ad-11ea-9dfd-53a20cd20d39.png)

The

[2020-03-17 18:50] samreid commented on #311
These widths were never constrained to begin with, they must have been matched by "luck" previously.  I aligned them with AlignGroup.  Closing.

[2020-03-17 18:50] #311 closed

[2020-03-17 18:59] samreid commented on #307
I found that scaling the satellite radius by a factor of around 20000x is pretty close to the published version.  @arouinfar can you please review?  You can compare this by launching phettest and visually comparing the Earth/Satellite scene to the published version.  Anything else for this issue?

[2020-03-17 19:49] samreid commented on #298
I set `isMovableProperty` to `phetioReadOnly: true`.  Anything else for this issue?  Please close if all is well.

[2020-03-17 20:00] samreid commented on #294
@jessegreenberg did most of the work, and I took additional steps to improve the tandems for Gravity and Orbits.  @arouinfar can you please review?

[2020-03-17 23:12] jessegreenberg commented on #294
Thanks @samreid, was going to report back here that this was done. Looks like you have already seen GravityAndOrbitsTimeContorlNode, let me know if more needs to be done regarding TimeControlNode.

[2020-03-18 16:02] kathy-phet commented on #307
Looks good to us! Closing.

[2020-03-18 16:02] #307 closed

[2020-03-18 16:03] arouinfar commented on #298
Looks good in master. Thanks @samreid.

[2020-03-18 16:03] #298 closed

[2020-03-18 16:36] kathy-phet commented on #294
We reviewed TimeControlNode, and it is looking a lot better in Studio. It's great to have just one per screen. A few issues came up that need to be addressed, so sending this back to you @samreid:

- [ ] The StepBackwardButton name is wrong. It should be stepForwardButton. Is this a bug in common code or this sim? gravityAndOrbits.modelScreen.view.timeControlNode.playPauseStepButtons.stepBackwardB

[2020-03-18 23:19] kathy-phet commented on #294
If some of the above small issues belong over in
https://github.com/phetsims/scenery-phet/issues/575
can you move them? Or link the issues if you just make the changes. Thx!

[2020-03-19 02:46] samreid commented on #294
Good catch!  I corrected this in the commits.

Yes, it was interleaved manually and I agree it worked out well.

gravityAndOrbits.modelScreen.view.timeControlNode.speedRadioButtonGroup.speedRadioButtonGroup.normal

Fixed, thanks!

https://github.com/phetsims/sun/issues/564

Implemented in that issue, let's discuss there.

https://github.com/phetsims/scenery-phet/issues/577

Implemented in that iss

[2020-03-19 04:51] arouinfar opened #312 "Position of clear button should not shift"
In master, the position of the clear button currently shifts to the right as the string above it increases in length.
![image](https://user-images.githubusercontent.com/8419308/77032574-62027700-696a-11ea-9023-4cd7932cd7e9.png)
![image](https://user-images.githubusercontent.com/8419308/77032592-6af34880-696a-11ea-9ff6-4df346daad5f.png)
![image](https://user-images.githubusercontent.com/8419308/770

[2020-03-19 05:06] arouinfar commented on #301
@samreid when reviewing https://github.com/phetsims/phet-io/issues/1596, I noticed that the measuringTapeNode is appearing in the tree for the Model screen. However, there isn't a measuringTapeNode on this screen, so it should be removed.

For example:
![image](https://user-images.githubusercontent.com/8419308/77033433-dd652800-696c-11ea-869a-3226bac56264.png)

[2020-03-19 05:17] arouinfar commented on #294
@samreid this is all looking good to me. Since remaining work is being tracked separately, I'll go ahead and close.

[2020-03-19 05:17] #294 closed

[2020-03-23 19:57] samreid commented on #312
Proposed fix committed, ready for review.

[2020-03-23 20:52] samreid commented on #301
After the commit, we are only creating the MeasuringTape on the "To Scale" screen.  Anything else for this issue?

[2020-03-23 20:53] arouinfar commented on #312
Looks good in master @samreid

[2020-03-23 20:53] #312 closed

[2020-03-23 21:02] arouinfar commented on #301
Looks good in master @samreid, thanks!

[2020-03-23 21:02] #301 closed

[2020-03-23 23:33] kathy-phet commented on #300
@arouinfar @samreid - Can you review these suggestions - this is not easy to explain:

gravityAndOrbits.modelScreen.model.isPlayingProperty
This value is true if the play/pause button on this screen is in play mode. (It remains true even if the user switches screens. Use in combination with 'gravityAndOrbits.general.model.screenProperty'.)

gravityAndOrbits.modelScreen.model.planetMoonScene.clock.

[2020-03-25 19:46] samreid opened #313 "Update phetioMetadata for the return objects button"
Sam Reid:house_with_garden:  26 minutes ago
Is there an issue for making “Return Objects” button in GAO read only?  I’m happy to create one, just let me know.

Amy Rouinfar  16 minutes ago
We think the enabledProperty, opacityProperty, pickableProperty, and visibleProperty should all be read only.

[2020-03-26 17:26] samreid opened #314 "Label "featured" items in studio:admin"
We need to specify which phetioIDs are featured and non-featured.

[2020-03-26 17:28] samreid opened #315 "Dev testing"
We would like to run a QA "dev test" before sharing this to the client.  I have a few issues to wrap up first, then I can create a dev version.  @ariel-phet indicates April 1 may not be a strict deadline.

[2020-03-29 23:37] samreid commented on #313
I marked those properties as read-only, @arouinfar can you please review?

[2020-03-30 15:45] arouinfar commented on #300
@kathy-phet the recommended documentation looks good to me.

[2020-03-30 22:34] arouinfar commented on #313
Looks good in master @samreid!

[2020-03-30 22:34] #313 closed

[2020-03-31 01:22] samreid commented on #300
I added both new docs, @arouinfar can you please review?

[2020-03-31 08:20] arouinfar opened #316 "PhET-iO design review comments - part 2"
For #284 and a continuation of #293. @kathy-phet and I reviewed #314, and have a few more requests.

- [ ] Remove the slider from the studio control for `*Screen.model.*Scene.*.massProperty`, and `*Screen.model.*Scene.*.rotationProperty`.

- [ ] Make `*Screen.model.*Scene.clock.isRunningProperty`, `*Screen.model.*Scene.clock.timeProperty`, `*Screen.model.*Scene.*.diameterProperty`, and `*Screen.mo

[2020-03-31 08:21] arouinfar commented on #314
@samreid we've decided which elements to feature, but this is currently blocked by #316 because we've requested some changes to the tree.

[2020-03-31 08:24] arouinfar commented on #300
Looks good in master, thanks @samreid

[2020-03-31 08:24] #300 closed

[2020-03-31 14:39] samreid commented on #316
I'm going to split these out into separate issues so they can be tracked, assigned and labeled separately.

[2020-03-31 14:40] samreid opened #317 "Remove the slider from the studio control for massProperty, and rotationProperty"
From https://github.com/phetsims/gravity-and-orbits/issues/316

[2020-03-31 14:41] samreid opened #318 "Mark some elements as phetioReadOnly: true"
From #316,

- [x] Make `*Screen.model.*Scene.clock.isRunningProperty`, `*Screen.model.*Scene.clock.timeProperty`, `*Screen.model.*Scene.*.diameterProperty`, and `*Screen.model.*Scene.*.forceProperty` phetioReadOnly: true.

- [x] Make the opacityProperty, pickableProperty, and visibleProperty under `*Screen.view.playAreaNode.*SceneView.*GravityVectorNode` and `*Screen.view.playAreaNode.*SceneView.*

[2020-03-31 14:41] samreid opened #319 "*Screen.view.controlPanel.gravityControl should have a linked property to *Screen.model.gravityEnabledProperty."
From #316

*Screen.view.controlPanel.gravityControl should have a linked property to *Screen.model.gravityEnabledProperty.

[2020-03-31 14:42] samreid opened #320 "Can modelScreen.view.playAreaNode.planetMoonSceneView.moonNode.indicatorNode be removed?"
From #316,

modelScreen.view.playAreaNode.planetMoonSceneView.moonNode.indicatorNode seems irrelevant to this scene. Even with the smallest mass and the most zoomed-out view, the Moon's indicatorNode never appears. Can it be removed?

[2020-03-31 14:43] samreid opened #321 "adjusting the tree structure/naming of the modelScreen.view.massesControlPanel and toScaleScreen.view.massesControlPanel"
From #316

We recommend adjusting the tree structure/naming of the `modelScreen.view.massesControlPanel` and `toScaleScreen.view.massesControlPanel` in each scene to make things more readable. Essentially, it amounts to the icon, massLabel, and massControl of each body being grouped in a container. This also allows some simplification in the naming (moonIcon > moon.icon). Here's an outline of the

[2020-03-31 14:44] samreid opened #322 "group all the body-specific things under a common container."
From #316

We'd like to make similar changes to the `view.PlayAreaNode` on both screens. It would be nice if we could group all the body-specific things under a common container.  This doesn't seem quite as straightforward as the above item, so happy to discuss further. (An alternative we had considered was to put the {{body}}Node under the dummy {{body}} container like moon.moonNode, but that see

[2020-03-31 14:45] samreid commented on #316
By having these as separate issues, we can have discussion threads on each one without them getting interleaved.  I moved the checkboxes to separate issues and will close this one.

[2020-03-31 14:45] #316 closed

[2020-03-31 15:05] samreid commented on #317
Fixed, please review.

[2020-03-31 16:57] arouinfar commented on #317
Looks good in master, thanks @samreid.

[2020-03-31 16:57] #317 closed

[2020-04-13 15:29] oliver-phet opened #323 "User suggestions: values, kilometers"

[2020-04-15 04:15] samreid commented on #282
I have not fully gone through the code review checklist, but I've been improving parts of the code as I go.  I don't plan more work for this issue, closing.

[2020-04-15 04:15] #282 closed

[2020-04-15 04:29] samreid commented on #318
I implemented the proposed changes and verified them by reading the baseline file.  @arouinfar can you please review?

[2020-04-15 04:34] samreid commented on #319
Implemented and ready for review.

[2020-04-15 04:38] samreid commented on #320
Isolating this as a special case and handling it differently sounds brittle and error prone and would lead to a less machine-friendly API.  For instance, if we change the zoom levels in the future, we would likely forget to "add this back".  Would it be acceptable to cover this with documentation, saying something in the documentation about the indicator node only showing when you are zoomed far e

[2020-04-15 04:50] samreid commented on #321
Implemented in the commit:

![image](https://user-images.githubusercontent.com/679486/79299830-48d5e300-7ea2-11ea-8c40-5ccebea3b569.png)

Ready for review.

[2020-04-15 15:41] samreid commented on #322
For consistency with our other occurrences, it seems `moon` should be `moonNode` in the example above, since it is a `Node`.

[2020-04-15 15:45] samreid commented on #322
In order to keep the tandems consistent with the code, adding `gravityVectorNode` tandem as a child of the `moon` or `moonNode` tandem would require adding `gravityVectorNode` as a child of the `moonNode`.  May be difficult if the coordinate transforms are not set up that way.

[2020-04-15 15:49] samreid commented on #322
On second thought, it seemed simple and clear enough to assign tandems as prescribed above without changing the scene graph.  Commits on the way.

[2020-04-15 15:51] samreid commented on #322
Committed and ready for review.

[2020-04-20 19:14] arouinfar commented on #320
That sounds reasonable to me @samreid.

In reviewing #322, I noticed that the tree structure of the `indicatorNode` is a bit over-nested. The `indicatorNode` contains only a `labelNode` which holds all the associated properties. Do we need the `labelNode` level? Can its contents go under the `indicatorNode` itself?
![image](https://user-images.githubusercontent.com/8419308/79790231-aafe7000-8308-1

[2020-04-20 19:18] arouinfar commented on #322
@samreid the new tree structure is looking great in master. Thanks!

[2020-04-20 19:18] #322 closed

[2020-04-20 19:25] arouinfar commented on #321
@samreid this is definitely an improvement, and makes the tree much more readable.

One of the motivations for grouping the icon, massControl, and massLabel under a common container was to allow clients to hide the entire control by toggling a single visibleProperty, such as `planetMoonSceneMassesControlPanel.moon.visibleProperty`. However, the new containers don't have the usual top-level propert

[2020-04-20 19:27] arouinfar commented on #319
Looks good in master, thanks @samreid!

[2020-04-20 19:27] #319 closed

[2020-04-20 19:42] arouinfar commented on #318
@samreid looks like you did exactly what I asked for. However, I think I made a mistake in requesting `velocityVectorNode.pickableProperty` to be phetioReadOnly: true.

The velocity vectors are draggable, but some clients may want to disable this behavior. If I'm not mistaken, the only place the client could access this is through `velocityVectorNode.pickableProperty`, so I think that should be ph

[2020-04-25 12:55] samreid commented on #318
Fixed and ready for review.

[2020-04-25 13:06] samreid commented on #320
In the commit, I added documentation to the indicatorNode.  Regarding the nesting, there are actually 3 nodes at play here:

1. The parent node, which contains:
2. the line node and
3. the text node.

In order to make it so you can hide the line+text at the same time and still be able to change the text, I recommend to instrument the whole `indicatorNode` in addition to the `labelNode`.  The `line

[2020-04-25 13:21] samreid commented on #321
In the commit, I instrumented the containers.  Once they were instrumented, it seemed odd to keep their names like `moon`, so I appended `ControlNode`, so it would read like `moonControlNode`.  Ready for review.

[2020-04-25 13:46] samreid commented on #304
Branch deleted, closing.

[2020-04-25 13:46] #304 closed

[2020-04-25 13:47] samreid commented on #284
Let's finish instrumentation in other issues, closing.

[2020-04-25 13:47] #284 closed

[2020-04-27 01:41] arouinfar opened #324 "Stroke around massesControlPanel isn't instrumented"
Noticed during #321

When setting `gravityAndOrbits.modelScreen.view.massesControlPanel.visibleProperty` or `gravityAndOrbits.toScaleScreen.view.massesControlPanel.visibleProperty` to false, the contents of the panel disappear but its stroke remains. This seems a bit buggy to me.

![image](https://user-images.githubusercontent.com/8419308/80326267-6c2f5500-87f5-11ea-91bb-5180354c2d56.png)

@samrei

[2020-04-27 02:20] arouinfar commented on #321
Looks great in master. Thanks @samreid!

[2020-04-27 02:20] #321 closed

[2020-04-27 02:29] arouinfar commented on #320
@samreid looks good in master, thanks!

[2020-04-27 02:29] #320 closed

[2020-04-27 02:39] arouinfar commented on #318
Looks good!

[2020-04-27 02:39] #318 closed

[2020-04-27 13:37] samreid commented on #324
Good catch.  In the commit, I instrumented the outer Panel which contains the stroke rather than just the contents of the Panel.  While working on that, I checked to see if `gravityAndOrbits.modelScreen.view.controlPanel` had the same problem, and discovered that it was not instrumented at all (it was impossible to hide the entire top control panel).  I instrumented it using the same pattern.  Rea

[2020-04-27 17:05] arouinfar commented on #324
Nice catch @samreid! Looks good in master.

[2020-04-27 17:05] #324 closed

[2020-04-29 22:09] arouinfar commented on #302
@samreid things are generally looking okay -- most data the orbital periods are correct. I'd like to update the following values in the model. Most of the changes are in the last digit or two, except for `MOON_PERIGREE` which was significantly off.

| Constant | Value | Source |
| --- | --- | --- |
| SUN_RADIUS | 6.957E8 | https://nssdc.gsfc.nasa.gov/planetary/factsheet/sunfact.html |
| EARTH_MASS

[2020-04-29 22:21] arouinfar commented on #268
@kathy-phet and I talked about this, and we'd like to move forward with changing the measuring tape units to kilometers. This was also requested by another user in #323. In the future may consider a query parameter or options menu control to change the units, but we'll wait and see if it becomes a user request.

There is a (potential?) client who is interested in this sim who has some goals relate

[2020-04-29 22:25] arouinfar commented on #323
This goal is really better suited to My Solar System.

The grid square distance is related to the perigee/perihelion distance for the system. I will clarify this in the Teacher Tips. Adding a scale bar to the grid (similar to CAF) would be a challenge here because of the varying zoom levels.

We will be making this change in #268.

We intentionally do not include a measuring tape on the model scre

[2020-04-29 22:30] arouinfar opened #325 "Update Teacher Tips"
The Teacher Tips were last updated in 2016 and could use some refreshing.

- [x] The grid dimensions should also be provided, as mentioned in #323
- [x] Model updates, #302
- [x] Kepler's 3rd Law, #275
- [x] Objects are grabbable by their label, #338
- [x] Pan and Zoom

[2020-05-02 00:03] arouinfar commented on #314
Overrides have been committed. Leaving self-assigned to double check things in studio.

[2020-05-04 17:06] arouinfar commented on #314
Everything looks good in studio, closing.

[2020-05-04 17:06] #314 closed

[2020-05-15 14:54] KatieWoe opened #326 "CT phetioID missing from the baseline that was not an archetype"
[code]

[2020-05-17 01:20] samreid commented on #268
I completed the changes above, @arouinfar can you please test it out?

[2020-05-18 14:05] samreid commented on #302
After making the changes in the preceding comment, the moon-earth orbit looks like this:

![image](https://user-images.githubusercontent.com/679486/82222276-4bcb5580-98de-11ea-82de-eb0b0a29f051.png)

I'll commit and send over to @arouinfar for review.

[2020-05-18 14:06] samreid commented on #302
I revised the values in the code based on @arouinfar's comment, and showed the new moon-earth orbit above.  @arouinfar can you please review?

[2020-05-18 14:15] samreid commented on #315
Our new milestone is to share this with clients May 22 or so.  In order to reach that goal, we will need to start dev testing soon.

[2020-05-18 17:11] arouinfar commented on #268
@samreid looks good, but let's drop the decimal place from the Planet/Satellite scene.

![image](https://user-images.githubusercontent.com/8419308/82240840-5a266b00-98f8-11ea-90ed-ba9a68c9bd0d.png)

[2020-05-18 17:18] samreid commented on #268
I removed it in the commit, please re-review.

[2020-05-18 17:24] arouinfar commented on #268
Perfect, thanks @samreid!

I am going to mark this issue as deferred since there are still discussions to have about the velocity representation.

[2020-05-18 17:53] arouinfar commented on #302
@samreid the moon's orbital period, orbit path, and the `planetMoonPair.distanceProperty` are looking good throughout.

At scene startup, `moon.speedProperty` should be `MOON_SPEED_AT_PERIGEE` (1082 m/s), but it's showing up in studio as 1068.8531987178003 m/s. As a result, the speeds throughout the orbit are consistently off by ~10 m/s. Can you look into it?

[2020-05-18 20:15] samreid commented on #302
The problem is that the moon-planet system is moving to the left at 13m/s.  There is code that zeroes out the momentum--even though the relative speed is correct.  If I set the earth speed to ```
const planetV = -MOON_SPEED_AT_PERIGEE * MOON_MASS / EARTH_MASS;
[code]

[2020-05-18 20:20] samreid commented on #302
After the above change, the "centering" code indicates these overall velocities for the 4 scenes:

star planet: 0, -0.09098198925046125
star planet moon: 0.00003996152760090435, -0.09210105639512679
planet moon: 0, 0
planet satellite: 0, -5.415579750184181e-16

[2020-05-19 16:46] samreid opened #327 "Improve centering of the grid and bodies"
While working on #302 @arouinfar and I noticed the bodies sometimes get too close to the play/pause button:

![image](https://user-images.githubusercontent.com/679486/82354297-dfc01e80-99bd-11ea-9976-c9fa3513eff1.png)

![image](https://user-images.githubusercontent.com/679486/82354322-e64e9600-99bd-11ea-8483-ea7b1db862f8.png)

We recommend to remedy this by moving the entire grid up around 1/4 of

[2020-05-19 16:55] samreid commented on #302
Here is the arithmetic @arouinfar and I used to center the moon-planet system and keep the correct relative moon speed at perihelion:

![image](https://user-images.githubusercontent.com/679486/82355207-22362b00-99bf-11ea-8cc9-1f64ed59f98e.png)

[2020-05-19 17:06] samreid commented on #327
Moving the view up by 50px looks like this:

![image](https://user-images.githubusercontent.com/679486/82356462-d6848100-99c0-11ea-8549-83a2320c422c.png)

[2020-05-19 17:09] samreid commented on #327
I tested across a few scenes and it seemed reasonable, so I committed the 50px translation.  @arouinfar can you please take a closer look?

[2020-05-20 05:29] arouinfar commented on #327
@samreid looks good in master.

[2020-05-20 05:29] #327 closed

[2020-05-20 05:34] arouinfar commented on #302
@samreid this is all looking good in master.

[2020-05-20 05:34] #302 closed

[2020-05-20 05:36] arouinfar commented on #315
@samreid we're ready for dev testing

[2020-05-20 14:44] samreid commented on #291
This has not been requested for the upcoming release, so I'll mark as deferred for now.

[2020-05-20 14:53] samreid commented on #326
This has been clear for a while, closing.

[2020-05-20 14:53] #326 closed

[2020-05-20 15:03] samreid opened #328 "Rewrite to use common code GridNode"
Once GridNode review is completed in https://github.com/phetsims/scenery-phet/issues/580, Gravity and Orbits can use it.

[2020-05-20 17:05] samreid commented on #315
I asked if we need to solve the "blocks-publication" issues for this dev version, and @kathy-phet said they are not essential for this dev version.

[2020-05-20 17:13] samreid commented on #315
Deployed: https://phet-dev.colorado.edu/html/gravity-and-orbits/1.2.0-dev.9/phet/gravity-and-orbits_en_phet.html
Deployed: https://phet-dev.colorado.edu/html/gravity-and-orbits/1.2.0-dev.9/phet-io/

I also asked @arouinfar if we come up with a list of instructions or phetioIDs to address the client specifications.

[2020-05-21 22:54] samreid commented on #315
During today's meeting, @pixelzoom recommended the designer take a closer look at all of the blocks publication issues to see if any need to be addressed for this version.  @arouinfar can you please take a look?

https://github.com/issues?q=is%3Aissue+label%3Astatus%3Ablocks-publication+is%3Aopen+sort%3Acreated-asc

[2020-05-24 21:38] arouinfar commented on #315
@samreid I do not understand these issues well enough to make a determination. If an issue is not sim-breaking, it likely doesn't matter for dev delivery.

The dev version is intended for client evaluation and to ensure their desired customizations are possible. It does not need to be production quality and will not be integrated into their product.

In the process of creating the [client request

[2020-05-24 21:48] pixelzoom commented on #315
To clarify...  I recommended that the simulation team (not just the designer) take a look at the "blocks publication" issues before publishing any version that will be released outside of PhET.    That recommendation was based on the process that the pH Scale team established in https://github.com/phetsims/ph-scale/issues/164, prior to releasing a dev version of pH Scale to the client for evaluati

[2020-05-26 18:19] samreid commented on #315
I pulled changes and created a dev version, linked above.

[2020-05-28 22:42] KatieWoe opened #329 "Projection mode makes reading tape measure difficult"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/505. Does not occur in published version
If you put the sim in projection mode (turning the background white) and pull out the tape measure, the text reading out the measurement is difficult or almost impossible to read. It is black text in a black bubble. In the pu

[2020-05-29 16:24] KatieWoe commented on #329
Note that this does not seem to happen with the similar mass labels.

[2020-05-29 18:04] KatieWoe opened #330 "Path does not fade out smoothly when sim speed is slow"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/505. This does happen in published version.
When the sim speed is set to slow, the path of an orbiting object does not fade out smoothly. Instead there is a noticeable line between the non-faded and faded parts. It does not seem to happen when speed is normal or fas

[2020-05-29 18:42] KatieWoe commented on #330
Here is what the yellow path looks like with the bug:
![starnotice](https://user-images.githubusercontent.com/41024075/83294057-e44cba00-a1a9-11ea-946a-941756382c20.png)

[2020-05-29 19:35] KatieWoe commented on #330
May show up in fast? Bit hard to tell.

[2020-05-29 21:15] KatieWoe opened #331 "Check box sizes when text size changes"
For https://github.com/phetsims/QA/issues/505.
From Slack:

Was a consensus ever reached in regards to if checkboxes and the like should change size when their labels do? I can't find the issue in question. Masses and springs is an instance where they don't change, Gravity and Orbits they do.
Sam Reid:house_with_garden:  2:28 PM
If I recall correctly, we agreed the checkbox shouldn’t change size w

[2020-05-29 21:16] KatieWoe commented on #331
Note: I wasn't able to find the original issue and I seem to remember there still being some disagreement in the end. This likely doesn't really need a fix.

[2020-05-29 22:41] KatieWoe opened #332 "Items may not be returned, even with Return Object button"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Firefox
**Problem description**
For https://github.com/phetsims/QA/issues/505. Found in published version. Related to https://github.com/phetsims/gravity-and-orbits/issues/241. May be most preferable option, in which case, please close.
It is possible to permanently loose an object, so that the Return Object button does not bring it back

[2020-06-01 19:42] KatieWoe opened #333 "Orbits seem more likely to be stable?"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chromium Edge
**Problem description**
For https://github.com/phetsims/QA/issues/505. May not be a concern, but it is a difference I have noticed.
In the new dev version, orbits made by placing the orbiting object in non-default settings seem to be more likely to be stable than in the published version. This is hard to tell for certain, a

[2020-06-01 19:49] KatieWoe commented on #333
Even when both orbits are stable, the paths still seem different.
Dev:
![devdifferent](https://user-images.githubusercontent.com/41024075/83448067-a4d2d780-a40e-11ea-9c84-1942c2bbc85d.png)
Published:
![pubdifferent](https://user-images.githubusercontent.com/41024075/83448085-aac8b880-a40e-11ea-8f80-bea319b8f010.png)

[2020-06-01 20:11] JRomero0613 opened #334 "Objects Leave Play Area When Fully Zoomed In"
For https://github.com/phetsims/QA/issues/505 on both the "model" and "to scale" screens the systems with the sun have their orbiting objects leave the play area when fully zoomed in. To see this in action go to either screen and select a system with the sun (first or second options), use the slider in the upper left corner to fully zoom in, and hit the play button to allow the orbit to process. O

[2020-06-01 22:50] KatieWoe opened #335 "State Wrapper May Not Show Path"
For https://github.com/phetsims/QA/issues/505
On my Win 10 laptop on both Chrome 83.0.4103.61 and Firefox 76.0.1. I did not see the orbit path on the bottom state sim in phet-io. @loganbraywork has a Win 10 device and does see the path, and is making a separate issue for something he saw there. This makes me think it is something about my computer that caused this, but I'm unsure what. @samreid le

[2020-06-01 22:54] KatieWoe commented on #335
It may be specific Win 10 versions? I'm on v1909 and @loganbraywork just told me he is on v1903

[2020-06-01 22:55] loganbraywork opened #336 "Paths and object positions in state wrapper do not reflect actual positions and paths"
**Test device**

Windows 10 Laptop

**Operating System**

Windows 10 v. 1903

**Browser**

Chrome Version 83.0.4103.61

**Problem description**

For https://github.com/phetsims/QA/issues/505

In the States wrapper, when an object is moved, the paths seem to create very jagged lines, as well as display objects crashing into each other which did not occur in the original version of the sim.

**Steps

[2020-06-02 16:50] samreid commented on #334
@arouinfar how do you recommend to proceed?

[2020-06-02 16:53] samreid commented on #333
@arouinfar do you think this could be explained by the model changes we made in https://github.com/phetsims/gravity-and-orbits/issues/302 ?

[2020-06-02 22:50] loganbraywork opened #337 "Destroyed planet still exists and can destroy the moon in the model screen"
**Test device**

Windows 10 Laptop

**Operating System**

Windows 10 v.1903

**Browser**

Firefox v.76.0.1

**Problem description**

For https://github.com/phetsims/QA/issues/505

This issue does not seem to appear for the moon, planet, star scenario in the "To Scale" screen as it does not seem that the moon can be destroyed by the planet in the "To Scale" screen. This only seems to apply for the

[2020-06-03 18:33] KatieWoe opened #338 "Easy to grab wrong object when pointer areas overlap"
**Test device**
Lovelace
**Operating System**
ChromeOS
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/505. Pointer areas were looked at in https://github.com/phetsims/gravity-and-orbits/issues/199, but I noticed some potential issues.
When pointer areas overlap and you grab an area in both boxes, the one layered on top gets dragged, even if it wasn't the inten

[2020-06-03 21:17] KatieWoe opened #339 "Snag to pick up star/planet/moon but not velocity vector"
**Test device**
iPad
**Operating System**
iPadOS 13
**Browser**
Safari
**Problem description**
For https://github.com/phetsims/QA/issues/505. More noticeable on smaller screens where objects are harder to pick up accurately.
The snag-to-pick-up feature will work to pick up objects in the sim, which is very useful. However, the velocity vector control is of a comparable size and I found myself miss

[2020-06-03 22:12] KatieWoe opened #340 "Possible to freeze sliders until page is refreshed on iPad"
**Test device**
iPad
**Operating System**
iPadOS 13
**Browser**
Safari
**Problem description**
For https://github.com/phetsims/QA/issues/505.  Seems to be partly an iOS issue, but I wasn't able to reproduce on published. On published the sim did not seem to swipe to go back or forward.
The edges of the sliders to control the masses of objects are on the right side of the screen. If the thumb of th

[2020-06-03 22:51] KatieWoe commented on #335
I am seeing this on Mac 10.15.5 Safari as well.

[2020-06-03 23:18] loganbraywork opened #341 "Mirror Wrapper on IE lags while sim is unpaused"
**Test device**

Windows 10 Laptop

**Operating System**

Windows 10 v. 1903

**Browser**

Internet Explorer v. 11.836.18362.0

**Problem description**

For https://github.com/phetsims/QA/issues/505

The Mirror Wrapper on IE lags while the sim is unpaused.

**Steps to reproduce**

1. Open the IE wrapper
2. Unpause the sim
3. Manipulate the stars or planets to observe lag easier

**Visuals**

![202

[2020-06-04 02:43] arouinfar commented on #338
@samreid is it possible to pick up the object whose center is closest to the click point?

[2020-06-04 03:02] arouinfar commented on #334
@samreid this behavior is somewhat present in latest, though the Earth doesn't completely leave the frame. I think shifting the grid in #327 exacerbated the problem.

I agree @JRomero0613.

@samreid let's reduce the maximum zoomLevelProperty to 1.4 for the sun-containing scenes.

[2020-06-04 03:24] arouinfar commented on #333
I tested this with a few configurations, using this general procedure:

1. To Scale screen, Star/Planet scene, grid/path on
2. Pause at some number of Earth days (to ensure position/velocities are equivalent)
3. Adjust velocity and/or position using some common landmark (e.g. moving Earth or tip of velocity vector to nearest grid intersection)
4. Compare resulting orbits in dev and latest.

In all

[2020-06-04 14:41] KatieWoe commented on #333
@arouinfar I may be wrong about the different paths, since I found it a bit difficult to make sure everything was in the same starting position. If you aren't seeing differences I'm willing to let this go.

[2020-06-04 15:57] arouinfar commented on #333
Thanks @KatieWoe.

I find it incredibly difficult to repeatably alter the orbit without first pausing the sim. If you were dragging things around while the sim was playing, I think there is a pretty good chance that the adjustments were dissimilar enough to create the behavior you observed.

[2020-06-04 15:57] #333 closed

[2020-06-04 15:59] KatieWoe commented on #333
I did have the sim paused at first, but was still finding it difficult.

[2020-06-04 18:18] KatieWoe opened #342 "Touch snag picks up planet and tape measure"
**Device**
Dell
**OS**
Win 10
**Browser**
Chrome
**Problem Description**
For https://github.com/phetsims/QA/issues/505. Bug does not happen in published version.
It is possible to snag the tape measure while already dragging another object. This does not occur in the opposite direction.
**Steps**
1. Go to the second screen and go to the Earth+space station scene (easiest to see)
2. Turn on the tap

[2020-06-04 19:09] KatieWoe commented on #335
Path disappears from launched sim in studio as well.
![launchedpathgoesaway](https://user-images.githubusercontent.com/41024075/83800439-aac1f600-a664-11ea-836a-247ab67c097c.gif)

[2020-06-04 19:47] KatieWoe opened #343 "Should scene reset also reset to launched settings?"
**Device**
Dell
**OS**
Win 10
**Browser**
Chrome
**Problem Description**
For https://github.com/phetsims/QA/issues/505.
In studio, when you launch a sim and hit the reset all button, it resets to the state it launched in. In the Gravity and Orbits sim there are also scene resets. In a launched sim these buttons reset the scene to the default position, instead of the launched position. Should this

[2020-06-04 20:13] KatieWoe opened #344 "Destroyed objects "explode" in launched sim"
**Device**
Dell
**OS**
Win 10
**Browser**
Chrome
**Problem Description**
For https://github.com/phetsims/QA/issues/505.
When in studio, if you make objects crash together and destroy each other, then launch the sim, you will see the "explosion" animation even though the object should just be gone. This happens when you would first view the changed scene, even if you have to navigate to it after th

[2020-06-04 21:18] zepumph opened #345 "publish PhET-iO dev version for the client"
We are not quite ready for this issue I think, but I thought I would take new documentation for a test drive in this repo. Here is the issue:

@kathy-phet would like to deliver a PhET-iO dev version of gravity and orbits to the client for review.

1. - [x] Determine what sim specific issues need to be done before publishing the dev version.
2. Look at open issues labeled "status:blocks-publication

[2020-06-05 18:52] KatieWoe opened #346 "Studio, highlight of higher levels sometimes highlights incorrect elements"
For https://github.com/phetsims/QA/issues/505.
In studio, when you are focused on an element, the tree also highlights the sections above it. However, I noticed that while scrolling through search results for "star" that sometimes to sections of the same level would be highlighted. It seems that the highlighting is treating one of these as a subsection of the other, even though they are the same l

[2020-06-05 19:29] KatieWoe commented on #343
I also noticed that the skip back button goes back to the default starting position, rather than the position at launch.
![skipback](https://user-images.githubusercontent.com/41024075/83915281-2a68c700-a730-11ea-8213-fe6ce8af0de6.png)

[2020-06-05 20:19] KatieWoe opened #347 "ChromeOS Can't load recordings in playback wrapper"
For https://github.com/phetsims/QA/issues/505. On Lovelace (ChromeOS) when trying to load a recording onto the playback wrapper, it took a very long time to show up. When it did, it seemed to be unable to play. Chrome eventually came up with a message that the page was unresponsive. No errors were seen in the console. I was able to quickly load up the log on a subsequent try, but was still unable

[2020-06-05 21:33] KatieWoe opened #348 "Scene buttons may not line up with scene reset buttons"
For https://github.com/phetsims/QA/issues/505. Mostly scene in studio, but discovered in multi wrapper.
When you make one of the scene buttons invisible, the others readjust to take its place. However, the reset buttons for those scenes do not move when this happens, meaning the reset buttons are no longer properly lined up the the scene they control.
![resetsceneindependent](https://user-images.g

[2020-06-08 16:57] samreid commented on #329
In discussion with @arouinfar we agreed this seems straightforward to fix, and it should be done before next dev release.

[2020-06-08 16:58] samreid commented on #330
In discussion with @arouinfar, we agreed that since this occurs in the published version it will not block dev releases, but it should be investigated before RC.

[2020-06-08 16:59] samreid commented on #331
In discussion with @arouinfar we agreed this seems straightforward to fix, and it should be done before next dev release.

[2020-06-08 17:01] samreid commented on #332
In discussion with @arouinfar, we agreed that since this occurs in the published version it will not block dev releases, but it should be investigated before RC.

[2020-06-08 17:02] samreid commented on #335
In discussion with @arouinfar, we agreed: Since a client may want to create an initial condition with a pre-existing path, this should be addressed before next dev version.

[2020-06-08 17:03] samreid commented on #336
In discussion with @arouinfar, we agreed: Since a client may want to create an initial condition with a pre-existing path, this should be addressed before next dev version.

[2020-06-08 17:05] samreid commented on #337
This seems buggy.  If easy to fix, it should be fixed for the next dev release.  Otherwise, if it should be fixed for RC.

[2020-06-08 17:07] samreid commented on #338
@jonathanolson is there a nice way in scenery to deal with overlapping pointer areas?

[2020-06-08 17:09] samreid commented on #339
@arouinfar and I agreed we should have touch snag for the velocity vector.  It sounds easy, so let's do it for the upcoming dev version.  If this becomes difficult, it can wait until RC.

[2020-06-08 17:10] samreid commented on #340
In discussion with @arouinfar, we agreed this should be addressed for RC but not necessary for dev version.

[2020-06-08 17:12] samreid commented on #341
In discussion with @arouinfar, we agreed: The mirror inputs wrapper is a more of an "internal testing" tool that tests the events transmit from one frame to another.  Low performance on IE sounds acceptable, closing.

[2020-06-08 17:12] #341 closed

[2020-06-08 17:13] samreid commented on #342
In discussion with @arouinfar, we agreed this would be important for the RC but not necessarily for the dev version.  But if it is easy, dev version would be nice!

[2020-06-08 17:18] samreid commented on #343
In discussion with @arouinfar, we agreed this should be investigated, and we can try a `restoreStateForScene` strategy inspired by the `restoreStateForScreen` implementation.  This will likely require that everything to be reset requires the same phetioID prefix, or we may need to visit several prefixes.  This may be difficult due to the existing tandem structures.

We would like to investigate be

[2020-06-08 17:20] samreid commented on #344
@arouinfar and I agreed this would be nice to fix in the next dev version, since it seems like it could impact a customized version.  However, it is unlikely that the client would want to create a customized sim that has a pre-exploded object.  So if it is difficult to solve, it could wait for RC.

[2020-06-08 17:23] samreid commented on #346
@zepumph and @chrisklus can you please take a look?

[2020-06-08 17:25] samreid commented on #347
@arouinfar and I agreed this would not block an upcoming GAO dev version.  @zepumph any idea how to proceed on this?

[2020-06-08 18:06] samreid commented on #266
This implementation led to problems for projector mode, see https://github.com/phetsims/gravity-and-orbits/issues/329

[2020-06-08 18:14] samreid commented on #329
I'll work on this in #266, thanks!

[2020-06-08 18:16] samreid commented on #266
Fixed in the commits.

@pixelzoom is the documentation correct, or should it use something like `PaintDef`?

[2020-06-08 18:17] samreid commented on #329
Addressed in #266, but @KatieWoe can you please verify on phettest?  Close if all is well.

[2020-06-08 18:24] #329 closed

[2020-06-08 18:49] pixelzoom commented on #266
Type expression in MeasuringTapeNode should be `{ColorDef}`, done in the above commit.

[2020-06-08 20:02] samreid commented on #266
Thanks, closing.

[2020-06-08 20:02] #266 closed

[2020-06-08 20:23] samreid commented on #331
Proposed fix committed, @KatieWoe can you please test on master?  Close if all is well.

[2020-06-08 20:33] samreid commented on #334
More questions on this before I proceed:

1. Currently there is one zoom level applied to all of the scenes.  It could take some work to make it so each scene can have an independent zoom level.  But I wonder if that would be confusing--for instance, wouldn't users expect that max zoom is the same in different scenes?

2. I tried changing the max zoom to 1.4 and found the planet (in star/planet) s

[2020-06-08 21:25] KatieWoe commented on #331
The checkboxes look better now. I did notice that the images that go with each item are now close enough to touch and it looks odd.
Now on master:
![muchclosernow](https://user-images.githubusercontent.com/41024075/84081897-11fce480-a99c-11ea-9f3d-93476d6581b7.png)
During Dev test:
![duringdevtest](https://user-images.githubusercontent.com/41024075/84081989-4375b000-a99c-11ea-972a-c35053d6c243.png

[2020-06-08 21:30] samreid commented on #331
Good catch, thanks!  Proposed fix is committed, please re-review.

[2020-06-08 21:39] KatieWoe commented on #331
Looks good now

[2020-06-08 21:39] #331 closed

[2020-06-11 01:00] samreid commented on #336
@loganbraywork or @KatieWoe was this behavior improved after the commits in #335 ?

[2020-06-11 12:49] samreid commented on #337
I pushed a proposed fix, @loganbraywork or @KatieWoe can you please verify on phettest?

[2020-06-11 15:34] KatieWoe commented on #337
This seems fixed on master. Wasn't able to reproduce on second screen as indicated above, but I'm not sure if that's because it isn't there, or if it is because the elements are so small.

[2020-06-11 15:37] samreid commented on #337
I think the problem is difficult to create on the 2nd screen because the elements are so small.  Closing.

[2020-06-11 15:37] #337 closed

[2020-06-11 15:41] KatieWoe commented on #336
I'm not able to reproduce on master, but leaving to @loganbraywork to take a look as well.

[2020-06-11 23:41] zepumph commented on #343
@pixelzoom mentioned this before in https://github.com/phetsims/phet-io/issues/1678, and I think that it is worth taking a step back, and trying to handle this behavior more generally.

Potential solutions:
1. Build some sort of functionality into a common code view component like StartOverButton.js. To me this is just expanding the problems we have with MVC in the ResetAllButton to this case.
2.

[2020-06-12 01:13] pixelzoom commented on #343
I don't have a complete understanding of all of the subtleties here. But my gut feeling is that solution 4 (above) would be worth exploring first.

[2020-06-16 18:36] samreid commented on #339
Fixed in the commit, @KatieWoe would you like to test/verify in master?

[2020-06-16 19:08] loganbraywork commented on #336
The issue appears to be fixed!

[2020-06-16 19:14] samreid commented on #342
Proposed fix committed, @KatieWoe can you please verify in master?

[2020-06-16 19:19] samreid commented on #343
It's unclear how to proceed for this, I marked for discussion on Wednesday's PhET-iO subteam meeting.

[2020-06-16 19:31] samreid opened #349 "Use DragListener instead of SimpleDragHandler and MovableDragHandler"
Use DragListener instead of SimpleDragHandler and MovableDragHandler.  Not necessary for dev version but would be nice for production RC.

[2020-06-16 19:32] samreid commented on #344
I pushed a proposed fix, @KatieWoe can you please test in master?

[2020-06-17 12:07] samreid commented on #348
The quick fix would be to disable relayout of that section.  That would take 5 minutes and probably be good enough for a dev version.

The better long-term fix would be to reimplement that code around the idea of putting the reset button as part of the radio button components.  That was desired for the original design, but we decided against it in order to speed up turnaround time for a dev versio

[2020-06-17 12:40] samreid commented on #348
After the commit, the radio button no longer relayout based on their visibility:

![image](https://user-images.githubusercontent.com/679486/84898860-22c8ec80-b065-11ea-9c38-d26d6c6b5127.png)

Let's call that sufficient for this issue and I'll open a new issue about the long term fix prescribed in the preceding comment.  @KatieWoe can you please confirm on master?  If it works OK, please reassign t

[2020-06-17 13:00] samreid opened #350 "Nest the reset buttons with the scene radio buttons"
From https://github.com/phetsims/gravity-and-orbits/issues/348:

I searched for another issue about this, but couldn't find one.

[2020-06-17 13:02] samreid commented on #315
Dev testing complete, closing.

[2020-06-17 13:02] #315 closed

[2020-06-17 16:23] KatieWoe commented on #342
Looks good in master.

[2020-06-17 16:26] KatieWoe commented on #339
Looks good in master.

[2020-06-17 16:37] KatieWoe commented on #344
Looks fixed in master

[2020-06-17 17:01] samreid commented on #343
@chrisklus @zepumph and I discussed it today, and proposed the direction in this patch:

<details>

[code]

</details>

[2020-06-17 18:51] zepumph commented on #346
My first impression of this bug is because search is looking at subsections of phetioIDs, and `star` is a prefix to `starMoonPair`. I'll take a look at making that more intelligent.

[2020-06-17 19:06] #344 closed

[2020-06-17 19:11] zepumph commented on #346
I also wanted to move Studio.isAncestor to phetioIDUTils, but ran into unknown trouble. I have to move on, but will come back:

<details>

[code]

[2020-06-17 19:33] samreid commented on #339
Thanks, closing.

[2020-06-17 19:33] #339 closed

[2020-06-18 04:24] samreid commented on #336
Thanks, closing!

[2020-06-18 04:24] #336 closed

[2020-06-18 04:24] samreid commented on #342
Thanks, closing.

[2020-06-18 04:24] #342 closed

[2020-06-19 01:12] zepumph commented on #347
@KatieWoe, I don't have a chromeOS device, so I will likely need more information from you. Can you please go to a playback wrapper and add the `?debug` query parameter, then in the console type

[code]

Then load the file you are trying to playback. If you can reproduce the problem, then save the console into a log file and give it to me please.

I assume this means no errors that time either, is

[2020-06-19 15:37] KatieWoe commented on #347
Yes it does mean that. I'll comment again when I've done that test.

[2020-06-19 16:59] KatieWoe commented on #347
I went to reproduce the original bug and I did end up getting a console error this time as it tried to play the video.
![Screenshot 2020-06-19 at 10 45 35 AM](https://user-images.githubusercontent.com/41024075/85160666-df64ae80-b21b-11ea-838a-bd6a0e2144fc.png)

[2020-06-19 17:46] KatieWoe commented on #347
Following the instructions in https://github.com/phetsims/gravity-and-orbits/issues/347#issuecomment-646381386, I had the slow loading and failure to play. Here's the log file:
[phet-dev.colorado.edu-1592588121588.log](https://github.com/phetsims/gravity-and-orbits/files/4806037/phet-dev.colorado.edu-1592588121588.log)

[2020-06-19 22:45] zepumph commented on #347
Thank you for the above. I really appreciate it. A couple more things that will help out tremendously

1. Could you please provide that log that caused this error here,
2. Could you use that same log to try to reproduce this on master. Likely at a link something like http://phettest.colorado.edu/phet-io-wrappers/playback/?sim=gravity-and-orbits&debug. Please provide that log here as well.

Thanks!

[2020-06-19 23:04] KatieWoe commented on #347
Here is the log of the recording:
[gravtest.log](https://github.com/phetsims/gravity-and-orbits/files/4806968/gravtest.log)
Having trouble with number 2. Will pair with @zepumph on Wednesday.

[2020-06-23 16:14] samreid commented on #343
I'm reviewing the change set and cannot remember or figure out why we changed:

[code]

to

[code]

[2020-06-23 17:40] zepumph commented on #343
Perhaps that was just a discussion topic that we didn't end up going with for this issue. It seems like it belongs with https://github.com/phetsims/phet-io/issues/1682. I don't even see you using addSetStateHelper here.

[2020-06-23 18:15] samreid commented on #343
As I proceed on this, I'm seeing this pattern multiple times:

[code]

What happened when we tried to put `restoreInitialState` as a step in `Property.reset`, and how did we rule that out?  Because it seems that could be a simplifying step for this issue.

[2020-06-23 20:35] zepumph commented on #343
I have a side thought. Do you think that `restoreInitialStateForProperties` may belong in `PropertyStateHandler`?

[2020-06-23 20:56] samreid commented on #343
I'm hoping that the patch in https://github.com/phetsims/gravity-and-orbits/issues/343#issuecomment-648332171 eliminates the need for `restoreInitialStateForProperties`, but thanks for reminding me about `PropertyStateHandler`!

[2020-06-24 20:59] zepumph commented on #347
@KatieWoe and I are pairing, and are reproducing the problem now together, and we found that it is very laggy on chromeOS to try to play back the above log. Once we pressed play, and it said "Starting Playback. . . ", it took 120 seconds to show the splash screen. We found that this is because, for some undetermined reason, there is a lot of work being done to play this session. Even on my local c

[2020-06-29 17:42] samreid commented on #275
@arouinfar do you recommend we incorporate this with the Gravity and Orbits PhET-iO work we are doing now?

[2020-06-29 17:46] samreid commented on #343
I addressed this in https://github.com/phetsims/phet-io/issues/1678, @KatieWoe can you please verify using phettest/master?    @arouinfar would you also like to review the behavior?

[2020-06-29 17:59] KatieWoe commented on #343
Looks mostly good. But I did notice that pause/play setting isn't included. Is that intended @samreid?

[2020-06-29 18:00] samreid commented on #343
Can you please clarify?  Are you asking if resetting a scene should restore the play/pause state?

[2020-06-29 18:01] KatieWoe commented on #343
Yes, that's what I'm asking

[2020-06-29 18:02] samreid commented on #343
To me, it doesn't seem like resetting a scene should change the play/pause buttons, since those apply to all scenes.  Let me know if you disagree or if I'm missing something.

[2020-07-01 03:55] samreid commented on #346
I think I discovered the same problem in https://github.com/phetsims/studio/issues/146#issuecomment-651173389

[2020-07-01 04:01] samreid commented on #334
Moving to high priority since this is one of (or the only?) remaining issue before 2nd dev test.

[2020-07-07 05:05] arouinfar commented on #343
Looks good in master @samreid.

[2020-07-07 05:15] arouinfar commented on #334
Oh, that's a good point. I think it'd be preferable to keep the zoom ranges the same across all scenes.

I must not have had the sim iframe in studio at the proper aspect ratio when I came up with 1.4. Testing at the dev aspect ratio, it seems like 1.3 could work. The planet briefly leaves the visible bounds, but isn't gone long enough to trigger the Return Objects button.

Maybe we should allow t

[2020-07-10 01:34] samreid commented on #334
In the commit, I reduced the max zoom to 1.3.  @arouinfar can you please review on phettest?

[2020-07-10 01:41] samreid commented on #348
@arouinfar is this acceptable for a dev version?

[2020-07-10 01:43] samreid commented on #323
@arouinfar what work remains to be done for this issue?

[2020-07-10 18:06] arouinfar commented on #348
@samreid I agree with this 100%. The quick fix is great for the dev version.

[2020-07-10 18:09] arouinfar commented on #323
Looks like there isn't anything else to address for this issue, so I'll close.

[2020-07-10 18:09] #323 closed

[2020-07-10 18:28] arouinfar commented on #275
@samreid I think this is best addressed in My Solar System, so I'll go ahead and close.

I will add some information about grid spacing/Kepler's 3rd Law to the Teacher Tips when I update them in #325.

[2020-07-10 18:28] #275 closed

[2020-07-10 18:30] samreid commented on #348
Thanks, closing.  We will continue in https://github.com/phetsims/gravity-and-orbits/issues/350

[2020-07-10 18:30] #348 closed

[2020-07-10 18:34] arouinfar commented on #334
@samreid looks good in master. At max zoom, the Return Objects button does get briefly triggered in the StarPlanetMoonScene, but I think it's still an improvement and retains a more useful range for custom orbits.

[2020-07-10 18:34] #334 closed

[2020-07-10 18:40] samreid commented on #343
In https://github.com/phetsims/phet-io/issues/1678 we decided to use a different approach that will require updating this issue.

[2020-07-10 20:59] samreid commented on #343
@arouinfar should this be repaired before dev.2?

[2020-07-11 04:21] samreid commented on #343
Following the strategy in https://github.com/phetsims/phet-io/issues/1678 I restore the scene on scene reset and it is working well.  The last part for this issue is to get the "rewind" button to have the correct behavior, but this has been tricky and I don't know if it can be accomplished with the heuristic recommended in https://github.com/phetsims/phet-io/issues/1678 about not changing reset se

[2020-07-11 06:02] samreid commented on #343
After adding another PhET-iO state Property in the commit, and also separating between partial and full state in https://github.com/phetsims/phet-io/issues/1678, this is working as expected.  @arouinfar or @KatieWoe can you please test the behavior of reset scene/rewind on a customized sim launched from studio?  If all is well, this issue can be closed.

[2020-07-13 15:05] KatieWoe commented on #343
The skip back button still goes back to the default start, rather than the new start from what I can tell.

[2020-07-13 15:26] samreid commented on #343
Yes, I observed the same behavior.  I rationalized it by seeing that in Studio, the "rewind" button goes to the default start, and that you can use studio to drag the objects to create a "new start" that it will reset to in the customized version.  Let's check in with @arouinfar about this.

[2020-07-14 22:52] arouinfar commented on #343
The behavior generally seems ok in master, but I find it odd that the RestartButton returns the sim to its default (or saved) state rather than the launched state. It's likely that the state restored by the RestartButton will be very different from the one restored by the ResetAllButton or scene reset buttons. This interaction doesn't feel particularly intuitive.

The goal of the RestartButton is

[2020-07-14 23:01] samreid commented on #343
I tried to achieve the behavior of having rewind go back to the customized value, but as noted in https://github.com/phetsims/gravity-and-orbits/issues/343#issuecomment-656985108 it was complex and I was unable to get it working it after several attempts.  I am happy to work on it further, and it may help for @zepumph or @chrisklus to help out.  Should this block a dev version, or just RC?

[2020-07-15 01:55] samreid commented on #343
This patch gets everything working except the enabled/disabled nature of the rewind button:

<details>

[code]

<details>

[2020-07-15 02:03] samreid commented on #343
The commit also gets the enabled/disable nature working.  It seems OK in my tests.  @arouinfar can you please test it on your side?  If the behavior is good, we should run it past @zepumph for a mini-review before we go to testing dev.2.

[2020-07-15 19:59] arouinfar commented on #343
@samreid this only seems to be working if the RestartButton state was anything other than the default when the sim is launched.

For example:
1. Model screen, any scene
2. Press play, and wait for the planet to move a bit
3. Launch the sim
4. Press RestartButton, planet returns to default position not launched position

[2020-07-15 21:32] samreid commented on #343
I followed the steps above and found an error in the console.  When I tried the same steps with a "pause" between steps 2-3, then it worked OK.  Based on this, I made a change that allows the state to be initialized even while not paused, and now the steps above are working for me (even without pause).

Thanks for identifying this problem @arouinfar, can you please re-test at your convenience?

[2020-07-16 05:11] arouinfar commented on #343
Looks good in master @samreid!

[2020-07-16 05:11] #343 closed

[2020-07-20 17:34] samreid commented on #345
@arouinfar and I triaged issues, and the only remaining issues are scheduled for RC and not necessary for dev.  I reviewed the general blocks-publication issues and they don't seem like they would disturb a dev version.

I published this dev version.

Deployed: https://phet-dev.colorado.edu/html/gravity-and-orbits/1.2.0-dev.11/phet/gravity-and-orbits_en_phet.html
Deployed: https://phet-dev.colorad

[2020-07-21 06:21] arouinfar commented on #345
@samreid I spot tested the dev version, and it seems to be in working order. However, this version was published before I finished the [client guides](https://github.com/phetsims/phet-io-client-guides/blob/master/gravity-and-orbits/). Would it be relatively straightforward publish a new dev version for QA testing so the guides get picked up in the build?

[2020-07-21 13:48] samreid commented on #345
Here is a new version that includes the client requests and guide:

https://phet-dev.colorado.edu/html/gravity-and-orbits/1.2.0-dev.12/phet/gravity-and-orbits_en_phet.html
https://phet-dev.colorado.edu/html/gravity-and-orbits/1.2.0-dev.12/phet-io/

I took a quick glance at them and did not see any obvious problems.  At this point, I'd like to create a QA issue to get it scheduled in the pipeline.

[2020-07-21 14:54] samreid commented on #345
I created the QA issue, linked above.

[2020-07-30 00:18] arouinfar commented on #345
@samreid I reviewed this last week (but forgot to comment/close), and everything was looking good.

[2020-07-30 00:21] samreid commented on #345
I recommend to leave this open until the dev version has been delivered to the client.

[2020-07-30 17:03] arouinfar opened #351 "Minor updates to client guides that need cherry-picking"
@samreid I made a few minor edits to the client guides to fix typos and some wonky formatting. Please cherry-pick the below commits on the next build.

[2020-07-30 17:59] arouinfar commented on #351
In https://github.com/phetsims/QA/issues/519#issuecomment-666560930, it was decided to publish a new dev version from master once QA is ready to start testing so there won't be any need to cherry pick this (or the many other common code changes that came up in the recent ph-scale testing).

[2020-07-30 17:59] #351 closed

[2020-07-31 15:01] KatieWoe opened #352 "CT value failed isValidValue"
[code]

[2020-08-03 17:08] jessegreenberg commented on #352
I think this is because `Body.path` is expected to be a `Vector2[]` but `Body.setStateObject`
[code]

is setting it to an array of objects that are not `Vector2`s, they just have x and y fields. Or maybe the problem is where the `path` is set in `toStateObject`. I am not sure how to fix, assigning to @samreid for help.

[2020-08-04 00:47] samreid commented on #352
Thanks @jessegreenberg.  I fixed this with a commit referenced in https://github.com/phetsims/phet-io/issues/1685, closing.

[2020-08-04 00:47] #352 closed

[2020-08-07 20:32] samreid commented on #338
I asked for recommendations on slack:

@chrisklus and I brainstormed:

* What about reshaping the pointer areas when they overlap?
* What about moving one object to the front based on whether it is closer to the mouse?
* Making the pointer areas smaller?

[2020-08-07 21:45] jessegreenberg commented on #328
https://github.com/phetsims/scenery-phet/issues/580 is complete and ready for use.

[2020-08-10 18:31] samreid commented on #328
I ported Gravity and Orbits to use GRIDDLE/GridNode and it seems to be working well.  @arouinfar can you please test master on phettest and see if the grids are working as expected?  Just a few minutes of testing is probably sufficient, the change wasn't complicated but it was also not-quite-trivial.  Close if all is well.

[2020-08-11 18:52] samreid commented on #330
This was a tricky one.  The proposed solution has 2 parts:

* I changed the sampling algorithm so the fast/normal/slow take data points at the same rate.  After this change, the paths look the same independent of speed.
* The thin line caps were creating a feathered look for the faded part of the tail.  I adjusted the line cap and stroke accordingly, and it looks good in my testing.

@arouinfar an

[2020-08-11 22:28] KatieWoe commented on #330
Normal and Slow fading look the same now, but the fading behavior is different than it was before, and the "edge" where it starts can be seen in both cases. I'll leave it up to @arouinfar if she wants to address.

[2020-08-12 15:51] samreid commented on #330
Here's how it looks on my side, let me know if you are seeing something different:

![image](https://user-images.githubusercontent.com/679486/90037321-513c0000-dc81-11ea-86cd-305742198b34.png)

[2020-08-12 16:01] KatieWoe commented on #330
Looks similar to what I'm seeing.
![whatIsee](https://user-images.githubusercontent.com/41024075/90038479-b5ab8f00-dc82-11ea-8030-be67cd2f091e.png)

[2020-08-13 00:01] arouinfar commented on #328
@samreid something's not quite right in master.

Changing the zoom level will misalign the grid, so the bodies no longer start on grid intersections. For example:
![image](https://user-images.githubusercontent.com/8419308/90079608-9e41c580-dcc5-11ea-9968-cf6d230620ee.png)

The grid is broken on the Planet/Moon scene on both screens. Grid is checked, but doesn't appear in the play area. I tried tog

[2020-08-13 00:05] arouinfar commented on #330
I can see the discontinuity in the fading path, but I had to look for it.
![image](https://user-images.githubusercontent.com/8419308/90079777-127c6900-dcc6-11ea-91b2-6e441cf92e6f.png)

I think this is a minor artifact, and the Path is otherwise looking good. Let's leave it as-is @samreid.

[2020-08-15 15:43] samreid commented on #332
This simulation records a new set of "initial conditions" when you update a position or velocity of a body.  It appears that "Return Objects" returns them to their recorded "initial conditions" instead of the simulation starting state.  Should we change the "Return Objects" button so that it returns objects to their simulation starting state?  @arouinfar what do you recommend?

[2020-08-15 16:20] samreid commented on #338
In Slack @pixelzoom said:

[2020-08-15 23:41] samreid commented on #338
I investigated several strategies and the most promising are:

(a) reduce the pointer areas so there is less chance of overlap.  That could look something like this:

![image](https://user-images.githubusercontent.com/679486/90323405-26220c80-df1e-11ea-92f5-990a7f626d65.png)

(b) clip each pointer area based on a rotated square when another body comes too close.  That could be done with a patch th

[2020-08-16 03:01] samreid commented on #330
I was able to see the discontinuity a little better on Firefox.  Using that, I adjusted the stroke thickness scaling factor up a little bit.  I tested on Chrome and Firefox and it looks good on both.  @arouinfar or @KatieWoe do you mind double-checking on your platform?

[2020-08-16 15:59] samreid commented on #328
@jessegreenberg I would like the gridlines to stay fixed relative to the objects in space, but when the transform changes, the lines are adjusted.  Here is a movie:

![Kapture 2020-08-16 at 9 58 33](https://user-images.githubusercontent.com/679486/90338463-23b7c500-dfa7-11ea-8457-546d0330f76d.gif)

How can this be accomplished with GridNode?

[2020-08-16 16:10] samreid commented on #340
I reproduced the problem on iOS 13.3.1 on an iPad 7.  The slider thumb becomes unresponsive and even "reset all" doesn't bring it back to life.  It looks like it is getting picked up by "swipe to snag".

[2020-08-16 16:17] samreid commented on #340
I confirmed that adding `allowTouchSnag: false,` to the slider thumb input listener avoids the problem.  My hypothesis is that a snagged object (or perhaps any dragged object) isn't receiving or handling "pointer released" event when using the "swipe browser edge to navigate forward/back".  I'll create a scenery issue for that.

[2020-08-16 16:21] samreid opened #353 "Pointer not receiving or handling an "out" or "release" event when mobile safari is swiped from the side (for navigation)"
The full description is in https://github.com/phetsims/gravity-and-orbits/issues/340.  The summary is that when picking up a "touchSnag" object in the sim while also dragging the edge of the browser (for mobile safari forward/back navigation), then dismissing the forward/back navigation by letting go, the node remains "busy" and cannot be interacted with for the rest of the sim runtime, including

[2020-08-16 16:21] samreid commented on #340
I opened a scenery issue, putting this one on hold until we have progress in the scenery issue.

[2020-08-16 17:04] samreid opened #354 "DragArea goes out of the dev bounds"
Discovered in https://github.com/phetsims/gravity-and-orbits/issues/349, something is buggy about the drag bounds for the objects.

[2020-08-16 17:05] samreid commented on #354
Using the debug area in the commit, I discovered the play area goes out of bounds:

![image](https://user-images.githubusercontent.com/679486/90339792-73e75500-dfb0-11ea-9fdd-d6ced3ee162b.png)

[2020-08-16 17:14] samreid commented on #354
Also, it is very small on the satellite scene:

![image](https://user-images.githubusercontent.com/679486/90339933-a5aceb80-dfb1-11ea-99b7-9a4883e82621.png)

[2020-08-16 17:32] samreid commented on #354
Fixed in the commit, closing.

[2020-08-16 17:32] #354 closed

[2020-08-16 17:33] samreid commented on #349
After the commits, we are using DragListener for the BodyNodes and DraggableVectorNodes.  @arouinfar can you please double check that all is behaving as expected?  Please also be aware of https://github.com/phetsims/gravity-and-orbits/issues/354, ?dev now shows the draggable play area bounds and there was an issue there which I think is resolved.

[2020-08-16 18:08] samreid commented on #350
I'd like to double check with @arouinfar before working on this.  Currently the scene reset buttons are under the `sceneControl` like so:

![image](https://user-images.githubusercontent.com/679486/90340988-0986e280-dfb9-11ea-82e2-c66408dc2d34.png)

This issue is about moving them to be children of their corresponding radio buttons, like the `planetMoonSceneResetButton` would move under `sceneContr

[2020-08-17 15:52] KatieWoe commented on #330
I do think this looks better on master now.

[2020-08-17 16:43] jonathanolson commented on #338
Either having a "background" that receives the event, and manually looks up what object is the potential drag target, OR adjusting the touch areas during the animation (probably won't work here for performance).

[2020-08-17 18:36] samreid commented on #338
When I first investigated the background strategy, it was unclear how I could accomplish "allowTouchSnag" with it.  That's why I focused on the other strategies mentioned in https://github.com/phetsims/gravity-and-orbits/issues/338#issuecomment-674458293.  If we do come back to the "background" strategy, we could likely use the "drag forwarding" approach to use most of the information in DragListe

[2020-08-17 23:35] jessegreenberg commented on #328
The grid lines will be positioned with the ModelViewTransform, and so grid lines will not line up with other bodies if the GridNode's position is also modified like in https://github.com/phetsims/gravity-and-orbits/commit/c0519226a87c4afd2a5c46e90a10c548ea84e588.

One way to do this would be to give the GridNode its own transform like
[code]

Another way could be to not pass the GridNode a ModelVi

[2020-08-18 02:08] samreid opened #355 "Support setting a partial instead of total state"
From phetsims/phet-io#1697: There is 1 or more call to phetioStateEngine.stateSetEmitter.addListener. There is now a 2nd argument to the listener, which is a predicate that tests Tandems and returns true if they are in scope. We should check these listeners and see if any of them need to check whether they are in scope of a partial state set.

[2020-08-18 02:31] samreid commented on #328
Thanks @jessegreenberg, I followed the strategy you prescribed and it is working pretty well.  The last remaining problem is that the GridNode seems to stop at the top of the dev bounds.  I haven't been able to figure out why it stops there.  Any ideas?  It looks like this:

![image](https://user-images.githubusercontent.com/679486/90463564-85bc1b80-e0c8-11ea-8233-e74850f224b5.png)

[2020-08-18 02:45] samreid commented on #355
I checked the guard in GravityAndOrbitsScene and cannot see a better way to write it using the new predicate.  It already has a guard which I checked with a debugger that the keys are already filtered appropriately.  Closing.

[2020-08-18 02:45] #355 closed

[2020-08-18 21:15] samreid commented on #328
Also, it is centered for all scenes now except the earth/moon scene.  Leaving self-assigned for that part.

[2020-08-18 21:48] jessegreenberg commented on #328
The transform in https://github.com/phetsims/gravity-and-orbits/issues/328#issuecomment-675167089 aligns the grid with the model origin, but the origin of the GridNode is still at (0, 0) relative to the GravityAndOrbitsSceneView. After playing with it for a bit, this is working pretty well, and makes sure that the grid fully covers the screen.
<details>

[code]
</details>

There may be a better wa

[2020-08-18 22:33] samreid commented on #328
Thanks for all the assistance @jessegreenberg.  I tried this implementation but it was unclear where to get the `scaleProperty` and I agree with the other concerns you raised.  To meet the timeline for this simulation, I recommend to revert to the prior GridNode implementation.  In the future, if we need other features from the GRIDDLE/GridNode, including but not limited to phet-io support, access

[2020-08-18 22:33] #328 closed

[2020-08-20 00:10] arouinfar commented on #338
![image](https://user-images.githubusercontent.com/679486/90323405-26220c80-df1e-11ea-92f5-990a7f626d65.png)

This looks like a reasonable approach to me, given that the Moon label is also grabbable. For two-body systems, I would want the pointerArea diameter to match the current square side in master.

[2020-08-20 00:16] arouinfar commented on #349
@samreid I pulled all and cleared my cache, but I'm only seeing DragHandler under the BodyNodes and the DraggableVectorNodes in master.

For example:
![image](https://user-images.githubusercontent.com/8419308/90702228-ff2e4800-e247-11ea-8878-36fdc996a0dd.png)

That said, I haven't noticed any issues with dragging bodies/vectors.

[2020-08-20 00:20] arouinfar commented on #350
Thanks for checking in @samreid. I think it would be confusing to make the `SceneResetButton` a child of the corresponding `SceneRadioButton`. Let's leave the tree structure as-is.

[2020-08-20 00:20] #350 closed

[2020-08-20 00:20] arouinfar commented on #332
After playing with this a bit more, I think the what @KatieWoe presented is more of an edge case.

There's a lot of value in restoring the objects to the latest "initial conditions". It's likely that a user's custom orbit will lead to objects being lost off-screen. I think it's a better UX for the Return Objects button to restore the customized "initial conditions" so the experiment can be repeate

[2020-08-20 00:20] #332 closed

[2020-08-20 00:21] arouinfar commented on #330
I think it's looking much better in master @samreid.

Not sure if this issue should be verified in the next QA cycle or if we can go ahead and close, so back to @samreid.

[2020-08-20 00:48] samreid commented on #330
This seems safe to close, thanks!

[2020-08-20 00:48] #330 closed

[2020-08-20 00:53] samreid commented on #349
In the commit, I also renamed the tandems.  @arouinfar back to you for review, please close if all is well.

[2020-08-20 01:13] samreid commented on #338
I made the pointer areas circular, keeping the diameter the same as the edge length as the rectangles.  I also reduced the touch dilatation for the earth and moon in the sun/earth/moon system and it looks good to me.  As I was testing scenarios I also noticed the satellite overlaps the earth pointer areas, so I'll correct that as well:

![image](https://user-images.githubusercontent.com/679486/907

[2020-08-20 01:14] samreid commented on #338
I corrected that scene as well. Back to @arouinfar for review, please close if all is well.

[2020-08-20 03:02] arouinfar commented on #349
It's looking good in master. Thanks @samreid.

[2020-08-20 03:02] #349 closed

[2020-08-20 03:03] arouinfar commented on #338
Looks good @samreid.

[2020-08-20 03:03] #338 closed

[2020-09-16 22:16] KatieWoe opened #356 "Minor Pointer Area inconsistency between moon and planet model"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/519
Very minor. Feel free to close if it doesn't need to be addressed. On the second screen, if you have the Sun/Planet/Moon scene active and you have `?showPointerAreas` on you will see that the area for the Moon is larger than the area for the Earth. This differen

[2020-09-16 22:19] samreid commented on #356
This was fine tuned in https://github.com/phetsims/gravity-and-orbits/issues/338, @arouinfar can you please advise?

[2020-09-16 23:13] loganbraywork opened #357 "Moon and Planet strings overlap"
**Test device**

Windows 10 Laptop

**Operating System**

Windows 10

**Browser**

Chrome

**Problem description**

For https://github.com/phetsims/QA/issues/519

In the To Scale screen, with the Sun, Moon, and Planet models selected, longer strings cause an overlap of the moon and planet descriptions.

**Steps to reproduce**

1. Add the long or double query parameter
2. Enter the To Scale screen

[2020-09-16 23:37] loganbraywork opened #358 "Long strings leave artifacts behind on To Scale Screen"
**Test device**

Windows 10 Laptop

**Operating System**

Windows 10

**Browser**

Chrome

**Problem description**

For https://github.com/phetsims/QA/issues/519

In the To Scale screen, long strings will cause artifacts in the form of gray pixels to be left behind the various object descriptions as they travel. The pixels are hard to see in the included visual in the embedded size, but putting th

[2020-09-17 03:49] samreid commented on #357
@arouinfar can you please comment on whether this is acceptable and, if not, how it should be corrected?

[2020-09-17 03:50] samreid commented on #358
@jonathanolson is the solution to this problem still to add an invisible rectangle of padding around the text, to increase its bounds?

[2020-09-17 14:43] jonathanolson commented on #358
That sounds good to try first!

[2020-09-17 22:50] KatieWoe opened #359 "Possible for time readout to overlap control pannel"
For https://github.com/phetsims/QA/issues/519. Seen on iPadOS 14, but doesn't seem to happen with `?stringTest=double`, just with the normal sim.
If the counter for the time an object has been orbiting gets long enough, it can start to overlap with the control panel. Choose the Earth/Satellite combo to test, as it gets longer faster.
![Image from iOS](https://user-images.githubusercontent.com/4102

[2020-09-21 17:18] arouinfar commented on #359
The string can get pretty close on my device too (macOS 10.15/latest Chrome)
![image](https://user-images.githubusercontent.com/8419308/93798564-1f607680-fbfb-11ea-86e2-8dd508db0c2e.png)

I think the reason the overlap doesn't occur on `stringTest=double` because the Clear button gets larger, moving its center to the left thereby moving the Earth Minutes string further left.
![image](https://user-

[2020-09-21 17:20] arouinfar commented on #357
@samreid seems like the overlap would be eliminated if the maxWidth of each string is reduced by 1 px. Can you try that @samreid?

[2020-09-21 17:27] arouinfar commented on #356
@samreid I think it's fine as-is. We fine-tuned the touch areas in #338, which optimized things for the Model screen where the bodies are visible. On the To Scale screen, the objects are so small that users are likely grabbing the label.

[2020-09-21 17:27] #356 closed

[2020-09-21 18:07] samreid commented on #359
@arouinfar while I'm here, what do you think about changing the number readout text to use the same font as the stopwatch, so the numbers don't jump around?

[2020-09-21 18:27] arouinfar commented on #359
Sounds good to me @samreid. Please proceed.

[2020-09-23 00:41] samreid commented on #359
I switched to a monospace font for the text, and that helped.  Next I tried different maxWidth values for the button and the readout, but it didn't look great.  I tried aligning to the right and that seemed nicer to me, and easy to make sure they don't overlap.  It looks like this:

![image](https://user-images.githubusercontent.com/679486/93951272-19ee5380-fd03-11ea-8477-48becabc628a.png)

Is tha

[2020-09-29 03:28] arouinfar opened #360 "Use PhetColorScheme for vectors"
In https://github.com/phetsims/scenery-phet/issues/621 we modernized the color used for velocity.

This sim is using currently using the deprecated PhetColorScheme.RED_COLORBLIND for velocity, see https://github.com/phetsims/gravity-and-orbits/blob/master/js/common/view/GravityAndOrbitsSceneView.js#L67.

@samreid please update the velocity fill to PhetColorScheme.VELOCITY.

[2020-09-29 05:17] arouinfar commented on #359
@samreid the alignment looks good. I tested it out in master, and the string position looks good. I'll leave this open since it should be verified by QA in the next round of testing.

[2020-09-29 14:49] samreid commented on #357
I had to reduce the width from 75 to 65 to get them to separate.  @arouinfar can you please review on master?

[2020-09-29 15:15] samreid commented on #358
I added a 1px-dilation rectangle underlay, can you please test if this corrects the problem?

[2020-09-30 03:35] arouinfar commented on #357
The size looks good in master, but there's a strange blue background behind the strings. Can you remove it @samreid?

![image](https://user-images.githubusercontent.com/8419308/94640337-a072da00-029b-11eb-8ae9-9174888bc0cb.png)

[2020-09-30 04:54] samreid commented on #357
Thanks, I removed the blue background.  Ready for re-evaluation in master.  @loganbraywork can you please test if this eliminates the artifacts?

[2020-09-30 05:07] samreid commented on #360
Fixed in the play area and control panel, and ready for review.

[2020-09-30 22:30] arouinfar commented on #360
The green looks good to me @samreid.

It looks like the gravitational force uses `rgb( 50, 130, 215 )` which is the same as PhetColorScheme.GRAVITATIONAL_FORCE. It might be nice to update it so it's using PhetColorScheme too.

[2020-10-07 00:52] ariel-phet commented on #340
I attempted to reproduce on iOS 14, and I do not see this issue occurring. Also even if this issue still existed I would not consider it a high priority as it is a pretty specific set of steps needed to cause a problem.

Closing since the iOS update appears to have fixed the issue.

[2020-10-07 00:52] #340 closed

[2020-10-09 17:42] brooklynlash commented on #357
On Windows 10 Chrome, still see this issue.
![gaotextoverlap](https://user-images.githubusercontent.com/72031637/95614892-861bc780-0a24-11eb-85dc-13817f520eaf.PNG)

[2020-10-09 18:26] brooklynlash opened #361 "Measuring Tape gets stuck under Fast/Normal/Slow buttons"
**Test device**
Lenovo ThinkPad

**Operating System**
Windows 10

**Browser**
Chrome and Firefox

**Problem description**
This is for https://github.com/phetsims/QA/issues/519
When on the To Scale sim, you can move the measuring tape under the Fast/Normal/Slow buttons and it can get stuck under them. Can be fixed by resetting the sim or zooming in/out. Can reproduce on published sim as well.

**St

[2020-10-14 12:32] samreid commented on #357
![image](https://user-images.githubusercontent.com/679486/95989007-ed4fc800-0de6-11eb-867c-6a1e79a56298.png)

[2020-10-14 23:26] arouinfar commented on #357
@samreid could we instead make the indicator lines slightly different lengths? That way there could be some vertical offset in the strings.

[2020-10-14 23:35] arouinfar commented on #361
Nice find @brooklynlash. We generally try to layer the MeasuringTapeNode on top of everything else. For example:
![image](https://user-images.githubusercontent.com/8419308/96056353-91675c80-0e43-11eb-99cb-6125a5e6eb68.png)
![image](https://user-images.githubusercontent.com/8419308/96056369-9cba8800-0e43-11eb-9353-8d6b4121fae2.png)

@samreid let's change the z-order of the MeasuringTapeNode so that

[2020-10-15 22:42] KatieWoe opened #362 "Measuring Tape does not move in State wrapper"
For https://github.com/phetsims/QA/issues/519. Found on ChromeOS.
In the State wrapper, the bottom wrapper does not move the measuring tape when it is moved in the top sim. The tape does appear when checked, but does not change position or lengthen/shorten/rotate.
![Screen Shot 2020-10-15 at 4 30 02 PM](https://user-images.githubusercontent.com/41024075/96193447-69403200-0f05-11eb-810d-62ebd4d9d83

[2020-10-16 14:59] samreid commented on #361
In this simulation, there are 2 competing nodes:

1. The scene, which contains the planets and measuring tape and grid
2. The screen, which contains the control panels, reset all button & time controls

These are currently not interleaved.

Putting the Scene first (as in master now) means the measuring tape goes behind all screen things.
Putting the Screen first would work well for the measuring t

[2020-10-16 15:02] samreid commented on #361
@arouinfar do you want the planets and other bodies to also go in front of the "Fast/Normal/Slow" buttons etc?  Is the grid the only thing that should be in the back?  Will we need to interleave the nodes or split into more than 2 layers?

[2020-10-16 15:11] samreid commented on #362
I instrumented the measuring tape positions, please see the commit or studio for the tandem names.  @arouinfar can you please review and test (including but not limited to reviewing the tandem names)?

[2020-10-16 15:26] samreid commented on #357
I tried making the indicator lines a different length:

![image](https://user-images.githubusercontent.com/679486/96277348-5d01b680-0f91-11eb-8134-80554c540c29.png)

This feels asymmetrical to me--I'll leave a patch here in case I'm outvoted but I think we should pursue other options:

<details>

[code]

</details>

Other options to investigate:
1. Reduce the width on the strings a little more
2.

[2020-10-16 15:31] samreid commented on #357
I tested (3) above.  The default line extension was 50.  I changed it to 60 and with stringTest=long it looks like this:

![image](https://user-images.githubusercontent.com/679486/96278027-38f2a500-0f92-11eb-9471-0efb9a7fc7e2.png)

That seems preferable of the options listed, so I'll commit and ask for review on the Windows 10 Chrome @brooklynlash reported.

[2020-10-16 15:32] samreid commented on #357
@brooklynlash or @KatieWoe can you please re-test after the commit?

[2020-10-16 15:50] brooklynlash commented on #357
@samreid Unsure why it still does not work on my computer. I am on the latest version of Chrome on a 15 inch Lenovo laptop.
![grav1](https://user-images.githubusercontent.com/72031637/96280095-cd5e0700-0f94-11eb-9e5c-e9696cdfc8c1.PNG)
![grav2](https://user-images.githubusercontent.com/72031637/96280252-f7afc480-0f94-11eb-80ef-d7cf8eca9328.PNG)

[2020-10-16 15:51] samreid commented on #357
Thanks for testing, it looks like it is a little better.  Let's try 70 next.

[2020-10-16 15:52] samreid commented on #357
I increased it to 70, can you please re-test?

[2020-10-16 15:56] brooklynlash commented on #357
No change, unfortunately.

[2020-10-16 15:58] samreid commented on #357
Can you please make sure it is not cached following one or more of these strategies?

1. Clear the browser cache
2. Run with dev tools open and "Disable cache (while DevTools is open) selected

[2020-10-16 16:10] brooklynlash commented on #357
![grav3](https://user-images.githubusercontent.com/72031637/96282252-b5d44d80-0f97-11eb-9026-f6bce0f33958.PNG)
Cleared cache on my browser and still looks like this. New to this so also unsure if I am missing something.

[2020-10-16 16:21] brooklynlash commented on #357
![grav4](https://user-images.githubusercontent.com/72031637/96283354-5414e300-0f99-11eb-9a90-1b9553ec3b71.PNG)
What it looks like in the dev website. Looks like 60 or 70 would work.
@samreid

[2020-10-17 00:51] samreid commented on #357
@arouinfar can you please take a look and advise?

[2020-10-21 04:03] arouinfar commented on #357
I'm not sure what angle is currently in master, but it looks good to me. Let's go with that @samreid.

Here's what it looks like with `stringTest=long`
![image](https://user-images.githubusercontent.com/8419308/96671850-10670400-1320-11eb-821f-0fbff24f39d3.png)

[2020-10-21 04:08] arouinfar commented on #361
Oh, that is more complicated than I realized @samreid. I think this issue is relatively minor, and I don't know that it warrants interleaving the nodes or a more complicated layering approach.

It's not ideal that the MeasuringTapeNode can get (temporarily) trapped behind the radio buttons, but I don't think it's a terribly realistic use case.

I'm fine with closing this as wont-fix @samreid. If y

[2020-10-21 04:22] arouinfar commented on #362
Things seem to be working in the state wrapper. From the commit, it looks like the new tandem names are `measuringTapeStartPointProperty` and `measuringTapeEndPointProperty`. I don't see them in the studio tree (cleared the cache, pulled all, viewing all Elements), but I'm not sure if I should or not.

![image](https://user-images.githubusercontent.com/8419308/96672433-815aeb80-1321-11eb-831a-3507

[2020-10-26 15:35] samreid commented on #357
OK, leaving master as it is, and closing.

[2020-10-26 15:35] #357 closed

[2020-10-26 15:39] samreid commented on #361
I don't believe we should try to fix this before the upcoming dev "rc-lite" release.  I don't feel strongly one way or the other about whether this is fixed for the next main release.  Based on the preceding remark, I'm inclined to close, but anyone please reopen if you disagree.

[2020-10-26 15:39] #361 closed

[2020-10-26 15:42] samreid commented on #362
Those are the correct tandem names, but those model properties are instrumented in the view, such as:

[code]

[2020-10-26 15:56] samreid commented on #360
I switched to use `PhetColorScheme.GRAVITATIONAL_FORCE` in the commit.  Ready for review.

[2020-10-26 17:38] samreid opened #363 "There are 18 instances of gravityVectorNode.pickableProperty that seem unnecessary."
Related to https://github.com/phetsims/scenery/issues/1047 and https://github.com/phetsims/scenery/issues/1046.  In slack @kathy-phet said:

@arouinfar can you please review Gravity and Orbits Node sub-properties such as `visibleProperty`, `opacityProperty`, `pickableProperty`, `textProperty`

[2020-10-26 17:42] arouinfar commented on #360
👍

[2020-10-26 17:42] #360 closed

[2020-10-26 17:59] arouinfar commented on #362
Thanks for the clarification @samreid.

If it's not too troublesome, I think it would be nice to nest things under `model.measuringTape` like:

[code]

[2020-10-26 18:09] samreid commented on #362
It was not too troublesome.  It's pushed and ready for review.

[2020-10-26 21:58] arouinfar commented on #363
* There are no instances of `opacityProperty`, as I would expect.
* There are 18 instances of `gravityVectorNode.pickableProperty` that seem unnecessary. I double checked my notes for phetioFeatured as well as the overrides history, and I don't think `gravityVectorNode.pickableProperty` was ever featured, so it seems like it was mistakenly given a pickableProperty in https://github.com/phetsims/sc

[2020-10-26 22:01] arouinfar commented on #362
Looks good in master, thanks @samreid.

[2020-10-28 16:09] samreid commented on #363
Thanks, the button enabledProperty will be reviewed in another issue when ready.  Leaving self-assigned to work on `pickableProperty` for Gravity and Orbits.

[2020-10-30 23:01] samreid commented on #363
I uninstrumented `gravityVectorNode.pickableProperty`.  Ready for review, at high priority since this is one of the last issues before RC-lite.

[2020-11-02 18:37] pixelzoom opened #364 "incorrect alignment of "Clear" button?"
From https://github.com/phetsims/QA/issues/572#issuecomment-719880346

@ariel-phet noted that the alignment of the "Clear" button seems to have regressed.

Gravity and Orbits (Published)
![gao published](https://user-images.githubusercontent.com/4051174/97771423-67c85980-1b02-11eb-8e16-2fcd7554b058.PNG)

Gravity and Orbits (Master)
![gao master](https://user-images.githubusercontent.com/4051174/97

[2020-11-02 18:38] arouinfar commented on #363
Looks good in master @samreid!

[2020-11-02 18:38] #363 closed

[2020-11-02 18:44] pixelzoom opened #365 "TimeControlNode changes?"
From https://github.com/phetsims/QA/issues/572#issuecomment-719880346, and similar to https://github.com/phetsims/wave-interference/issues/506.  It's unlikely that this is related to sun button changes, and more likely related to changes to TimeControlNode.

@ariel-phet noted that TimeControlNode layout and sizing differs between published and master. If this is a know (or acceptable) regression,

[2020-11-02 18:55] samreid commented on #364
The alignment was purposefully changed in https://github.com/phetsims/gravity-and-orbits/issues/359, please comment there if you prefer a different strategy.

[2020-11-02 18:55] #364 closed

[2020-11-02 19:07] samreid commented on #365
This change is likely due to conversion to use TimeControlNode.  That seems reasonable to me, but please reopen if changes are recommended.

[2020-11-02 19:07] #365 closed

[2020-11-02 23:15] samreid commented on #345
The only common code issue pertinent to this deploy is https://github.com/phetsims/chipper/issues/787.  @jessegreenberg and I discussed and @jessegreenberg recommended:

So I'll create RC.1 from master, then make a maintenance release to revert the chipper changes.

[2020-11-02 23:36] samreid commented on #345
I published these versions and will update the "RC-lite" issue:

Deployed: https://phet-dev.colorado.edu/html/gravity-and-orbits/1.2.0-rc.2/phet/gravity-and-orbits_en_phet.html
Deployed: https://phet-dev.colorado.edu/html/gravity-and-orbits/1.2.0-rc.2/phet-io/

[2020-11-03 21:33] KatieWoe commented on #358
I am having trouble reproducing/seeing this in the version it was reported in, so I'll let @loganbraywork confirm it for rc.2

[2020-11-03 21:49] KatieWoe commented on #359
This seems fixed in rc.2

[2020-11-03 21:49] #359 closed

[2020-11-03 22:51] KatieWoe opened #366 "Icons and screenshots may need to be retaken"
**Test device**
MacBook Air
**Operating System**
10.15.7
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/567
I noticed that the velocity arrow is now a different color (now green instead of red). However, the icon for the second screen on the home page and in the nav bar still shows the arrow as red. I also noticed that the changes to the color of inactive butt

[2020-11-03 23:29] loganbraywork commented on #358
This issue is still present and seems to be worse in the newest RC test, with an increase in artifacting when the planets are moving towards the bottom of the screen.  Also noting that the link in the original issue is incorrect, specifically the double query parameter does not cause the bug, only the long stringtest.
![2020-11-03GravityandOrbitsArtifactingRC2](https://user-images.githubuserconten

[2020-11-04 01:54] samreid commented on #366
The screen icons are checked in to mipmaps/ rather than generated.  @arouinfar can you please take the lead on this?

[2020-11-04 17:20] arouinfar commented on #366
@samreid I updated the screen icons and cleaned them up a bit. The .ai assets currently checked in for the icons (cartoon_icon.ai and to_scale_icon.ai) have a weird encoding issue and look like text files when trying to open them up in Illustrator. Luckily, I had a local copy from when they were originally created that didn't have this issue. I am going to delete the old .ai files and upload the n

[2020-11-04 17:27] arouinfar commented on #366
Okay, scratch that, screen-icons.ai comes in at a whopping 43MB which is too big to commit through the GitHub web interface and doesn't zip small enough to attach to the issue. The large file size is due to the image of the Earth used in the icons. I don't want to compress it down because it could compromise the quality in the exported images. @samreid I've temporarily uploaded the screen icons to

[2020-11-04 21:29] arouinfar commented on #366
I was able to reduce the source image of the Earth down to 2.6 MB, resulting in a final .ai size of 10.2 MB. @samreid here are the updated assets.
[screen-icons-reduced-size.zip](https://github.com/phetsims/gravity-and-orbits/files/5490587/screen-icons-reduced-size.zip)

[2020-11-07 02:09] samreid commented on #358
It looks like the underlay is also reduced by the maxWidth, so maybe pixels are still leaking out:

![image](https://user-images.githubusercontent.com/679486/98429380-78795200-2063-11eb-81d5-c8860abe9a7b.png)

[2020-11-07 02:12] samreid commented on #358
I increased the size of the underlay, @loganbraywork can you please test?

[2020-11-10 03:19] arouinfar commented on #366
I updated the screenshots in master and the 1.2 branch in the above commits.

[2020-11-10 22:43] loganbraywork commented on #358
I'm still seeing the issue on phettest

[2020-11-10 23:41] samreid commented on #366
Thanks! I will run `grunt modulify` to produce the JS assets.  Also, I think the next version will take SHAs from master and go forward as 1.3

[2020-11-11 01:35] samreid commented on #358
Even when I comment out the transparent-rectangle workaround, I am unable to see the problem when testing on Windows Chrome 86.0.4240.193.  @KatieWoe also reported she cannot see the problem in the affected version.  It could be that the platform is using a different font or has different font metrics, and Chrome doesn't know to clear that area.  Additionally, it could be that the transparent rect

[2020-11-11 18:58] arouinfar commented on #358
I'm leaning towards closing this as wont-fix, assuming the artifacts have returned to the more subtle variety shown in the original report.

@loganbraywork can you let us know what the artifacts currently look like in master? Are they still very obvious like in https://github.com/phetsims/gravity-and-orbits/issues/358#issuecomment-721428332 or are they more subtle like they were originally in http

[2020-11-12 00:02] samreid commented on #366
I pushed the icons in the commit, @arouinfar can you please check that they are correct?

[2020-11-12 02:40] samreid commented on #358
Here is a dev version we can use to rule out caching issues, @loganbraywork can you please use it to comment on the current state of the artifacts?

https://phet-dev.colorado.edu/html/gravity-and-orbits/1.3.0-dev.1/phet/gravity-and-orbits_en_phet.html

[2020-11-12 17:29] arouinfar commented on #366
Looks great @samreid!

[2020-11-12 17:31] samreid commented on #366
Thanks, closing.

[2020-11-12 17:31] #366 closed

[2020-11-14 02:51] samreid commented on #358
I recommend we unblock this for the upcoming milestone.  The client is unlikely to use long strings.  Also, if we find a fix, we can maintenance patch it in.

[2020-11-14 04:39] arouinfar commented on #358
Sounds good to me @samreid. I'll remove the blocks-sim-publication tag.

[2020-11-14 16:37] samreid commented on #345
All blocks-publication issues are cleared.  I ran a `grunt rc` command for 1.3, but it doesn't look like the build is completing (at least after 5 minutes).

[2020-11-16 18:24] ariel-phet commented on #358
@samreid @arouinfar as this issue is unlikely to come up in actual use, I am just going to go ahead and mark `wontfix` and close.

[2020-11-16 21:22] KatieWoe opened #367 "Existing Path does not show up in first state setting"
For https://github.com/phetsims/QA/issues/576. Mac 10.15 Chrome. Found in new version of State wrapper. Assigning @zepumph as well, in case this is related to wrapper.

When on the state wrapper, the first time the state is set when there is an existing path line, that line does not show up in the resulting sim. Any subsequent time, the whole path line shows up.

Steps:
1. Refresh the page
2. Set

[2020-11-17 16:59] brooklynlash commented on #367
Replicated on Windows 10 Chrome.

[2020-11-18 00:11] KatieWoe opened #368 "Moving text jiggles"
**Test device**
MacBook
**Operating System**
11.0.1
**Browser**
Safari
**Problem description**
For https://github.com/phetsims/QA/issues/576. Not seen on Chrome. Didn't really see on my 10.15.7 Safari, but it may be due to screen resolution. I did see it in the published sim.
I noticed that text that moves around to follow orbiting objects jiggled around and the spaces between letters and numbers

[2020-11-18 05:13] arouinfar commented on #368
I tested on macOS 10.15.7, and I see the wobbly kerning in Safari 14, but not in Chrome or Firefox. It's present in the latest published version as well as this rc. I think this is a relatively minor issue, and should not block the upcoming phet-io publication. I'm fine with closing, but I'll leave it up to @samreid to decide the next steps.

[2020-11-18 06:00] samreid commented on #368
It seems possible to rasterize the text, but that would probably cause more problems than it solves.  I think we should close and hold out hope that Safari will one day render the text better.

[2020-11-18 06:00] #368 closed

[2020-11-18 20:06] samreid commented on #367
I added a commit which corrects the problem in my testing.  @KatieWoe can you please test on phettest?

[2020-11-18 20:27] KatieWoe commented on #367
Looks fixed in master

[2020-11-21 19:58] samreid commented on #367
I cherry picked the commit to the 1.3 branch.  It will be ready for spot testing in the next RC.

[2020-11-23 22:31] samreid commented on #367
@KatieWoe identified a problem with the fix--when clicking "play" then "path" it doesn't show the path from the time clicked, but from the beginning of time.  This should be fixed before next rc.  Self-assigning.

[2020-11-24 02:17] samreid commented on #367
I committed a fix for this to master.  @KatieWoe can you please test in master?  If it seems OK, I'll cherry pick it to the RC branch for next RC.

[2020-11-24 20:20] KatieWoe commented on #367
Looks good from what I can tell on master.

[2020-11-24 20:31] KatieWoe commented on #362
Looks good in rc.2

[2020-11-24 20:31] #362 closed

[2020-11-24 21:58] loganbraywork commented on #358
I do still see the issue, although I am not sure why. I travelled home and tested in on a different laptop and had the same result.

[2020-11-24 23:41] KatieWoe opened #369 "Client guide does not include Sun pickable property"
For https://github.com/phetsims/QA/issues/576
One of the client instructions is:

In the model screen section, the starPlanetMoon scene does not include a Star option in the section. It does exist in Studio as `gravityAndOrbits.modelScreen.view.playAreaNode.starPlanetMoonSceneView.starNode.pickableProperty`. The To Scale section does include all 9 options.
<img width="647" alt="pickable" src="http

[2020-11-24 23:51] KatieWoe opened #370 "Text properties and client guide instruction for text that isn't there"
For https://github.com/phetsims/QA/issues/576
The client guide asks for:

The Model screen section has three elements. However, only the first one actually has a label in the sim. The other two do not and changing their text does not seem to do anything from what I can see.

<img width="734" alt="nothingthere" src="https://user-images.githubusercontent.com/41024075/100164402-00899500-2e75-11eb-959

[2020-11-26 17:31] samreid commented on #370
`gravityAndOrbits.modelScreen.view.playAreaNode.starPlanetMoonSceneView.planetNode.indicatorNode.visibleProperty` is not featured, so in order to see it, you have to select "All".  Also, if you zoom out far enough, the planet label automatically becomes visible:

![image](https://user-images.githubusercontent.com/679486/100379659-75beac80-2fd2-11eb-9309-fcc87d1bf42f.png)

@arouinfar how do you rec

[2020-11-27 20:24] samreid commented on #367
I cherry-picked the change to the 1.3 branch and tested, could not find any problems.  Leaving open for confirmation in next RC.

[2020-11-30 19:57] arouinfar commented on #370
`gravityAndOrbits.modelScreen.view.playAreaNode.starPlanetSceneView.planetNode.indicatorNode.labelNode.textProperty`

These labels are only visible when the user zooms out far enough. Technically, all bodies have an associated `labelNode.textProperty` but I only included those that a user could potentially see.

While the associated phetioIDs for most client requests will be featured, it's not alw

[2020-11-30 19:57] #370 closed

[2020-11-30 20:17] arouinfar commented on #369
Nice find @KatieWoe!

Fixed in master, off to @samreid for cherry-picking.

[2020-11-30 23:09] samreid commented on #369
Since this is from another repo, I'll wait to see if there are other cherry-picks to do at the same time, once testing is complete.

[2020-12-02 23:06] KatieWoe commented on #358
I started seeing this in text area on ChromeOS with no string tests. @samreid should we look at this?

[2020-12-02 23:48] samreid commented on #358
Can you please clarify what you meant by "in text area"?

[2020-12-02 23:49] KatieWoe commented on #358
The phet-io text area wrapper

[2020-12-04 19:44] samreid opened #371 "Make sure pan/zoom disabled for RC lite 1.3 branch"
As described in https://github.com/phetsims/phet-io-wrappers/issues/391#issuecomment-738962227

[2020-12-04 19:54] samreid commented on #369
OK I cherry picked this.

[2020-12-04 20:22] arouinfar commented on #369
Looks good in 1.3.0-rc.3 @samreid

[2020-12-04 20:23] arouinfar commented on #371
Looks good in 1.3.0-rc.3 @samreid

[2020-12-04 20:24] samreid commented on #371
Thanks, closing.  I'll open a new issue about re-enabling it.

[2020-12-04 20:24] #371 closed

[2020-12-04 20:25] samreid opened #372 "Enable pan/zoom"
In https://github.com/phetsims/gravity-and-orbits/issues/371 pan/zoom was disabled.  It should be re-enabled for full release.

[2020-12-04 20:25] samreid commented on #369
Thanks, closing.

[2020-12-04 20:25] #369 closed

[2020-12-04 20:28] samreid commented on #345
I asked on slack:

[2020-12-04 20:39] samreid commented on #345
On slack @zepumph said:

I asked:

@zepumph replied:

[2020-12-04 20:41] arouinfar commented on #367
@samreid this looks fixed in 1.3.0-rc.3. I tested on macOS 10.15.7 Chrome/Safari in both the State Wrapper and launching from Studio. The state of the path was correct every time.

[2020-12-04 20:41] #367 closed

[2020-12-04 20:45] samreid commented on #345
All issues discovered during QA lite were confirmed in the RC.3 or determined to be unnecessary for this release.  So https://phet-dev.colorado.edu/html/gravity-and-orbits/1.3.0-rc.3/phet-io/ is ready to deliver to the client.

[2020-12-04 22:02] samreid commented on #345
I captured some slack discussion in a private issue.

[2020-12-11 22:44] samreid commented on #345
I believe @kathy-phet delivered a dev version (the RC) to our client.  Closing.

[2020-12-11 22:44] #345 closed

[2020-12-15 20:26] KatieWoe opened #373 "User reported orbit inconsistencies between speeds"
Email to phethelp reads:

Depending on the speed of the simulation, the planet's path differs.

![image](https://user-images.githubusercontent.com/41024075/102268449-947cd880-3ed8-11eb-9555-c70066c4255d.png)

I reproduced using the above settings and did see some difference between speeds:
Slow:
![slow](https://user-images.githubusercontent.com/41024075/102268567-bb3b0f00-3ed8-11eb-81d5-303389820c

[2020-12-15 20:45] oliver-phet commented on #373
Removing my assignment for now. Feel free to reassign if we need to communicate back with the user.

[2020-12-15 20:55] jessegreenberg commented on #373
This looks exactly like https://github.com/phetsims/gravity-and-orbits/issues/253, which @samreid fixed. So I think this is going to be resolved when this sim is redeployed. But @samreid can you please confirm?

[2020-12-15 21:23] samreid commented on #373
Yes, I think that will be fixed in the upcoming deploy.  Leaving open until a new version is out, to help us remember to notify the client.

[2020-12-16 01:51] ariel-phet commented on #358
@samreid I am still not seeing this issue as necessary to fix as I doubt long strings will be introduced in these places, but let me know if you want to discuss.

[2020-12-16 19:47] samreid commented on #358
I don't think it is critical to fix this for our upcoming release, but it would be nice to understand why our standard solution didn't work in this case--something puzzling is going on.  I recommend we leave this open a bit longer to see if I can reproduce it on a chromebook.  If not, we will have to decide whether it is worth the time to ask for another developer try to reproduce the problem, or

[2020-12-19 00:38] samreid commented on #372
See also https://github.com/phetsims/phet-io-wrappers/issues/391#issuecomment-738916569 for other fixes that are necessary.  It's unclear whether we will want to take new shas from master or try to cherry pick things like this into the branch.

[2020-12-19 00:39] samreid opened #374 "Publish Gravity and Orbits PhET/PhET-iO 1.4"
For milestone https://github.com/phetsims/gravity-and-orbits/milestone/3

As mentioned in https://github.com/phetsims/gravity-and-orbits/issues/372#issuecomment-748389357

[2020-12-21 16:59] samreid commented on #374
Gravity and Orbits 1.3 SHAs were taken Nov 14, how can I determine if there were important bugfixes made to common code repos since then, so I can see if they need to be cherry-picked?  Or would it be better to take shas from master?

[2020-12-22 18:47] ariel-phet commented on #374
@samreid I would recommend revisiting with the dev team at our meeting on Jan 7, and if master seems reasonably stable, taking new SHA's at that point and doing a full retest as the sim is unlikely to get any QA attention until that point anyhow. I think especially with iO, regularly doing some full testing from master (every couple of months) is generally a healthy practice for evaluating the sta

[2020-12-23 17:58] ariel-phet commented on #358
@samreid sounds great. Happy to leave open until you solve the mystery or decide no longer worth investigation.

[2020-12-28 12:41] samreid commented on #358
Testing on a Lenovo N23 Yoga Chromebook running Chrome 86.0.4240.199, I was able to see the problem in the data: text area wrapper without any query parameters.  I found that `new Rectangle()` with no fill did not trigger a repaint, but that `new Rectangle({fill:'blue',opacity:0})` did trigger a repaint.  I committed that to the 1.3 branch and to master.  @KatieWoe or @loganbraywork can you please

[2021-01-04 18:53] KatieWoe commented on #358
Did not see it on master in the case I encountered. @loganbraywork can you check the case that you've been seeing?

[2021-01-07 21:09] samreid commented on #374
In dev meeting, we agreed to use master SHAs.

SR: On Dec 8, @kathy-phet said our client could wait until Jan or Feb for GAO to go through full RC.
SR: I’d prefer to go with master if QA has time and we are not backlogged
AP: The QA should be able to get to it in this timeline.  Let’s go with master.
Go with master because of Pan-and-Zoom + PhET-iO support

[2021-01-07 22:10] samreid commented on #374
In discussion today, @kathy-phet asked what kind of testing we should start with.  She recommends dev testing first, but @samreid said we would like to have SHAs.  Can we create an RC and do "dev testing" on it?  That seemed reasonable to everyone.

@pixelzoom said we could use the RC-lite process.  That is sort of similar to dev testing.

@samreid: If QA does RC lite testing, do they know that do

[2021-01-08 16:35] KatieWoe opened #375 "CT matrix must be finite"
[code]

[2021-01-08 17:29] jessegreenberg commented on #375
This is specifically caused by recent change in https://github.com/phetsims/phet-io/issues/1705, and only is happening in the state wrapper.

[2021-01-11 20:55] jessegreenberg commented on #375
This should be fixed by https://github.com/phetsims/joist/commit/7628d10241b14fb28fdbf22be7e931da4c67009e, but will leave open until I see it is gone on CT.

[2021-01-11 21:26] samreid commented on #372
In https://github.com/phetsims/gravity-and-orbits/issues/374#issuecomment-756418507, we decided to take new SHAs.

[2021-01-11 21:29] samreid commented on #372
I enabled pan/zoom and confirmed it is working locally.  Closing.

[2021-01-11 21:29] #372 closed

[2021-01-11 21:30] samreid commented on #374
I opened a placeholder QA issue here: https://github.com/phetsims/QA/issues/595

[2021-01-11 21:56] jessegreenberg commented on #375
We have had 2 iterations of CT without this eror, closing.

[2021-01-11 21:56] #375 closed

[2021-03-01 19:45] brooklynlash opened #376 "Noticeable lag in Phet-io playback wrapper"
For https://github.com/phetsims/QA/issues/595, seen on Win10 Firefox and Edge only.
There is about 11+ seconds of lag when playing back the Gravity and Orbits phet-io recording, it stops at the 1 second mark, pauses, and then quickly skips to the 12 second mark or further. I have not seen this on other sims and it was replicated on master.

Note: my gif creator is somewhat laggy as well so it spee

[2021-03-02 18:57] DevonQui opened #377 "Paths don't fade out when objects are destroyed"
**Test device**
MacBook Pro

**Operating System**
11.2.1

**Browser**
Safari

**Problem description**
This is for https://github.com/phetsims/QA/issues/595

It's not a particularly egregious bug, but I noticed that the paths of destroyed objects/planets after colliding do not disappear. They just stay there forever until the simulation scene is restarted.

**Steps to reproduce**
1. Open the simula

[2021-03-02 20:34] DevonQui opened #378 "Rewind button behavior on G&O intentional?"
**Test device**
MacBook Pro

**Operating System**
11.2.1

**Browser**
Safari

**Problem description**
This is for https://github.com/phetsims/QA/issues/595

I was messing around with the rewind button on the simulation and was just wondering why it doesn't allow the user to step-back. Instead it just functions as a scene reset button but I think it would be useful to have a step-back button seeing

[2021-03-02 21:35] emily-phet commented on #378
Unassigning myself - I was a designer on this sim when it was first developed, but likely @arouinfar is the lead designer now.

[2021-03-03 03:58] samreid commented on #378
The desired behavior of the rewind button is to return to the initial conditions where the user last dragged an object.  For instance:

1. Launch the sim and go to screen 1.
2. Drag the Earth to the opposite side of the sun
3. Press play
4. Press rewind, and observe that the Earth is where it was dropped, rather than the initial setup for that scene

We designed the rewind button so that the user

[2021-03-04 00:11] zepumph commented on #376
One potential solution for this part would be in the playback wrapper. Since there is just a single definition of "time progressed" in the playback wrapper, when something occurs very slowly, it pushes back every event afterwards. So events that could play normally are actually played much quicker. Perhaps we could work this out in the playback wrapper to reset the clock when we detect that an eve

[2021-03-04 00:18] zepumph commented on #376
I also want to add that I encountered the exact same lag in BAA over in https://github.com/phetsims/special-ops/issues/190. To be clear, this is just generally laggy because of qualities of our playback algorithm (like async event passing). Though it is correlated to the complexity of the sim's playback, I'm unsure how much there is to be done within each sim.

[2021-03-05 16:56] KatieWoe commented on #373
This looks fixed in rc.1. Will reopen if something comes up.

[2021-03-05 16:56] #373 closed

[2021-03-05 19:34] KatieWoe opened #379 "Only one scene listed to "Hide Earth Days""
For https://github.com/phetsims/QA/issues/595.
In the Client Requests guide, the client wants to hide the Earth Days counter. Only one scene is listed for this. However, two other scenes have Earth Days, and one other has Earth Minutes. Should these be listed too?
<img width="683" alt="onlyonescene" src="https://user-images.githubusercontent.com/41024075/110164825-277a3000-7daf-11eb-8190-c340025ca

[2021-03-05 21:01] arouinfar commented on #379
Nice catch @KatieWoe!

I added the missing phetioIDs for the other scenes to the client guides and committed the changes to master and gravity-and-orbits-1.3.

[2021-03-05 21:56] KatieWoe opened #380 "Loading saved studio state may not work on Safari"
For https://github.com/phetsims/QA/issues/595. In studio, if you save a studio state, and then try to load in in studio on Safari it does not seem to do anything. The same file does seem to work in Chrome and Firefox. However, after trying several times, I did find that Safari would load the file sometimes, but there did not seem to be a set pattern to it.

[2021-03-05 23:09] KatieWoe opened #381 "Playback of recording speeds up and slows down wildly"
For https://github.com/phetsims/QA/issues/595. Seen on MacOS 11 on all three browsers.
When watching the playback of recordings, the speed of the playback slowed down and sped up wildly. It did this in the same parts each time the recording was played back. Some seem connected to attempts to zoom (see https://github.com/phetsims/phet-io/issues/1739). Others seem unrelated. Observe time bar during

[2021-03-07 14:13] samreid commented on #379
I labeled this for the milestone and will mark it qa ready for review for testing in the next RC.

[2021-03-08 17:56] zepumph commented on #381
I would consider this a duplicate of https://github.com/phetsims/gravity-and-orbits/issues/376. Whatever is causing this is also often causing a large slowdown on startup in the playback. I would recommend only keeping one of the two of these around. See that issue for my thoughts on fixing this issue.

[2021-03-08 22:05] loganbraywork commented on #358
Looks good to me as of the Latest RC Test https://github.com/phetsims/QA/issues/595

[2021-03-08 22:05] #358 closed

[2021-03-09 17:20] KatieWoe opened #382 "Sim may not load on android app"
For https://github.com/phetsims/QA/issues/595.
When trying to use the sim on the debug version of the android app (Galaxy Tablet) the sim did not load. The PhET loading menu appeared, but it never started to fill in. I waited a few minutes before giving up.

[2021-03-09 18:11] KatieWoe commented on #382
Should we pair to try and figure it out?

[2021-03-09 23:34] samreid commented on #377
In the commit, I made it so that collided body paths still animate.  The "fade out the tail" code only supports non-collided bodies though, so the tail for the collided bodies looks truncated like so:

![image](https://user-images.githubusercontent.com/679486/110552802-2faad600-80f5-11eb-89ed-d8011fa6cd37.png)

I did not see an easy, obvious way to keep the continuous fade trail for collided bodie

[2021-03-10 01:20] samreid commented on #380
It seems that safari requires the input type=file to be in the DOM.

[2021-03-10 04:33] samreid commented on #380
I added the file input to the DOM and now it is working reliably on Chrome and Safari.  Since our old implementation was creating and throwing away listeners, it masked another cleanup problem with `window.phetio.phetioClient.isSettingState` which I corrected in this version.  @zepumph can you please review?  If it checks out, please reassign to @KatieWoe to test in master.  If all that goes well,

[2021-03-11 05:02] samreid commented on #382
Does this happen on any other sims?  How much memory does the Galaxy Tablet have?  What year is it?

[2021-03-11 16:14] KatieWoe commented on #382
I hadn't seen it in other sims when testing the app last week. 623 MB free. Galaxy Tab A SM-T580, can't seem to find a year.

[2021-03-11 17:06] samreid opened #383 "Zoom and pan gesture support for record/playback"
Sim specific issue to track https://github.com/phetsims/phet-io/issues/1739, on hold until there is progress in that issue.

[2021-03-11 17:07] mattpen commented on #382
https://www.gsmarena.com/samsung_galaxy_tab_a_10_1_(2016)-8090.php

Looks like 2GB @samreid

[2021-03-11 17:09] samreid commented on #382
Thanks, should this issue block publication of the upcoming RC.2?

[2021-03-11 19:36] KatieWoe commented on #380
On master on MacOS 11 Safari, the first load seemed to work, but any subsequent attempts did not. I also wasn't able to open the saved files as a sim.

[2021-03-12 05:15] samreid commented on #380
@KatieWoe and I met on a zoom call and confirmed that subsequent loads are not working in Safari or Chrome. Perhaps the single DOM file input isn't triggering a change after files change?

[2021-03-12 16:07] samreid commented on #374
RC2 will be tracked in https://github.com/phetsims/QA/issues/623

[2021-03-12 16:36] samreid commented on #380
Testing today, I can see that subsequent loads are working correctly on my local/master and https://bayes.colorado.edu/dev/phettest/studio/?sim=gravity-and-orbits&phetioDebug&phetioElementsDisplay=all

[2021-03-13 03:45] samreid commented on #383
@jessegreenberg provided a fix and SHAs to cherry-pick.

[2021-03-15 21:56] KatieWoe commented on #380
It still isn't working for me. Same problem as last time

[2021-03-16 15:59] kathy-phet commented on #382
Does the website version of GAO work? Does the built version on phettest work? Which version exactly isn't working?

[2021-03-16 16:01] kathy-phet commented on #380
Please reconnect and see if you can figure out the steps to reproduce again.

[2021-03-16 16:09] samreid commented on #380
@KatieWoe and I determined the problem is only when loading the same file twice.  I'll take a look.

[2021-03-16 16:16] samreid commented on #382
We measured https://phet-dev.colorado.edu/html/gravity-and-orbits/1.4.0-rc.1/phet/gravity-and-orbits_all_phet.html at around 28MB--not too high, so memory may not be the problem.

[2021-03-16 17:24] samreid commented on #380
In the commit, I null out the value on every click to make sure we still get a notification when selecting the same file.  I tested this in Chrome, Safari and with a touch device simulator.  It worked OK in all cases.  @KatieWoe can you please verify?  If it seems OK, I'll cherry pick it to the RC branch.

[2021-03-16 17:25] mattpen commented on #382
@KatieWoe - Here are instructions for connecting an android device to the Chrome Developer Tools: https://developers.google.com/web/tools/chrome-devtools/remote-debugging

Can you check the console for any errors?  Let me know if you need help setting up the remote debugging.

[2021-03-16 18:23] KatieWoe commented on #382
Noting that, during troubleshooting, we saw that https://github.com/phetsims/QA/issues/603 was impacted by this.

[2021-03-16 18:30] samreid commented on #382
The commit makes it possible for the sim to load on the Android app. @KatieWoe confirmed that https://phet-dev.colorado.edu/html/gravity-and-orbits/1.5.0-dev.1/phet/gravity-and-orbits_en_phet.html launched correctly (though now it has the wrong font).

[2021-03-16 18:37] zepumph commented on #380
Good idea!

[2021-03-16 18:38] samreid commented on #382
I reached out to @jonathanolson on slack:

[2021-03-16 18:39] samreid commented on #380
Aside from @KatieWoe testing, this is also ready for code review.  @zepumph can you please take a look?

[2021-03-16 18:45] KatieWoe commented on #382
@mattpen it looks like we may have a solution, but in the future, is there a way to get console errors in the app, rather than in a chrome tab? We only saw the bug in the app and the method described above only seems to open a console for a browser tab, at least from what we could see.

[2021-03-16 19:12] KatieWoe commented on #380
Looks fixed on master.

[2021-03-16 20:36] #381 closed

[2021-03-16 20:36] KatieWoe commented on #376
This is in https://github.com/phetsims/QA/issues/624

[2021-03-16 22:15] samreid commented on #382
I asked on Slack

@kathy-phet replied:

[2021-03-17 00:58] mattpen commented on #382
@KatieWoe the solution I posted can be used to get console output from the app. It uses a Chromium webview, so it will show up when you go the device inspector screen. Happy to help with setup if needed, just ping me on slack.

[2021-03-17 02:00] zepumph commented on #380
The change looks simple, suave, and nice. I might recommend adding the click listener in studio js code, just so that it is clearer that this logic is needed, and why. Perhaps above the current logic?

[code]

Or do you need a separate listener? In that case, it would definitely be better to put it right next to that listener and document the relationship.

Otherwise it is great.

[2021-03-17 04:29] samreid commented on #376
Based on https://github.com/phetsims/gravity-and-orbits/issues/376#issuecomment-790176971, I don't think this issues would block RC.2.

[2021-03-17 04:34] samreid commented on #380
I adopted the patch from above (with a bugfix) and tested that it works well, thanks for the recommendation!  I'll cherry pick this for RC.2.

[2021-03-17 04:48] samreid commented on #382
Getting a debugger would be the best way to understand how the font is failing. In case we need a shortcut to get RC.2 going, I added a commit that uses 'monospace' for the time readout when the android query parameter is present.  Here is a dev version with that change, which can be tested on the tablet:
https://phet-dev.colorado.edu/html/gravity-and-orbits/1.5.0-dev.2/phet/gravity-and-orbits_en_

[2021-03-17 05:09] kathy-phet opened #384 "PhET-iO: Instrument the separators in the control panel"
Sometime after @arouinfar and I reviewed this sim, we standardized on instrumenting the separators so customization could include their removal (see Molecule Polarity). Names are "separator 1" and "separator 2" with only visible property instrumented.

@samreid - Can you add this to these GAO panels where separators are present? I noticed in a demo that I could not hide them. Thanks! (We will want

[2021-03-17 05:14] samreid commented on #384
I'll add this for RC.2 but will also point out that the proposed layout engine prototype has a new feature that automatically hides separators when appropriate (if there is nothing to separate, or if >1 separators are adjacent), as part of https://github.com/phetsims/sun/issues/48

[2021-03-17 05:27] kathy-phet commented on #384
OK, but for now, we should do this as the standard.

[2021-03-17 05:28] samreid commented on #384
Agreed, I don't think the layout engine will be ready for production in time, but I'm excited that it's on the horizon.

[2021-03-17 05:47] samreid commented on #384
In the commit, I converted the sim to use HSlider (it was formerly using Rectangles) and added PhET-iO instrumentation.  I checked that the behavior seemed similar to molecule polarity.  @kathy-phet or @arouinfar can you please test this in master on phettest?  If it seems good, I will cherry pick it to the branch for RC.2.

[2021-03-17 17:43] KatieWoe commented on #382
Got the debugger to work and got this error message with it:
<img width="629" alt="consoleerror" src="https://user-images.githubusercontent.com/41024075/111512939-e589ac00-8715-11eb-8263-79c7221b184c.png">
This was for the rc.2 version.
I was able to open and load the dev.2 version linked above just fine.

[2021-03-17 17:48] samreid commented on #382
That looks like the same problem as https://github.com/phetsims/phet-android-app/issues/155, I should investigate and make sure the RC has the patch.

[2021-03-17 21:55] jessegreenberg commented on #382
Sorry to have caused wasted time in this issue, please see https://github.com/phetsims/scenery-phet/issues/674#issuecomment-801334462, and I expect this to be fixed in rc.2.

[2021-03-18 17:28] arouinfar commented on #377
@samreid the behavior in master looks strange to me. For example:

1. Model Screen, Star/planet/moon scene, Path on
2. Start the system, and let it go for a few days
3. Maximize planet mass and the moon will be destroyed
4. Moon path remains static until the planet reaches ~75% of the orbit around the sun, at which point both paths start to fade
5. Moon path doesn't entirely disappear, it leaves b

[2021-03-18 17:38] samreid commented on #377
I reverted the change, and will not cherry-pick into the RC.  Should this issue remain open in case we want to improve steps 4-5 in a future version?

[2021-03-18 18:09] arouinfar commented on #384
The separators are looking good in master. There are four instances of `separator*.visibleProperty` that should be phetioFeatured.

I also took a look at the sliders, and nothing seems to have been disturbed (including phetioFeatured).

[2021-03-18 18:14] arouinfar commented on #378
Thanks for your question @DevonQui.

@samreid thanks for the explanation. I don't think we a step back button would serve any of the primary learning goals of this simulation, and it could potentially be complicated when dealing with destroyed objects. There were a lot of oddities with saved states and stepping back that came up in Collision Lab (where it's critical to see moments before/after col

[2021-03-18 18:14] #378 closed

[2021-03-18 18:16] arouinfar commented on #377
Thanks @samreid. I think this is a fairly minor issue, so I'm more inclined to close as wontfix.

[2021-03-18 18:16] #377 closed

[2021-03-18 19:11] samreid commented on #384
I featured the separators visibleProperties in the commit.

[2021-03-18 19:18] samreid commented on #379
I noticed the commit is on the 1.3 branch, but we are publishing the 1.4 branch.

[2021-03-18 19:48] samreid commented on #383
I cherry picked `scenery#901834ede785fd9f57333e7c0d870670be1060b5` but there are many complicated merge conflicts.  I reached out to @jessegreenberg for assistance.

[2021-03-18 22:20] jessegreenberg commented on #383
Cherry pick done above, I tested out a build of GAO 1.4 and the mirror inputs wrapper, the fix seems to be working well in this branch. dependencies.json updated as well. Back to you @samreid.

[2021-03-19 05:21] samreid commented on #379
Tagging for testing as part of https://github.com/phetsims/QA/issues/623

[2021-03-19 05:21] samreid commented on #380
Tagging for testing as part of https://github.com/phetsims/QA/issues/623

[2021-03-19 05:21] samreid commented on #382
Tagging for testing as part of https://github.com/phetsims/QA/issues/623

[2021-03-19 05:21] samreid commented on #383
Tagging for testing as part of https://github.com/phetsims/QA/issues/623

[2021-03-19 05:21] samreid commented on #384
Tagging for testing as part of https://github.com/phetsims/QA/issues/623

[2021-03-19 16:50] brooklynlash commented on #379
Looks good on rc.2

[2021-03-19 16:52] brooklynlash commented on #383
Zooming seems to work on Win10, with the recording playback issue (https://github.com/phetsims/gravity-and-orbits/issues/376) still present.

[2021-03-19 18:10] samreid commented on #382
In https://github.com/phetsims/scenery-phet/issues/674#issuecomment-803017481 we determined the font was a red herring, so we can roll back the workaround.  We can even do a maintenance release for it, if we don't want to use "monospace" on the Android app.

[2021-03-19 18:31] #379 closed

[2021-03-19 18:43] KatieWoe commented on #382
This looks good in rc.3

[2021-03-19 18:43] #382 closed

[2021-03-19 18:51] KatieWoe commented on #383
| Platform | Pinch Trackpad | Ctrl +/- | Ctrl Scroll | Touchscreen |
| --- | --- | --- | --- | --- |
| Win 10 Chrome | --- | --- | --- | --- |
| Win 10 Firefox | --- | --- | --- | --- |
| MacOS Safari | --- | --- | --- | --- |
| MacOS Chrome | --- | --- | --- | --- |
| iPad | --- | --- | --- | --- |
| ChromeOS | --- | --- | --- | --- |

[2021-03-19 19:17] KatieWoe commented on #384
Looks good in rc.3

[2021-03-19 19:17] #384 closed

[2021-03-19 22:04] liam-mulhall commented on #380
To test this for https://github.com/phetsims/QA/issues/623, I changed `simNameProperty`. When you first open the modified file, it shows the old sim name for a second, and then it changes to the modified sim name.

[2021-03-19 22:06] samreid commented on #380
The "flicker' of the old values before the new values are populated is a known issue with a proposed solution documented in https://github.com/phetsims/phet-io/issues/1337.

[2021-03-19 22:33] KatieWoe commented on #383
I think the above is enough coverage. @samreid please close if you agree. Otherwise we can test some of the other edge cases.

[2021-03-19 22:40] KatieWoe commented on #380
I think this can be closed. Will reopen if something comes up

[2021-03-19 22:40] #380 closed

[2021-03-19 22:46] samreid commented on #383
Is the Firefox "broken, events thrown off" concerning?  @jessegreenberg do you recommend more testing?

[2021-03-19 22:48] jessegreenberg commented on #383
@KatieWoe I am not familiar with that, is that something we have seen before? Can you please elaborate on what "broken, events thrown off" means?

[2021-03-19 22:50] KatieWoe commented on #383
It means that the playback did not behave as the sim did when making the recording, and due to this, the mouse was in a different place when clicks were made. This led to object being in different places than they should have been.

[2021-03-19 22:52] jessegreenberg commented on #383
OK, thanks for clarifying. I think we need to get to the bottom of that, I will make a new issue.

[2021-03-21 14:09] samreid commented on #383
We will need to determine if that problems blocks publication of Gravity and Orbits and/or other upcoming PhET-iO RCs.

[2021-03-22 17:04] samreid commented on #376
Using `?screens=1` cuts the lag in about half, perhaps it is the long list of messages emitted on startup that are causing the problem?

[2021-03-22 17:28] samreid commented on #383
It seems like this is caused by https://github.com/phetsims/phet-io-wrappers/issues/402, @jessegreenberg is going to take a look.

[2021-03-25 14:50] samreid opened #385 "Cherry pick "pin phetioEngine to the top" commits to the release branch"
From https://github.com/phetsims/studio/issues/210, we would like to cherry pick the commits that put phetioEngine at the top of the studio list.

The commit is https://github.com/phetsims/studio/commit/da2f18be1ecf6ecdd21e179c9405d154716b8670

[2021-03-26 00:01] samreid commented on #385
I cherry picked it and updated the SHAs.  This should be verified in next RC.

[2021-03-29 22:45] KatieWoe commented on #385
This looks good in rc.4

[2021-03-29 22:45] #385 closed

[2021-03-29 22:51] KatieWoe commented on #383
| Platform | Pinch Trackpad | Ctrl +/- | Ctrl Scroll | Touchscreen |
| --- | --- | --- | --- | --- |
| Win 10 Chrome | --- | good | --- | --- |
| Win 10 Firefox | --- | --- | --- | --- |
| MacOS Safari | --- | --- | --- | --- |
| MacOS Chrome | --- | --- | --- | --- |
| iPad | --- | --- | --- | --- |
| ChromeOS | --- | --- | --- | --- |

[2021-03-30 20:07] samreid commented on #374
1.4.0 was published.  Assigning to @arouinfar to see if there are any post-publication steps.  Please close if there's nothing else to do.

[2021-03-31 23:03] arouinfar commented on #374
I should update the teacher tips, but that's being tracked in #325, so we can close this issue.

[2021-03-31 23:03] #374 closed

[2021-06-10 18:32] KatieWoe opened #386 "CT designed API changes detected"
[code]

[2021-06-11 04:14] samreid commented on #386
The only content difference between the states is expected: `"simVersion": "1.5.0-dev.4",` actual `"simVersion": "1.5.0-dev.6",`.  I don't recall why we put the `simVersion` in the API file, but we wouldn't want to have to update that part every time we bump dev versions.  I'll see if we can remove it.

[2021-06-11 04:18] samreid commented on #386
Removed in the commits, and I regenerated the API files.  Reassigning to @zepumph for a spot check review when convenient.

[2021-06-11 18:45] samreid commented on #386
Well, https://github.com/phetsims/studio/blob/1c4ebb8386ad66bd8f78d24eed499bca6a4aa62b/js/customizeWrapperTemplateForAction.js#L272-L276 uses the version from simInfo, so I've added it back in.  Not sure the best way to proceed, some options:

* Just leave the version in the API file, and regenerate it when necessary.
* Omit the version when generating the API file.
* Another pipeline for getting

[2021-06-18 17:53] KatieWoe opened #387 "Recording and playback wrappers do not work"
**Device**
Dell
**OS**
Win 10
**Browser**
Firefox
**Problem Description**
For https://github.com/phetsims/QA/issues/660
Was not fixed by fix in https://github.com/phetsims/phet-io/issues/1790. The playback wrapper does not seem to recognize the device/browser the recording was made on. When trying to play, the recording never loads and the console throws an error.
**Visuals**
<img width="956" alt=

[2021-06-18 17:56] samreid commented on #387
Great discovery, I was able to reproduce the problem.  I tracked it back to our changes in SimInfo, and made a correction.  It's now working correctly on my side.  Can you please pull all and test again?

[2021-06-18 18:22] KatieWoe commented on #387
I still seem to be having this problem

[2021-06-18 19:15] samreid commented on #387
@KatieWoe and I worked together, did a fresh pull and build and confirmed it is working, closing.

[2021-06-22 18:24] KatieWoe opened #388 "Pointer areas of time control buttons overlap"
**Test device**
Dell
**Operating System**
Win 10
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/657. Seen in published sim. Very minor and probably does not need to be addressed.
The play button's pointer area overlaps slightly with the pointer area of the step forward button to it's right. They both have larger touch areas, while the step back button on the r

[2021-06-22 19:27] KatieWoe opened #389 "Cannot drag velocity vector to zero"
**Test device**
Dell/Mac
**Operating System**
Win 10/MacOS 11.4
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/QA/issues/657. Seen in published
It seems there is a minimum velocity vector size (non-zero) that a user can drag the vector to. If the user wanted to make velocity zero they would not be able to. This is easiest to see with an object that start with a zero vel

[2021-06-23 03:26] samreid commented on #389
@arouinfar would you like to add some kind of snapping functionality?

[2021-06-23 15:22] KatieWoe opened #390 "CT Designed API changes detected, please roll them back or revise the reference API"
This issue has been in CT since about the time https://github.com/phetsims/QA/issues/657 was made, as pointer out by @pixelzoom on Slack. After a brief discussion with @kathy-phet we decided to hold on the rest of that RC until this could be looked at.
[code]

[2021-06-23 15:26] samreid commented on #390
I committed an update to master to update the referenceAPI with the new version number.  This doesn't cause any problems for the RC.  The reason the version appears in the API file is discussed in https://github.com/phetsims/gravity-and-orbits/issues/386.  This issue seems safe to close.

[2021-06-23 18:03] stemilymill opened #391 "No max width of mass labels"
Test device
Dell
Operating System
Win 10
Browser
Chrome
Problem description
For phetsims/QA#657.
In the To Scale screen, long strings do not scale down in the mass labels, causing the labels to become very wide.

Steps to reproduce
1. Add the long string query parameter
2. Select the Mass checkbox (Third down)

![image](https://user-images.githubusercontent.com/85511101/123145162-8b8e3600-d42a-11e

[2021-06-23 18:52] KatieWoe opened #392 "Restart scene buttons may not be included in state"
**Device**
Dell
**OS**
Win 10
**Browser**
Chrome
**Problem Description**
For https://github.com/phetsims/QA/issues/657. Since this is likely unintended user behavior it may not be worth addressing, but it does seem odd.
When a scene reset button is visible (enabled or not) on a non-active scene, and the sim is launched/saved, the resulting sim does not have those buttons visible.
**Visuals**
![not

[2021-06-23 18:58] pixelzoom commented on #390
Reopening.

@samreid said:

That issue doesn't tell me much. Is this the API version or the sim version? It was originally named `simVersion`.  But in phet-io/api/natural-selection.json, I see:

[code]

... which does not match the sim version at all.

What are the semantics of `version`?  When does it need to be updated? How is it updated?

[2021-06-23 20:04] pixelzoom commented on #390
To help me understand "version", I'd also be interested in knowing:
* Why did this problem occur for GAO?
* Why did it occur around the time of publishing the RC?
* Why did you need to manually update version to 1.6.0-dev.0?  Should that have been done by build tools?
* If version matches package.son for GAO, why is that not the case for Natural Selection?

[2021-06-23 20:05] stemilymill opened #393 ""Planet" label disappears when mass is increased and zoomed in"
Test device
Dell
Operating System
Win 10
Browser
Chrome
Problem description
For phetsims/QA#657
In the planet-moon scene, if the planet mass is 1.25 earths or greater, the "Planet" label disappears when zoomed in, comes back when zoomed out again.

Steps to reproduce
Go to the second screen
Go to the planet-moon scene
Increase planet mass to 1.25 Earth masses or greater
Zoom in until "Planet" labe

[2021-06-23 20:29] KatieWoe opened #394 "Moving zoom slider or launching reenables zoom buttons"
**Device**
Dell
**OS**
Win 10
**Browser**
Chrome
**Problem Description**
For https://github.com/phetsims/QA/issues/657..
When zoom buttons are disabled, but the zoom slider is not, moving the slider reenables the buttons. Using the buttons while the slider is disabled does not seem to reenable the slider.
**Visuals**
![dragrenables](https://user-images.githubusercontent.com/41024075/123163404-ed50

[2021-06-23 22:27] arouinfar opened #395 "All instances of velocityVectorNode.inputEnabledProperty should be phetioReadOnly: false"
For https://github.com/phetsims/QA/issues/657

@KatieWoe asked me on Slack:

Over in #318 `velocityVectorNode.pickableProperty` were made phetioReadOnly: true, and then reverted back to false (the original request was an error on my part). Perhaps conversion over to inputEnabledProperty accidentally made these read-only again? I couldn't find an issue related to the conversion, though.

@samreid p

[2021-06-23 22:32] KatieWoe commented on #395
For additional context, I thought of this in the context of the client request to make objects unmovable. You can do that, but you can still alter that object path through it's velocity.

[2021-06-23 22:38] arouinfar commented on #392
Well, that's a bit whacky, but I am unable to reproduce on my device. Here's what I tried:

1. Open the rc in studio
2. Search for "SceneResetButton.visibleProperty", and set the first result (belonging to the planet moon scene) to true, and we'll now see 2 scene reset buttons:
![image](https://user-images.githubusercontent.com/8419308/123176648-111ce080-d441-11eb-9445-2691d00d972c.png)
3. Preview

[2021-06-23 22:40] KatieWoe commented on #392
That's odd. If someone wants to pair to work it out let me know.

[2021-06-23 22:48] arouinfar commented on #391
@samreid it seems like an oversight that the mass labels don't have a maxWidth. I checked a few different locales, and I'm not seeing anything too crazy in the published version. The strings can be fairly long, even in English. For example, here's the mass label on the planet in the Planet/Satellite scene:
![image](https://user-images.githubusercontent.com/8419308/123177002-b20b9b80-d441-11eb-9429

[2021-06-23 22:51] arouinfar commented on #389
Nice catch @KatieWoe. Users might find it annoying that they cannot zero out the velocity without resetting the scene. @samreid can you snap the velocity to zero if its size goes below the current minimum?

[2021-06-23 23:24] loganbraywork opened #396 "Freeze on ChromeOS when leaving preview HTML"
### Test Device

Chromebook

### Operating System

Chrome OS 81.0.4044.141

### Problem Description

For https://github.com/phetsims/QA/issues/657

Studio freezes on ChromeOS when returning from Preview HTML

### Visuals

https://user-images.githubusercontent.com/54685448/123179998-afac4000-d447-11eb-9e6c-d6162109c802.MOV

[2021-06-24 18:20] KatieWoe commented on #396
I tried to reproduce this on Win 10 Chrome and on my Chromebook. @loganbraywork can you do a few things? First can you reproduce this while looking at the console and see if any errors show up? Second, can you check for updates on the device, my Chromebook is around version 90. If it can be updated, please do so and see if you can reproduce this after that.

[2021-06-24 20:10] KatieWoe opened #397 "Lines can appear on ipad when dragging objects around"
**Device**
iPad 6th Gen
**OS**
iPadOS 14.6
**Browser**
Safari
**Problem Description**
For https://github.com/phetsims/QA/issues/657. Seen in phet-io wrappers that use small iframes, such as state.
Dragging around objects leaves artifacts and lines that may or may not linger when you let go of the object.
**Visuals**

https://user-images.githubusercontent.com/41024075/123325344-281d0a80-d4f5-11eb-9

[2021-06-24 20:40] KatieWoe opened #398 "Example HTML on Safari is all on one line"
**Device**
iPad 6th Gen
**OS**
iPadOS 14.6
**Browser**
Safari
**Problem Description**
For https://github.com/phetsims/QA/issues/657. Also seen on Mac Safari.
The example html is all on one line in safari, making impossible to read and at least difficult to copy. Not on Win 10 Chrome.
**Visuals**
![88E6B264-7F1C-49F8-B1FD-503FFFBD5A38](https://user-images.githubusercontent.com/41024075/123329037-94

[2021-06-24 20:43] KatieWoe commented on #398
This happens is https://github.com/phetsims/QA/issues/662 too. Assigning @pixelzoom so he is aware.

[2021-06-24 21:00] loganbraywork commented on #396
So no errors appeared in the console when I attempted to reproduce on the older version, although the issue still appeared, but when I updated it the issue seems to have resolves itself

[2021-06-25 03:49] samreid commented on #398
I reproduced the problem and identified that it was introduced in https://github.com/phetsims/studio/issues/219.  I tried a newer version of highlight.js but it had the same error modes.  We do need line commenting for the feature in https://github.com/phetsims/studio/issues/219.  There just is not much paper trail on line breaks in highlight.js, so I tried prism.js and it is highlighting all case

[2021-06-25 18:34] KatieWoe commented on #396
Even though this seems fixed by updating the device I'm assigning @pixelzoom as well in case this is important for https://github.com/phetsims/QA/issues/662

[2021-06-26 00:18] arouinfar commented on #325
Updated tips have been uploaded, closing.

[2021-06-26 00:18] #325 closed

[2021-06-26 15:25] samreid commented on #396
Good discovery, and it is good to know the problem resolved when updating the device.  Let's reopen if we see this problem again, or can easily reproduce it on another platform.

[2021-06-26 15:25] #396 closed

[2021-06-27 22:16] samreid commented on #398
A proposed fix is up for testing in https://github.com/phetsims/studio/issues/234

[2021-06-27 22:46] samreid commented on #389
Proposed fix is in the commit, @arouinfar and/or @KatieWoe can you please test in master in a few scenes in a few zoom levels?

[2021-06-27 22:52] samreid commented on #393
Apparently the label is only supposed to show if the view diameter of the body is below a certain threshold, as seen in https://github.com/phetsims/gravity-and-orbits/issues/243.  Changing the mass or zoom level can change the view diameter.  So, even though this seems odd in this case, perhaps it is by design.  @arouinfar can you please comment?

[2021-06-27 23:00] samreid commented on #394
The code that causes the behavior is this:

[code]

`link` runs on startup and when the property changes.  @arouinfar would you like to solve this problem by making the button enabledProperty phetioReadOnly, and encourage users to make the buttons invisible if they shouldn't be used?

[2021-06-27 23:08] samreid commented on #395
I removed the override in VelocityVectorNode that was setting the inputEnabledProperty to phetioReadOnly: true.  @arouinfar can you please review?

[2021-06-27 23:14] samreid commented on #397
I was unable to reproduce it on my iPad 7 running iOS 14.4.1.  I tried the built RC on phet-dev, and I tried at portrait and landscape in the state wrapper.  I didn't see any graphical artifacts.  Therefore, it seems this problem is platform or device specific, only occurs in rare circumstances and does not seem to have a detrimental pedagogical aspect.  Therefore, I don't think this needs to bloc

[2021-06-28 17:40] arouinfar commented on #389
Thanks @samreid! Looks good in master across a variety of scenes and zoom levels.

[2021-06-28 17:58] arouinfar commented on #393
@samreid let's bump up the diameter threshold up to 12.  In local testing, I'm unable to dismiss the label on the bodies in the To Scale screen by zooming, and the behavior still looks good on the Model screen.

[2021-06-28 18:02] samreid commented on #393
I increased the threshold to 12, can you please review?

[2021-06-28 18:11] arouinfar commented on #394
I don't think this is a reasonable customization, and I'm not bothered by the odd outcome.

One of the client requests is to [set the zoom level and disable or hide it](https://github.com/phetsims/phet-io-client-guides/blob/master/gravity-and-orbits/client-requests.md#set-the-zoom-level-and-disable-or-hide-it), and we instruct them to disable each part of the zoom control.  A better user experienc

[2021-06-28 18:28] arouinfar commented on #395
🤦🏻‍♀️ Not sure how that ended up in the phetioFeatured overrides, but thanks for fixing it @samreid.

I seem to recall the circled v at the tip of the vector disappearing when it's no longer interactive. Perhaps it was around during the days of `pickableProperty`? I tried to find an old dev version to confirm, but I didn't have any success finding a version where the `velocityVectorNode.pickablePr

[2021-06-28 18:30] arouinfar commented on #393
Thanks @samreid, looks good.

[2021-06-28 18:34] KatieWoe commented on #389
Very minor thing, but may be worth noting @arouinfar, some of the items start with very small, but non-zero, velocities that will then jump to zero. I do think this is better though.
![smallnonzero](https://user-images.githubusercontent.com/41024075/123686624-388ef700-d80d-11eb-91ec-24fff5d601bf.gif)