[2013-09-05 17:49] pixelzoom opened #1 "missing images/license.txt and assets/"

[2013-11-11 03:33] samreid opened #20 "Model inconsistencies?"
I noticed that in the original Java Gravity and Orbits, the Moon goes around the Earth about 12 times per year.  However, it should be closer to 13.3 times (I think).  The HTML5 version shows about 13 rotations per year.  I am just wondering if there are some model inconsistencies between the versions and if they could cause any problems.  I'm attaching a screenshot that shows the difference in th

[2014-01-08 18:11] samreid opened #71 "Try rendering the path in canvas, and fading the tail by drawing a partially transparent black over the tail."
An idea from @jonathanolson for how to improve performance from when the tail is drawn & erased.  Try rendering the path in canvas, and fading the tail by drawing a partially transparent black over the tail.

[2014-01-08 18:24] samreid opened #73 "Use pooling and setVisible for the path segments"
One option to improve performance when drawing the path trace, would be to pool and reuse lines, and setVisible instead of add/remove child.

[2014-01-13 22:36] phet-steele opened #80 "Letters jump around in Firefox"
Test device: Lenovo Z585

Operating System: Windows 8 64-bit

Browser: Firefox 26

Problem description: The letters in the sim jump around while it is running in Firefox. This is most obvious while playing the sim with an increased planet size in the Planet+Star orbit of the Cartoon scene. However, the letters STOP jumping when the velocity vectors are turned on, then revert back to jumping when t

[2014-01-14 16:01] samreid opened #81 "Performance drops when the "velocity" arrow + text goes offscreen on iPad3"
Performance drops when the "velocity" arrow + text goes offscreen.

To reproduce the problem:
1. Get out your iPad3 (or perhaps other versions of iPad)
2. launch:
http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.0.0-dev.12/gravity-and-orbits_en.html
3. Choose "cartoon" scene.
4. Turn on "velocity" vectors
5. Press play.

Notice the motion becomes choppy when the vector tip goes o

[2014-01-16 21:18] phet-steele opened #83 "Making the Cartoon scene more cartoon like"
Trish and I thought that it might be best to either change the name of the "Cartoon" scene to something that better states that's it's not to scale, or to make the images in that scene more cartoon like and less realistic. We thought it might be somewhat confusing to show the Earth and Moon orbiting so close to each other when it wasn't actually what happens. Maybe make it just a colored ball? Is

[2014-01-21 16:40] samreid opened #84 "Decrease Garbage Collections"
Garbage collections still happening noticeably frequently on iPad3, can that be improved?

[2014-03-25 16:16] samreid opened #89 "Small arrow behavior should match the original."
In the original Java version, the smallest an velocity arrow can be shown is like so:

![arrow](https://f.cloud.github.com/assets/679486/2514381/77557cbc-b438-11e3-91b3-e0b4d017bea1.png)

In the latest HTML5 version, the arrows can get much smaller, and are much wider than the Java version:

![arrow2](https://f.cloud.github.com/assets/679486/2514405/a500a89e-b438-11e3-9754-24585c6d3543.png)

Can t

[2014-07-30 19:35] orejolaphet opened #110 "The orbital path disappear rather than fade away."
I compared the Java sim to 1.0.0-dev.17, and there is a difference between the two with how the older part of the path is removed. The Java sim has a fade where the tail becomes more translucent then disappears, where as the dev.17 version has the tail just vanish.

[2014-08-04 19:49] bryo5363 opened #116 "Poor rendering of zoom slider in Windows 7 32 bit Chrome in iFrame"
![grav and orbits](https://cloud.githubusercontent.com/assets/7717368/3802551/5b915aec-1c10-11e4-8105-c2775f7cce12.png)

As you can see, the slider looks different than in other browsers. Only happens in iFrame

Chrome 36.0.1985.125

[2014-08-05 15:28] bryo5363 opened #117 "Poor rendering of icons on iPad iFrame mode"
![image](https://cloud.githubusercontent.com/assets/7717368/3813658/12ff2552-1cb5-11e4-92a5-70d0120561bb.jpg)

Pretty clear in the picture above.

iPad 7.1 running Safari 7

[2014-08-05 15:41] bryo5363 opened #118 "Performance on iPad is decreased when accessing path and vectors."
The simulation runs slower when most of the buttons are accessed. The most noticeable performance issue is running the sun moon and earth mode with the path accessed as well as the vectors.

[2014-08-12 19:50] bryo5363 opened #122 "Sharp turns cause rough and choppy path tracings"
Creating an extremely elliptical orbit causes the rendering of the paths to be choppy. Below is an example of a very sharp orbit with choppy rendering.

![screenshot 2014-08-12 13 42 41](https://cloud.githubusercontent.com/assets/7717368/3896596/c1147f1c-2259-11e4-9c8f-2a6b1fb4f284.png)

Tested on Chrome 36.0.1985.143 on OSX 10.7.5

[2014-08-14 18:58] bryo5363 opened #123 "Earth Moon and Sun runs slow in Firefox"
Steps to reproduce
-Open any sim mode
-click on earth moon and sun
-click path. press play
-let the earth and moon make one revolution around the sun
-the objects will revolve slower. even clicking fast forward will not really improve speed.

[2014-08-15 16:02] bryo5363 opened #124 "Dragging a planet with path on creates a strange path"
Steps to reproduce
-Open sim, either cartoon or to scale will work
-Use any mode. For the screenshot I used earth moon and sun because the celestial objects are easier to grab.
-Turn on path
-While objects are in motion, drag a planet (or moon) to some location on the screen.
-A strange path will be produced.

![screen shot 2014-08-15 at 9 59 42 am](https://cloud.githubusercontent.com/assets/77173

[2014-08-18 15:31] samreid opened #125 "Use new measuring tape from scenery-phet"
Once https://github.com/phetsims/scenery-phet/issues/68 is implemented, Gravity and Orbits should use it.

[2014-08-18 18:26] orejolaphet opened #126 "Measuring tape inconsistent/ incorrect scale."
Tested 1.0.0-dev.19
This is a HTML 5 and Java inconsistency issue https://github.com/phetsims/gravity-and-orbits/issues/20

Checking between the "to scale scenes" between Java and the HTML 5, and the scale of the measuring tape to the grid shows discrepancy between the two.

On both scenes the major objects of interest are each on their own point on the grid (distance of 2 blocks), but the measuri

[2014-08-18 19:02] orejolaphet opened #127 "Functionality of the 'rewind' button?"
In the HTML 5 1.0.0-dev.19 the rewind button has different possible responses.
Related to issue https://github.com/phetsims/gravity-and-orbits/issues/20

Case 1:
'rewind' button returns orbit to original starting positions.
This always occurs on the Java Version.

Case 2:
'rewind' button returns orbit to the point in time the 'pause' button was hit last.
This does not occur on the Java Version.
To

[2014-08-18 20:15] orejolaphet opened #128 "There exists no boundary for the location of the tape measure."
Tested 1.0.0-dev.19

There exists no boundary for the location of the tape measure, thus you can drag the tape measure to a position hidden by the bottom scene selection bar.

[2014-08-18 21:13] orejolaphet opened #129 "Earth's small orbit in the Earth and Moon view is choppy"
Tested 1.0.0-dev.19
Earth's small orbit around the center of mass is very choppy in the earth and moon orbit. Seems like it is being displaced by a few pixels at a time. Does not look nearly as smooth as the subtle circular path on the java version.

[2014-08-19 14:37] bryo5363 opened #130 "Poor rendering of sim"
tested on dev.19. Upon opening the sim I noticed poor rendering of all of the icons.
![screen shot 2014-08-19 at 8 20 14 am](https://cloud.githubusercontent.com/assets/7717368/3967553/63e20d6e-27ae-11e4-940a-3935cfc09e41.png)

[2014-08-19 14:45] bryo5363 opened #131 "Simulation will remain zoomed out after pressing refresh."
This is quite a strange issue because I initially noticed it on IE9 but not when I tested on Chrome 36.0.1985.143.

Essentially the simulation will remain zoomed out after pressing the smaller refresh button next to the orbital mode.

Steps to reproduce
-open sim
-slide the zoom slider to the minimum position
-press the refresh button next to the orbital mode
-the sim will remain zoomed out. even

[2014-08-19 15:12] bryo5363 opened #132 "Sometimes it is easy to shoot planet out of orbit"
I noticed this behavior on the Java version as well, which is why I am labeling this as a question. Basically moving an object that another celestial body is orbiting can cause the orbiting body to be shot out of orbit. I assume this is replication of escape velocity but occasionally this behavior is quite dramatic. I will make a screencast of this behavior.

https://drive.google.com/file/d/0B7WUa

[2014-08-19 17:19] orejolaphet opened #133 "Inconsistent behavior with modified orbits."
Tested 1.0.0-rc.14

Strange bug where if you bring two objects close together and keep using the 'rewind' button the behavior afterwards is inconsistent. ie. the sun very close to earth in the 'To Scale' screen produces different orbital trajectories after each time 'rewind' has been hit.

To Reproduce:
-Open Sim
-Select "To Scale"
-Bring the sun very close to earth
![1](https://cloud.githubuserco

[2014-08-19 17:43] orejolaphet opened #134 "Names of objects remain in the location of their destruction after hitting rewind."
Tested 1.0.0-dev.19
May be related to issue https://github.com/phetsims/gravity-and-orbits/issues/111

Names of objects remain in the location of their destruction after hitting rewind. For this to occur the sim must be playing during the collision then paused afterwards.

To Reproduce:
-Open sim to "To Scale" scene
-Hit Play
-Destroy one or more of the objects by dragging them to the center objec

[2014-08-23 16:33] aaronsamuel137 opened #136 "Sim speed affects the way the trail dissolves in java version but not HTML5"
If you watch the planet path dissolving in the Java sim when the sim is running at different speeds, it changes the length of the path before it dissolves. When the sim is running faster the path is longer, when slower it is shorter. In the current master branch of the HTML5 version the path is always a constant length regardless of speed.

Which behavior is desired? Right now the "canvas" branch

[2014-10-01 16:17] samreid opened #137 "Investigate WebGL"
I marked a number of issues that may be resolved when using WebGL for rendering.  We should probably work in a branch until we determine whether WebGL is a viable strategy at this time, for this sim.

[2014-10-01 16:39] samreid opened #138 "Investigate a rewrite"
@aaronsamuel137 and @samreid have noted numerous pervasive issues in the code that make it very difficult to navigate/read/refactor/debug/enhance/optimize/etc, and we would like to investigate a clean rewrite in a branch "rewrite".  We'll just spend a little time on it now to get an estimate of how long it would take to do the entire sim from scratch.  Also, note this Java sim is 4496 total lines

[2015-02-24 00:58] pixelzoom opened #139 "sim fails when a screen is selected"
This is with master, all platforms. Start the sim in requirejs mode, select one of the screens, and you'll see a bunch of errors in the console, see screenshot below. The sim is dead at this point.

![screenshot_471](https://cloud.githubusercontent.com/assets/3046552/6341219/798dadb0-bb85-11e4-89dd-ab28ffec1836.png)

[2015-03-03 21:56] pixelzoom commented on #139
This is still a problem, guessing it's scenery related, assigning to @jonathanolson.

[2015-03-03 23:28] jonathanolson commented on #139
I can't even get to that point, the setTranslation() in MassMenu (line 46) triggers an assertion before that, and may be the cause of this problem.

I'm reassigning to @aaronsamuel137, I'm not sure how much of the code we're planning on keeping (and how much effort should be put into ironing this out).

[2015-03-04 17:46] aaronsamuel137 commented on #139
I've merged in the direct port branch to master. This issue no longer happens now - though much of the view remains to be ported still.

[2015-03-04 17:49] aaronsamuel137 commented on #139
Closing this issue since the sim launches now. GAO still needs a lot of work before it is ready to be tested.

[2015-03-04 17:49] #139 closed

[2015-03-08 17:54] pixelzoom opened #140 "Properties should have `Property` suffix"
Examples of anti pattern:

RewindableProperty: this.different = new Property( !this.equalsRewindPoint() );
GravityAndOrbitsMode: this.zoomLevel = new Property( 1.0 );
GravityAndOrbitsMode: this.active = new Property( active );

[2015-03-11 04:50] samreid commented on #138
I think @aaronsamuel137 is going to be the lead on this, when time allows (correct me if I'm wrong).

[2015-03-11 14:37] aaronsamuel137 commented on #138
I've been working on this. At this point, the rewrite branch has been merged into master and most files are ported.

[2015-03-25 21:02] pixelzoom commented on #140
I believe that @aaronsamuel137 is now responsible for this repo, and that there may be some rewriting involved. So assigning to him to handle this.

[2015-03-31 20:21] pixelzoom opened #141 "branch: canvas"
Please describe or delete if no longer necessary.

[2015-03-31 20:21] pixelzoom opened #142 "branch: rewrite"
Please describe or delete if no longer necessary.

[2015-03-31 20:21] pixelzoom opened #143 "branch: velocity-half"
Please describe or delete if no longer necessary.

[2015-03-31 22:11] aaronsamuel137 commented on #141
No longer necessary. Deleted.

[2015-03-31 22:11] #141 closed

[2015-03-31 22:12] aaronsamuel137 commented on #142
Merged into master. Deleted.

[2015-03-31 22:12] #142 closed

[2015-04-07 19:16] aaronsamuel137 opened #144 "Performance issues in Java port"
Most of the Java port is done, but performance is currently horrible. This is issue is for tracking commits related to performance optimizations.

[2015-04-07 19:20] samreid commented on #144
Before spending a lot of work on micro-optimizations, it would be great to (a) quantify the performance on an iPad platform and (b) try rendering the animating objects using WebGL (or simply commenting them out) to see if that buys enough CPU to make the sim run smoothly.  I have encountered situations where the benefit from using WebGL vastly outweighed any micro optimization, reducing garbage co

[2015-04-19 18:31] bereaphysics commented on #144
The benefit of WebGL would be minimal. The source of the problems lies in the model. The way the simulations goes about finding the new positions is too simplistic.
For reasons that are not very clear to me, the positions for the next time step are requested with a very large precision. The way the model goes about finding the positions with a high precision is to used a not very precise algorithm

[2015-04-19 18:38] bereaphysics commented on #144
This paper explains it.
http://www.sciencedirect.com/science/article/pii/0375960190900923

The authors work out the 4th, 6th and 8th order algorithms.  I can help you parse the paper since it is written with Poisson Bracket notation, which you are unlikely to be familiar with.

[2015-04-19 18:45] bereaphysics commented on #144
This paper
http://arxiv.org/pdf/cond-mat/0110585v1.pdf
uses a notation that is a bit more conventional. Equation 22 shows the algorithm.

[2015-04-20 21:19] bereaphysics commented on #125
Gravity and Orbits is making use of the Scenery-Phet measuring tape. closing

[2015-04-20 21:19] #125 closed

[2015-04-28 16:25] pixelzoom opened #145 "gravity-and-orbits fails lint"
Many errors when running "grunt lint".

[2015-04-28 21:39] aaronsamuel137 commented on #145
Should be passing lint now, though still a lot of work needed overall. Assigning to @pixelzoom for review.

[2015-04-28 21:42] pixelzoom commented on #145
Passes lint, closing.

[2015-04-28 21:42] #145 closed

[2015-04-30 17:07] aaronsamuel137 opened #146 "Should teacherMode and whiteBackgroundProperty be stripped from the Java port"
teacherMode and whiteBackgroundProperty are both features in the Java code that were not present in the MLL port. Should I strip these totally out of the new direct port?

Not sure who I should ask. @samreid, I think you were involved in the original Java. @ariel-phet, any thoughts on this?

[2015-04-30 17:08] samreid commented on #146
Would also be good to ask @jonathanolson since I recall he created some view options for molecule shapes. (if I recall correctly)

[2015-05-04 16:46] ariel-phet commented on #146
Hmm, we probably want to keep these...we often refer to these more modernly as "projector mode" - when you have a classroom that is bright, it can sometimes be difficult to project sims with a black background (since black is not a "projected" color, but just the absence of color), so as a general policy we have had a projector mode for black background sims. @bereaphysics also did a nice job with

[2015-05-04 16:50] jonathanolson commented on #146
See GlobalOptionsNode in charges-and-fields or molecule-shapes for an example. You can also view either of those sims for an example of how to change color schemes (which could use some standardization and code-sharing if you're up for it).

[2015-05-06 01:13] aaronsamuel137 commented on #146
I've added a GlobalOptionsNode in a way that is similar to molecule-shapes. However, I didn't create a GravityAndOrbitsColors file modeled after MoleculeShapesColors. Is this the recommended approach? With a direct port, it is easier to just leave things as they are, and switch the colors with the "whiteBackgroundProperty". Any thoughts on this @jonathanolson? Perhaps we could also bring it up in

[2015-05-06 05:14] jonathanolson commented on #146
I had to change almost every color in my sim, so it was by far the easiest to work with color properties (and have the switch change the color properties). Additionally, the boolean was insufficient since there are (currently) three color profiles for Molecule Shapes (and Basics).

I'd probably personally opt towards that same method in the future, since it's quite extensible easily (need to add a

[2015-05-07 15:09] aaronsamuel137 commented on #144
Some performance metrics with the two algorithms:

|                 | Current algorithm | new algorithm |
--------------|--------------------------|--------------------|
Chrome Mac laptop (everything on) | 47fps               | 60 fps            |
iPad mini (everything on) | 15 fps | 15-20 fps |
iPad mini (everything off) | 30 fps | 30 fps

Visibly, it is difficult to notice too much difference b

[2015-05-07 18:08] bereaphysics commented on #144
While doing some testing for correctness, i mistakenly committed this

https://github.com/phetsims/gravity-and-orbits/commit/135f9285ea59704d3dd63b4ea4ea073efeb42e40

[code]

this should be reverted. 1 / SMOOTHING_STEPS does as well as 40 / SMOOTHING_STEPS

[2015-06-25 15:00] pixelzoom opened #147 "replace toFixed with dot.Util.toFixed"
This sim uses JavaScript's built-in toFixed. This function should not be used directly; it is notoriously buggy, and behavior differs depending on browser, because the spec doesn't specify whether to round or floor. Use dot.Util.toFixed, see its doc for details.

[2015-07-14 21:08] pixelzoom opened #148 "invalid aspect ratio for screen icons in navbar"
Screen icons for the navbar must have the same aspect ratio as either Screen.NAVBAR_ICON_SIZE or Screen.HOME_SCREEN_ICON_SIZE. See phetsims/joist#263 (comment). This sim does not, and fails when assertions are enabled.

[2015-07-15 16:11] aaronsamuel137 commented on #148
Fixed. Assigning to @pixelzoom for review.

[2015-07-15 16:23] pixelzoom commented on #148
Visually inspected commit, looks good. I'll assume you tested with ?ea. Closing.

[2015-07-15 16:23] #148 closed

[2015-07-21 19:37] samreid commented on #1
We are still missing several AI files here.

[2015-07-21 19:41] samreid commented on #1
I added an AI file from piccolo-phet for the measuring tape in https://github.com/phetsims/gravity-and-orbits/commit/1d1e79666cd636073a40d093ca1f555c0385b5ad

[2015-07-21 21:03] samreid opened #149 "Check licenses for NASA images"
Here we are using some images from 3rd parties:

https://github.com/phetsims/tasks/issues/274

The notes say:

and

Paraphrasing what is relevant to our situation:

NASA still images [...] generally are not copyrighted.  You may use NASA imagery [...] for educational or informational purposes, including  [...] computer graphical simulations [...]

NASA should be acknowledged as the source of the m

[2015-07-22 04:17] samreid commented on #149
NASA should be properly attributed based on the work in https://github.com/phetsims/chipper/issues/171, closing.

[2015-07-22 04:17] #149 closed

[2015-07-22 15:57] aaronsamuel137 commented on #1
At some point measuring tape migrated to scenery-phet, so it is not needed here anymore. I have updated the image path to use the scenery-phet measuring tape and gotten rid of the png and ai file.

[2015-08-13 03:32] pixelzoom opened #150 "branch: exponentialDecompositionAlgorithm"
Please describe this branch, what it's purpose is, when it is anticipated that it will be delete or merge into master.

[2015-08-14 16:07] aaronsamuel137 commented on #150
This a branch created by @phetsims/bereaphysics that uses a potentially more efficient algorithm for the model steps.

I anticipate it will be merged in to master when I have time to work on GAO again. I am currently not sure how to verify that all the behavior is still correct with this algorithm.

[2015-09-14 22:23] aaronsamuel137 commented on #146
I've replaced whiteBackgroundProperty with the new color profile pattern. Closing

[2015-09-14 22:23] #146 closed

[2015-09-14 22:32] aaronsamuel137 commented on #147
Fixed. Assigning to @pixelzoom for review.

[2015-09-14 23:00] pixelzoom commented on #147
Skimmed the commit, looks good, closing.

[2015-09-14 23:00] #147 closed

[2015-09-15 17:00] aaronsamuel137 commented on #140
This has been addressed incrementally as the port progressed, so not every commit is here. Searching for "new Property" reveals that there are no longer cases of the anti pattern.

Assigning to @pixelzoom for review.

[2015-09-15 17:11] pixelzoom commented on #140
I'll take your word for it :)

Closing.

[2015-09-15 17:11] #140 closed

[2015-09-18 16:00] aaronsamuel137 commented on #134
Pre-rewrite issue, so very likely doesn't apply anymore. Closing

[2015-09-18 16:00] #134 closed

[2015-09-18 16:01] aaronsamuel137 commented on #133
Not an issue in the rewrite, closing

[2015-09-18 16:01] #133 closed

[2015-09-18 16:04] aaronsamuel137 commented on #131
The behavior here currently matches the Java. Closing

[2015-09-18 16:04] #131 closed

[2015-09-18 16:05] aaronsamuel137 commented on #129
Pre-rewrite issue, so very likely doesn't apply anymore. Closing

[2015-09-18 16:05] #129 closed

[2015-09-18 16:06] aaronsamuel137 commented on #128
Fixed in rewrite. Closing

[2015-09-18 16:06] #128 closed

[2015-09-18 16:11] aaronsamuel137 commented on #136
Path behavior seems good to me in the rewrite, so closing this issue. If testers or designer want the path behavior changed they can create an issue with the behavior they want.

[2015-09-18 16:11] #136 closed

[2015-09-18 16:13] aaronsamuel137 commented on #124
Pre-rewrite issue, so very likely doesn't apply anymore. Closing

[2015-09-18 16:13] #124 closed

[2015-09-18 16:14] aaronsamuel137 commented on #126
Fixed in rewrite, closing

[2015-09-18 16:14] #126 closed

[2015-09-18 16:14] aaronsamuel137 commented on #123
Pre-rewrite issue, so very likely doesn't apply anymore. Closing

[2015-09-18 16:14] #123 closed

[2015-09-18 16:16] aaronsamuel137 commented on #122
Not an issue in rewrite. Closing

[2015-09-18 16:16] #122 closed

[2015-09-18 16:17] aaronsamuel137 commented on #118
In rewrite, the path and vectors don't seem to be the biggest performance issues, so I'll close this here and let testers open new performance issues if they arise.

[2015-09-18 16:17] #118 closed

[2015-09-18 16:18] aaronsamuel137 commented on #117
If this is still an issue, we could presumably solve it with mipmap images.

[2015-09-18 16:21] aaronsamuel137 commented on #127
Rewind functionality matches the Java in the rewrite. Closing.

[2015-09-18 16:21] #127 closed

[2015-09-18 16:22] aaronsamuel137 commented on #110
Matches the Java now. Closing

[2015-09-18 16:22] #110 closed

[2015-09-18 16:22] aaronsamuel137 commented on #89
ArrowNode takes care of this now. Closing

[2015-09-18 16:22] #89 closed

[2015-09-18 16:23] aaronsamuel137 commented on #84
Pre-rewrite issue, so very likely doesn't apply anymore. Closing

[2015-09-18 16:23] #84 closed

[2015-09-18 16:24] aaronsamuel137 commented on #81
Pre-rewrite issue, so very likely doesn't apply anymore. Closing

[2015-09-18 16:24] #81 closed

[2015-09-18 16:28] aaronsamuel137 commented on #80
Can't reproduce this in the rewrite. I'l leave it open in case testers can.

[2015-09-18 16:46] aaronsamuel137 commented on #73
Path uses CanvasNode in the rewrite. Closing

[2015-09-18 16:46] #73 closed

[2015-09-18 16:46] aaronsamuel137 commented on #20
Not relevant is rewrite. Closing

[2015-09-18 16:46] #20 closed

[2015-09-18 16:50] aaronsamuel137 commented on #1
There was an ai file for the reset all button, which doesn't belong here. I removed it.

[2015-09-18 16:54] aaronsamuel137 commented on #1
We don't have ai files for:

- earth.gif
- moon.png
- space-station.png
- reset_arrow.png
- icon_path.png

Perhaps some of these never existed?

[2015-09-18 16:55] aaronsamuel137 commented on #71
Not an issue in rewrite, closing

[2015-09-18 16:55] #71 closed

[2015-09-18 17:04] aaronsamuel137 commented on #143
Deleted branch. We pre-rewrite.

[2015-09-18 17:04] #143 closed

[2015-09-18 18:41] aaronsamuel137 commented on #117
Used mipmap for icon images and verified better looking icons on Safari iFrame. Also changed earth.gif to be a png for consistency and so mipmap would work.

Closing

[2015-09-18 18:41] #117 closed

[2015-09-18 18:47] aaronsamuel137 commented on #130
Screen icons look a little better when mipmaped too. The only things that aren't mipmapped now are the path and mass icons. Not sure if they need to be.

[2015-09-18 18:55] aaronsamuel137 opened #151 "How should path be drawn when you drag a body?"
Currently, dragging a body with the path on creates a path like so:

<img width="404" alt="screen shot 2015-09-18 at 12 54 07 pm" src="https://cloud.githubusercontent.com/assets/3193912/9968198/5fb370e2-5e04-11e5-8cbd-2f17736a818a.png">

In the Java version this doesn't happen, it just creates a straight line after the moving is completed:

<img width="455" alt="screen shot 2015-09-18 at 12 55 11

[2015-09-18 18:57] aaronsamuel137 commented on #138
Rewrite is (mostly) done. Closing

[2015-09-18 18:57] #138 closed

[2015-09-18 20:42] pixelzoom commented on #1
Here's license.txt from the Java version:

[code]

[2015-09-18 22:53] samreid commented on #144
Here's a snapshot from the paper of the algorithm:

![image](https://cloud.githubusercontent.com/assets/679486/9972771/c6defc8e-5e25-11e5-978d-9b49d40f0646.png)

[2015-09-20 22:32] aaronsamuel137 commented on #151
After playing with the sim a bit, I decided the Java drag behavior is much better. Closing for now, feel free to reopen if you have a different opinion.

[2015-09-20 22:32] #151 closed

[2015-09-21 16:48] samreid opened #152 "Sun disappears after 8500 days"
While testing a number of things with @aaronsamuel137 I noticed that the sun disappeared sometime around 8500 days.  May be attributable to my numerous working copy changes for testing performance, but maybe something else.  We should just test cartoon mode+ sun/earth and see if it happens again.

[2015-09-21 17:27] phet-steele commented on #152
This was not occurring for me after ~35700 days in 1.0.0-experimental.2. Instead, the Earth was doing a sort of slow spiral that ended with the orbit getting smaller and smaller until crashing into the sun. Most likely a separate issue, will look further into this and 1.0.0-dev.21.

![gao](https://cloud.githubusercontent.com/assets/5863899/9999441/ad6a3bf8-6053-11e5-8962-03d721a145c7.gif)

[2015-09-21 17:48] phet-steele commented on #152
Neither of these issues are happening for me in 1.0.0-dev.21.

[2015-09-21 18:09] phet-steele opened #153 "Dragable bodies don't stop"
Currently differs from Java. Clicking and holding a celestial object with noticeable velocity will not hold it in place but instead make it very difficult to control as it continues to move:

1.0.0-dev.21 and 1.0.0-experimental.2:
![gao3](https://cloud.githubusercontent.com/assets/5863899/10000413/34d9a24a-6059-11e5-974f-5493dcb7356e.gif)

Java:
![gao2](https://cloud.githubusercontent.com/assets/5

[2015-09-21 21:13] aaronsamuel137 commented on #153
Good catch. I actually have already fixed this on master when addressing #151. Will be fixed on next dev release.

[2015-09-21 21:24] aaronsamuel137 commented on #144
Removing radial gradients for sun and unknown body nodes and replacing with images increased performance by quite a bit.

On my iPad mini, on the exponential algorithm branch, I was getting between 20-35 fps for just the earth orbiting around the sun. Without the radial gradients, I am getting between 25-55 fps.

In both cases the frame rate bounces around quite a lot for no apparent reason. There

[2015-09-21 22:36] phet-steele opened #154 "Experimental Death Spiral"
This issue was originally a comment in #152. In 1.0.0-experimental.2, the Earth/Sun and Earth/Moon/Sun orbits have the Earth slowly spiraling into the sun. I saw this in the cartoon orbits ONLY. This may very well be in the orbits on the To Scale screen, but may take billions upon billions of sim years to witness. Here is the end of the spiral, at around 35700 sim days:

![gao](https://cloud.githu

[2015-09-22 00:00] phet-steele opened #155 "Moon orbit grows in inaccuracy"
The Earth/Moon/Sun orbit in 1.0.0-dev.21 slowly becomes increasingly inaccurate, and generally by 3000 (with fast forward selected) sim days the moon collides with the Earth. It begins by correctly showing around 12 orbits of the moon for every year, followed by showing fewer and fewer orbits until collision. Comparatively, 1.0.0-experimental.2 does not grow more inaccurate (it matches the Java),

[2015-09-22 17:27] orejolaphet opened #156 "Return Object does not return moon"
Tested on http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.0.0-dev.20/gravity-and-orbits_en.html
and
http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.0.0-experimental.1/gravity-and-orbits_en.html

For both the Cartoon and To Scale scenes, if you manage to remove the moon from the play area the "return object" button is displayed but does not return the moon.

To

[2015-09-22 17:34] orejolaphet opened #157 "Grid does not span entire screen"
Tested http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.0.0-dev.20/gravity-and-orbits_en.html
On OSX 10.10.4

The large scale models, models that include the sun, when completely zoomed out the grid does not span entire screen.
<img width="1271" alt="screen shot 2015-09-22 at 11 31 12 am" src="https://cloud.githubusercontent.com/assets/5631059/10026258/e891dffe-611d-11e5-989c-1e1

[2015-09-22 17:34] aaronsamuel137 commented on #156
This is already fixed in http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.0.0-dev.21/gravity-and-orbits_en.html and http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.0.0-experimental.2/gravity-and-orbits_en.html

[2015-09-22 17:35] aaronsamuel137 commented on #156
Sorry if you weren't aware that this new versions were published. Closing

[2015-09-22 17:35] #156 closed

[2015-09-22 17:37] orejolaphet commented on #157
Issue still present in http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.0.0-dev.21/gravity-and-orbits_en.html

[2015-09-22 17:46] orejolaphet opened #158 "Gravity vector does not change direction when using rewind."
Tested http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.0.0-dev.21/gravity-and-orbits_en.html
and
http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.0.0-experimental.2/gravity-and-orbits_en.html

With the gravity vector selected, pausing sim and clicking rewind returns orbit to previous state but displays prior gravity vector.

To reproduce:
Turn on gravity vector

[2015-09-22 18:08] aaronsamuel137 commented on #158
This issue seems to be present in the Java sim too. Can you verify @orejolaphet?

[2015-09-22 18:13] aaronsamuel137 commented on #158
And it looks like the gravity force vectors correct themselves as soon as you hit play again.

[2015-09-22 18:18] aaronsamuel137 commented on #158
Looks like a pretty easy fix.

[2015-09-22 18:29] aaronsamuel137 opened #159 "Requirejs load errors in Safari"
The sim loads inconsistently in RequireJS mode on both iPad and OSX Safari. Here's a sample console output:

<img width="1122" alt="screen shot 2015-09-22 at 12 25 51 pm" src="https://cloud.githubusercontent.com/assets/3193912/10027627/4f683ed8-6125-11e5-82fb-9d1f12734f85.png">

The actual file that has a script error varies, it isn't always SubSupText.

[2015-09-22 18:41] aaronsamuel137 commented on #159
I suspected this might also be related to mipmaps like https://github.com/phetsims/scenery/issues/468. However, there is still an issue when all mipmaps are converted back to images:

<img width="1440" alt="screen shot 2015-09-22 at 12 39 24 pm" src="https://cloud.githubusercontent.com/assets/3193912/10027982/28a2b9ca-6127-11e5-99cc-1ad679de5029.png">

[2015-09-22 18:41] aaronsamuel137 commented on #159
Definitely looks like an issue with loading resources.

[2015-09-22 18:45] aaronsamuel137 commented on #159
Sometimes it works, but will take over 30 seconds to load, and sometimes it works normally with the expected load time of a few seconds.

[2015-09-22 18:50] aaronsamuel137 commented on #159
Reproduced similar load issues on iPad with Color Vision and on Safari in OSX with Charges and Fields.

Looks like this issue is probably not sim specific.

[2015-09-22 18:55] aaronsamuel137 commented on #159
OSX 10.10.5 and iOS 8.4.1

[2015-09-22 18:58] jonathanolson commented on #159
Are the requests timing out? That might be one cause.

[2015-09-22 19:49] aaronsamuel137 commented on #157
Fixed on master.

[2015-09-23 15:03] aaronsamuel137 opened #160 "Remove GAOStrings file"
All strings in this sim are currently in a a file GAOStrings. This was ported directly from the Java code, but does not match our HTML5 conventions. @samreid recommended getting rid of this file and following our HTML5 conventions.

[2015-09-23 15:03] aaronsamuel137 opened #161 "Remove Java style getters/setters"
Java style getters and setters should be replaced with public attributes.

[2015-09-23 16:22] aaronsamuel137 commented on #160
Removed the strings file and removed strings from the Java that never made it to the HTML5 version.

[2015-09-24 19:52] ariel-phet opened #162 "Investigate jerkiness in Earth orbit"
currently the sim is running at high frame rate (60 fps on my computer) so it seems like the earth motion around the sun should be buttery smooth but it seems a bit jerky.

[2015-09-24 20:02] aaronsamuel137 opened #163 "Projector Mode"
1. Change text in options to "Projector Mode"
2. Add panel background color to color profile

[2015-09-24 22:06] aaronsamuel137 commented on #160
Closing

[2015-09-24 22:06] #160 closed

[2015-09-28 15:31] bryo5363 opened #164 "Return object button does not work"
Test device: Acer Aspire R13

Operating System: Windows 10

Browser: Chrome latest version

Problem description: The return object button won't work once an object leaves orbit

Steps to reproduce:
open sim
to keep things simple use sun and earth
get earth to escape orbit
the button will appear. clicking on it will not return the object
Severity:

Screenshots:

Troubleshooting information (do not

[2015-09-28 15:35] aaronsamuel137 commented on #164
This version is buggy since I published in the middle of making some breaking changes so we could have something for design meeting.

If you are going to be testing, stick with experimental.2 and dev.21. Sorry about the confusion with all of these versions!

[2015-09-28 15:38] bryo5363 commented on #164
No worries thanks for the heads up!
On Sep 28, 2015 9:35 AM, "Aaron Davis" <notifications@github.com> wrote:

[2015-09-28 15:40] bryo5363 commented on #153
I think I found another issue related to this. I noticed that once an object crashes into a larger object (Earth crashing into Sun) the path for the crashed objects continues to animate.

[2015-09-28 17:24] bryo5363 opened #165 "Consider minimize button for menu?"
I believe adding a minimize feature to the orbit menu would benefit the user; when in 'To Scale' it is easy to displace the system by giving all objects some sort of velocity. The system sometimes will tend towards the right of the screen and in some instances gets blocked by the menu. By enabling some sort of minimization the user will be able to observe the orbits without any obstructions.

[2015-09-28 17:57] aaronsamuel137 opened #166 "Switch Java listeners pattern to triggers"

[2015-09-29 15:31] aaronsamuel137 opened #167 "Internationalize "V" string"
This is a TODO from the Java:

[code]

[2015-09-29 15:38] aaronsamuel137 commented on #167
Added a translatable string for "V". The TODO mentioned possibly trimming to one character. However, this is not really straightforward using our string plugin, possibly because of the embedding marks?

Logging vString.length yields 9 in requireJS mode and 3 in build mode, instead of the 1 that we'd expect.

@samreid, do you have any thoughts about whether trimming this to one char is necessary?

[2015-09-29 15:42] samreid commented on #167
Trimming to one char doesn't seem necessary.  Rather we should make sure it is obvious to translators how it will appear in the simulation and that brevity is valuable (through documentation/examples?), and perhaps scale the text to fit within the allowed space.

[2015-09-29 15:59] aaronsamuel137 commented on #167
Not sure where we will put this documentation/examples. I think Rosetta v2 will support things like hints, and that would probably be the place to put this.

Sounds like a good idea, I'll add scaling

[2015-09-29 20:49] orejolaphet commented on #158
Verified fixed in version http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.0.0-experimental.3/gravity-and-orbits_en.html

[2015-09-29 20:54] orejolaphet commented on #155
Moon orbit looks stable at 5000+ earth days on http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.0.0-experimental.3/gravity-and-orbits_en.html

[2015-09-29 21:02] aaronsamuel137 commented on #158
Great. Closing

[2015-09-29 21:02] #158 closed

[2015-09-30 15:40] bryo5363 opened #168 "Inconsistencies with clear and rewind"
I noticed some strange behavior with the Rewind button, especially when introducing the clear function

1) open sim
2) start the orbit for the Sun and Earth
3) after the sim runs for a few seconds, switch to the next orbit. let it run for a few seconds
4) switch back to the initial orbit. Press rewind.
5) the sim will start in it's initial position but the date will rewind to the time when you swi

[2015-09-30 22:39] aaronsamuel137 commented on #168
Both of these issues are present in the Java version too. @ariel-phet, are these something I should address?

[2015-10-01 14:57] ariel-phet commented on #168
@bryo5363 and @aaronsamuel137 I need to think about that one....I believe the "rewind" button is just to bring back to the same starting conditions....but that does seem confusing.

@arouinfar - thoughts on the above behavior? We might need to talk with @kathy-phet

[2015-10-06 22:07] aaronsamuel137 opened #169 "Merge exponential algorithm into master"

[2015-10-06 22:07] aaronsamuel137 commented on #169
Merge commit: 993d22cd92597aecd20fc08e0c8da6d398361312

[2015-10-06 22:08] aaronsamuel137 commented on #169
Merge commit: 993d22cd92597aecd20fc08e0c8da6d398361312

[2015-10-06 22:14] aaronsamuel137 commented on #150
Merged into master, see #169. Deleting the branch and closing this issue.

[2015-10-06 22:14] #150 closed

[2015-10-06 22:30] aaronsamuel137 commented on #167
Scaling added. Closing for now.

[2015-10-06 22:30] #167 closed

[2015-10-06 22:33] aaronsamuel137 commented on #164
Not a bug on master, closing

[2015-10-06 22:33] #164 closed

[2015-10-06 22:34] aaronsamuel137 commented on #155
Not an issue on the other branch, which has been merged into master now, so closing.

[2015-10-06 22:34] #155 closed

[2015-10-07 17:23] aaronsamuel137 commented on #152
Can't reproduce this. Assuming it was a fluke due to working changes and closing. We can reopen if it happens again.

[2015-10-07 17:23] #152 closed

[2015-10-07 17:26] aaronsamuel137 commented on #157
Closing

[2015-10-07 17:26] #157 closed

[2015-10-07 17:27] aaronsamuel137 commented on #153
Fixed the path issue too. Closing

[2015-10-07 17:27] #153 closed

[2015-10-07 17:28] aaronsamuel137 commented on #169
I mostly created this issue to track commits related to the merge. Since the merge is done, I'm closing for now.

[2015-10-07 17:28] #169 closed

[2015-10-07 17:29] aaronsamuel137 commented on #161
These are removed except in cases where they seem appropriate and/or do additional computations. Closing

[2015-10-07 17:29] #161 closed

[2015-10-07 17:42] aaronsamuel137 commented on #154
I can't reproduce this on current master. Perhaps it was fixed when addressing other issues?

<img width="1062" alt="screen shot 2015-10-07 at 11 40 32 am" src="https://cloud.githubusercontent.com/assets/3193912/10345629/4a599864-6ce8-11e5-8318-3b2d3158a95c.png">

Everything looks good at 36000 days.

I'm closing the issue. Feel free to reopen @phet-steele if you reproduce this again.

[2015-10-07 17:42] #154 closed

[2015-10-07 18:03] aaronsamuel137 commented on #166
Switched many cases like this to use trigger. Closing

[2015-10-07 18:03] #166 closed

[2015-10-07 19:19] aaronsamuel137 commented on #162
Assigning to @ariel-phet for review. See http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.0.0-dev.22/gravity-and-orbits_en.html

[2015-10-08 20:50] ariel-phet commented on #162
discussed at dev meeting, sounds like we want to use a dt solution that was employed in Neuron.

[2015-10-13 18:14] aaronsamuel137 commented on #162
After looking at the clock with @jonathanolson, he said that it looks good to him. The issue of "choppiness" in FF is more likely a GC issue.

[2015-10-19 14:54] aaronsamuel137 commented on #163
The color scheme for the projector mode is still not finished being designed. To modify colors in real time, go to http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.0.0-dev.23/gravity-and-orbits-colors.html.

If there are any other colors that you want modifiable, please let me know.

Assigning to @ariel-phet.

[2015-10-19 14:55] ariel-phet commented on #163
@arouinfar - I think @aaronsamuel137 is excited to polish off GAO, can we make this a high priority?

[2015-10-19 14:58] aaronsamuel137 commented on #1
We discussed in the last design meeting getting assets for the following:

- Reset arrow
- path icon (with gray dot)
- Satellite (Mariah)

We also mentioned that we want to make quick 3D sphere in Illustrator for Sun and non-Earth Planet (something like 600x600px).

Assigning to @ariel-phet for prioritization.

[2015-10-19 15:00] aaronsamuel137 opened #170 "Design Tweaks"
We discussed in the 9/24 design meeting a few design changes:

- Move Star/Planet sliders into separate panels
- Make sliders as large as possible
- Left aligned slider labels
- Try black panel.

I was under the impression I was waiting for a new mockup to make these changes, but I can also go ahead and make them myself and get feedback. What do you think @ariel-phet?

[2015-10-19 15:03] ariel-phet commented on #1
@arouinfar can you make the two design assets that you are going to create a high priority? Can you also make an artwork task for Mariah describing what you would want (maybe include a screenshot for clarity of the current satellite). Please assign the artwork task to me first.

[2015-10-19 15:05] ariel-phet commented on #170
@aaronsamuel137 why don't you go ahead and make these changes. I would say with the sliders not so much make them "as large possible" but more try to bring them closer to standard size, and add a bit of negative space between the two slider tracks if possible.

[2015-10-19 15:36] samreid commented on #1
@aaronsamuel137 would it make sense to use SCENERY_PHET/ShadedSphereNode here?

[2015-10-19 15:43] aaronsamuel137 commented on #1
The reason we moved away from this was because of the performance losses of using RadialGradients, so I think it is better to keep them as images.

[2015-10-19 15:46] samreid commented on #1
Create radial gradient, then convert toImage() using scenery?

Tradeoffs with this approach:
1. Smaller download size (no need to ship multiple 600x600px rasters with the download), hence download will be faster
2. Easier & more maintainable to make changes to the exact size/color of the objects (changing a number in the code vs generating new images).
3. Slightly more complex code (have to call t

[2015-10-21 17:54] aaronsamuel137 commented on #170
I've made a first pass of these changes on master. Let me know what you think @ariel-phet.

[2015-10-22 19:21] aaronsamuel137 commented on #1
Decided to go with the toImage approach in the above commit and 3b5774b1d51a572da616cebba606bed1b58000d6.

Therefore we don't need the 3D spheres anymore @arouinfar.

[2015-10-22 19:41] aaronsamuel137 commented on #170
Other minor things to think about:

- When the moon is shrunk or grown, it changes to a weird hot pink color. Should we consider changing this?
- In the Java version the planet in the control panel doesn't change to a generic sphere when you change the mass, though it did in the MLL version so I kept this change. Do we want this to change or not?

[2015-10-22 19:51] arouinfar commented on #1
Sounds good @aaronsamuel137. I will be sending you the other assets later today.

@ariel-phet I will create the artwork task this afternoon and assign it to you for prioritization.

[2015-10-23 21:52] aaronsamuel137 opened #171 "GC issues with Firefox and mass sliders"
The sim performance on desktop Firefox is significantly worse than other platforms (including my iPad mini).

Holding the mass sliders and dragging around for awhile will totally lock up the sim for a second or two.

[2015-10-23 22:08] aaronsamuel137 commented on #171
Additionally, there is a weird thing that happens where the white text in the control panel flickers a little when the slider is moved sometime (only in FF). It gets brighter white and dimmer white.

[2015-10-23 23:52] arouinfar commented on #1
Assets have been emailed to @aaronsamuel137.

[2015-10-26 15:14] aaronsamuel137 commented on #1
I've added these new assets to the sim. However, depending on whether or not we need to change the colors of these icons in projector mode, we may need to draw them in code instead. I'll wait until the project mode color scheme is done to do anything here.

I think all that is left for this issue is the artwork from Mariah.

[2015-10-26 15:50] aaronsamuel137 commented on #171
It looks like this was fixed by other changes I have made, or restarting FF. Either way, I can't reproduce anymore. Closing

[2015-10-26 15:50] #171 closed

[2015-10-26 20:11] aaronsamuel137 commented on #1
@arouinfar, there are a few issues I am running into using toImage around code complication, performance, and image resolution,  so I think it would be better to get the generic spheres made in illustrator after all.

We will need three colors - yellow for sun, gray for the generic planet, and pink for the generic moon. I would not be adverse to changing the pink to something else, it looks odd to

[2015-10-26 20:30] samreid commented on #1
My apologies for starting a wild goose chase--it would be good for me to better understand the issues with toImage code complication, performance and image resolution, in case it comes up again in the future.

[2015-10-26 20:50] arouinfar commented on #163
@aaronsamuel137, here are the RGB (R, G, B) values for Projector Mode. There were a few items that needed a color change that weren't in the gravity-and-orbits-color version, so I don't know how they're referred to in the code. Please let me know if you need any clarification.
* background (255, 255 , 255)
* bodyNodeText (0, 0, 0)
* bottomControlText (0, 0, 0)
* panelBackground (193, 217, 255)
* p

[2015-10-26 20:51] arouinfar commented on #1
@aaronsamuel137, the path icon colors will need to change in projector mode. I can send you a second asset, if you need it.  I'll also start working on the spheres and send them to you shortly.

[2015-10-26 21:10] samreid commented on #1
@aaronsamuel137 and I discussed the issues with toImage and there were a few things we didn't understand, such as (potentially?) getting unexpected padding whithin a toImage render.  @aaronsamuel137 was considering discussing it with @jonathanolson.  We also discussed generating a sphere image in code while the simulation is being started, and using ImageRenderer within the sim.  But we both agree

[2015-10-26 21:48] arouinfar commented on #1
@aaronsamuel137, I've emailed you the requested spheres along with a projector-mode version of the path icon. Please let me know if there is anything else you need.

[2015-10-26 22:54] aaronsamuel137 opened #172 "Changing Modes when mass slider is set causes bug"
To reproduce:

1. move a mass slider
2. change modes and change back

The slider will be reset to its initial position incorrectly, but the planet's mass will not have changed.

[2015-10-27 04:17] ariel-phet commented on #170
@aaronsamuel137

1. I would be fine with changing the hot pink color...your choice
2. I think changing to the generic sphere in the control panel is a nice touch
3. Most of the other changes look good but when we said "separate control panel" for mass

I was thinking something like this:

![gao](https://cloud.githubusercontent.com/assets/4051174/10749380/5df42d0c-7c2f-11e5-8069-ab752b8e5665.PNG)

[2015-10-27 19:02] ariel-phet commented on #83
@arouinfar thoughts on this? I would be fine changing the name, but I am not sure we want to bother with artwork.

[2015-10-27 19:33] #172 closed

[2015-10-27 19:33] aaronsamuel137 commented on #172
Fixed when moving the mass sliders as part of #170. Closed.

[2015-10-27 19:36] aaronsamuel137 commented on #170
OK I've made these changes. I'm okay with the hot pink for now, just wanted to bring it up for discussion.

I like the look of the new panels. Let me know what you think. Assigning to @ariel-phet.

[2015-10-27 19:55] aaronsamuel137 commented on #1
That's great for now, just waiting on the new satellite now.

[2015-10-27 20:06] aaronsamuel137 commented on #163
I've made these updates, see http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.0.0-dev.24/gravity-and-orbits_en.html to review.

You can also use the color picker at http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.0.0-dev.24/gravity-and-orbits-colors.html.

Assigning to @arouinfar for review.

[2015-10-27 23:46] arouinfar commented on #83
@ariel-phet, I would rather not change the artwork, but I think we can come up with a different name. I'll starting thinking of possible alternatives.

[2015-10-27 23:51] arouinfar commented on #163
Thanks @aaronsamuel137! Overall, think it looks great. I only have one request -- can you make the selection stroke around the system (e.g. Earth + Moon) black?

[2015-10-28 14:16] aaronsamuel137 commented on #163
I've made this update. Let me know what you think.

Can you view it on master or do you need a new dev version published?

[2015-10-28 14:25] arouinfar commented on #163
@aaronsamuel137 no need to publish a dev version. I can take a look on phettest once I get to the office. Thanks!

[2015-10-30 15:06] samreid commented on #159
May be related to https://github.com/phetsims/bending-light/issues/269

[2015-10-30 15:07] aaronsamuel137 commented on #159
I suspect it is. It seems to be an issue with loading resources and timing out.

[2015-10-30 15:46] jonathanolson commented on #159
Similarly to https://github.com/phetsims/bending-light/issues/269, the sim is loading fine for me, using require.js mode through Apache.

[2015-10-30 16:56] jonathanolson commented on #159
@aaronsamuel137, what web server are you using to host files? Apache has worked well for me.

[2015-10-30 16:57] aaronsamuel137 commented on #159
Python. It may be that using apache will fix this, I can give it a try.

[2015-11-04 01:56] ariel-phet commented on #170
Looking good to me!

[2015-11-05 18:00] arouinfar commented on #163
Just realized I hadn't commented on this issue @aaronsamuel137. I think it looks great! Closing.

[2015-11-05 18:00] #163 closed

[2015-11-05 18:08] arouinfar commented on #170
I wasn't tagged, so never saw this issue. My apologies for not chiming in sooner. I think the new panels look great @aaronsamuel137, but I have a few more requests:

- [ ] The panel corners seem pretty sharp, can you round them to be more consistent with PhET look-and-feel? The mockup below shows 5pt rounding.
- [ ] Connect slider tick marks to the track like this (please ignore other font/color d

[2015-11-05 20:47] aaronsamuel137 commented on #170
I've made these changes and deployed to master. Let me know what you think @arouinfar.

[2015-11-05 22:27] aaronsamuel137 opened #173 "Code Review"
**Build and Run Checks**

- [x] Does the sim pass lint?
- [x] Does the sim build without errors?
- [x] Does the sim start up? (requirejs and built versions)
- [x] Does the sim experience any assertion failures? (run with query parameter 'ea')
- [x] Does the sim pass a scenery fuzzer test? (run with query parameter 'fuzzMouse')
- [x] Are there any strings that are not being internationalized? (run

[2015-11-06 16:05] aaronsamuel137 commented on #173
Feel free to start on this at your convenience @pixelzoom.

[2015-11-06 21:55] pixelzoom commented on #173
@ariel-phet What is the desired deadline for GAO code review?

[2015-11-06 21:56] pixelzoom commented on #173
@aaronsamuel137 Back to you. The first check list item (sim passes lint) failed, due to the addition of a new ESLint rule.

[2015-11-06 22:00] ariel-phet commented on #173
@pixelzoom I think end of next week would be nice if possible. Remember @jessegreenberg can also help with fixing code review issues.

[2015-11-09 03:09] aaronsamuel137 commented on #173
Sims passes lint now. Assigning back to @pixelzoom.

[2015-11-09 16:54] pixelzoom opened #174 "no margin around Reset All button"
Noticed during code review, https://github.com/phetsims/gravity-and-orbits/issues/173.

There is no margin between the right edge of the "Reset All" button, and very little margin below if. See screenshot below. This occurs in both screens.

![screenshot_56](https://cloud.githubusercontent.com/assets/3046552/11040072/cba51878-86c7-11e5-8680-d0ae5891cc90.png)

[2015-11-09 16:57] pixelzoom opened #175 "usability of check boxes?"
Noticed during code review https://github.com/phetsims/gravity-and-orbits/issues/173.

There is very little vertical space between the check boxes in the control panel, and they do not have dilated touch areas (as check boxes typically do in sims).  See screenshot below.  Has usability of this been evaluated on touch devices?

![screenshot_57](https://cloud.githubusercontent.com/assets/3046552/110

[2015-11-09 16:58] pixelzoom commented on #175
Also wondering why there are pointer areas set for the icon to the right of "Measuring Tap". Pointer areas are typically set for the entire check box component.

[2015-11-09 17:03] pixelzoom commented on #174
Same issue with right edge of control panels.

[2015-11-09 17:09] pixelzoom opened #176 "many layout problems with stringTest=long"
Related to code review https://github.com/phetsims/gravity-and-orbits/issues/173.

Running with `stringTest=long` query parameter reveals many i18n layout problems (in all screens) that need to be addressed.  For example, see screenshot below.

I see only 2 occurrences of option `maxWidth` in the source code. So my suspicion is that layout issues for i18n have not been addressed.

![screenshot_58]

[2015-11-09 17:10] pixelzoom opened #177 "create screenshot"
Related to code review #173.

Create `assets/gravity-and-orbits-screenshot.png` before publication.

[2015-11-09 17:13] pixelzoom opened #178 "missing asset file for cartoon_icon.png"
Related to code review https://github.com/phetsims/gravity-and-orbits/issues/173.

This entry in images/license.json has no associated .ai file in assets/.

[code]

[2015-11-09 17:16] pixelzoom opened #179 "bad URL in model.md"
Related to code review #173.

model.md references a bad URL:

`http://arxiv.org/pdf/cond-mat/0110585v<sub>1</sub>.pdf`

Presumably the `<sub>` tags should be removed?

[2015-11-09 17:22] pixelzoom opened #180 "unused strings"
Related to code review #173.

These string keys don't appear to be used. They should be removed from gravity-and-orbits-strings_en.json.

[code]

[2015-11-09 17:28] pixelzoom opened #181 "unused audio plugin appears in config.js"
Related to code review #173.

The audio plugin appears in gravity-and-orbits-config.js, and the sim doesn't appear to use any audio (doesn't use VIBE).

`audio: '../../chipper/js/requirejs-plugins/audio',`

There may be no harm in this, and I don't know if this increases the .html file size. But we typically don't include things that aren't used.

[2015-11-09 17:35] pixelzoom opened #182 "js/ directory is not properly structured"
Related to code review #173.

The js/ directory currently has this structure:

[code]

`doc/implementation-notes.md` describes the atypical structure of this sim, so I understand why there's a `modules/` subdirectory.  But I don't understand why that affects the ability to have a subdirectory per screen.

So while it's likely to be painful, it's recommended to restructure the source to match PhET

[2015-11-09 17:39] arouinfar commented on #170
Looks great! Thanks @aaronsamuel137.

[2015-11-09 17:39] #170 closed

[2015-11-09 17:58] pixelzoom opened #183 "no visibility annotations for prototype functions"
Related to code review #173.

Visibility annotations (@public, @protected, @private) are noticeably missing from prototype functions. For example, in Body.js, BodyState.js, GravityAndOrbitsClock.js,...  *All* parts of the JS interface that are publicly visible should have a visibility modifier to document the developer's intention.  This include adding a @public annotation to functions that are in

[2015-11-09 18:03] pixelzoom opened #184 "bad type expressions in JSdoc"
For example in Body.js:

`@param {Property<boolean>} playButtonPressedProperty`

should be

`@param {Property.<boolean>} playButtonPressedProperty`

Note the '.' before '<boolean>'.

This occurs throughout the code.

[2015-11-09 18:03] pixelzoom commented on #184
Related to code review #173.

[2015-11-09 18:08] pixelzoom opened #185 "units are not documented"
Related to code review #173.

There are lots of quantities in this sim that have units, but the units are not documented in the code. Examples:

Body.js has position, diameter, velocity, mass, ...

BodyState.js has position, velocity, acceleration, mass,...

And there are likely other examples.  I think it would be fine to document units in model.md, if that makes life easier.

[2015-11-09 18:16] pixelzoom opened #186 "magic numbers in CartoonModelList"
Related to code review #173.

There are numerous magic numbers in CartoonModelList.

Issues:

• Some of these constants are documented as "tuned by hand", some are not documented. All magic numbers should be documented, along with any dependencies that other things may have on this numbers. (Eg, "If you change foo, be sure to change bar.")

• Some are duplicated in multiple places. For example `th

[2015-11-09 18:24] pixelzoom opened #187 "issues with Properties for measuring tape visibility"
Related to code review #173.

Here's the code in question:

[code]

(1) Why are there 2 properties related to visibility of the measuring tape? (measuringTapeVisible, showMeasuringTape)

(2) Why is the function argument not used to set the initial value of `showMeasuringTape` or `measuringTapeVisible`?

[2015-11-09 18:28] pixelzoom opened #188 "anti-pattern for reset"
Related to code review #173.

Here's the reset function in GravityAndOrbitsModule, which extends PropertySet:

[code]

The problem here is that if a Property is added to this set, you need to remember to add it to the reset function too.  And it's also totally unnecessary, since PropertySet defines reset.

So the above should be:

[code]

Or move the supertype call after the `for` loop, if order i

[2015-11-09 18:38] pixelzoom opened #189 "anti-pattern for abstract types"
Related to code review #173.

ModeConfig is intended to be an abstract base type, so the first thing would be to describe it as such in the JSdoc at the top of the file.

Then there's this function that must be implemented by subtypes:

[code]

This pattern is not recommended because (in the general case) it can succeed silently when it should fail.

The more typical pattern for functions in abstr

[2015-11-09 18:40] pixelzoom commented on #188
Also note the `@override` annotation that was added to the JSdoc for `reset`.

[2015-11-09 18:47] pixelzoom opened #190 "missing visibility annotations for fields"
Related to code review #173.

Lots of examples... BodyConfig, ModeConfig, ModeList, ModeListParameterList ... Looks like someone should go through all of the code again.

All publicly-visible fields (e.g., `this.foo`) must have an associated visibility modifier. Assuming @public in the absence of an annotation is no longer the convention.

[2015-11-09 18:53] pixelzoom opened #191 "reduce coupling to GravityAndOrbitsModule"
Related to code review #173.

GravityModeMenu is the control for turning gravity on/off.  Here are the relevant pieces of its constructor:

[code]

By passing `module` into the constructor, unnecessary coupling between `GravityAndOrbitsModule` and `GravityModeMenu` is created. Increasing coupling (in general) increases the probability of bugs and increases maintenance costs. Eliminate this couplin

[2015-11-09 18:58] pixelzoom commented on #191
Identical issue in TimeControlPanel, PlanetModePanel and (perhaps) SpaceObjectsPropertyCheckbox.

[2015-11-09 19:10] arouinfar commented on #83
@ariel-phet how about we change Cartoon to Model? I think "Model" conveys that things aren't to scale, especially since the other screen is "To Scale".

[2015-11-09 19:12] pixelzoom opened #192 "nonintuitive and misleading type names"
Related to code review #173.

Some (many?) of the type names in this sim are nonintuitive and downright misleading, making it unnecessarily difficult to navigate the code, or locate things by guessing their names.  This is no fault of @aaronsamuel137, it was inherited.

Some examples, not exhaustive:

• SpaceObjectsPropertyCheckbox - it's not a Property or a CheckBox, it's a Panel. SpaceObjectsPan

[2015-11-09 19:19] pixelzoom opened #193 "define symbols in model.md"
Related to code review #173.

model.md refers the reader to http://arxiv.org/pdf/cond-mat/0110585v1.pdf, then summarizes the model equations used.  It defines some (but not all) of the symbols used in those equations. Since the pdf file could disappear at some point in the future, I think it's important to define *all* symbols used in the equations.  So let's define `f, h, m, r, t, v` (and any oth

[2015-11-09 19:28] pixelzoom opened #194 "odd touchAreas for zoom control"
Related to code review #173.

Here's a screenshot with `showPointerAreas` query parameter. The red dashed lines are touchAreas. Look at the touchAreas for the zoom buttons (+,-).  They are surrounded by 2 red dashed boxes, indicating that they have 2 touchAreas, with odd overlapping.

![screenshot_59](https://cloud.githubusercontent.com/assets/3046552/11044145/60a39bce-86dd-11e5-98a9-63160972bcc9.

[2015-11-09 19:50] pixelzoom opened #195 "RewindableProperty doc and API"
Related to code review #173.

RewindableProperty is heavily used for various Properties that can be rewound. A few things...

(1)  The JSdoc is pretty sparse, and (I think) would benefit from some expansion/revision. It's also a little misleading where it says "it goes back to the value last set while the clock was paused". There is no dependency on the clock, it goes back to the value set by `sto

[2015-11-09 20:04] pixelzoom commented on #192
`PlanetModeMenu` might be renamed to simply `ModeMenu`, since a "mode" in this sim is described (in see GravityAndOrbitsModule JSdoc) as a "configuration of bodies":

[2015-11-09 20:13] pixelzoom opened #196 "var names of type {Property} must have a 'Property' suffix"
Related to code review #173.

In ModeListParameterList:

[code]

Per PhET naming conventions, all of these parameters must be renamed to have a `Property` suffix. Eg:

playButtonPressed -> playButtonPressedProperty

[2015-11-09 20:14] pixelzoom commented on #196
Same problem in GravityAndOrbitsClock, CartoonModeList and RealModeList.

[2015-11-09 20:17] pixelzoom commented on #182
While we're looking at the directory structure, I see currently see this:

[code]

Both control panels are on the right, so "right-control-panel" is ambiguous. One is on top, one is on the bottom.  Recommended to rename "right-control-panel" to "top-control-pane".  Or better yet, give these control panels names indicative of their contents.

[2015-11-09 20:21] pixelzoom opened #197 "bug in CONTROL_PANEL_OPTIONS ?"
Related to code review #173.

In GravityAndOrbitsConstants:

[code]

This looks like a bug.
Shouldn't it be `GravityAndOrbitsColorProfile.panelBackgroundProperty.get()`?

[2015-11-09 20:22] pixelzoom commented on #197
Or perhaps I don't understand how the color profile works. If that's the case, please describe.

[2015-11-09 20:28] pixelzoom commented on #177
@ariel-phet I think we should remove screenshot-related items from the code-review checklist, since the screenshot typically isn't created until the sim is completed.  The screenshot belongs on the sim-completion checklist (where it may already be). Do you agree?

[2015-11-09 20:44] pixelzoom commented on #173
Re testing for memory leaks:

I did a heap comparison while running with `fuzzMouse` query parameter. With Mac+Chrome, the heap size stabilized at around 75MB, and a heap comparison didn't reveal any significant accumulation of specific object types, and no accumulation of sim-specific object types.

Leaks due to registration of AXON observers is presumably a non-issue, because implementation-note

[2015-11-09 20:46] pixelzoom commented on #173
Re performance testing, I did not complete these 2 items in the checklist:

- [ ]  Does the sim perform as desired across the range of supported platforms? (eg, not too slow on slow platforms, not too fast on fast platforms)
- [ ] Are UI components sufficiently responsive? (especially continuous UI components, such as sliders)

I don't have access to the full range of test platforms. And it seems

[2015-11-09 20:47] pixelzoom commented on #173
Code review is done. Check list items that did not pass are marked with a red 'X'. Issues created are linked to this issue (see above) and labeled with "code review".

Back to @aaronsamuel137.

[2015-11-09 20:57] ariel-phet commented on #177
@pixelzoom I agree, and it is on the master checklist.

[2015-11-09 21:00] ariel-phet commented on #83
Ah...I think that is a perfect name, especially since NGSS and such mentioning thinking about models, and we use that naming convention in Molecule shapes.

[2015-11-09 21:00] ariel-phet commented on #83
@aaronsamuel137 please change this name

[2015-11-09 21:03] pixelzoom commented on #177
OK, I've removed it from https://github.com/phetsims/phet-info/blob/master/checklists/code_review_checklist.md.

[2015-11-09 21:34] aaronsamuel137 commented on #174
Added some more margin here and factored out MARGIN into a constant. Right now it is set to 5, do you think it needs more?

[2015-11-09 21:40] pixelzoom commented on #174
I think this up to your design team or team leader. To my eye, everything looks a little close to the edges of the Screen.layoutBounds. But if it looks/works OK on iPad (where you will be interacting on the very edge of the physical screen) then perhaps its OK.

[2015-11-09 22:34] aaronsamuel137 commented on #178
It's included in the to_scale_icon.ai file. Would you recommend splitting these into 2 files or just renaming to something like screen_icons.ai?

[2015-11-09 22:35] aaronsamuel137 commented on #176
I've addressed these issues. Assigning to @pixelzoom for review.

[2015-11-09 22:37] pixelzoom commented on #178
Since there is a 1:1 mapping from png:ai for all other files, I'd recommend splitting this out. Otherwise I'd never know which file to look in, and I'd assume that it's missing.

[2015-11-09 22:39] pixelzoom commented on #178
:+1: Closing.

[2015-11-09 22:39] pixelzoom commented on #178
whoops, closed the wrong issue.

[2015-11-09 22:40] aaronsamuel137 commented on #179
Good catch. Replaced "v1" with "v<sub>1</sub>" for the equations and didn't realize there was a v1 in the url too.

Fixed now. Closing

[2015-11-09 22:40] #179 closed

[2015-11-09 22:40] pixelzoom commented on #176
:+1: Closing.

[2015-11-09 22:40] #176 closed

[2015-11-09 22:44] aaronsamuel137 commented on #180
Removed these strings, closing

[2015-11-09 22:44] #180 closed

[2015-11-09 22:45] aaronsamuel137 commented on #181
Removed audio plugin. Closing

[2015-11-09 22:45] #181 closed

[2015-11-10 00:30] pixelzoom commented on #175
Ah... The icon to the right of "Measuring Tape" is scenery-phet.MeasuringTape, which has a default touchArea and mouseArea.

As for the usability of the check boxes... This might be a question for your design team or team leader, and should be checked on iPad.

[2015-11-10 00:32] pixelzoom commented on #194
I haven't inspected the code. But this could be caused by taking a node that has a default touchArea and mouseArea, then wrapping it in another node and setting the wrapper node's touchArea.  I suspect there's something like that going on here.

[2015-11-10 00:37] pixelzoom commented on #194
Here's the problem... In ScaleSlider, the zoom buttons are instances of SliderButton, and they have their touchArea set.  They have a child of type RectangularPushButton that also has a default touchArea that's dilated by dx=5, dy=5 (see RectangularPushButton options `xTouchExpansion` and `yTouchExpansion`).
The solution is to make SliderButton extend RectangularPushButton instead of Node.

[2015-11-10 16:26] aaronsamuel137 commented on #182
There are really not many screen specific files in this sim. The two screens are nearly identical, and use the same files with a bit of conditional logic. Perhaps we could put CartoonModeList and RealModeList into different folders, but those are literally the only files, the rest would be common. Do you think its worth it to do that? I could just document more thoroughly why the directory structu

[2015-11-10 21:37] pixelzoom commented on #182
Yes.

I would move the files to view/.  And deal with choosing better names in https://github.com/phetsims/gravity-and-orbits/issues/192.

[2015-11-10 22:01] aaronsamuel137 commented on #182
Restructured the files as suggested. Assigning to @pixelzoom for review.

[2015-11-11 00:28] pixelzoom commented on #182
:+1: Closing.

[2015-11-11 00:28] #182 closed

[2015-11-11 16:26] aaronsamuel137 commented on #183
Added annotations. Assigning to @pixelzoom for review.

[2015-11-11 16:35] aaronsamuel137 commented on #184
Should be fixed. Assigning to @pixelzoom for review.

[2015-11-11 16:42] aaronsamuel137 commented on #187
Good catch. showMeasuringTape is supposed to be a boolean and not a property. I have corrected and documented. Assigning to @pixelzoom for review.

[2015-11-11 16:55] aaronsamuel137 commented on #188
Good catch, this anti-pattern was carried over from the Java version. Fixed now. Assigning to @pixelzoom for review.

[2015-11-11 16:59] aaronsamuel137 commented on #189
I've made these changes, assigning to @pixelzoom for review.

[2015-11-11 17:50] aaronsamuel137 commented on #190
Added annotations. For some classes I commented like so:

[code]

Assigning to @pixelzoom for review.

[2015-11-11 17:58] aaronsamuel137 commented on #191
I've addressed this issue for all the mentioned files except SpaceObjectsPropertyCheckbox. It seems like this file uses 7 or 8 attributes of module, so passing the whole module seems justifiable to me. What do you think?

Assigning to @pixelzoom for review.

[2015-11-11 18:05] pixelzoom commented on #190
@aaronsamuel137 If you have multiple fields that are public, and there are no blank lines between their declarations, the convention is to do this:

[code]

Similarly for a PropertySet, the convention is:

[code]

For a PropertySet with Properties of varying visibility, you can do either of these:

[code]

[2015-11-11 18:15] aaronsamuel137 commented on #192
I've renamed three of the files, let me know if these names seem clear enough to you.

Regarding RightControlPanel, it is difficult to name it something related to its content since it has 3 sections. ModeGravityCheckboxControlPanel seems weird.

What do you think about these?
- UpperRightControlPanel
- GravityAndOrbitsControlPanel (from Java)
- ControlPanel

[2015-11-11 18:30] aaronsamuel137 commented on #193
Updated this document. Assigning to @pixelzoom for review.

[2015-11-11 23:10] pixelzoom commented on #193
:+1: Closing.

[2015-11-11 23:10] #193 closed

[2015-11-11 23:38] aaronsamuel137 commented on #194
I've made this change. Assigning to @pixelzoom for review.

[2015-11-11 23:41] aaronsamuel137 commented on #197
It's not a bug. Scenery now supports Property as an allowed type for fills. Passing the property here makes so the panel color will update automatically when the projector mode is turned on.

Let me know if you have more questions here, otherwise feel free to close.

[2015-11-12 02:01] aaronsamuel137 commented on #196
I've made these changes, assigning to @pixelzoom for review.

[2015-11-12 05:04] aaronsamuel137 commented on #195
I've made these changes. Assigning to @pixelzoom for review.

[2015-11-12 15:20] #197 closed

[2015-11-12 18:10] pixelzoom commented on #184
Spot checked, looks great. Closing.

[2015-11-12 18:10] #184 closed

[2015-11-12 18:14] pixelzoom commented on #188
One additional suggestion in GravityAndOrbitsModule... Instead of creating `modeProperty` like this:

` this.modeProperty = new Property( this.modeList.modes[ initialModeIndex ] );`

... add it to the PropertySet, like this:

`this.addProperty( 'mode', this.modeList.modes[ initialModeIndex ]  );`

Then you won't need to handle it explicitly in `reset`.

[2015-11-12 18:15] pixelzoom commented on #196
Spot checked, looks good, closing.

[2015-11-12 18:15] #196 closed

[2015-11-12 18:16] pixelzoom commented on #195
Looks great, closing.

[2015-11-12 18:16] #195 closed

[2015-11-12 18:17] pixelzoom commented on #194
:+1: Closing.

[2015-11-12 18:17] #194 closed

[2015-11-12 18:27] pixelzoom commented on #189
:+1: Closing.

[2015-11-12 18:27] #189 closed

[2015-11-12 18:29] pixelzoom commented on #187
:+1: Closing.

[2015-11-12 18:29] #187 closed

[2015-11-12 18:30] pixelzoom commented on #183
Spot checked, looks good, closing.

[2015-11-12 18:30] #183 closed

[2015-11-12 18:30] #190 closed

[2015-11-12 18:31] aaronsamuel137 commented on #188
Good suggestion, forgot about addProperty(). Made this change. Closing

[2015-11-12 18:31] #188 closed

[2015-11-12 18:33] pixelzoom commented on #191
Good, closing.

[2015-11-12 18:33] #191 closed

[2015-11-12 19:59] aaronsamuel137 commented on #186
Factored out some of these into constants, and documented as best I can without knowing for sure where these came from (ported directly from Java with all comments).

Regarding 365.0 / 334.0, the 365 seems like is must refer to days in a year, but I am not 100% sure where these numbers came from. I am inclined to leave it as is. Perhaps @samreid has some memory of this?

[2015-11-12 20:05] samreid commented on #186
This is fuzzy in my mind, but I recall manual adjustment of values was necessary to produce the desired macroscopic behavior.  The code comment in the context is:

[code]

[2015-11-12 20:07] aaronsamuel137 commented on #186
Assigning to @pixelzoom for review.

[2015-11-16 03:46] pixelzoom commented on #186
@samreid In https://github.com/phetsims/gravity-and-orbits/issues/186#issuecomment-156219534, is `365` indeed the number of days in a year?

[2015-11-16 03:57] pixelzoom commented on #192
Let's go with UpperRightControlPanel.  I hate naming things based on their layout, but can't come up with anything better in this situation.  I'm going to go ahead and close this. @aaronsamuel137 if there's anything else, please reopen.

[2015-11-16 03:57] #192 closed

[2015-11-16 04:56] samreid commented on #186
In this model, yes.

[2015-11-16 04:58] #186 closed

[2015-11-16 04:58] pixelzoom commented on #186
Thanks. Noted in source code doc.

[2015-11-16 16:15] aaronsamuel137 commented on #185
I've documented units, anything I'm forgetting here?

Assigning to @pixelzoom for review.

[2015-11-16 16:25] pixelzoom commented on #185
Looks good, closing.

[2015-11-16 16:25] #185 closed

[2015-11-16 18:05] aaronsamuel137 commented on #178
Split these out into 2 ai files. Closing

[2015-11-16 18:05] #178 closed

[2015-11-16 23:02] aaronsamuel137 commented on #177
I don't have the right kind of iPad to take this screenshot the way that is described in the deployment checklist (https://github.com/phetsims/phet-info/blob/master/sim_deployment.md).

Assigning to @ariel-phet for now to either take care of this or assign someone else.

[2015-11-17 00:50] ariel-phet commented on #177
@arouinfar Can you take a screenshot for GAO? I think the model screen would be most appropriate and eye catching, and probably something similar to the screenshot used for the java version (unless you have strong opinions, then go with those).

[2015-11-17 15:28] aaronsamuel137 commented on #174
It looks okay to me, but I'll ask @arouinfar what she thinks. Assigning to @arouinfar for comment.

[2015-11-17 15:50] arouinfar commented on #174
I agree with @pixelzoom that reset all and control panel could use a little bit of padding to the right. I'll pull the latest from phettest when I get into the office so I can see what adjustments @aaronsamuel137 has made.

[2015-11-17 16:11] aaronsamuel137 commented on #175
I've increased the touch area for the checkboxes and tested on iPad. Seems much more usable than before.

Assigning to @pixelzoom for review.

[2015-11-17 17:20] pixelzoom commented on #175
:+1: Closing.

[2015-11-17 17:20] #175 closed

[2015-11-18 18:09] arouinfar commented on #177
@ariel-phet, I think we should wait to make the official screenshot until #83 is addressed, but I was thinking about something like this:
<img width="842" alt="screen shot 2015-11-18 at 11 06 21 am" src="https://cloud.githubusercontent.com/assets/8419308/11249508/858c07c4-8de4-11e5-8b1a-bd72cbfdca49.png">

[2015-11-18 18:18] aaronsamuel137 commented on #83
Forgot about this issue until just now. I've changed the name (on master). Assigning to @arouinfar for review.

[2015-11-18 18:20] arouinfar commented on #83
Thanks @aaronsamuel137! Looks good, closing.

[2015-11-18 18:20] #83 closed

[2015-11-18 18:23] ariel-phet commented on #177
Awesome, looks good to me!

[2015-11-18 18:24] arouinfar commented on #174
Just realized that I forgot to take care of this yesterday when verifying #83. The 5px margin looks good to me and is usable on iPad. Thanks @aaronsamuel137. Closing.

[2015-11-18 18:24] #174 closed

[2015-11-18 18:35] arouinfar commented on #177
@aaronsamuel137 has taken care of #83, so I've created the screenshot and have emailed it to him to check in.

<img width="1024" alt="gravity-and-orbits-screenshot" src="https://cloud.githubusercontent.com/assets/8419308/11250170/5923c3a8-8de8-11e5-9f53-5c8c4af49333.png">

[2015-11-18 18:41] aaronsamuel137 commented on #177
Screenshot checked in. Closing

[2015-11-18 18:41] #177 closed

[2015-11-18 22:42] aaronsamuel137 commented on #130
This was a pre-rewrite issue, so I am going to close. If testers notice any rendering issues that can reopen or create a new issue.

[2015-11-18 22:42] #130 closed

[2015-11-19 16:57] aaronsamuel137 commented on #173
All issues have been addressed. Anything else you see needing to be done here @pixelzoom?

[2015-11-19 17:07] pixelzoom commented on #173
Nothing left to do. Great job on the code @aaronsamuel137, overall it's in good shape for future maintenance. Closing.

[2015-11-19 17:07] #173 closed

[2015-11-19 17:11] aaronsamuel137 commented on #116
Assigning to @jessegreenberg since he is taking over this sim and has a windows machine. It may be that this can just be closed, since this issue was created before the rewrite happened.

[2015-11-19 17:14] aaronsamuel137 commented on #1
I think we are waiting on a new satellite image, but that is not really the purpose of this issue. When the new satellite image is added, @jessegreenberg can check in the image and the assest and add it to license.json.

Closing

[2015-11-19 17:14] #1 closed

[2015-11-19 21:13] arouinfar commented on #1
Just realized I hadn't created an artwork task for the satellite! The issue has now been created. https://github.com/phetsims/tasks/issues/436

[2015-11-20 16:12] aaronsamuel137 commented on #159
Seems to be fixed by using apache instead of python. Closing.

[2015-11-20 16:12] #159 closed

[2015-11-20 16:14] samreid commented on #159
I had similar errors with node.js http-server which disappeared when I switched to Apache.

[2015-11-20 18:05] aaronsamuel137 commented on #162
Last I heard, @ariel-phet can still reproduce this on Win7 Chrome. I haven't been able to reproduce exactly what he sees, but there are still performance issues with GCs occasionally on FF.

I've done quite a bit to reduce allocations already, but there may need to be one last round of performance optimizations for this sim.

Assigning to @jessegreenberg since I won't have time to take care of thi

[2015-11-21 00:53] ariel-phet opened #198 "Notify Aaron once published"
Just a remind for @ariel-phet to notify Aaron once we publish this sim.

[2015-11-25 19:16] pixelzoom opened #199 "expand pointer areas for small bodies?"
Here's the "To Scale" screen:

![screenshot_105](https://cloud.githubusercontent.com/assets/3046552/11407116/f13fb162-936d-11e5-926b-8fd5b53549cd.png)

I was surprised to find that there are no mouseArea or touchArea dilations for the very small bodies (labeled Star, Moon, Planet).  On a desktop host, I struggled to select these bodies.  On a tablet, it will be next to impossible.   If the goal of

[2015-11-25 21:05] ariel-phet commented on #199
This might have been a carry over from the Java version, I have to admit I am not sure I realized they were selectable. @jessegreenberg please dilate these touch and mouse areas

[2015-11-25 21:05] ariel-phet commented on #199
And thanks for pointing out @pixelzoom!

[2015-11-25 21:17] pixelzoom commented on #199
yup.

[2015-11-25 21:18] pixelzoom commented on #199
Btw... I think we should add a "?showPointerAreas" test to the general procedures for dev and RC testing.

[2015-11-25 21:31] ariel-phet commented on #199
Why don't you go ahead and add that to the redeploy checklist for the moment

[2015-11-25 21:41] pixelzoom commented on #199
Done, https://github.com/phetsims/phet-info/blob/master/checklists/S2015R_checklist.md

- [ ] showPointerAreas (touchArea=red, mouseArea=blue)

[2016-01-11 19:01] pixelzoom opened #200 "unused strings"
[code]

[2016-01-11 20:46] jessegreenberg commented on #200
Unused strings removed, sim builds cleanly.  Closing.

[2016-01-11 20:46] #200 closed

[2016-02-29 21:38] arouinfar commented on #168
I agree with @ariel-phet that I think the intent of the rewind button is to bring the system back to its starting conditions. After playing with dev.24 and the Java version a bit, I've confirmed that the behaviors match, but I think the interaction feels inconsistent/buggy.

I've outlined a few test cases below. In all cases, the sim was freshly started, and the Earth was allowed to move around th

[2016-04-19 17:55] phet-steele opened #201 "Automated Testing Build Error (4/19/2016 10:00 AM)"
[code]

[2016-04-19 17:59] #201 closed

[2016-06-13 18:15] ariel-phet commented on #162
Requested @samreid to document suggestions @jonathanolson had for improving performance

[2016-06-13 19:11] samreid commented on #162
The suggestion I heard @jonathanolson describing was to use the canvas for rendering the paths, but without clearing the canvas each frame.  It would render new pixels at the head of the path, and draw over (erase) the pixels at the tail, but without clearing and re-rendering the entire path.

[2016-06-13 19:33] samreid commented on #162
Also noting that PathsNode.js is already using CanvasNode, but not using deltas as described above.  I recommend using profiling tools or "binary search" to identify performance hot spots before working on the implementing the change as described above.

[2016-06-17 15:55] ariel-phet commented on #80
No longer seems to be an issue. Closing

[2016-06-17 15:55] #80 closed

[2016-06-17 15:59] ariel-phet commented on #165
An interesting thought, but we usually only have minimize buttons on controls as a teacher use or for scaffolding. Does not really fit with the design here. Closing

[2016-06-17 15:59] #165 closed

[2016-06-17 16:03] ariel-phet commented on #116
No longer an issue on http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.0.0-dev.24/gravity-and-orbits_en-iframe.html

Closing

[2016-06-17 16:03] #116 closed

[2016-06-17 16:20] ariel-phet commented on #132
I can reproduce, but this seems inevitable. When you bring the bodies close quickly you cause a large acceleration that can give the orbiting body enough velocity to escape.

Matches the Java version, so no need to address. Closing

[2016-06-17 16:20] #132 closed

[2016-06-17 16:26] ariel-phet commented on #144
@jessegreenberg should probably review this issue to see what was done in the past to improve performance

[2016-07-20 04:10] jessegreenberg commented on #199
Done in commit above, but since small bodies are so close together, touch areas will overlap. This acceptable @ariel-phet?

![overlap1](https://cloud.githubusercontent.com/assets/6396244/16974805/7e54f054-4dfd-11e6-85b8-957614dd9c32.PNG)

![overlap2](https://cloud.githubusercontent.com/assets/6396244/16974807/81260f48-4dfd-11e6-977d-bcd52e1e2fbe.PNG)

[2016-07-20 15:48] ariel-phet commented on #199
Looks good! closing

[2016-07-20 15:48] #199 closed

[2016-07-28 20:26] pixelzoom opened #202 "slider tracks aren't visible"
Not sure when this problem was introduced, and I suspect it's probably changes that were made to HSlider.  But in 1.0.0-dev.24, sliders looked like this:

![screenshot_73](https://cloud.githubusercontent.com/assets/3046552/17228165/1d2684ea-54cf-11e6-88fd-966cdec02bea.png)

In master (67f1f83d92c707f994da051fbeab98bd96d78177) they look like this:

![screenshot_74](https://cloud.githubusercontent.c

[2016-07-28 20:26] pixelzoom commented on #202
Note that the tick marks also look different, longer in master.

[2016-08-04 17:19] jessegreenberg opened #203 "Clean up projector mode"
The property name for projector mode will should be renamed to projectorMode so that it should be standardized.  In addition, there was a request to add a query parameter to enable projector mode so that it can be enabled by default from a direct link.

[2016-08-09 02:05] arouinfar commented on #202
Just to add to the discussion here -- the slider appearance in dev.24 is not the desired look. In the projector mode of master, the slider looks like this
![image](https://cloud.githubusercontent.com/assets/8419308/17502104/6babdee0-5da2-11e6-9722-8d425eead69c.png)

This is the desired appearance for the sliders. When fixing the slider in regular mode, please match this look, but with white track/

[2016-08-09 02:45] arouinfar opened #204 "Update artwork for Earth and satellite"
New artwork was created for the satellite in https://github.com/phetsims/tasks/issues/436 which still needs to be added to the sim.

We've also discussed replacing the image of the Earth, as it's pretty aliased. I've found a [higher quality image](http://apod.nasa.gov/apod/image/0304/bluemarble2k_big.jpg) from NASA that we can use to replace it. I believe our usage would be in accordance with NASA

[2016-08-09 19:17] arouinfar opened #205 "Make text on "Return Objects" button black"
White text is a little hard to read against the light blue button.  @jessegreenberg can you please make the text black?

![image](https://cloud.githubusercontent.com/assets/8419308/17530124/6e685474-5e33-11e6-87c4-0e9fd8fc0a10.png)

[2016-08-16 16:20] veillette commented on #202
FYI, in the projector mode the slider is present, (in master)

![image](https://cloud.githubusercontent.com/assets/7633344/17706831/9cad93ee-63ab-11e6-92a7-4b76a0cc51d9.png)

but the slider track is absent when projector mode is turned off.

[2016-08-16 16:34] veillette commented on #202
It is related to the Hslider in BodyMassControl.
I think you want to comment out the trackfill and set the trackStroke instead.

[code]

I am not going to commit ince I dont fully undertsnad the role of trackLineWIdth and trackFill.

[2016-08-17 16:17] jessegreenberg commented on #205
Done in the commit above.  Button now looks like this:
![capture1](https://cloud.githubusercontent.com/assets/6396244/17744069/60df0ec0-6463-11e6-9c1d-a4f0d35aafd0.PNG)

And in projector mode:
![capture2](https://cloud.githubusercontent.com/assets/6396244/17744070/6236e572-6463-11e6-878e-6348ade37e06.PNG)

Closing, but @arouinfar feel free to review and reopen if you wish.

[2016-08-17 16:17] #205 closed

[2016-08-17 18:14] jessegreenberg commented on #204
Assets updated, they look awesome!  We should also update the screen icons as well with the new images.  The icons are also image assets.  @arouinfar would you be able to easily update the icons with the new images?  If not, I can draw new icons with scenery.

[2016-08-17 18:31] arouinfar commented on #204
@jessegreenberg the screen icons were an easy fix. I've emailed updated assets to you for implementation.

<img src="https://cloud.githubusercontent.com/assets/8419308/17748305/f9c99404-6475-11e6-9b1d-42ef68e1041b.png" width="350">

<img src="https://cloud.githubusercontent.com/assets/8419308/17748306/f9efd1b4-6475-11e6-910b-b4d490fb2e26.png" width="350">

[2016-08-17 18:38] jessegreenberg commented on #202
Thanks @veillette, I think you are right.  We need trackStroke here.  The stroke was defaulted to black since trackFill is not a recognized option, which made it invisible in the regular mode and visible in projector mode.  This was likely introduced from https://github.com/phetsims/sun/issues/224.

[2016-08-17 18:41] jessegreenberg commented on #202
Fixed in commit above, sliders now look like this, in normal mode:
![capture1](https://cloud.githubusercontent.com/assets/6396244/17748691/d2838bbe-6477-11e6-9cf3-4a745a842e12.PNG)

And this in projector mode:
![capture2](https://cloud.githubusercontent.com/assets/6396244/17748704/dbd47d2c-6477-11e6-83c2-b669ab5ec3bd.PNG)

Closing.

[2016-08-17 18:41] #202 closed

[2016-08-17 18:42] arouinfar commented on #202
👍

[2016-08-17 18:48] arouinfar commented on #204
The new satellite artwork has poor contrast against the panel in projector mode. I'll need to find an alternative color.

![image](https://cloud.githubusercontent.com/assets/8419308/17748890/b3a90542-6478-11e6-94cf-ac406cdb3f01.png)

[2016-08-17 19:01] jessegreenberg commented on #204
Thanks @arouinfar I added the new screen icons.  Good point about the image contrast in projector mode.  Here is a dev version with the new images added if it helps.

http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.0.0-dev.25/gravity-and-orbits_en.html

[2016-08-17 19:12] arouinfar commented on #204
For some reason, I can't get dev.25 to load and master still shows the old icon artwork, but I trust that it's good @jessegreenberg.

I think a less saturated blue (right) will improve the contrast between the satellite and panel.
<img width="513" alt="screen shot 2016-08-17 at 1 07 54 pm" src="https://cloud.githubusercontent.com/assets/8419308/17749616/a3cfa330-647b-11e6-94e2-0e4fecece2fc.png">

[2016-08-17 19:28] jessegreenberg commented on #204
Sure @arouinfar.  I can't get dev.25 to load either.  dev.24 loads for me, and a local built version loads correctly so I will see if I can find the problem.

[2016-08-17 21:12] jessegreenberg commented on #204
Not sure why it wasn't working before.  I redeployed and it is working fine.  Here is the version with all changes thus far, including the panel color:

http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.0.0-dev.25/gravity-and-orbits_en.html

[2016-08-17 21:15] jessegreenberg commented on #203
The projectorMode property is already correctly named, So only the query parameter needs to be added.

[2016-08-17 21:28] jessegreenberg commented on #203
Query parameter ```projectorMode``` added, but @phet-steele just pointed out that a couple of colors that need to change so they are visible in projector mode.

- [ ] Mass labels
- [ ] Measuring tape labels

[2016-08-17 21:31] arouinfar commented on #204
Thanks @jessegreenberg! Looks good.

[2016-08-17 21:32] #204 closed

[2016-08-17 21:59] jessegreenberg commented on #203
Complete with the above commits, closing.

[2016-08-17 21:59] #203 closed

[2016-08-17 22:35] jessegreenberg commented on #168
I just noticed this issue as well while working on #162.  I also noticed the date seems buggy with Reset All.
Here is what I observed:
 - Let the earth orbit for any number of days.
 - Press Reset All button.
 - Let the earth orbit for any number of days.
 -  Press rewind
 - The date will now be the number of days when the user pressed reset all.

[2016-08-17 22:44] jessegreenberg opened #206 "Rename GravityAndOrbitsCanvas and PathsNode"
The file name GravityAndOrbitsCanvas seems a little confusing to me, can it be renamed?  GravityAndOrbitsCanvas actually extends Rectangle.  With 'Canvas' in the name, I thought it would have code for the canvas rendering of the path traces.

It turns out that the CanvasNode is actually PathsNode.  I would recommend renaming GravityAndOrbitsCanvas to GravityAndOrbitsPlayArea (since it is described

[2016-08-17 23:07] jessegreenberg opened #207 "Planet trace does not move at same speed as planet"
I am not sure if this is a bug or if this is intentional.  It seems that the path trace for the planet will move at the speed of the planet when it was in that position in the trace, not at the current speed of the planet.  This can lead to some interesting cases.  One example is shown below.

![recording 18](https://cloud.githubusercontent.com/assets/6396244/17756425/fded26aa-649c-11e6-8346-46826

[2016-08-17 23:49] jessegreenberg opened #208 "Sim doesn't run on iPad2"
While working on #162, I tried to launch the sim to test tablet performance.  The sim doesn't launch in iPad2 with RequireJS or built versions.  After a few seconds I see 'A problem occured with this webpage so it was reloaded."  After it happens once more, Safari doesn't try to reload again.

[2016-08-18 18:10] arouinfar commented on #207
@jessegreenberg this does not look correct to me.

I also find it strange that the length of the trace seems proportional to the playback speed. (Sim refreshed between screenshots below.)

Slow Motion:
![image](https://cloud.githubusercontent.com/assets/8419308/17784791/0fedd5d6-653b-11e6-8ede-728380769592.png)

Normal:
![image](https://cloud.githubusercontent.com/assets/8419308/17784820/2f6eddec-

[2016-08-19 15:36] ariel-phet commented on #207
@arouinfar I think 75-85% is probably the way to go. I am not sure if I would go so far as to say pedagogical, but I think the trace is easier to interpret when it fades away (such as in rutherford scattering). So I think it is a more appropriate visual effect if it gives the "this is where I came from idea. Especially since you can alter parameters real time as the trace is occurings.

[2016-08-19 18:25] jessegreenberg commented on #207
With fast forward, it looks like the trace covers closer to 150%, which is noticeable when there are more than one orbiting bodies.  Arrow points to the end of the fading trace.

![capture](https://cloud.githubusercontent.com/assets/6396244/17819865/45064164-6607-11e6-9851-738427cddd07.PNG)

Is this a useful visualization?

[2016-08-19 18:43] ariel-phet commented on #207
I guess this comes down to a question of learning goals - the overlapping trace could be thought of as useful for comparison, but I am guessing it will lead mainly to some confusion and clutter.

I think the trace is mainly there to suggest the general nature of the orbit (is it nearly circular, elliptical, wobbling like the moon), so I think something in the 75-85% range achieves this goal nicely

[2016-08-19 18:49] arouinfar commented on #207
Good point @ariel-phet.  I think we want to keep the trace long enough to determine determine the shape of an orbit, and it looks like the trace at normal speed falls in the 75-85% range for each system.

<img src="https://cloud.githubusercontent.com/assets/8419308/17820376/c464f976-6609-11e6-93b9-90f72fb3b431.png", width="250px">  <img src = "https://cloud.githubusercontent.com/assets/8419308/178

[2016-08-19 19:39] ariel-phet commented on #207
No, I think keeping the trace length consistent is a good idea.

[2016-08-22 05:19] arouinfar commented on #207
@jessegreenberg can you set the maximum trace length to match the trace length at the default settings (as pictured in my previous comment)? The maximum trace length should not change with playback speed.

[2016-08-23 16:57] brroberts1231 commented on #208
For phetsims/tasks#679, reproduced on Witten and Lave.

[2016-08-24 15:47] jessegreenberg commented on #208
Thanks @brroberts1231!

[2016-08-25 17:21] arouinfar commented on #168
@phet-steele and I discussed this issue a bit, and he's discovered that the play/pause button will change the saved state (stored date and positions) in unexpected ways. I believe he discussed his findings with @jessegreenberg already.

@phet-steele and I worked through the desired behavior together and came up with some new guidelines.

In general:
* The refresh button in the system selection pan

[2016-08-25 17:21] arouinfar commented on #168
@kathy-phet this is the issue we were talking about during status.

[2016-08-25 19:34] jessegreenberg commented on #207
I am finding that all traces have the same number of points along the path ( 1314 ).  I am not sure why this is, but it means that the smaller path is very dense.

In addition, the path for the largest bodies are also using the same number of points for the trace path, so for the images in (https://github.com/phetsims/gravity-and-orbits/issues/207#issuecomment-241103098) 2628 paths are being drawn

[2016-08-25 23:19] pixelzoom opened #209 "sim relies on align:'right' default for Panels"
Related to https://github.com/phetsims/sun/issues/252, this sim relies on the old default of `align:'right'` for Panels.  Below are the stack traces for occurrences that need to be checked. These are the occurrences noted when loading the sim in requirejs mode. If the sim creates Panels dynamically, you should do further checking with fuzzMouse.

[code]

[2016-08-26 14:31] pixelzoom commented on #209
None of the above call sites use the `minWidth` option, so their behavior will be unaffected.  Closing.

[2016-08-26 14:31] #209 closed

[2016-08-26 18:22] jessegreenberg opened #210 "Some types have too many parameters"
Some types take too may parameters.  For instance, Body takes 20.  At call sites of Body, only ~4 are actually used.  Do we need all of these parameters?  If so, most should be added to options or a new abstraction should be used.

[2016-08-26 19:16] jessegreenberg opened #211 "Replace events with emitter"
Events are deprecated and should be replaced with Emitter.

[2016-08-26 19:42] jessegreenberg commented on #207
This should be fixed in the commit above.  The path length is now ~80% of the orbit for default conditions, and length is independent of play speed.  @arouinfar would you please review this in the latest dev version to make sure this is now correct?

http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.0.0-dev.27/gravity-and-orbits_en.html

I also expect these changes to assist with

[2016-08-26 19:48] jessegreenberg commented on #162
I would expect that changes in #207 should also help with this.  I noticed that the fading trace was actually  extending for about 1.5 orbits (in the default setting) while only 15% of that was visible.  In addition, invalidatePaint was being called when points were added and removed from the path.  The new method of drawing the trace from #207 only requires the path to be drawn when points are ad

[2016-08-26 19:51] jessegreenberg commented on #208
I wonder if this is because mipmaps are so heavily used.  I ran into an issue like this with forces-and-motion-basics.

[2016-08-26 19:56] arouinfar commented on #207
Looks great @jessegreenberg!

[2016-08-26 20:09] jessegreenberg commented on #208
In ModeList, changing all  ```mipmaps``` to ```image``` indeed fixes this problem.  But twhy?

[2016-08-26 20:30] jessegreenberg commented on #162
Performance is great on iPad2 ad Windows 10 Chrome and Firefox.  I don't observe any jerkiness in an orbit on those platforms in any of the planetary systems in this sim.  As part of https://github.com/phetsims/tasks/issues/679 it would be good to know if this is still an issue.

[2016-08-26 21:47] jessegreenberg commented on #168
Just to be clear, should rewind take the system back to its saved state and reset the timer to zero even when the time of the saved state wasn't zero?  So the date is *never* stored and will always be reset after an interaction with the system.

[2016-08-26 21:53] phet-steele commented on #168
@jessegreenberg there shouldn't be a case where the saved state does not begin at 0, so rewinding to the start of the saved state should display the timer as 0. From above:

[2016-08-26 21:56] jessegreenberg commented on #168
Great, thanks, I just wanted to make sure that the date should no longer be saved in any circumstance.

I am going to break this up into a checklist of TODO items from the above description of desired behavior.

- [ ] refresh button should restore the default locations/velocity of objects and reset timer to zero.
  - [ ] checkboxes should remain intact when refresh is pressed
- [ ] rewind should t

[2016-08-26 22:04] arouinfar commented on #168
@jessegreenberg Looks pretty good. I updated the 2nd to last item about pausing. Pausing by itself will not save the state. Objects need to be moved the play space while the sim is paused to trigger a new saved state. The state will save once the object has been dropped (which is your last checklist item).

[2016-08-26 22:49] jessegreenberg opened #212 "Constrain planet drag bounds"
Planets can be dragged outside of the simulation bounds.  @arouinfar @phet-steele can you think of any reason to not restrict dragging to the bounds of the simulation?

You can return the object with 'Return Object' button if you accidentally or intentionally drag a planet off screen, but it seems like it would be better if planets could only be dragged to the bounds of the screen.

[2016-08-26 22:59] arouinfar commented on #212
@jessegreenberg I don't see why it would be necessary/helpful to allow an object to be dragged out of bounds.

[2016-08-26 23:04] jessegreenberg opened #213 "Can model.pauseProperty be removed?"
It looks like GravityAndOrbitsModel.pauseProperty is not being used.  The play pause button uses module.playButtonPressedProperty, and it appears that GravityAndOrbits.pauseProperty is always true.  If not in use, it should be removed since it obfuscates the playButtonPressedProperty

Perhaps playButtonPressedProperty should be renamed to 'playing' to be more conventional.

[2016-08-29 16:57] jessegreenberg commented on #168
@arouinfar and @phet-steele I think this is fixed in the commits above.  Here is a dev version with the fixes, would you mind reviewing to make sure everything is handled?

http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.0.0-dev.28/gravity-and-orbits_en.html

[2016-08-29 17:18] jessegreenberg commented on #212
Thanks @arouinfar, done in commit above. Closing.

[2016-08-29 17:18] #212 closed

[2016-08-29 17:22] jessegreenberg commented on #213
Tracking in the console, it looks like this property is never set.

[2016-08-29 17:30] jessegreenberg commented on #213
Property referenced in the GravtyAndOrbitsModel, but since it is always true and never set.  Closing.

[2016-08-29 17:30] #213 closed

[2016-08-29 17:53] jessegreenberg commented on #211
Done in commit above, closing.

[2016-08-29 17:53] #211 closed

[2016-08-29 19:29] pixelzoom opened #214 "adjust touchArea options for HSlider thumb"
In https://github.com/phetsims/sun/issues/254, the touchArea defaults for HSlider thumb were changed so that they default to pixels, not a percentage of the thumb size.  Sims that use HSlider's `thumbSize` option will therefore need to also specify `thumbTouchAreaXDilation` and `thumbTouchAreaYDilation`.

[2016-08-29 21:50] jessegreenberg commented on #208
Sim runs consistently again on iPad2.  Closing.

[2016-08-29 21:50] #208 closed

[2016-08-29 22:00] jessegreenberg commented on #214
Thanks for working on this @pixelzoom.  Adjusted in commit above, closing.

[2016-08-29 22:00] #214 closed

[2016-08-29 22:16] jessegreenberg commented on #206
Done, closing.

[2016-08-29 22:16] #206 closed

[2016-08-30 15:26] jessegreenberg commented on #162
While looking at the expensive frames, I noticed Color was taking up a bit of time.  A Color was being instantiated, but converted immediately to CSS.  The above commit uses a string directly.

[2016-08-30 15:50] jessegreenberg commented on #162
At this point, it seems most noticeable for the space station orbit around the earth.

[2016-08-30 16:37] jessegreenberg commented on #162
In the step function, new ModelStates and BodyStates are created frequently.  These are immutable representations of the model, and the bodies are updated from the values in these states.  But these are big copies of the body and main models.  They take up a pretty large chunk of the memory profile.  In Firefox, we see chops in the animation, which looks like garbage collection.  I think we will s

[2016-08-30 16:44] jessegreenberg opened #215 "branch: mutable-state"
See #162 - In the Chrome profiling tools, ModelState and BodyState take up a large portion of the allocation profiles.  These are created every animation frame.  This branch will try to create mutable Model and Body states so that multiple state objects aren't created every animation frame.

[2016-08-31 16:49] arouinfar commented on #168
@jessegreenberg this generally looks pretty good! I've encountered just one issue with the Sun/Earth/Moon system.

If the Moon is obliterated before the state is saved, the rewind button will cause the Moon to appear in its default location like so:

![moon_respawn](https://cloud.githubusercontent.com/assets/8419308/18138099/64fcd928-6f68-11e6-8354-792433cbbd49.gif)

In this situation, the Moon sh

[2016-09-08 00:48] jessegreenberg commented on #162
@jonathanolson and I met today to profile and discuss possible solutions for this.  The performance behaves as if the garbage collector is burdened, and the following memory profile (observed in Firefox) supports this:
![capture](https://cloud.githubusercontent.com/assets/6396244/18333196/34893b70-752a-11e6-8cb1-6ba826349d40.PNG)
The red bars are time spent by the garbage collector.

In the Chrome

[2016-09-08 00:50] samreid commented on #162
What does the memory trace and performance look like after removing the closures?

[2016-09-08 01:05] jessegreenberg commented on #162
Performance does look better!  Here is a pic of the memory trace after the above commits:
![capture](https://cloud.githubusercontent.com/assets/6396244/18333552/5a2babee-752d-11e6-9de2-80ae08de7778.PNG)

The number of GC's and the time they take have gone down. One thing that is odd here though is that there are more than one calls to requestAnimationFrame before paint is called.  In the picture a

[2016-09-08 01:15] jessegreenberg commented on #162
The above pic does show some worse performing areas where the GC still takes up some time.  Around 3-4 seconds, we can see minor GC's lowering the fps.  Most GC's after that are CC graph reductions.  I guess these are faster and are actually preparingthe GC for cycle collections. https://developer.mozilla.org/en-US/docs/Tools/Performance/Waterfall#Markers

[2016-09-08 16:29] jessegreenberg commented on #162
![capture](https://cloud.githubusercontent.com/assets/6396244/18357596/ce0a93d2-75ae-11e6-85cc-cc47d37b615b.PNG)

I think the remaining observable jerkiness is caused by the above.  The above image is a capture of a 1 second long garbage collection.  It happened within the first 6 seconds of running the orbit.  After this cycle collection, orbit animation was quite smooth for the remainder of runt

[2016-09-08 16:49] samreid commented on #162
I am seeing the same long pause on OS X 10.11.6 and Firefox 48.0.1.

[2016-09-09 03:34] pixelzoom opened #216 "delete GravityAndOrbitsScreen"
Noted while working on https://github.com/phetsims/joist/issues/339.

It looks like `GravityAndOrbitsScreen` is not used anywhere.  If that's the case, please delete it.

[2016-09-15 16:23] samreid commented on #162
Launching fresh firefox and launching http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.0.0-dev.30/gravity-and-orbits_en.html I did not see this problem at all in 2 trials.

[2016-09-15 16:34] pixelzoom commented on #162
@ariel-phet asked me to take a peek.

[2016-09-15 16:34] pixelzoom commented on #162
@ariel-phet asked me to take a peek. @jessegreenberg can you please point me to the relevant code?

[2016-09-15 16:47] jessegreenberg commented on #162
There are the main places where we have been looking:

GravityAndOrbitsModel.step - computes the next state for each body based on the state of the whole orbital system
Body.addPathPoint - Adds a point to the body's path then triggers the canvas to repaint

[2016-09-15 17:02] pixelzoom commented on #162
All orbits look generally jerky on Mac + FF 48.0.1.  And the jerkiness is chronic, not just for the first orbit.  So I don't think I can be of much help addressing the issue.

My test machine is a MacBookPro (5,3) with Mac OS X 10.11.6, with multiprocessing enabled in FF 48.0.1.  (Details on multiprocess FF at https://blog.mozilla.org/futurereleases/2016/08/02/whats-next-for-multi-process-firefox/

[2016-09-15 17:13] samreid commented on #162
@jessegreenberg does the problem disappear if you reduce your screen resolution?

[2016-09-15 17:23] samreid commented on #162
PathsCanvasNode.pointAddedListener is showing a lot of allocation:

![image](https://cloud.githubusercontent.com/assets/679486/18559949/c38b139a-7b36-11e6-80a2-caf0a5455a93.png)

[2016-09-15 17:24] samreid commented on #162
@jessegreenberg can you comment out the body of pointAddedListener and see if the problem goes away.

[2016-09-15 17:32] pixelzoom commented on #162
*Much* smoother on Mac+FF when the body of pointAddedListener is commented out. There's a little stutter on the first orbit, then looks good.

[2016-09-15 17:36] samreid opened #217 "Use a map for named points"
Why not use a plain JS object as a map for name=>points:

[code]

Instead of calling `getPointsFromName` you would just use pointsMap[name].

[2016-09-15 17:37] samreid opened #218 "Param {type}"
I'm seeing type annotations like this in a few spots:

* @param  {type} name description

This should be filled in.

[2016-09-16 23:31] samreid commented on #162
I tested this 5 times on Firefox 48.0.1 on Windows.  Twice I saw the hitch during animation.  The times I did not see the hitch during animation, it took slightly longer for the home screen to get to the sim screen, and the hitch may have happened during that step.

Even when I launch with ?screens=1 to avoid the homescreen and get to the path as soon as possible, there is only a hitch about half

[2016-09-21 23:11] jessegreenberg commented on #218
Thank you @samreid, indeed they should.  Above commit fills in the missing JSDoc.

[2016-09-21 23:11] #218 closed

[2016-09-21 23:24] jessegreenberg commented on #217
Yes, much cleaner and more direct, thanks @samreid.  A map makes this function unnecessary.  Closing.

[2016-09-21 23:24] #217 closed

[2016-09-21 23:54] jessegreenberg opened #219 "Clean up js/ structure"
This sim uses modules under the js/ structure, which was probably taken from the java. It is unconventional for html5 sims, and would fail a code review checklist item because it doesn't use the model/ view/ pattern for each screen in js/.

[2016-09-22 14:09] jessegreenberg commented on #216
Done in the commit above, GravityAndOrbitsScreen was not used.  gravity-and-orbits-main was creating models and views directly making it larger than necessary.  The commit above distributes out into separate screens so that gravity-and-orbits-main.js is smaller and looks more like other sims.

[2016-09-22 14:09] #216 closed

[2016-09-22 19:48] jessegreenberg commented on #162
On Windows 10 Firefox 49.0 I saw the issue in 10/12 trials so I think I am seeing this more frequently than @samreid.

For me, reducing the number of screens does not change the frequency at which this occurs.

I am never really sure how to interpret popupDebug, but I think this shot shows that only one canvas is being used:
![display](https://cloud.githubusercontent.com/assets/6396244/18757023/53

[2016-09-23 20:18] jessegreenberg commented on #162
I tried a *very quick* 'hello world' kind of test using WebGL, removing all bodies and replacing the earth with a triangle.
![webgl](https://cloud.githubusercontent.com/assets/6396244/18800027/0f1a4ada-8198-11e6-8632-d63c2d3a89e9.PNG)

Even in this case, with fewer bodies being drawn with WebGL, I see the hiccup frequently when the orbit starts.  I will check the code into a branch just in case we

[2016-09-23 20:52] jessegreenberg commented on #162
@jonathanolson provided a link to additional Firefox memory profiling tools that are not enabled by default:
https://developer.mozilla.org/en-US/docs/Tools/Memory/Basic_operations#Opening_the_Memory_tool

This will let us see heap snapshots, compare by diffing snapshots, and even record the call stack.

[2016-09-24 00:22] samreid commented on #162
Have you tried changing the model code so that there are fewer allocations? Using pooling or mutable physics?  A quick hack that will tell you whether we are barking up the right tree would be to change toBodyState/new BodyState() and all of those copy() functions and see what the waterfall view looks like.  For instance, you could remove the copy functions in toBodyState and record the waterfall

[2016-09-24 05:38] jonathanolson commented on #162
Just did some quick testing, and couldn't reproduce a major stall (only had some very minor one once). Things seemed smooth.

FF's memory tools shows that modelToViewPosition's usage in pointAddedListener and the toBodyState copy were the main allocations.

[2016-09-27 19:18] phet-steele opened #220 "[iPad 2] Performance when switching orbits"
Really the performance on iPad 2 is bad all around, but it is at its worst when switching between sim states (orbits/screens). This video was captured just after sim load (no fancy checkboxes enabled):

https://drive.google.com/file/d/0B3HJopSo_QqLb1pKZHlSVW5ySzg/view?usp=sharing

Tested on iPad 2 iOS 9.3.5. For phetsims/tasks/issues/692.

URL: http://www.colorado.edu/physics/phet/dev/html/gravity

[2016-09-27 19:50] jonathanolson opened #221 "Sim relies on translated string comparisons"
@phet-steele noticed this when in a string test, and it's due to the same cause as https://github.com/phetsims/pendulum-lab/issues/145

If stringTest=x is passed in and paths are enabled, paths can be drawn between the sun and planet:
![screen shot 2016-09-27 at 1 47 09 pm](https://cloud.githubusercontent.com/assets/480878/18889169/ed805396-84b8-11e6-99d5-42a42baf75e6.png)
this is because PathCanv

[2016-09-27 19:56] phet-steele opened #222 "Satellite orbit measuring tape needs more sig figs"
@arouinfar we talked about this before, please comment if this is a change to go ahead with. The measuring tape in the satellite orbit does not give very useful information. The range at which the measuring tape displays the same number for distance is huge. Not to mention, it quickly goes to "0 thousand miles" well before reaching the distance from the Earth to the satellite's orbit.

<img width=

[2016-09-27 20:43] phet-steele opened #223 "Grid does not extend the length of the screen"
Very noticeable on the Earth+Moon orbit. You must zoom all the way out:

<img width="1920" alt="screen shot 2016-09-27 at 2 40 39 pm" src="https://cloud.githubusercontent.com/assets/5863899/18890927/7f50bfd4-84c0-11e6-8bb9-3dc3634a51c4.png">

Seen on macOS 10.12 Chrome. For phetsims/tasks/issues/692.
URL: http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.0.0-dev.30/gravity-and-orb

[2016-09-27 21:03] phet-steele commented on #207
@jessegreenberg this is not consistent for different zoom levels. Zoomed in I get ~50% of the orbit, zoomed out I get ~150% of the orbit.

[2016-09-27 21:37] phet-steele opened #224 "Bodies can display mass labels independent of the checked option"
1. To Scale screen, Earth+Satellite orbit is easiest. Keep the sim paused (again just easier).
2. Check "Mass".
3. Drag the bodies to collide them into each other. The Satellite should now be gone.
4. Uncheck "Mass".
5. Press the orbit refresh button

The Satellite will still display a mass label. The opposite procedure works, where step 2 has the Mass checked already. Uncheck at that step instead

[2016-09-27 22:00] jessegreenberg opened #225 "Control panel names are confusing"
These names are confusing, and it is unclear what each panel does.

BodyMassControlPanel
MassControlPanel
UpperRightControlPanel

[2016-09-27 23:14] jessegreenberg commented on #224
Fixed in the commit above.

Yes!  The position of the label was also not being reset so if the mass changed, the label would also be in the wrong place in addition to being incorrectly visible.

[2016-09-27 23:15] jessegreenberg commented on #224
I don't see a need to verify this fix, closing.

[2016-09-27 23:15] #224 closed

[2016-09-27 23:17] jessegreenberg commented on #223
Also noticeable for every configuration other than earth + satellite, but not as much as Earth + moon.

[2016-09-27 23:30] jessegreenberg commented on #223
Fixed in commit above. Thanks @phet-steele.

[2016-09-27 23:30] #223 closed

[2016-09-27 23:35] jessegreenberg commented on #221
Thanks @jonathanolson and @phet-steele.

I am on it!

[2016-09-28 00:30] jessegreenberg commented on #221
Done in the commits above, I gave a full review of the strings.  No model properties should be dependent on these any more.

[2016-09-28 00:32] jessegreenberg commented on #221
Path looks good with string test = x.  Sim passes extensive fuzz test, and I verified all cases where the sim was referencing getting bodies with translatable string names.
![stringtextx](https://cloud.githubusercontent.com/assets/6396244/18896674/c64a59c0-84e0-11e6-92aa-610e43621cec.PNG)

[2016-09-28 00:33] jessegreenberg commented on #221
Closing.

[2016-09-28 00:33] #221 closed

[2016-09-28 16:30] arouinfar commented on #222
@phet-steele good catch. This measuring tape is completely useless in this situation. I'd recommend adding one decimal place @jessegreenberg.

[2016-09-28 16:49] arouinfar opened #226 "Consider adding labels to mass sliders"
@phet-steele has made two suggestions to improve the mass sldiers
- Add the word "Mass" to the slider labels, so they would read "Planet Mass", "Satellite Mass", etc.
- Add labels to the unlabeled tick marks to provide a better sense of scale.

I think these are good suggestions. The slider values are relative to the benchmark object, and the tick marks correspond to 50%, 100%, 150%, 200%. However

[2016-09-28 16:54] phet-steele opened #227 "Automated Testing Sim Error (9/28/2016 9:30 AM)"
[code]

[2016-09-28 17:07] arouinfar opened #228 "Items to Include in the Teacher Tips"
In addition to what's noted in the Tips for the Java version, we'll also need to clarify
- [x] Slider scales - #226
- [x] Gravity force vectors in the 3-body system are net gravitational forces (this is most noticeable on the Moon)
- [x] An object's velocity can be changed by dragging its velocity vector
- [x] Playback speed - #253
- [x] ?projectorMode
- [x] Perspective of Earth and Moon is differ

[2016-09-28 17:12] ariel-phet commented on #226
@arouinfar I think if we put the words in (Star and Planet), we should remove the icons. In the mockup there seems like now there is some competition between the word "Earth" and the icon. so I would say remove the icons.

I think I might also just put in numbers not percents (0.5, 1.5, 2.0) just seems simpler and cleaner to me

Thoughts?

[2016-09-28 17:35] arouinfar commented on #226
@ariel-phet, great suggestion. I think decimal values are a much better way to go. I think the icons may be there to help cue younger students which object is the planet and which is the star. However, I don't think they are necessary. It certainly looks cleaner without the icons.

<img width="350" alt="screen shot 2016-09-28 at 11 33 25 am" src="https://cloud.githubusercontent.com/assets/8419308/

[2016-09-28 17:49] jessegreenberg commented on #227
Thanks @phet-steele.

[2016-09-28 17:49] #227 closed

[2016-09-28 17:59] ariel-phet commented on #226
@arouinfar can we also try the icons to the left of the text (that might remove the competition between the icons and the words Earth/Sun)

[2016-09-28 18:04] phet-steele commented on #226
@ariel-phet @arouinfar would it be bad to put a little "x" before every number so they read "x0.5" etc..?

[2016-09-28 18:21] jessegreenberg commented on #162
Yes I did, but it did not improve the issue at all.

Good idea, I gave this a try and the issue persists with the same frequency.

Going down this path, I continued to comment out places in the sim where things were getting allocated frequently.  No matter what, the major stall was observable using the profiling tools.  I *completely comment out step* in GravityAndOrbitsModule.js, and the major gl

[2016-09-28 18:22] jessegreenberg commented on #162
Or maybe Firefox is caching the optimization, applying it aggressively in my tests above? I don't know how that would work, and it seems unlikely because I was able to reproduce the above image several times.

[2016-09-28 18:30] jessegreenberg commented on #162
I just observed this in the first screen of forces-and-motion-basics (although with less frequency).  Here is an example, I saw this in 3 / 9 trials:

![famb-1](https://cloud.githubusercontent.com/assets/6396244/18926973/102d57b8-8577-11e6-9b95-86cf0674bb84.PNG)

The above shows an 800ms delay for garbage collection.

[2016-09-28 18:34] arouinfar commented on #226
@ariel-phet I think it looks cleaner with the icons to the left.
<img width="350" alt="screen shot 2016-09-28 at 12 32 56 pm" src="https://cloud.githubusercontent.com/assets/8419308/18927116/b5ecb298-8577-11e6-9875-47a6c4c0dda5.png">

@phet-steele, while I understand the motivation behind your suggestion, I think the "x" would be confusing to students. It probably wouldn't internationalize very we

[2016-09-28 18:39] jessegreenberg opened #229 "branch: hack-n-slash"
Branch where model and view elements have been removed in an attempt to find the root source of #162. It includes a new TestScreen with minimal simulation components to act as a playground for testing.

[2016-09-28 20:13] ariel-phet commented on #226
@arouinfar Looks good to me

I might move the siders both down a few pixels (the tick labels are pretty tight to the titles), just a bit more negative space

[2016-09-28 21:15] jessegreenberg commented on #222
From a comment in the code, it looks like the satellite is supposed to have 1 sig fig while all other bodies should have 0.

From @phet-steele's screenshot above, a bug is preventing this from happening.  @arouinfar would you like all bodies to have an extra decimal place or just the satellite?

[2016-09-28 21:45] arouinfar commented on #222
@jessegreenberg let's go with 1 decimal for the satellite, and none for the other bodies.

[2016-09-28 22:06] jessegreenberg commented on #222
Sounds good, thanks @arouinfar.  This was fixed via
https://github.com/phetsims/gravity-and-orbits/commit/45d1ad0a7b0252a6ded00973359e4e9d22e7be44

![fixed](https://cloud.githubusercontent.com/assets/6396244/18934169/7e09c604-8595-11e6-9356-66e30ba18f1c.PNG)

Closing.

[2016-09-28 22:06] #222 closed

[2016-09-28 22:10] jessegreenberg commented on #220
@phet-steele could you please clarify? I am running the sim on Witten (iOS 9.3.5) and performance seems good, other than the specific issue you pointed out.

Yes, I can see that on Witten.  I also reproduced on Chrome, but to a lesser extend, and only for the built version.

[2016-09-28 22:27] jessegreenberg commented on #162
Based on https://github.com/phetsims/gravity-and-orbits/issues/162#issuecomment-250254257 and https://github.com/phetsims/gravity-and-orbits/issues/162#issuecomment-250257015, it seems like we should move this issue to scenery, and/or monitor Firefox to see if this improves in betas or later browser versions.

@jonathanolson and @ariel-phet what do you think?

[2016-09-28 22:35] ariel-phet commented on #162
@jessegreenberg I think you are right. Please move to scenery and mark as a browser bug.

Looks like something we will have to live with for the moment (fortunately our usage is mostly dominated by Chrome these days)

[2016-09-29 15:21] jessegreenberg commented on #207
Orbit path length calculated from model coordinates, perhaps I forgot to transform for zoom.

[2016-09-29 17:06] phet-steele opened #230 "Zoom changes can push bodies"
Bodies can be pushed around by changing bounds (when zooming in/out) and changes their orbits. This seems problematic, and can happen when the sim is either running or paused. I've done custom setups that become ruined when zooming in. To demonstrate (not as a custom setup):

![gao02](https://cloud.githubusercontent.com/assets/5863899/18963146/f33bf898-8630-11e6-8f63-eab475ae2cdd.gif)

For example

[2016-09-29 17:10] phet-steele commented on #220
@jessegreenberg not much to clarify, my opinion was that its overall performance wasn't great. Mostly with the jerkiness in the orbits, and zooming felt a tad slow.

[2016-09-29 18:47] arouinfar commented on #230
Yes, I would think so @phet-steele. However, if the zoom level causes an object to go off-screen, that object would need to be retrieved by the Return Objects button. Otherwise, I think things would get too complicated.

[2016-09-29 19:30] arouinfar commented on #226
Here's the updated mockup. @ariel-phet has given it the thumbs up, so it's all yours @jessegreenberg.

<img width="530" alt="screen shot 2016-09-29 at 1 22 49 pm" src="https://cloud.githubusercontent.com/assets/8419308/18968827/d7fc8040-8647-11e6-8296-54cab39c4225.png">

[2016-09-29 21:48] jessegreenberg opened #231 "Step Button dt should be independent of play speed"
@phet-steele mentioned a possible improvement so that the step button is more useful.  When stepping forward in slow motion, the step button is quite slow, while it is much quicker for 'fast forward'.  It would be helpful and more consistent if the step button incremented the time step in a way that is independent of play speed.

[2016-09-29 22:12] phet-steele opened #232 "Explosions while paused"
The explosion animation behaves weirdly while the sim is paused. For instance, pausing the sim and dragging a body into another will begin an explosion; the explosion will only continue to progress if the user continues to "drag" the now destroyed object, otherwise if they release the body, the animation will pause. Furthermore, the image for a paused explosion does not scale or move while adjusti

[2016-09-29 22:13] phet-steele opened #233 "Paths drawn when manipulating bodies"
Probably not a huge deal but a little messy. When "Path" is enabled and a body becomes user controlled, a path is drawn between an objects start point and end point as a straight line. The video below shows how to do this when the sim is paused or when the sim is running. @arouinfar I would almost suggest that we limit the Path to only being drawn when a body is not user controlled, and erasing an

[2016-09-30 20:08] arouinfar commented on #233
@phet-steele I don't particularly see how the paths in your .gif are at all useful to students.

I would agree; so long as the bodies not being dragged by the user would still have the path drawn. Like the Earth in this situation

![path](https://cloud.githubusercontent.com/assets/8419308/19005135/28383daa-8716-11e6-9e36-2e75428e7c86.gif)

To recap:
* Previous paths are erased when an object is gr

[2016-09-30 20:14] arouinfar commented on #232
Sounds reasonable to me @phet-steele.

[2016-09-30 21:07] jessegreenberg commented on #231
[code]
It should be stepping exactly 1 / 60.  Not sure what is going on here.

[2016-09-30 21:17] jessegreenberg commented on #231
It is not using the dt parameter at all, the clock is using an event callback to set the simulation time based on clock.dt, which is modified by the playing speed.  Based on ```stepClockWhilePaused``` of GravityAndOrbitsClock, this is not the desired behavior.

[2016-09-30 21:21] jessegreenberg commented on #231
[code]
We want to use dt, not self.clock.dt.  Replacing caused the animation to stop working.

[2016-09-30 22:05] jessegreenberg commented on #231
Since the sim is limiting dt through phet-core event timer, dt param is used there, and the model is stepped by GravityAndOrbitsClock public dt variable.  Fixed through the commit above by explicitly setting clock.dt when stepping manually.

[2016-09-30 22:05] #231 closed

[2016-09-30 22:09] jessegreenberg opened #234 "Lots of JSDoc missing"
In many types, JSDoc is missing entirely.  Some have access annotations and nothing else.

[2016-09-30 22:34] jessegreenberg opened #235 "Should 'Return Object' button appear after collision?"
It seems like when a body collides with another body, there is no way to return it other then pressing 'Reset All'.  @arouinfar is this correct, or should there be a way to return the body after a collision?

[2016-09-30 22:37] jessegreenberg commented on #232
Done in the commit above, closing.

[2016-09-30 22:37] #232 closed

[2016-09-30 22:48] jessegreenberg commented on #233
So in the gif of https://github.com/phetsims/gravity-and-orbits/issues/233#issuecomment-250840117 we would never see a path for as long as the sun is picked up for dragging?

[2016-09-30 23:23] arouinfar commented on #233
@jessegreenberg say the Path option was on while the earth was orbiting the sun. Once the sun is picked up, that path clears. The Earth will create a new path (like the custom one in that .gif) but the Sun will not have any path because it is being directly manipulated by the user.  Does that make sense?

[2016-09-30 23:24] arouinfar commented on #235
@jessegreenberg I think we want to reserve the Return Object button for objects that escape off-screen. If an object is annihilated, I think it could be recovered using the Reset All or by using the reset button next to the selected system.

[2016-10-01 01:01] jessegreenberg commented on #230
This is an accidental side effect of https://github.com/phetsims/gravity-and-orbits/commit/bd9b438aab86c93f90ff9d7962805e2c864b937a from #212.

[2016-10-03 21:07] phet-steele commented on #233
@arouinfar, I don't think the Earth's path should **ever** be erased unless **IT** is the object being manipulated. I was imagining that the only paths being erased are the ones belonging to the manipulated body.

When I said:

I should have said "erasing any previous path *of the body being grabbed*. My bad there. In @arouinfar's above .gif, I think the Earth's path is actually a useful learning

[2016-10-03 21:11] phet-steele commented on #233
I see now where you were going with this @arouinfar, but I think retaining the non-controlled object's path is valuable.

[2016-10-06 15:37] jessegreenberg commented on #233
@arouinfar I understand https://github.com/phetsims/gravity-and-orbits/issues/233#issuecomment-250874213, thanks for the extra example.

What do you think about @phet-steele's comments above?  I tend to agree that it seems valuable to keep the paths of other bodies while dragging an object.

[2016-10-06 15:42] jessegreenberg commented on #235
Thanks @arouinfar just wanted to make sure that it was considered.  I forgot about the 'reset system' button.

[2016-10-06 15:42] #235 closed

[2016-10-06 18:31] arouinfar commented on #233
@jessegreenberg, I just spoke to @phet-steele, and I agree that it would be valuable to retain the paths of the other bodies. I'll amend my comment above.

[2016-10-06 18:48] jessegreenberg commented on #233
Thanks @arouinfar and @phet-steele, I'm on it.

[2016-10-06 18:52] jessegreenberg commented on #230
The drag handler is also restricting the bounds of the planet when transform changes.  Once the workaround is discovered, we should determine if something should be changed in MovableDragHandler.

[2016-10-07 21:56] jessegreenberg commented on #162
Issue has been created in scenery.  It will be tracked there.  Removing the high priority label for the moment, and marking as deferred as mentioned in https://github.com/phetsims/gravity-and-orbits/issues/162#issuecomment-250321585.

[2016-10-10 17:35] jessegreenberg commented on #234
JSDoc added in the commit above.

[2016-10-10 17:35] #234 closed

[2016-10-10 17:50] jessegreenberg commented on #230
Sould be fixed in the commit above, but it would be nice to verify this in the next dev version.

[2016-10-10 17:56] jessegreenberg opened #236 "Should 'Return Object' reset day counter?"
When an object is dragged while the sim is paused, the day counter is now reset (see #168).  When 'Return Object' button is pressed after a body leaves the play area, the simulation is paused.  At this point, should the day counter be reset?

It seems like this would also apply to the 'Return Object' button.  @arouinfar do you agree?

[2016-10-10 17:58] arouinfar commented on #236
Agreed @jessegreenberg.

[2016-10-10 18:13] jessegreenberg opened #237 ""Return Object" will occasionally fail to return earth"
While working on #236, I noticed that there are some times where Return Object button will fail to return both the sun and the earth if both are out of bounds.  In this case, the sun is returned, but the earth stays out of bounds and continuing to press the 'Return Object' button does nothing.

[2016-10-10 18:14] jessegreenberg commented on #236
Thanks @arouinfar, done in the commit above. I found bug #237 while working on this, but this issue can be closed.

[2016-10-10 18:14] #236 closed

[2016-10-10 18:48] jessegreenberg commented on #237
Here is an example:
![ezgif com-resize](https://cloud.githubusercontent.com/assets/6396244/19247295/c8f48cd4-8ee7-11e6-85ef-1e16f458224f.gif)

[2016-10-10 18:51] jessegreenberg commented on #237
To layout steps, in the above capture I
- Began sim animation
- Placed sun nearly out of bounds, with earth almost out of bounds, but closer to center relative to sun
- Adjusted zoom so that the sun is moved out of bounds
- paused
- adjusted zoom
- returned sun
- resumed sim animation
- attempted to return earth once it left simulation bounds

[2016-10-10 18:54] jessegreenberg commented on #237
Just reproduced with both earth and sun, though I don't exactly remember the steps I took to get there.

[2016-10-10 19:08] jessegreenberg commented on #237
Ah, here is a super easy case: Drag a body to the top of the play area bounds.  Zoom in until 'Return Body' Appears.  Pressing return body will then fail to return the body.

[2016-10-10 19:13] jessegreenberg commented on #237
Position property is not being set correctly, model thinks that the planet is in bounds.  If you try to drag a planet that is out of bounds, it snaps to the bounds of the play area.

[2016-10-10 19:50] jessegreenberg commented on #237
Fixed in above commit, I am not sure how this was working before.  The bodies are returned when they leave their own bounds which were never changed with zoom property.  Closing.

[2016-10-10 19:50] #237 closed

[2016-10-10 20:04] jessegreenberg commented on #233
Fixed in the above commit, but this would be good to verify in the next dev version.

[2016-10-10 21:37] jessegreenberg commented on #226
The current implementation in BodyMassControl uses HBoxes ad VBoxes to add ticks and labels to the slider.  This was likely done before HSlider supported labelled ticks.  BodyMassControl can be simplified a bit by using ticks and labels provided by HSlider.

[2016-10-10 22:18] jessegreenberg commented on #226
@arouinfar should it be 'Satellite' or 'Space Station'?  When the mass labels are turned on, the small body is labelled in 'Space Station masses'.  The new artwork looks more like a satellite than the old image.

[2016-10-10 22:22] jessegreenberg commented on #226
I see a mix of 'Satellite' and 'Space Station' in some of the documentation.  Is it important to use one vs the other?

[2016-10-10 22:26] jessegreenberg commented on #226
Both terms are used for labels in the Java version as well.

[2016-10-10 22:34] jessegreenberg commented on #226
Commits above should complete this, other than https://github.com/phetsims/gravity-and-orbits/issues/226#issuecomment-252761112

[2016-10-11 05:54] arouinfar commented on #226
@jessegreenberg I do agree that the new satellite artwork does look less space station-y than the original satellite artwork. However, I think we should leave mass labels in terms of space station masses, since that is the benchmark object. The label above the slider should remain "Satellite" and the 2nd notch should be "Space Station".

[2016-10-13 15:05] jessegreenberg commented on #226
Sounds good, thanks @arouinfar.  In that case, this will be ready for review in the next dev version.

[2016-10-20 14:57] jessegreenberg commented on #225
On second thought, BodyMassControlPanel and MassControlPanel seem like appropriate names, and the documentation is well in place to distinguish the two.

Commit above renamed UpperRightControlPanel so that its name is not dependent on its location in the ScreenView.  Closing.

[2016-10-20 14:57] #225 closed

[2016-10-20 15:09] jessegreenberg commented on #219
This is actually a duplicate of https://github.com/phetsims/gravity-and-orbits/issues/219, opened in the first code review.

In that issue, it was noted that

There is additional documentation in that issue for the reasoning behind the current js/ structure.  Closing.

[2016-10-20 15:09] #219 closed

[2016-10-20 15:18] jessegreenberg commented on #207
In addition, when zoomed out, the path does not fade out at all.

[2016-10-20 15:38] jessegreenberg commented on #207
This should be fixed, but the fade out is still not as clean when zoomed all the way out.

[2016-10-24 20:21] jessegreenberg commented on #220
The root cause of this is the excludeInvisible: true option added to GravityAndOrbitsPlayArea.

It removes invisible layers from the DOM.  Here is the blockSummary with excludeInvisible: true
![capture](https://cloud.githubusercontent.com/assets/6396244/19662482/ead9b3c0-99f4-11e6-85f0-d82ea65cfbfc.PNG)

And the block summary with excludeInvisible: false
![exclude false](https://cloud.githubuserco

[2016-10-24 20:40] jessegreenberg commented on #220
Consulted with @jonathanolson, removing the excludeInvisible flag is fine as long as sim doesn't crash due to memory limitations.

Tested on Chrome, Firefox, and iPad2 Safari, sim does not crash so this seems like a fine solution.

There is still a long delay on all platforms for the built version when toggling screen views.  This only happens the first time on chrome, so it is able to cache somet

[2016-10-24 20:43] jessegreenberg commented on #220
Delay for RequireJS version is ~0.5 seconds.  Delay for built version is ~3.5 seconds.

[2016-10-24 20:46] jessegreenberg commented on #220
Removing the canvas does nothing to improve performance.

[2016-10-25 16:27] jessegreenberg commented on #220
Time is reduced quite a bit when replacing all images with moons.

[2016-10-25 17:41] jessegreenberg commented on #220
Removing the excludeInvisible flag hurts performance in Chrome by quite a bit, and causes Chrome to take ~15% cpu while the sim is running.

[2016-10-25 17:45] jessegreenberg commented on #220
Moving excludeInvisible to the PathsCanvasNode instead of GravityAndOrbitsPlayArea returns performance to chrome.  Not sure if this brings back the delay in switching orbits yet.

[2016-10-25 17:47] jessegreenberg commented on #220
It does not, so excludeInvisible should be located on the PathsCanvasNode.

[2016-10-25 17:53] jessegreenberg commented on #220
Back to https://github.com/phetsims/gravity-and-orbits/issues/220#issuecomment-256086446, the moons images are very small in size, so this could be a memory issue, but not sure.

[2016-10-25 18:41] jessegreenberg commented on #220
This is not an issue for dev.28, which has all the updated assets.  But isolating in dev.29 could help narrow down the cause.

[2016-10-25 18:46] jessegreenberg commented on #220
~16 commits between the two versions. e0811318a5033f702f7016757097404ed03d233f to d38517222116a21507e17e281a6e178a6b186443.

[2016-10-25 18:55] jessegreenberg commented on #220
c3e2049555d8fec70ffa2b343b1590b9433665e5 from #208 looks suspicious.

[2016-10-25 22:05] jessegreenberg commented on #220
I ended up reverting https://github.com/phetsims/gravity-and-orbits/commit/24dda058fab305e942fb3557acd9a767783f9dea because it seemed to reduce performance in Chrome when the paths were turned on.

The commit above reduces the image quality of the earth a bit and this improves performance by quite a bit.  The file size of the earth image was about as large as all of the images in Energy Forms and

[2016-10-26 16:06] jessegreenberg commented on #207
[code]

This is the cause of this issue.  this.path.length is the length of an array.  this.maxPathLength is the length of the body's path in view coordinates.

[2016-10-26 17:52] jessegreenberg commented on #207
Fixed in the above commit.

[2016-10-26 19:18] jessegreenberg commented on #168
The state is saved every time a body changes one if its properties while paused.  This is not efficient since we want to save the state when the user releases on drag.  In addition, only the single body state is saved when a particular body changes.  For instance, dragging the earth while paused will save the state of the earth, but none of the other body states will be saved unless one of their o

[2016-10-26 19:40] jessegreenberg commented on #144
Reviewed, this was also helpful for issue #220.  Closing this issue since the port performs well now, other than #162 (deferred, opened in scenery).

[2016-10-26 19:40] #144 closed

[2016-10-26 19:41] jessegreenberg commented on #168
Fixed in the above commit.  Rather than saving the state of individual bodies every time a property changes, the state of the whole system is saved after the user sets up an experiment.

[2016-10-26 19:55] jessegreenberg commented on #168
@arouinfar can you please verify that the behavior is correct in the latest version?
http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.0.0-dev.31/gravity-and-orbits_en.html

[2016-10-27 17:47] brroberts1231 opened #238 "Paths are erased when changing zoom"
Seen on Win 8, chrome. For phetsims/tasks#719.

When paths are shown and you zoom in or out, any previous paths will be erased and started again at the new positions of the bodies after you stop zooming. I'm not entirely sure if this is a bug or was an intended behavior, but prior to 1.0.0-dev.20, the paths were kept while zooming, which I think would be better. I couldn't find any issues referrin

[2016-10-27 18:01] BryceAG commented on #230
This has been fixed for planets, but not for the tape measure in the scale section of the lab; the base will be dragged when zooming, but not the free end. This can result in the end of the tape measure being off screen and difficult to bring back on screen.

[2016-10-27 18:10] arouinfar commented on #238
Good catch @brroberts1231. I think this is an unintended change. @jessegreenberg please leave paths intact while zooming.

[2016-10-27 18:18] BryceAG opened #239 "Larger bodies do not have a path"
Test device:
Bates

Operating System:
Windows 7

Browser:
Chrome

Problem description:
Larger bodies do not have a path, such as the sun in the first two orbits, or the earth in the other two.

Steps to reproduce:
select paths and velocities, give the larger object a velocity

Severity:

Screenshots:
![image](https://cloud.githubusercontent.com/assets/15327201/19779671/5f2e9b68-9c3f-11e6-94ce-f4c2

[2016-10-27 19:51] jessegreenberg commented on #238
@arouinfar, I can certainly add this in, but it is not an unintended change.  I think this was added as of dev.20 to match the Java version of the sim, which also removes the paths when the zoom changes.

Are you OK that this is a deviation from the Java?

[2016-10-27 19:55] jessegreenberg commented on #238
Here is the code the handles this, placed in PathsNode when @aaronsamuel137 did the initial port.
[code]

[2016-10-27 20:59] jessegreenberg commented on #239
Thanks for catching this, the larger bodies should have a path.

[2016-10-27 22:02] jessegreenberg commented on #239
Paths are back!

![capture](https://cloud.githubusercontent.com/assets/6396244/19787201/c16a4542-9c5e-11e6-87f4-878c4690ce34.PNG)

closing.

[2016-10-27 22:02] #239 closed

[2016-10-27 22:18] jessegreenberg commented on #230
Nice catch @BryceAG, thanks.  It seems like the free end *should* get pushed off screen, otherwise the measured distance might change or be incorrect for the current zoom.  But, there is a weird bug where the length of the tape measure will grow indefinitely in certain cases.

I also notice that if the measure is on the edge of teh bounds when zooming in, the zooming action will force it to rotate

[2016-10-27 22:24] jessegreenberg commented on #230
If the measure is in the center of the area, the tape will grow with the transform as expected.  If the end of the measure is outside of transform bounds, it will grow very quickly.
![1](https://cloud.githubusercontent.com/assets/6396244/19787771/c2361c1e-9c61-11e6-914d-fc52cfed74a4.PNG)
![2](https://cloud.githubusercontent.com/assets/6396244/19787777/c59c7fec-9c61-11e6-80c3-f7adb39a6ea8.PNG)
![3]

[2016-10-27 22:26] jessegreenberg commented on #230
Actually, it looks like in the bottom case, the length value property is also changing.

[2016-10-27 23:17] arouinfar commented on #238
@jessegreenberg I'm not worried about this being a variation from Java. I think it would be a nice touch, but I don't think it's worth putting significant time into. If you think this is a relatively straight-forward change, then I would recommend that we allow the paths to scale with the zoom. However, the stroke weight should remain a constant (this is contrary to dev.19 where zooming in creates

[2016-10-27 23:20] jessegreenberg commented on #238
Sounds good @arouinfar I will take a look.  I agree with the comment about scaling the stroke.

[2016-10-27 23:27] jessegreenberg commented on #238
Simply redacting ```clearPath``` creates this kind of thing:
![strange](https://cloud.githubusercontent.com/assets/6396244/19789155/92429ede-9c6a-11e6-941b-48bd9138a289.PNG)

[2016-10-27 23:28] jessegreenberg commented on #238
Points are transformed as they enter they are added to an array in PathsCanvasNode.  To fix this we will need to clear the array in PathsCanvasNode, loop through the points in each body's path and transform them, and finally paint the canvas.

[2016-10-27 23:36] arouinfar commented on #238
That sounds expensive @jessegreenberg. Do you think performance would noticeably suffer?

[2016-10-27 23:38] jessegreenberg commented on #238
The above commit should fix this.  @arouinfar I don't expect it to be too bad, but I will check a couple platforms.

[2016-10-27 23:59] jessegreenberg commented on #238
Here is a version with this change.  I tried it out on an iPad2 and performance seems similar to the previous version.

http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.0.0-dev.32/gravity-and-orbits_en.html

@arouinfar could you please review the behavior and performance?

[2016-10-28 20:14] jessegreenberg commented on #238
@phet-steele if you have access to devices, would you be able to compare performance (while zooming) between
http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.0.0-dev.32/gravity-and-orbits_en.html

and

http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.0.0-dev.31/gravity-and-orbits_en.html

[2016-10-28 20:17] arouinfar commented on #238
@jessegreenberg looks good to me, but I think it would still be good for @phet-steele to compare the performance.

[2016-10-28 20:23] arouinfar commented on #168
@jessegreenberg looks good to me!

[2016-10-28 20:23] #168 closed

[2016-10-31 21:06] pixelzoom opened #240 "Replace getQueryParameter with QueryStringMachine"
Factored out of https://github.com/phetsims/query-string-machine/issues/15

[2016-10-31 21:53] jessegreenberg commented on #230
In this sim, the base is bounded to the drag bounds, but the tip is not.   We want the tip of the measure to extend outside of the drag bounds to follow the planets and conserve the measured value.

To restrict the bounds of the base, the basePositionProperty value is changing, and the tip value is staying the same, which is why the length grows very long.  When the base position changes to stay i

[2016-10-31 21:55] #240 closed

[2016-10-31 22:01] jessegreenberg commented on #230
Should be fixed in the commit above, but should be reviewed since this is sort of a unique case.

[2016-10-31 22:09] jessegreenberg commented on #230
@arouinfar and @phet-steele can you test the behavior of the tape measure in
http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.0.0-dev.33/gravity-and-orbits_en.html and make sure that it is correct?

Specifically, I want to make sure that these assumptions are correct:

[2016-10-31 22:20] jessegreenberg commented on #230
Here is an example of what I mean.  The red line is the edge of dev and drag bounds.

Broken ( as in https://github.com/phetsims/gravity-and-orbits/issues/230#issuecomment-256787231):
![broken](https://cloud.githubusercontent.com/assets/6396244/19873644/cede4a3c-9f85-11e6-98d0-931086b02b1d.gif)

Fixed:
![fixed](https://cloud.githubusercontent.com/assets/6396244/19873647/d1a86b30-9f85-11e6-8fe7-edb

[2016-10-31 22:33] phet-steele commented on #230
I'm okay with how this behaves, thank you @jessegreenberg and @BryceAG.

[2016-10-31 22:38] arouinfar commented on #230
Looks good to me too. Thanks!

[2016-11-01 16:22] brroberts1231 commented on #233
Fixed, closing.

[2016-11-01 16:22] #233 closed

[2016-11-01 16:29] jessegreenberg commented on #230
Great, thanks @phet-steele @BryceAG and @arouinfar.  Closing this issue.

[2016-11-01 16:29] #230 closed

[2016-11-01 16:52] brroberts1231 commented on #207
Fixed, closing

[2016-11-01 16:52] #207 closed

[2016-11-01 16:52] jessegreenberg commented on #226
Sorry @arouinfar I forgot to assign this to you in the latest dev test.  Can you review the new layout and close this issue if it looks good?

http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.0.0-dev.31/gravity-and-orbits_en.html

[2016-11-01 16:54] brroberts1231 commented on #220
Looks good to me, closing

[2016-11-01 16:54] #220 closed

[2016-11-01 17:06] brroberts1231 commented on #238
Performance looks acceptable while zooming, closing

[2016-11-01 17:06] #238 closed

[2016-11-01 17:06] jessegreenberg commented on #238
Thanks a lot for checking @brroberts1231.

[2016-11-01 17:13] arouinfar commented on #226
Looks great @jessegreenberg. Thanks!

[2016-11-01 17:13] #226 closed

[2016-11-01 17:15] arouinfar commented on #228
Marking as on-hold until the sim is closer to publication.

[2016-11-01 23:23] jessegreenberg commented on #210
```ModeListModule( p, sunEarth, ...``` - p should be renamed to something like parameterList.

[2016-11-03 04:51] jessegreenberg opened #241 "Moon is returned relative to earth rather than initial position"
For the moon + earth system, the 'return object' behavior seems strange.  For most bodies, the return object button places the body back at the initial position.  For the moon, the moon is placed in the initial position relative to the earth.  This creates situations like this:

![recording 1](https://cloud.githubusercontent.com/assets/6396244/19956158/a3d96de2-a14e-11e6-89e1-a85ce4bbbc4a.gif)

It

[2016-11-03 04:56] jessegreenberg commented on #241
Hmm, seems like this was considered fixed in https://github.com/phetsims/gravity-and-orbits/issues/156?  But I can't find more information about this.

[2016-11-03 05:05] jessegreenberg commented on #241
Yes, this is not a bug.
[code]

@arouinfar do you know why it should behave like this?

[2016-11-03 15:35] jessegreenberg opened #242 "Prepare screenshot icon"
This sim is almost ready for a release candidate.  @arouinfar can you give me an example image of what the sim icon should look like on the website?  I can create the actual icon from there.

[2016-11-03 16:28] arouinfar commented on #242
@jessegreenberg let's go with something like this:
<img width="1156" alt="screen shot 2016-11-03 at 10 24 00 am" src="https://cloud.githubusercontent.com/assets/8419308/19974921/c5534d24-a1af-11e6-9329-cd4529d50d2c.png">

I  think we want the full path showing, but I don't have a strong opinion about where the Earth/Moon would be within the orbit.

[2016-11-07 19:47] arouinfar commented on #241
I find this behavior a bit odd @jessegreenberg. In general, it seems like return object takes the object back to its initial state. Instead, I think it would make more sense for <i>all</i> objects to return to their saved state. Basically, return object would behave like the rewind button.

Consider this situation. First we save a new state, by pausing and dragging the sun elsewhere.
<img width="1

[2016-11-07 19:48] arouinfar commented on #241
To summarize:
* Return object button will behave exactly like the rewind button.
* Rename it "Return Objects" since multiple objects may be moved.

[2016-11-09 21:41] jessegreenberg commented on #242
Sounds good, thanks @arouinfar.  I will create a screenshot like the one above while the sim is in RC testing.

[2016-11-09 22:38] jessegreenberg commented on #241
Sounds good @arouinfar.  Should the 'Return Objects' button pause the sim like before, or should the sim continue playing once objects are returned?

[2016-11-09 22:47] jessegreenberg commented on #241
Commit above should fix this, and if we need to we can easily pause the sim once the 'Return Objects' button is pressed.  At the moment, it does not pause the sim because the rewind doesn't either.  But the 'Return Objects' button used to pause the sim, so perhaps this is where it should differ from the 'Rewind' button.

[2016-11-10 00:16] arouinfar commented on #241
I agree @jessegreenberg. I wasn't thinking about this difference earlier. Can you please update the Return Objects button so that it pauses the sim?

[2016-11-10 15:46] jessegreenberg commented on #210
The commits above clean this up a bit, the number of parameters passed to Body has been reduced by passing in a composition of Properties.  I think this has helped to make the code a bit more maintainable.  Some variable names that were abbreviations have been renamed so that it is easier to understand their purpose.  Closing.

[2016-11-10 15:46] #210 closed

[2016-11-10 15:51] jessegreenberg commented on #241
The system is now paused when the objects are returned.  Thanks @arouinfar, I think your recommendations in https://github.com/phetsims/gravity-and-orbits/issues/241#issuecomment-258942338 have improved the consistency of this feature.

Closing.

[2016-11-10 15:51] #241 closed

[2016-11-10 21:48] jessegreenberg opened #243 "Body labels visibility is only dependent on mass"
When body mass changes and makes the bodies small enough in diameter, the bodies mass labels toggle visibility.  This is not the case when zoom changes.  This can create cases where bodies that are small in diameter are missing labels and very large bodies still have labels visible.

[2016-11-10 21:50] jessegreenberg commented on #243
Caused by this:
[code]

Should also be attached to the transformProperty.

[2016-11-10 21:57] jessegreenberg commented on #243
Fixed in the commit above.

[2016-11-10 21:57] #243 closed

[2016-11-10 23:08] jessegreenberg opened #244 "Memory leak in path"
The fixed bodies are leaking memory in that the array of path points are growing indefinitely.  After letting the sim run for ~30 minutes, this is noticeable when zooming in and out.  In the console, I can see the sun has ~120k path points, each get transformed every single animation frame.

[2016-11-10 23:10] jessegreenberg commented on #244
Fixed in the commit above.

[2016-11-10 23:10] #244 closed

[2016-11-11 00:42] jessegreenberg commented on #228
Another potentially helpful item:  The sim includes the query parameter ?projectorMode so that the sim can be immediately loaded with projector colors.

[2016-11-11 17:35] jessegreenberg commented on #242
Here is the screenshot taken with an iPad3:

![screenshot-extended](https://cloud.githubusercontent.com/assets/6396244/20224193/77e91540-a7fa-11e6-822a-ee348609c829.png)

Does this seem OK @arouinfar?

[2016-11-11 17:40] arouinfar commented on #242
Looks great @jessegreenberg!

[2016-11-11 17:44] jessegreenberg commented on #242
Great thanks!  Closing this issue.

[2016-11-11 17:44] #242 closed

[2016-11-11 17:46] jessegreenberg commented on #229
I dont see any need to keep this branch around.  #162 Has been moved to scenery and any investigation will continue there.

[2016-11-11 17:46] #229 closed

[2016-11-11 17:48] jessegreenberg commented on #215
Instantiation wasn't the cause of #162 so I don't see any reason to keep this branch.  That particular Firefox performance issue has been moved to scenery.

[2016-11-11 17:50] jessegreenberg commented on #215
Deleted. Closing.

[2016-11-11 17:50] #215 closed

[2016-11-11 18:06] jessegreenberg opened #245 "Branch: fade-trace"
I created this branch to investigate a possible performance improvement by updating segments around the start and end of the path trace rather than redraw the entire path every frame.  Since the path is self intersecting, this wasn't possible.  This branch can be deleted.

[2016-11-11 18:08] jessegreenberg commented on #245
Deleted. Closing.

[2016-11-11 18:08] #245 closed

[2016-11-11 19:39] phet-steele opened #246 "Zoom is setting state"
1. Set a state.
2. Let the sim run.
3. Pause the sim.
4. Don't touch any objects, just adjust the zoom.
5. You now have a new state. Let the sim run and press rewind to observe.

@arouinfar what do you think? Should zoom be affecting state? My vote is no, students may wish to view the same set up two times in a row at different zoom levels. Having your original set up potentially overwritten while

[2016-11-14 20:05] arouinfar commented on #246
I would also vote no @phet-steele.

[2016-11-14 20:06] phet-steele opened #247 "Gravity force vector visibility saved with state"
1. Play the sim with Gravity Force vectors enabled
2. While playing, turn Gravity on/off
3. Pause the sim
4. Press rewind. Gravity force vectors will either be displayed or hidden, but will be opposite of the current on/off value of Gravity. For example, Gravity is off but force vectors are still on (until the sim is played):

![gao06](https://cloud.githubusercontent.com/assets/5863899/20278766/25

[2016-11-14 20:06] phet-steele opened #248 "Rewind button stays enabled after affecting an object's mass"
Small bug:

1. Play the sim
2. While playing, change the mass of any/all objects.
3. Pause the sim
4. Press the rewind button. The sim will return to the earlier state, but the rewind button will still be enabled.

![gao05](https://cloud.githubusercontent.com/assets/5863899/20278472/23b37ea6-aa62-11e6-99e7-355e8129668f.gif)

Seen on macOS 10.12.1 Chrome. For phetsims/tasks/issues/728.

URL: http:/

[2016-11-14 21:01] phet-steele opened #249 "Addendum to Return Objects button behaviour"
@jessegreenberg there is one behaviour of the Return Objects button that the Java does a bit better than the ported guy, and another behaviour of the ported guy that could be improved. (@arouinfar has approved of the change below).

1. The Java sim does NOT check for an object's visibility while zooming in or out:

![gao7](https://cloud.githubusercontent.com/assets/5863899/20281268/125146a6-aa6d-1

[2016-11-14 21:19] phet-steele opened #250 "Return Objects button can be sticky when zooming out"
1. Pause the sim with an object near the edge of the stage bounds.
2. Zooming in should make the the object leave your view in your setup. This prompts the Return Objects button to appear.
3. While zooming back out, the Return Objects should hide, but occasionally it does not. This happens more often with quick motions to zoom out.

End result is a visible Return Objects button even though all obj

[2016-11-14 21:54] jessegreenberg commented on #246
Zoom is currently setting rewind values, which is interfering with #249.  This should be fixed before the others.

[2016-11-14 23:11] jessegreenberg commented on #246
RewindableProperty was trying to determine when to store rewindable values internally.  I find this confusing and it is the reason for this issue.  I think it would be much more clear if the API were to explicitly define when values should be stored.  I am going to proceed with this but with caution because other places in the sim might have been relying on this 'invisible' setting of the rewind v

[2016-11-14 23:17] jessegreenberg commented on #246
Yes, pretty much everything other than position is counting on RewindableProperty setting the rewind value in this way.  But this is problematic because the transform property cannot be easily added to the derived property in body to prevent setting state when the zoom changes.

[2016-11-14 23:24] jessegreenberg commented on #246
Hmm, unfortunately, it is the UI components don't have easy access to the mode either, so they can't easily save mode state when sim is paused.

[2016-11-14 23:31] jessegreenberg commented on #246
The sliders, draggable arrows, and bodies would all have to be responsible for saving mode state.  Maybe it would be best to pass the zoom property to the Body from the mode, and let the RewindableProperty handle when the saving should happen.

[2016-11-15 00:42] jessegreenberg opened #251 "Mass panels extend beyond dev bounds"
Only happens with master common code shas, grunt checkout-shas off of the 1.0 branch makes this go away.  Running both master and 1.0 branch off of latest common code causes this to happen.

[2016-11-15 00:43] jessegreenberg commented on #251
Too much spacing between mass control label and the slider

[2016-11-15 00:57] jessegreenberg commented on #251
Seems to be caused by https://github.com/phetsims/scenery/commit/9ae8744decf1966ebe8da32e4f79a746b6fb2e77

[2016-11-15 01:24] jessegreenberg commented on #251
Panel corners are also no longer rounded.

[2016-11-15 17:28] jessegreenberg commented on #246
Fix needs to be merged to the 1.0 branch.

[2016-11-15 17:54] jessegreenberg commented on #247
@phet-steele @arouinfar should gravity on/off state be saved?  It seems like if body mass is saved, gravity should be as well.

[2016-11-15 18:02] phet-steele commented on #247
@jessegreenberg changing gravity on/off does set the state when the sim is paused. It seems only natural to restore it when rewind is pressed.

[2016-11-15 18:06] jessegreenberg commented on #247
Thanks @phet-steele.  The commit above fixes the bug reported in the initial comment, but @arouinfar do you agree that gravity on/off setting should be restored when rewind is pressed?

[2016-11-15 18:11] jessegreenberg commented on #248
It looks like this is not necessarily related to the mass, this happens if position changes too.

[2016-11-15 18:13] jessegreenberg commented on #248
It looks like there are several cases where the button is not disabled after rewind is pressed.

[2016-11-15 18:23] arouinfar commented on #247
Good catch @phet-steele!

Yes, I do @jessegreenberg.

[2016-11-15 18:27] arouinfar opened #252 "Velocity saved state is incomplete"
Found during https://github.com/phetsims/tasks/issues/728

If a new state is saved by dragging the velocity vector while paused, not all information will be saved.

To reproduce:
1. Turn on path & velocity
2. Press play
3. Adjust star and/or planet mass
4. Pause the sim
5. Drag velocity vector
6. Press play
7. Press rewind. Velocity has been saved, but masses and object location revert.

Here's a

[2016-11-15 18:46] jessegreenberg commented on #248
This is probably all caused by this:
[code]

Comparing two unique objects like this will always return false unless vectors happen to be at initial values.

So we need an equality check for all types of rewindable properties?

[2016-11-15 18:48] jessegreenberg commented on #248
Looks like that includes boolean number and Vector2.  So the above should be working for everything except position, velocity, and force.

[2016-11-15 20:00] jessegreenberg commented on #248
Should be fixed above.

[2016-11-15 20:01] jessegreenberg commented on #247
Thanks! Ok, I will make the gravity setting rewindable.

[2016-11-15 20:12] phet-steele opened #253 "Playback speed affects the orbits of closely orbiting bodies"
@arouinfar @jessegreenberg @ariel-phet below is the same setup repeated three times, with each setup only differing in playback speed. It is very obvious that playback speed is affecting the resulting orbits since each orbit is vastly different.

![gao10](https://cloud.githubusercontent.com/assets/5863899/20320183/35fe172a-ab2e-11e6-875f-acb4a3613d07.gif)

Here's some shenanigans on an iPad2, in o

[2016-11-15 20:13] phet-steele commented on #253
Before you ask, Java has similar problems.

[2016-11-15 20:53] jessegreenberg commented on #247
@arouinfar @phet-steele on second thought, the gravity enabled setting applies to all orbits of the entire screen - I think it makes less sense now to make this rewindable.  This also means that it would take a bit of work to add this to the set of rewindable properties.  Are you OK with keeping it as is?

[2016-11-15 21:30] jessegreenberg commented on #249
Done in the commit above, and I think that the fix handles the cases described in https://github.com/phetsims/gravity-and-orbits/issues/249#issue-189225100

[2016-11-15 22:06] jessegreenberg commented on #250
Fixed in the above commits.

[2016-11-15 22:28] jessegreenberg commented on #251
Seems to be caused by resize:false flag.  No other sims are experiencing this, so it could be something wrong with gravity-and-orbits.

[2016-11-15 22:57] arouinfar commented on #247
@jessegreenberg given the complications, it seems fine to keep things as is, so long as the bug @phet-steele described is taken care of.

[2016-11-16 00:11] jessegreenberg commented on #252
Yes they should, thanks @arouinfar.

[2016-11-16 18:07] jessegreenberg commented on #252
Fixed in above commit.

[2016-11-16 18:10] jessegreenberg commented on #247
Sounds good, thanks @arouinfar.  Marking testing.

[2016-11-16 18:19] jessegreenberg commented on #251
Seems like this needs to be tracked in phetsims/scenery#585.  For the moment, temporary workaround in commit above.  Should not be applied to release branch.

[2016-11-16 18:19] #251 closed

[2016-11-16 18:31] ariel-phet commented on #253
@jessegreenberg can you comment on your thoughts on what might be causing this discrepancy and how difficult it would be to fix?

[2016-11-16 18:32] ariel-phet commented on #253
@jessegreenberg as a note if it is seeming tricky to fix, we would probably publish with this as a known issue, and spend some time after publication looking into it more (especially since the behavior exists in Java)

[2016-11-16 20:19] jessegreenberg commented on #253
This is happening because the model step function is using a delta time that is scaled by play speed.  The step function calculates the next state of all the bodies so play speed is creating varying behavior in the model.

One thing we can try is normalizing the time step applied to the model.  For a given playback speed, we can break up large time steps into a series of uniform (smaller) steps so

[2016-11-16 20:40] ariel-phet commented on #253
Sounds good @jessegreenberg

Removing my assignment for the moment

[2016-11-16 21:41] jessegreenberg commented on #253
With the commit above, the behavior seems consistent for all time steps.  We should verify that this change has not made an impact on performance.

[2016-11-16 22:03] jessegreenberg commented on #253
Seems OK, but this has somehow introduced (or seriously exacerbated) a memory leak when the path is turned on. On iPad2, it will the bodies will pretty much stop moving after ~20 seconds when the path is turned on.  If visual trace is removed, it all works smooth again.

[2016-11-16 22:07] jessegreenberg commented on #253
Here is a memory profile on Chrome, where performance is starting to slow down quite a bit:
![snapshot](https://cloud.githubusercontent.com/assets/6396244/20367758/2743dcf2-ac0e-11e6-9e66-56698b3c1303.PNG)

Memory is not too bad yet, so the slowing down is probably coming from the canvas painging.  We can see the arrays on the right have thousands of Vector2's in them, that must be what is slowing

[2016-11-17 00:03] kathy-phet commented on #253
Look like you are making progress here. I wanted to mention that if you do publish this sim by Friday morning, please let me know. I am giving a workshop in DC that day and Astronomy faculty will be there, and it would be nice to announce it is published. But I recognize this was a pretty big change so may not be all vetted and published by Friday.

[2016-11-17 16:10] jessegreenberg commented on #253
Sounds good @kathy-phet, I will let you know.  However, at this point, we will need to go through another RC.  Even if we decide to defer this issue it seems unlikely that the sim will be fully published by Friday morning.

[2016-11-17 16:26] jessegreenberg commented on #253
I moved https://github.com/phetsims/gravity-and-orbits/commit/1fe84323699d919b7d8663e648738b986369f55f to a test branch because it is a pretty big change, and we might not want to include it yet.

That commit removes the memory leak.  I let the sim run overnight and performance was solid (on Windows Chrome) when I checked this morning.

However, performance is still an significantly worse on table

[2016-11-17 19:09] jessegreenberg commented on #248
Not quite.  I would expect the rewind button to disable any time a rewindable property is not equal to its rewind value.  This is not always true.

[2016-11-17 19:23] jessegreenberg commented on #248
Fixed above, re-adding label.

[2016-11-17 19:42] jessegreenberg commented on #253
The mem leak fix should be propagated to master, though it is much slower without https://github.com/phetsims/gravity-and-orbits/commit/dc208451df4656a37017fe03f9d2e57a15058ce9 it is still there.

[2016-11-18 00:28] ariel-phet commented on #253
@jessegreenberg please defer

[2016-11-18 17:57] jessegreenberg commented on #253
Sounds good, then we should be ready for the next RC.   Removing assignment for now.

[2016-11-21 18:28] phet-steele commented on #246
Nice work @jessegreenberg.

[2016-11-21 18:28] #246 closed

[2016-11-21 18:31] phet-steele commented on #247
Looks great.

[2016-11-21 18:31] #247 closed

[2016-11-21 18:37] phet-steele commented on #248
:+1:

[2016-11-21 18:37] #248 closed

[2016-11-21 19:12] phet-steele commented on #250
Working, thanks @jessegreenberg.

[2016-11-21 19:12] #250 closed

[2016-11-21 19:39] phet-steele commented on #252
Fantastic!

[2016-11-21 19:39] #252 closed

[2016-11-21 19:48] phet-steele commented on #249
Great work, thanks @jessegreenberg. I really like how all this behaves now.

[2016-11-21 19:48] #249 closed

[2016-11-22 01:08] ariel-phet opened #254 "Gravity and Orbits Master Checklist"
## Design
- [x] **Sim folder and design doc created** (Date: 07/01/2013)
  - [x] Create sim folder in [PhET Sim Design Folder](https://drive.google.com/drive/folders/0B6CMwxdP0NGYUUhvZnlCUDF0bGc) with phet-docs account
  - [x] Place design doc in the sim folder
- [x] **Legacy sim docs/info gathered**
- [x] **Learning goals and standards identified** (Date: 07/01/2013)
- [x] **Design concept comple

[2016-11-28 17:18] jessegreenberg commented on #254
@ariel-phet @arouinfar when the sim is made visible on the site can you please let me know?  Once it is visible I need to update the third party licenses.

[2016-11-28 17:29] arouinfar commented on #254
Will do @jessegreenberg!

[2016-11-28 19:02] ariel-phet commented on #198
Message sent to email and skype. Closing

[2016-11-28 19:02] #198 closed

[2016-11-28 23:52] ariel-phet commented on #254
@jessegreenberg sim has been made visible.

[2016-11-29 00:30] jessegreenberg commented on #254
Thanks - I'm missing an authorization code for the grunt task to generate the report.  Ill get it from another developer and try again.

[2016-11-29 05:11] ariel-phet opened #255 "Picture of earth should show the pole (probably north pole)"
@arouinfar my apologies on this...I just saw an unfuddle ticket (not sure how this got missed before)

In the unfuddle ticket:

This should be a pretty easy fix for a maintenance release, but we will need to find an appropriate picture (with the same licensing as the current picture, I imagine it is creative commons, but would be good to check with @jessegreenberg)

[2016-11-29 05:24] ariel-phet opened #256 "Velocity vector color in play area is different than velocity vector icon"
@arouinfar I am a little surprised @phet-steele never asked this....

Why is the color of the velocity vector in the play area different from the color of the velocity vector icon in the control panel? Shouldn't these be the same color?

![arrow](https://cloud.githubusercontent.com/assets/4051174/20697805/6d156ab6-b5b9-11e6-8154-e0573349721a.PNG)

Perhaps when we fix #255 we should make this chang

[2016-11-29 05:26] ariel-phet opened #257 "Add AP to credits"
@jessegreenberg I should probably be in the "team" section of the credits when we do a maintenance release

[2016-11-29 16:51] arouinfar commented on #255
@ariel-phet the image is from NASA, which we are free to use. I will search for a replacement image that is centered on one of the poles.

[2016-11-29 16:52] arouinfar commented on #256
Good catch @ariel-phet, both velocity vectors should have the same color, colorblind red.

[2016-11-29 16:52] arouinfar commented on #257
While we're on the topic of credits, I believe we should also acknowledge MLL in the "Thanks to" section.

[2016-11-29 16:59] ariel-phet commented on #257
@arouinfar true

[2016-11-29 17:11] arouinfar commented on #255
What about this @ariel-phet?

http://visibleearth.nasa.gov/view.php?id=56236
<img width="696" alt="screen shot 2016-11-29 at 10 10 40 am" src="https://cloud.githubusercontent.com/assets/8419308/20720377/1c0d065c-b61c-11e6-9296-c2ed63506e73.png">

[2016-11-29 17:38] ariel-phet commented on #255
@arouinfar that works for me...obviously we will want to crop out just the earth, but otherwise looks good.

[2016-11-29 17:41] arouinfar commented on #255
@ariel-phet I suspected that you'd be fine with the image, so I was working on cropping.
<img src="https://cloud.githubusercontent.com/assets/8419308/20721474/1bc09aac-b620-11e6-8bc3-df4a4002eab1.png" width=400>

@jessegreenberg here are two updated .png files. The resolution of earth_lowres.png matches the dimensions of the earth.png file that's checked into this repo.
[earth_highres.png](https:/

[2016-11-29 17:47] arouinfar commented on #255
@jessegreenberg the new image is from NASA.

I edited the <a href="http://eoimages.gsfc.nasa.gov/images/imagerecords/56000/56236/np_layered_day.tif">np_layered_day.tif</a> image from this page:
http://visibleearth.nasa.gov/view.php?id=56236

[2016-11-30 05:55] ariel-phet commented on #254
@arouinfar I think the remaining items are yours

[2016-11-30 19:41] jessegreenberg commented on #257
![capture](https://cloud.githubusercontent.com/assets/6396244/20768163/177c13f6-b6fa-11e6-82f8-6dc32e37eaad.PNG)

I added AP to credits, alphabetized the names and added the 'Thanks' section for MLL.

[2016-11-30 19:43] jessegreenberg opened #258 "GAO maintenance release"
These issues need to be resolved before the maintenance release:

- [x] #257
- [x] #256
- [x] #255
- [x] #259

[2016-11-30 19:43] jessegreenberg commented on #257
Thanks @arouinfar, closing.

[2016-11-30 19:43] #257 closed

[2016-11-30 19:52] jessegreenberg commented on #256
![capture](https://cloud.githubusercontent.com/assets/6396244/20768606/c435a07a-b6fb-11e6-9d44-3f6092cfff7c.PNG)
![capture2](https://cloud.githubusercontent.com/assets/6396244/20768610/c5418920-b6fb-11e6-8250-a68c103af19b.PNG)

Good catch!  Done in the commit above.  Closing.

[2016-11-30 19:52] #256 closed

[2016-11-30 20:07] jessegreenberg commented on #255
@arouinfar, thanks for the low res image!  here it is in the sim:

http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.1.0-dev.1/gravity-and-orbits_en.html

Do we need to update the "To Scale" screen icon as well to match the new earth?

[2016-11-30 20:14] arouinfar commented on #255
Looks great @jessegreenberg! I think we should update both screen icons because they contain the old earth image.

[2016-11-30 20:22] jessegreenberg commented on #255
@arouinfar I am pretty clumsy with image editing, would you mind updating the icons and sending them to me like in https://github.com/phetsims/gravity-and-orbits/issues/204?

[2016-11-30 20:23] ariel-phet opened #259 "Tweaks to Planet and Body Mass Sliders...."
I hate to be THAT guy, but while we are making some tweaks I was noticing that the Sliders for planet and body mass in the sim have the information a bit cramped to each other, making them a bit harder to visually pars (notice how Moon Mass is quite close vertically to the top slider):

![slider1](https://cloud.githubusercontent.com/assets/4051174/20769611/fa4a3d48-b6ff-11e6-873c-a7659045e111.PNG)

[2016-11-30 20:26] arouinfar commented on #259
@ariel-phet I suppose now is the best time to be "THAT guy" :)

I think the updated sliders look much cleaner. Thanks for mocking it up @ariel-phet.

[2016-11-30 20:28] arouinfar commented on #255
Oh, I'd forgotten that I'd made the original icons. Thanks @jessegreenberg, I'll update the artwork and send it your way.

[2016-11-30 20:48] arouinfar commented on #255
@jessegreenberg I've updated the asset files. However, it appears the .ai file I have for the earth is ridiculously large (not sure how to make it smaller), so I've temporarily stored the new screen icon assets on Drive for you to download.
https://drive.google.com/drive/folders/0BwZJWzOg9l4DWmlTUS14MmM4d2s?usp=sharing

[2016-11-30 21:10] jessegreenberg commented on #259
@ariel-phet what do you think of this spacing?

http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.1.0-dev.2/gravity-and-orbits_en.html

[2016-11-30 21:22] jessegreenberg commented on #255
Thanks @arouinfar!  I updated the icons in the sim and added files to assets.
![capture](https://cloud.githubusercontent.com/assets/6396244/20771838/5ff847ae-b708-11e6-9609-e6d983dd9826.PNG)

Closing.

[2016-11-30 21:22] #255 closed

[2016-11-30 22:23] ariel-phet commented on #259
Did some more polishing with @jessegreenberg over skype, looking great!

[2016-11-30 22:48] jessegreenberg commented on #259
Commit above contains changes made with @ariel-phet.  Closing!

[2016-11-30 22:48] #259 closed

[2016-11-30 22:49] jessegreenberg commented on #258
#254 does not need to be done before maintenance release, removing from list.

[2016-11-30 23:07] jessegreenberg commented on #258
Maintenance release will be off of this RC.  No need to test, but I want to sanity test this version and make sure that all fixes are in the release branch.

http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.0.1-rc.1/gravity-and-orbits_en.html

[2016-11-30 23:26] jessegreenberg commented on #258
@ariel-phet @arouinfar 1.0.1 has been deployed to the website! Closing.

[2016-11-30 23:26] #258 closed

[2016-12-05 19:06] jessegreenberg commented on #254
Third party licenses have been reported for this sim's release.

[2016-12-05 19:09] arouinfar commented on #254
Thanks @jessegreenberg. I will finish the remaining items this week (primer excluded).

[2016-12-05 19:12] arouinfar opened #260 "Create sim primer"
Tracking sim primer publication in this issue, so that #254 can be closed.

[2016-12-18 02:34] arouinfar commented on #228
Uploaded!

[2016-12-18 02:34] #228 closed

[2017-02-06 19:52] oliver-phet opened #261 "User reported issue: synchronous rotation of moon"

[2017-02-06 20:01] ariel-phet commented on #261
@jessegreenberg this user is correct...the moon's rotational period should match its orbital period.

My guess is that there is nothing in the model to rotate the moon (or a satellite). This really only is necessary on the "model" screen since neither the image of the moon or satellite are particularly visible on the "to scale" screen.

Can you give an estimate of what it would take to implement t

[2017-02-06 20:04] jessegreenberg commented on #261
Yes I can take a look at this today.

[2017-02-07 23:37] jessegreenberg commented on #261
There is currently nothing in the model that implement body rotation.  @ariel-phet I estimate about 1 hour to implement rotation for the bodies.  We will definitely want to hand the sim off to the QA team though when we are done, so they can test that the changes work well with save/rewind feature in this sim.

[2017-02-07 23:39] jessegreenberg commented on #261
Which bodies should rotate?  Just the moon and satelite in the "Model" screen and the satelite in the "To Scale" screen?

[2017-02-07 23:49] jessegreenberg commented on #261
Regarding https://github.com/phetsims/gravity-and-orbits/issues/261#issuecomment-278180672, a full RC is probably overkill unless we want to pull in master SHAs anway.

[2017-02-08 00:04] jessegreenberg commented on #261
The above commit adds support for body rotation and applies it to the moon in the Model screen.

[2017-02-08 00:30] jessegreenberg commented on #261
Done for the Moon and Satellite in the "Model" view, and the Satellite in the "To Scale" view since these bodies are big enough to see the rotation.

[2017-02-08 00:34] jessegreenberg commented on #261
By about 3000 earth minutes, rotation of the satellite begins to be incorrect, its orbital period needs to be more accurate.

[2017-02-08 18:52] jessegreenberg commented on #261
The above commit improves it quite a bit, sim ran fast forward for 50 minutes (~81000 earth minutes) and the rotation looked good.

[2017-02-09 00:35] jessegreenberg commented on #261
@ariel-phet @arouinfar could you please review the rotation behavior in this version?

http://www.colorado.edu/physics/phet/dev/html/gravity-and-orbits/1.1.0-dev.3/gravity-and-orbits_en.html

The moon will rotate in the Earth + Moon system, and the satellite will rotate in both.

[2017-02-09 00:41] jessegreenberg commented on #261
Other bodies could rotate, but these were the only that seemed big enough to notice, unless we want the Earth to spin as well.

[2017-02-09 01:08] ariel-phet commented on #261
The satellite rotation looks awesome! The moon looks good too to my eye, nice work!

[2017-02-09 17:40] arouinfar commented on #261
Looks awesome @jessegreenberg!

[2017-02-09 18:09] jessegreenberg commented on #261
Thanks @ariel-phet and @arouinfar I will prepare an RC with these changes.

[2017-02-14 18:15] jessegreenberg commented on #254
@arouinfar @ariel-phet with #260 can this issue be closed?

[2017-02-14 18:19] ariel-phet commented on #254
@jessegreenberg it looks like @arouinfar has not yet pasted interview notes into the design doc

[2017-02-14 21:12] phet-steele commented on #261
Also agree it looks good. Assigning to @oliver-phet to email after release.

[2017-03-07 22:02] oliver-phet commented on #261
@jessegreenberg Is this in the queue for publication?

[2017-03-07 23:21] jessegreenberg commented on #261
It is, https://github.com/phetsims/tasks/issues/783 is finished up and the sim is ready for redeploy, I will do so this afternoon.

[2017-03-08 00:00] jessegreenberg commented on #261
@oliver-phet gravity-and-orbits has been redeployed!

https://phet.colorado.edu/sims/html/gravity-and-orbits/latest/gravity-and-orbits_en.html

[2017-03-08 00:09] oliver-phet commented on #261
User notified. Closing!

[2017-03-08 00:09] #261 closed

[2017-04-04 22:49] pixelzoom opened #262 "fails stringTest in Options dialog"
With `?stringTest=xss`, it's apparent that the Options dialog's content has no `maxWidth`.

If doing a maintenance release, you need to pickup the fix for the "Options" title in https://github.com/phetsims/joist/issues/416.

[2017-05-04 23:11] arouinfar commented on #260
Reassigning to @amyh-phet, since she'll be working on this one.

[2017-06-15 17:05] jessegreenberg opened #263 "Replace PropertySet with Property"
From phetsims/axon#102, PropertySet is deprecated and should be replaced with Property.

[2017-06-27 16:24] amyh-phet commented on #260
@arouinfar    I won't get to this before Ieave, so sorry but its back to you.

[2017-06-27 16:25] arouinfar commented on #260
No need to be sorry @amyh-phet!

[2017-07-06 03:52] #254 closed

[2017-08-15 21:34] jessegreenberg commented on #263
@mbarlow12, this issue and phetsims/forces-and-motion-basics#226 are some of the last sims that need to go through this.  Ill work on FAMB, would you please tackle this one?

[2017-08-15 21:35] jessegreenberg commented on #263
I see 4 usages of PropertySet.call, but the structure of this sim is a little strange, let me know if you have any questions.

[2017-08-15 21:42] mbarlow12 commented on #263
Will do.

[2017-08-18 20:31] mbarlow12 commented on #263
Closing.

[2017-08-18 20:31] #263 closed

[2017-08-24 18:21] oliver-phet opened #264 "User suggestion: satellite velocity"
Thanks"

[2017-08-24 18:23] oliver-phet commented on #264
This was submitted from our google form

[2017-08-24 19:22] oliver-phet commented on #264
Assigning to @arouinfar a to decide if this is worth pursuing, delegate, and prioritize.

[2017-08-28 21:14] arouinfar commented on #264
I suspect the user's goal is to demonstrate that larger orbits have a slower orbital speed (and vice versa). A speed slider would not be sufficient to support this goal. The speed slider would control the magnitude of the velocity, but without also moving the satellite accordingly, the satellite would either crash into the Earth or escape. The satellite wouldn't automatically readjust its position

[2017-08-28 21:19] oliver-phet commented on #264
Reply to user sent. Closing.

[2017-08-28 21:19] #264 closed

[2017-09-18 19:16] pixelzoom opened #265 "inconsistent prefix for filenames"
This sim mixes conventions for filename prefix. One file uses the "GAO" abbreviation (GAOBodiesEnum.js), others use the full name "GravityAndOrbits". The choice of which convention to follow is up to the developer, but it should be applied consistently.

[2017-10-03 19:52] pixelzoom opened #266 "transparent rectangle behind the measuring tape readout?"
https://github.com/phetsims/scenery-phet/issues/339 added a new feature to MeasuringTapeNode, an optional transparent rectangle behind the readout.  It sure looks like gravity-and-orbits might want to take advantage of this feature:

![screenshot_405](https://user-images.githubusercontent.com/3046552/31145807-03e9ff08-a842-11e7-8e44-e4bc5d6f53ee.png)

[2017-10-03 21:57] pixelzoom commented on #266
Much better, `'rgba( 0, 0, 0, 0.65 )'`, screenshot below.  @arouinfar please review, feel free to close if it looks OK.

![screenshot_406](https://user-images.githubusercontent.com/3046552/31151178-88b1022a-a853-11e7-852f-73d0f2eff697.png)

[2017-10-03 22:03] arouinfar commented on #266
Looks great, thanks!

[2017-11-06 20:09] pixelzoom opened #267 "replace rewindValueChangedListeners with Emitter"
Similar to https://github.com/phetsims/beers-law-lab/issues/216.

In `RewindableProperty`, replace `rewindValueChangedListeners` with an `Emitter`.

[2017-12-27 15:43] oliver-phet opened #268 "User suggestion: tape measure units, velocity of objects"

[2018-01-24 23:39] arouinfar commented on #260
Marking as on-hold until the following primers are published:

https://github.com/phetsims/circuit-construction-kit-dc/issues/167
https://github.com/phetsims/circuit-construction-kit-dc-virtual-lab/issues/10
https://github.com/phetsims/projectile-motion/issues/147
https://github.com/phetsims/pendulum-lab/issues/191
https://github.com/phetsims/hookes-law/issues/44
https://github.com/phetsims/gravit

[2018-02-08 17:49] pixelzoom opened #269 "branch: uniform-dt"
Identified by `print-branches.sh`. @jessegreenberg please describe.

[2018-02-08 18:09] jessegreenberg commented on #269
This branch is for https://github.com/phetsims/gravity-and-orbits/issues/253.

That issue reports that different playback speeds can create different orbits from the same initial conditions. The fix had a negative impact on performance so the issue was deferred. Anyone picking up #253 should start from work in this branch.

[2018-02-08 18:09] jessegreenberg commented on #253
From #269 - whoever continues work  on this issue should begin by reviewing work in branch uniform-dt.

[2018-08-16 03:38] ariel-phet opened #270 "User suggestion: add kinetic and gravitational energy graphs"
From a user on twitter:

[2018-09-04 01:24] samreid opened #271 "Investigate re-entrant Properties"
In https://github.com/phetsims/axon/issues/179 we identified Property instances that are re-entrant.  In this context, re-entrant means a change in value of the Property causes (via listeners) another change in the value of the same Property instance.

Re-entry can occur for at least 3 different reasons, which are document here: https://github.com/phetsims/axon/issues/179#issuecomment-414717687

[

[2018-09-26 18:37] jessegreenberg opened #272 "branch: pdomTransform"
To explore https://github.com/phetsims/scenery/issues/852.

[2018-09-26 18:52] jessegreenberg commented on #272
https://phet-dev.colorado.edu/html/gravity-and-orbits/1.2.0-pdomTransform.1/phet/gravity-and-orbits_en_phet.html?mobileA11yTest&accessibility

[2018-10-17 18:04] arouinfar opened #273 "Use title case in sim name"
Related to https://github.com/phetsims/tasks/issues/953

The sim title is improperly cased, and currently reads "Gravity **And** Orbits"

`gravity-and-orbits.title` in <a href="https://github.com/phetsims/gravity-and-orbits/blob/master/gravity-and-orbits-strings_en.json#L2">gravity-and-orbits-strings_en.json</a>  should be updated to "Gravity and Orbits" next time this sim gets worked on.

[2018-10-30 19:12] KatieWoe opened #274 "Zoom slider buttons off"
Found when exploring https://github.com/phetsims/QA/issues/209 with @jessegreenberg.  Appears on iOS 10 and Win 10 at least.

The + and - buttons that should be on either end of the zoom slider are instead translated down and to the right.  This is the case on both screens.
![zoombutton](https://user-images.githubusercontent.com/41024075/47743772-6c24b800-dc45-11e8-9988-2b7854f23fb5.PNG)

[2018-10-30 23:58] jessegreenberg commented on #274
Thanks for making an issue @KatieWoe - this commit and related changes in sun seem like the most likely cause https://github.com/phetsims/gravity-and-orbits/commit/d99eea00f5d7c08f2848abeedccae349ec2db9af

[2018-10-31 14:09] jessegreenberg commented on #274
Fixed in the above commit.

[2018-10-31 14:09] #274 closed

[2019-01-09 18:00] oliver-phet opened #275 "User suggestion: variable slider for orbital radius"

[2019-01-21 05:03] pixelzoom opened #276 "eliminate RewindableProperty"
As part of https://github.com/phetsims/axon/issues/213, all Property subtypes (including RewindableProperty) were converted to classes.   RewindableProperty overrides `set`, and the additional code is equivalent to a listener that is called _after_ all other listeners are notified.

Please explain:

(1) ... why GRAPHING_LINES/GamePhaseProperty was flagged as unacceptable (see https://github.com/ph

[2019-01-21 05:13] pixelzoom commented on #276
But in https://github.com/phetsims/graphing-lines/issues/109#issuecomment-455947852, @samreid said:

Here's RewindableProperty `set`:

[code]

This looks perfectly legitimate to me not at all "odd".  But it's essentially using the same pattern that was used in GamePhaseProperty, except that what's been added to `set` here is equivalent to a listener that is called _after_ all other listeners have

[2019-01-21 19:02] samreid commented on #276
GamePhaseProperty was never declared unacceptable.  I think it is a good policy that when a developer sees something odd or confusing, they should point it out or bring it up for discussion.  That is exactly what happened.  Do you disagree with this policy?

Yes, it is a complex feature and it will require additional effort for PhET-iO instrumentation.  I expect we will need to introduce a new IO

[2019-01-30 02:51] ariel-phet opened #277 "Slight ResetAllButton repositioning"
The ResetAllButton in this sim could use slight repositioning. With the dilated touch area the right side is slightly close to the dev bounds, would be good to move it left a bit

![gravitytouch](https://user-images.githubusercontent.com/4051174/51954933-4e5f1e80-23ff-11e9-907a-21d517db5fbf.PNG)

[2019-04-15 22:43] KatieWoe opened #278 "Usability on small screens review"
Per @kathy-phet's request in https://github.com/phetsims/QA/issues/295 I am making issues in each published sim repo detailing the pointer areas and usability of sims on phone sized screens.  Done on an iPhone 7 iOS 12 device.

Potential Difficulties Noticed:
* None seen

Screenshots:
![Image from iOS (1)](https://user-images.githubusercontent.com/41024075/56170113-93760400-5f9d-11e9-8210-a8a9dc6b

[2019-04-15 22:43] #278 closed

[2019-04-29 22:47] zepumph opened #279 "Regression test after gravitational constant change"
In https://github.com/phetsims/gravity-force-lab-basics/issues/123#issuecomment-487738577 we factored out the gravitational constant to PhysicalConstants.js. @jessegreenberg please make sure that nothing has changed for this sim because of https://github.com/phetsims/gravity-and-orbits/commit/02d389ec47ca66fe87b8a6b147f59756169be8c7

[2019-05-01 16:02] jessegreenberg commented on #279
Thanks @zepumph, I tested master vs the published sim and I couldn't see any differences. @ariel-phet the published version of this sim had the gravitational constant slightly incorrect. It was changed from 6.67428E-11 to 6.67408E-11. Would you like to test this change any further?

[2019-05-01 18:15] ariel-phet commented on #279
@jessegreenberg no I think that testing is sufficient. Such a small change should not affect anything major, and your testing appears to confirm this. Closing

[2019-05-01 18:15] #279 closed

[2019-07-16 17:58] pixelzoom opened #280 "sim title is improperly cased"
As pointed out by @arouinfar in https://github.com/phetsims/charges-and-fields/issues/165#issuecomment-511915777, the title of this sim should be "Gravity and Orbits".   It is currently "Gravity And Orbits".

[2019-07-17 01:08] arouinfar commented on #280
This has already been reported in #273, so closing.

[2019-07-17 01:08] #280 closed

[2019-08-27 00:24] samreid opened #281 "Can GravityAndOrbitsPlayArea's MeasuringTapeNode.isTipDragBounded: false be removed?"
From https://github.com/phetsims/wave-interference/issues/429 GravityAndOrbitsPlayArea.js has `new MeasuringTapeNode` with option: `isTipDragBounded: false,`.  It seems that option should be removed but it was unclear why it was there so I thought I should ask.  @jessegreenberg can you please take a look?

[2019-08-27 21:16] samreid opened #282 "Code review and bring up to new standards"
This sim is scheduled for PhET-iO instrumentation.  As a preliminary step, we should complete a code review and bring up to new standards.  This should include the following steps:

- [x] publish a dev version before any code review changes.  This will help us isolate bugs or performance problems.  https://phet-dev.colorado.edu/html/gravity-and-orbits/1.2.0-dev.1/phet/gravity-and-orbits_en_phet.ht

[2019-08-28 03:13] samreid opened #283 "Convert to ES6"
As part of https://github.com/phetsims/gravity-and-orbits/issues/282

[2019-08-29 17:32] jessegreenberg commented on #281
I tracked this down to this commit https://github.com/phetsims/gravity-and-orbits/commit/709f17867d2002ff455a583c3d94c83955874e82, and it is not clear this was added. Majority of work for that commit was for something else. I will remove.

[2019-08-29 17:33] jessegreenberg commented on #281
Ah I see that the default for isTipDragBounded is now true. That seems most correct and I can't think of any reason that shouldn't apply to this sim too.

[2019-08-29 17:34] jessegreenberg commented on #281
It has been removed @samreid.

[2019-08-29 19:42] jessegreenberg commented on #281
Well, I realized this does change the behavior a little now that the default for `isTipDragBounded` is true. Measuring tape is limited to dev bounds and planets can fly out of those bounds. Previously you could still measure distances to planets out of bounds if the window was large enough. Now it is limited to this:
![image](https://user-images.githubusercontent.com/6396244/63970973-76852d80-ca73

[2019-08-29 21:47] samreid commented on #281
How difficult would it be to make the drag bounds match the visible bounds, as is done in other sims like Wave Interference?

[2019-09-03 20:26] samreid opened #284 "Instrument for PhET-iO"
See also https://github.com/phetsims/gravity-and-orbits/issues/282 which overlaps with this document.

# How to Instrument a PhET Simulation for PhET-iO

## Before instrumenting
- [x] Create a "PhET-iO Instrumentation" issue in the simulation repository.  Copy this checklist to the issue
description (top issue comment) for tracking. Link back to this checklist via `/blob/<SHA>/` so that the specif