[2021-06-28 20:53] samreid commented on #395
I made it so when inputEnabledProperty false hides the velocity vector circled v.  Can you please test?  Unassign and mark as ready-for-cherry-pick if all is well.

[2021-06-28 21:22] samreid commented on #389
Another option would be to get rid of all thresholds and snapping altogether.  Then the user can set near-zero velocities.  (May be difficult to get exactly 0 though).

[2021-06-28 21:37] samreid commented on #388
Not planning to include fixes for this in the 1.5 branch, unassigning until we start work on the 1.6 codebase.

[2021-06-28 23:07] arouinfar commented on #395
Looks great, thanks @samreid!

[2021-06-28 23:11] arouinfar commented on #389
I prefer the current behavior. I find it more useful to set the velocity to precisely zero. If the user wants to return to the default tiny velocities, they are better off resetting the scene.

[2021-06-29 22:03] samreid commented on #391
I put a maxWidth on the mass labels so that in the 2nd screen they come close but do not overlap by default:

![image](https://user-images.githubusercontent.com/679486/123873263-77977800-d8f3-11eb-8139-68eaa6a57efa.png)

@arouinfar please review in master.  Mark for cherry picking and unassign if it seems good.

[2021-06-29 22:20] samreid commented on #392
The cause of this behavior is in this last line:

[code]

The `link` resets the visibility of the scene reset buttons, and it does it on a state change.  However, if the `sceneProperty` didn't change, then the link callback is not triggered.  Therefore, the problem can be reproduced like so:

1. Launch studio
2. Search `SceneResetButton.visibleProperty`
3. Toggle the first hit, which is gravityAnd

[2021-06-29 23:35] samreid commented on #390
I recommend discussing these points in https://github.com/phetsims/gravity-and-orbits/issues/386.  I'll move them and comment there.  @pixelzoom can this issue be closed?

[2021-06-29 23:36] samreid commented on #386
In https://github.com/phetsims/gravity-and-orbits/issues/390#issuecomment-867082919 @pixelzoom raised some questions which are pertinent to this issue.  @pixelzoom said:

[2021-06-29 23:55] samreid commented on #386
The version under discussion in this issue is the sim version.  For instance, master has this line for natural selection: `"simVersion": "1.4.0-dev.1",`

That refers to the version of the entire API file, and is not under discussion in this issue except for clarification.

It is the sim version at the time of the API file generation, and is determined by SimInfo.js

As described in https://github.

[2021-06-30 18:25] arouinfar commented on #392
@samreid when I follow these steps, the state of the previewed sim matches studio (two visible scene reset buttons), which is not what @KatieWoe originally reported.

That said, I think we can leave things as they are now. I don't think we need to start looking for/correcting bad states.

[2021-06-30 18:29] arouinfar commented on #391
@samreid that maxWidth looks good in most cases, though the Planet's mass string in the Planet Satellite scene looks a bit too small, especially compared to other mass strings:
![image](https://user-images.githubusercontent.com/8419308/124012631-999a0480-d99e-11eb-96f5-f47eaf842614.png)

If it's not too much hassle, can the Planet's mass string (in the Planet Satellite scene) have a longer maxWidt

[2021-06-30 20:19] pixelzoom commented on #398
@KatieWoe said:

Noted in https://github.com/phetsims/natural-selection/issues/288.

[2021-06-30 20:20] samreid commented on #391
I added the feature in the commit.  @arouinfar can you please review/test in master?  If it seems good, please unassign and mark as ready for cherry-picking.

[2021-06-30 20:24] samreid commented on #392
Yes, I'm seeing the same thing and it makes sense from the explanation above.  I agree we don't need a correction here, closing.

[2021-06-30 20:24] #392 closed

[2021-06-30 22:25] arouinfar commented on #391
Looks good, thanks @samreid

[2021-07-01 14:46] zepumph commented on #387
A couple of review items here as I was looking at https://github.com/phetsims/gravity-and-orbits/issues/386

This should call on `simInfo.info`, and I think would just return undefined right now.

Instead of duplicating these values, instead can't we just use `simInfo.info.[KEY]`?

* I found by running http://localhost:8080/phet-io-wrappers/record/?sim=gravity-and-orbits&console&phetioDebug&phetio

[2021-07-01 15:03] zepumph commented on #386
Over in https://github.com/phetsims/gravity-and-orbits/issues/387 it seemed like we suppressed a bunch of information, returning `null` when `Tandem.API_GENERATION` was true. Can we do that here for simVersion as well?

[2021-07-01 17:27] KatieWoe commented on #394
Took me awhile to figure this out. It is happening on master, but it takes some extra steps (same in the RC). Basically, this happens when the slider is in a non-default position.
Steps:
1. Move the zoom slider away from it's starting position.
2. Disable buttons and/slider with studio
3. Launch

![nondefaultposition](https://user-images.githubusercontent.com/41024075/124165625-3de38000-da5f-11eb-

[2021-07-01 20:15] samreid opened #399 "Update credits"
Hi @KatieWoe are there any changes to the credits for this release?

[2021-07-01 20:18] KatieWoe commented on #399
Add Liam Mulhall and Emily Miller

[2021-07-01 22:50] pixelzoom commented on #390
👍🏻 closing

[2021-07-01 22:50] #390 closed

[2021-07-02 00:15] samreid opened #400 "Long screen names push navigation bar icon & homescreen icons to the right when sim is launched"
Sim-specific issue to track https://github.com/phetsims/joist/issues/725

[2021-07-02 14:08] samreid commented on #399
I added them, ready for cherry picking.

[2021-07-02 14:16] samreid commented on #394
The values are saved in the state, but overridden when the slider value changes.  When the slider state is loaded in the sim, the values is changed, and the buttons enable/disable accordingly.  The rule for the sim is that if the slider is at min or max, that button should be disabled.  Otherwise the buttons should be enabled.  This rule is enforced whenever the slider value changes.  Therefore, t

[2021-07-02 18:46] arouinfar commented on #394
The odd behavior arises from an incomplete/unrealistic customization, so I am fine with leaving things as-is @samreid.

[2021-07-02 18:48] KatieWoe commented on #394
I'm not so sure it's unrealistic. A user might set a custom zoom and then disable the controls for the user. This wouldn't work and it did seem to be requested. Or am I misunderstanding?

[2021-07-02 18:50] arouinfar commented on #394
I thought weird things happen because the zoom controls weren't fully disabled (just the buttons, not the slider). If you want to prevent users from changing the zoom level, both the buttons and the slider need to be disabled.

[2021-07-02 18:52] samreid commented on #394
Yes, but adjusting the slider, then disabling the slider + buttons, then pressing "preview sim", re-enables the buttons (and the slider stays disabled).

[2021-07-02 18:56] arouinfar commented on #394
Ah, I missed the part about disabling the slider too. This is definitely publication-blocking.

@samreid would this issue be circumvented by adding something like `zoomControl.enabledProperty`?

[2021-07-02 19:02] samreid commented on #394
In the commit, I instrumented zoomControl.enabledProperty and marked the slider and buttons as phetioReadOnly: true.  Can you please review/test?

[2021-07-02 19:13] arouinfar commented on #394
@samreid that seems to have done the trick. I cannot reproduce using the steps outlined in https://github.com/phetsims/gravity-and-orbits/issues/394#issuecomment-872424385

Since lots of the parts of the ZoomControl are now read-only, I think it makes sense to unfeature them in the overrides.
- [ ] `*.zoomControl.minusButton.enabledProperty`
- [ ] `*.zoomControl.minusButton.visibleProperty`
- [ ]

[2021-07-02 20:19] arouinfar commented on #394
@samreid the above commits are ready for cherry-picking.

[2021-07-02 20:31] samreid commented on #386
Great idea, I applied the same strategy and tested that it worked well in studio.  @zepumph can you please review? Close this issue is all is well.

[2021-07-02 20:45] samreid commented on #387
Looks great, good recommendation.  I applied the patch, tested and regenerated API files.

[2021-07-04 12:59] samreid opened #401 "Long strings cause screen button overlap"
Sim specific issue for https://github.com/phetsims/joist/issues/718, may be related to #400

[2021-07-04 13:40] samreid opened #402 "Cherry pick Array.from"
Sim-specific issue for https://github.com/phetsims/natural-selection/issues/298

[2021-07-05 18:36] samreid commented on #399
I made a cherry-pick commit to the 1.5 branch, ready for testing when RC.2 is ready.

[2021-07-05 18:37] samreid commented on #393
I added a cherry-pick commit, ready for testing when RC.2 is published.

[2021-07-05 18:40] samreid commented on #389
I added a cherry-pick commit to the release branch, ready for testing in next RC.

[2021-07-05 18:41] samreid commented on #391
I cherry-picked the commits to the release branch, ready for testing when RC.2 is ready.

[2021-07-05 21:12] samreid commented on #395
I cherry picked all commits for this issue, ready for spot check then QA check in next RC.

[2021-07-05 21:21] samreid commented on #394
I also had to cherry pick the scenery commit https://github.com/phetsims/scenery/commit/9bf35fe1102ecfd358996ce05c4a96a46ad8eb2e to make this work.

[2021-07-05 21:23] samreid commented on #394
I cherry picked the sim and common repo changes, will be ready for testing in next RC.

[2021-07-05 21:44] samreid commented on #398
Here's a transcript of the commands I used to address this for gravity-and-orbits:

[code]

[2021-07-06 17:36] #387 closed

[2021-07-06 19:02] samreid commented on #402
Cherry-picked and ready for testing in next version.  It can be verified by running a downloaded customized sim from studio.

[2021-07-07 19:42] zepumph commented on #386
It is considered "API_GENERATION" when during build we create the API json file. Is that important to have? Does studio need this? Or is it only important in the state of the living sim?

[2021-07-08 14:53] samreid commented on #401
Closing as duplicate

[2021-07-08 14:53] #401 closed

[2021-07-08 16:34] samreid commented on #386
The `simVersion` should not appear in the built API JSON file--the version should be obtained elsewhere.

This seems useful in data streams and https://github.com/phetsims/gravity-and-orbits/issues/386#issuecomment-859772651

[2021-07-09 14:45] samreid opened #403 "Cherry pick Support items marked as DELETED in the Studio save file"
From https://github.com/phetsims/studio/issues/223

[2021-07-09 14:48] samreid commented on #403
Cherry picked and can be QA tested by studio save & load, and making sure it works OK and no errors output to the console.

[2021-07-11 17:37] zepumph commented on #386
I'm happy you feel that way. It sure is easier. Since you are the studio-customization-state expert, I'm glad to have gotten your opinion.

I mentioned it because this looked weird to me at first, and no longer does

https://github.com/phetsims/phet-io/blob/718e451e56a8184c6e63ac64903feca3c6580adb/api/natural-selection.json#L290

Ready to close for me, please reopen if you disagree.

[2021-07-11 17:37] #386 closed

[2021-07-11 18:44] samreid opened #404 "Cherry pick smooth playbacks"
Playback wrapper has been smoothed out in https://github.com/phetsims/natural-selection/issues/297#issuecomment-877844269 and should be cherry-picked.

[2021-07-11 20:01] samreid commented on #404
Cherry picked and ready for testing in RC.2

[2021-07-13 18:20] samreid commented on #400
This can be tested by making a longer screen name for `gravityAndOrbits.modelScreen.nameProperty` then pressing "Preview Sim".  The text should be centered.

[2021-07-13 18:21] samreid commented on #398
This can be confirmed by testing if the example HTML in the index wrapper and from Studio => Preview HTML looks formatted correctly (not a single line) on Safari.

[2021-07-13 18:24] samreid commented on #394
This can be confirmed by checking that e.g., `gravityAndOrbits.modelScreen.view.playAreaNode.planetMoonSceneView.zoomControl.enabledProperty` is instrumented and works properly to disable the slider and that e.g., `zoomControl.minusButton.enabledProperty` are phetioFeatured: false and phetioReadOnly: true,

[2021-07-13 18:26] samreid commented on #395
This can be verified by checking that `velocityVectorNode.inputEnabledProperty` are `phetioReadOnly: false` and that setting inputEnabledProperty to false hides the velocity vector circled v.

[2021-07-13 18:28] samreid commented on #391
This can be tested by running with ?stringTest=long and checking the "mass" checkbox (3rd down) to see if the text is smaller.

[2021-07-13 18:28] samreid commented on #389
This can be tested by dragging a velocity vector through zero and seeing if it snaps.

[2021-07-13 18:30] samreid commented on #393
This can be tested by:

Steps to reproduce
Go to the second screen
Go to the planet-moon scene
Increase planet mass to 1.25 Earth masses or greater
Zoom in and make sure labels do not disappear.

[2021-07-13 18:31] samreid commented on #399
This can be confirmed by checking that Liam and Emily appear in the about dialog credits.

[2021-07-13 18:31] samreid commented on #404
This can be tested by making a recording and playing it back, to see if there are lags, delays or other problems.

[2021-07-13 19:14] stemilymill commented on #393
labels did not disappear in master

[2021-07-13 19:15] samreid commented on #393
Thanks!  For issues like these, I recommend closing when they have been confirmed fixed in RC.2.  Then when the milestone list https://github.com/phetsims/gravity-and-orbits/milestone/4 is empty, we are ready to publish.  Sound OK?

[2021-07-13 19:23] stemilymill commented on #393
Yes! I hadn't seen the RC spot check issue yet, I'll go check this off over there

[2021-07-13 21:27] phet-steele commented on #395
This looks great to me on Win 10 Chrome!

[2021-07-13 21:27] #395 closed

[2021-07-13 21:31] #400 closed

[2021-07-13 21:31] #394 closed

[2021-07-13 21:32] #389 closed

[2021-07-13 21:32] #391 closed

[2021-07-13 21:32] #393 closed

[2021-07-13 21:33] #399 closed

[2021-07-13 22:00] stemilymill commented on #404
@samreid how picky should we be? The playback is much much smoother than before, but it still took about 15 seconds to get from 0:01 to 0:02, then it sped forward to 0:28 when real time was 22 seconds. The rest of my 3-minute test recording played back very smoothly and with accurate timing (consistently six seconds ahead) until the last two seconds, which were slightly jerky.

[2021-07-13 22:02] samreid commented on #404
Based on your description, it seems like it would not block publication.  But to understand better, I'll test with a longer recording to see if I can replicate that.  What platform were you on?

[2021-07-13 22:03] stemilymill commented on #404
Win10 Chrome

[2021-07-13 22:08] samreid commented on #404
Thanks, I recorded 2 minutes and 46 seconds on macOS/Chrome totaling a 45.8MB file, and did not see any delays or hiccups like you described.  How big is the file you described?  Can you file share it to me somehow?

[2021-07-13 22:14] stemilymill commented on #404
I sent it on slack, hopefully that works

[2021-07-13 22:22] samreid commented on #404
Thanks!  I got the file, and confirmed that I see the same laggy startup behavior in the first 6-7 seconds of sim playback on my mac/Chrome.  It seems to be related to the large file size, 244MB, and the parsing steps:

![image](https://user-images.githubusercontent.com/679486/125532599-e21ca22f-ec5f-4f2a-9f4d-afd6b97325c0.png)

[2021-07-13 22:30] samreid commented on #404
I got sublime to format all 15 million lines of JSON here (took ~5 minutes), and it just looks like this sim has a very rich data stream.  We may want to balance this in the future, or add a mode where playbacks intended for visual playback omit non-input events, if we want to support that one day.

[2021-07-13 22:35] KatieWoe commented on #402
Things seem ok in rc.2

[2021-07-13 22:35] #402 closed

[2021-07-13 22:38] samreid commented on #404
Thanks, I opened https://github.com/phetsims/phet-io-wrappers/issues/421 and recommend closing and checking off this issue.

[2021-07-13 22:41] #404 closed

[2021-07-13 22:56] KatieWoe commented on #398
Looks good in rc.2

[2021-07-13 22:56] #398 closed

[2021-07-14 16:57] KatieWoe commented on #403
Looks ok in rc.2

[2021-07-14 16:57] #403 closed

[2021-07-29 18:52] samreid opened #405 "branch: typescript"
For typescript investigation

[2021-08-13 18:49] arouinfar opened #406 "Create LoL icons/descriptions"
GAO now has LoL support, so I should create icons/descriptions and deliver to the client.

[2021-09-13 17:50] samreid opened #407 "Move toward strict: true"
We should have strict: true in the main tsconfig file, so Gravity and Orbits would be a good place to test it out.

[2021-09-17 17:35] KatieWoe opened #408 "CT Perennial task failed"
[code]

[2021-09-17 17:47] samreid commented on #408
Thanks, this is related to https://github.com/phetsims/chipper/issues/1053

[2021-09-20 16:37] KatieWoe opened #409 "CT Designed API changes detected"
[code]

[2021-09-21 23:26] samreid commented on #409
This was introduced in https://github.com/phetsims/joist/issues/745, @zepumph should we regenerate the API?

[2021-09-21 23:51] zepumph commented on #409
Thanks @KatieWoe, @samreid and I realized that this is because I didn't compile GAO before running `grunt generate-phet-io-api`. This will be a step that is always needed to regenerate the API for a sim that uses TS.

[2021-09-23 22:05] jessegreenberg opened #410 "Remove setting default option for enabledProperty of TimeControlNode StepForwardButton"
I think this line can be removed since it is setting the default behavior for TimeControlNode but didn't want to do so without checking with the responsible dev.

https://github.com/phetsims/gravity-and-orbits/blob/2db84ee3d9c5d6677a3c9bb0f6a6a3786926774b/js/common/view/GravityAndOrbitsTimeControlNode.ts#L59

[2021-09-23 22:11] jessegreenberg commented on #410
I noticed this because in https://github.com/phetsims/scenery-phet/issues/563 we are replacing isPlayingProperty with enabledProperty so the result is changing the line to
[code]

But I cannot commit to gravity-and-orbits because I am getting some "Could not find a declaration file for module..." errors. So sorry @samreid, can you look into making this change? The behavior of the TimeControlNode w

[2021-09-23 22:17] jessegreenberg commented on #410
Actually...the point of this issue was that using this option may not be necessary in this sim, so the usage of TimeControlNode is probably not broken since I suspect using the default `enabledProperty` is OK.

[2021-09-25 21:49] samreid commented on #407
It looks like gravity and orbits now supports strict: true, closing.

[2021-09-25 21:49] #407 closed

[2021-10-02 02:25] samreid commented on #409
I added this to the TypeScript Quick Start guide, maybe one day we will have better tooling for this, but at least it's documented for now.  Closing.

[2021-10-02 02:25] #409 closed

[2021-10-03 02:12] samreid commented on #408
Fixed, closing.

[2021-10-03 02:12] #408 closed

[2021-10-03 02:24] samreid commented on #410
It seemed to work OK without it, thanks!  Also, if you'd like to investigate "Could not find a declaration file for module..." more, please reach out to me on slack or create a new issue.  Closing.

[2021-10-03 02:24] #410 closed

[2021-10-29 02:50] samreid opened #411 "PhET-iO Dev Test for TypeScript"
At today's phet-io meeting, @pixelzoom recommended a phet-io dev test for a typescript sim.  Gravity and Orbits fits that bill.  Self-assigning to prepare a dev version and test description.

[2021-11-01 17:53] pixelzoom opened #412 ""screen" prefix is not used for keys related to screen names."
Noticed while working on https://github.com/phetsims/joist/issues/764.

This sim does not use the convention of using the "screen" prefix for the keys that correspond to screen names.

In gravity-and-orbits-strings_en.json, the keys for the string titles should be `"screen.model"` and `"screen.toScale"`.

[2021-11-02 22:34] KatieWoe opened #413 "CT myFunction is not a function"
[code]

[2021-11-04 03:23] samreid commented on #413
The code that is failing in the stack trace is:

[code]

So I don't see how `TypeError: myFunction is not a function` makes any sense.  It sounds like it's reporting for a stale version where we tried to call `myFunction(...)` directly.

[2021-11-04 03:24] samreid commented on #413
I've been fuzzing this on my side for 10 minutes and cannot see the problem (even though I see explosions).  Not sure how it is still a problem on CT even in the latest column.

[2021-11-04 16:20] samreid commented on #413
This cleared up in later shas, closing.

[2021-11-04 16:20] #413 closed

[2021-11-11 01:47] samreid commented on #411
We discussed that CCK AC dev test is higher priority, so this should wait a bit.

[2021-11-22 16:12] samreid commented on #411
The first CCK AC dev test completed, but another seems to be coming soon.

[2021-11-23 21:45] samreid commented on #411
QA said they were ready for more testing, and CCK wasn't quite ready yet, so I prepared https://phet-dev.colorado.edu/html/gravity-and-orbits/1.6.0-dev.1/phet-io/

[2021-11-24 17:03] KatieWoe opened #414 "Some iO Type links don't lead anywhere"
For https://github.com/phetsims/qa/issues/744. Seen in Win 11 Firefox.
When clicking links in the iO Type Doc section, when Selected is chosen, some of the links don't do anything. If All is chosen, then these links do seem to work. I saw this with `gravityAndOrbits.modelScreen.model.showPathProperty` element and the links that say
[code]

![linksdontlead](https://user-images.githubusercontent.com

[2021-11-24 17:24] samreid commented on #414
Thanks, this looks related to https://github.com/phetsims/phet-io/issues/1781, I'll open a common code issue for it.

[2021-12-06 16:21] samreid commented on #411
CCK AC is in RC testing now, but there is progress on the CCK phet-io implementation in https://github.com/phetsims/circuit-construction-kit-common/issues/513, and it may be better to run the first dev test on that.

[2021-12-07 18:59] samreid commented on #411
Oh, perhaps we already did a sufficient amount of testing in https://github.com/phetsims/qa/issues/744, closing.

[2021-12-07 18:59] #411 closed

[2021-12-07 19:03] samreid commented on #414
Fixed in https://github.com/phetsims/phet-io/issues/1781, closing.

[2021-12-07 19:03] #414 closed

[2021-12-14 19:42] Nancy-Salpepi opened #415 "Restart button disabled when it shouldn't be"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.0.1

**Browser**
safari

**Problem description**
While testing https://github.com/phetsims/qa/issues/744, I noticed this Gravity and Orbits issue (doesn't look like a typescript issue):

In the Studio wrapper, if you press play, pause the sim, and then launch the sim, the Restart button will be grayed out (disabled).
This is also seen

[2021-12-15 21:04] KatieWoe commented on #397
Seen in https://github.com/phetsims/qa/issues/744.

[2021-12-16 02:31] samreid commented on #415
I'll evaluate this when we return to gravity-and-orbits, unassigning for now.

[2022-01-04 17:18] samreid opened #416 "Measuring tape end point should remain in bounds."
Reported by the same client that reported https://github.com/phetsims/density-buoyancy-common/issues/67, the measuring tape end point can get out of bounds.

[2022-02-04 16:48] KatieWoe opened #417 "CT designed api changes detected"
[code]

[2022-03-17 14:48] pixelzoom opened #418 "CT: HSeparator assertion failure"
I ported HSeparator to TypeScript yesterday, and this may be related.

[code]

[2022-03-17 14:58] pixelzoom commented on #418
Manually mapping from .js to .ts, here's the relevant code in HSeparator:

[code]

[2022-03-17 15:02] pixelzoom commented on #418
I added an assertion message:

[code]

[2022-03-17 15:07] pixelzoom commented on #418
In GravityAndOrbitsControls.ts:

[code]

I'll change the assertion to `width >=0` based on this usage.

[2022-03-17 15:09] pixelzoom commented on #418
The sim is now passing fuzz testing. Closing.

[2022-03-17 15:09] #418 closed

[2022-03-17 23:28] zepumph commented on #376
We no longer support this wrapper, so I'm going to close this issue as a wontfix, see https://github.com/phetsims/phet-io/issues/1854

[2022-03-17 23:28] #376 closed

[2022-06-23 19:37] Nancy-Salpepi opened #419 "Unable to preview sim after loading a saved state"
**Test device**
MacBook Air (m1 chip)

**Operating System**
macOS 12.4

**Browser**
Safari

**Problem description**
For https://github.com/phetsims/qa/issues/816, the preview sim button doesn't work if pressed after loading a saved state. This happened when I loaded a saved state from a previous version (1.5) and from the latest version (1.6.0-dev.2).

**Steps to reproduce**
Here is an example usi

[2022-06-24 00:42] Nancy-Salpepi opened #420 "Step forward button doesn't stay disabled when loaded into current studio version"
**Test device**
MacBook Air (m1 chip)

**Operating System**
macOS 12.4

**Browser**
Safari

**Problem description**
For https://github.com/phetsims/qa/issues/816, I disabled the step forward button in the version 1.5 and then when I opened this saved state in the current version (1.6.0-dev.2) it was enabled. This happens in both screens.

**Steps to reproduce**
1. In studio version 1.5, in the Mod

[2022-06-24 12:17] Nancy-Salpepi commented on #420
Or is this behavior correct because the ability to disable this control was deleted?

<img width="498" alt="Screen Shot 2022-06-24 at 8 16 00 AM" src="https://user-images.githubusercontent.com/87318828/175532328-4e44854d-30cd-4be6-97d8-889321c9096a.png">

[2022-06-24 18:28] Nancy-Salpepi opened #421 "Launched sim performance severely affected in Safari"
**Test device**
MacBook Air (m1 chip) and iMac Desktop

**Operating System**
12.4 and 10.15.7

**Browser**
Safari

**Problem description**
For https://github.com/phetsims/qa/issues/816, when I launch the sim in studio, after checking a few checkboxes in the Model screen, the sim will basically come to a standstill and then sputter forward ~every second.

* This will only happen the first time the

[2022-06-27 17:02] KatieWoe opened #422 "Red line under phet-io menu in studio"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome and Firefox
**Problem description**
For https://github.com/phetsims/qa/issues/816. In studio, in or out of projector mode, there is a red line under the phet-io button. This line does not appear in the Simulation wrapper or when the sim is launched from Studio.

**Visuals**
<img width="960" alt="menuredline" src="https://user-imag

[2022-06-27 18:23] KatieWoe opened #423 "Diff wrapper does not show difference between 1.5 and 1.6"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/816.
In the diff wrapper for 1.6, entering the url for 1.5 shows no results and the console shows the errors shown bellow.

**Visuals**
<img width="959" alt="nodiff" src="https://user-images.githubusercontent.com/41024075/176009384-dc67ed76-1073-493f-88d8-224b830104

[2022-06-27 18:28] KatieWoe commented on #423
I got the same error when trying to compare 1.6 to itself.

[2022-06-27 19:31] zepumph commented on #422
Thanks for the report. This was added in https://github.com/phetsims/joist/issues/802 as a way to communicate to PhET-iO clients when assertions are enabled. This is expected. Please update necessary QA documentation.

[2022-06-27 19:31] #422 closed

[2022-06-28 17:32] KatieWoe opened #424 "Step back time/position not saved in state"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/816.
If you set a new position for the step back button, then set the state, the new position is not saved in state. Instead, the set back time/position seems to always be set at what it was when state was set.
**Steps to reproduce**
1. Go to the state wrapper
2. Go

[2022-06-28 22:10] KatieWoe opened #425 "Pan Zoom link has a typo"
For https://github.com/phetsims/qa/issues/816. In the [PhET-iO Guide](https://phet-dev.colorado.edu/html/gravity-and-orbits/1.6.0-dev.2/phet-io/doc/guides/phet-io-guide.html) the link to the false pan and zoom for stand alone says `&asupportsPanAndZoom=false` instead of `&supportsPanAndZoom=false` which means the parameter does not work.

[2022-06-29 02:20] samreid commented on #424
It looks like the same problem is present in the previous version https://phet-io.colorado.edu/sims/gravity-and-orbits/1.5/wrappers/state/, so this is not a regression and may also not be a blocking issue.

[2022-06-29 22:47] KatieWoe commented on #423
This also happens in Firefox

[2022-06-30 21:23] Nancy-Salpepi opened #426 "Gravity and Velocity Arrows missing in Screenshot"
**Test device**
MacBook Air (m1 chip)

**Operating System**
macOS 12.4

**Browser**
Safari and chrome

**Problem description**
For https://github.com/phetsims/qa/issues/816

When I take a screenshot in the Screenshot Wrapper, the velocity and gravity arrows are missing. Also seen in master, but nothing came up in the console.

**I tried version 1.5 and the screenshot was correct.

**Steps to repro

[2022-06-30 22:24] zepumph commented on #426
Seems like a sim-specific issue

[2022-06-30 22:58] Nancy-Salpepi commented on #426
I am also seeing this when I take a screenshot from the PhET menu in the standalone sim and the PhET brand sim.

[2022-07-05 13:22] Nancy-Salpepi commented on #424
I believe this is the same issue as https://github.com/phetsims/gravity-and-orbits/issues/415

[2022-07-05 13:28] Nancy-Salpepi commented on #424
Sorry! Deleted last comment as I realized it was a different issue!

[2022-07-05 19:03] Nancy-Salpepi commented on #426
This issue is also seen with iOS 15.5 using both the screenshot wrapper and the screenshot tool in the PhET menu.

[2022-07-05 20:34] KatieWoe opened #427 "Query parameters prevent preview of sim"
For https://github.com/phetsims/qa/issues/816. If you add a query parameter to studio, either one of the ones found in the guide or a string test, then try to preview the sim, the resulting sim won't load. The console shows the errors shown in the image below. This was seen on Win 11 Chrome.
<img width="947" alt="cantlaunch" src="https://user-images.githubusercontent.com/41024075/177411424-6449931

[2022-07-06 16:41] samreid commented on #425
Fixed in the commit, thanks!

[2022-07-06 16:44] #425 closed

[2022-07-07 18:14] samreid opened #428 "Many attributes should be marked as readonly"
Noticed during https://github.com/phetsims/chipper/issues/1258, many `readonly` terms are missing.

[2022-07-07 22:39] KatieWoe commented on #423
That does seem to work for the old version. Typing 1.6 to try to compare it to itself does not work though.
I also see this in https://github.com/phetsims/qa/issues/818

[2022-07-08 22:50] zepumph opened #429 "Unknown API changes"
I was about to just commit these under another commit that changed the API but I thought I'd make sure @samreid felt they were purposeful since GAO is in the publication process. Likely they are! Feel free to close.

[2022-07-08 23:19] samreid commented on #429
Thanks, I saw those same changes when testing playwright in https://github.com/phetsims/chipper/issues/1273#issuecomment-1176764865, and they seemed reasonable to me.

[2022-07-08 23:19] #429 closed

[2022-07-13 01:35] samreid commented on #426
Good catch, it's fixed in the commit and ready for review in the upcoming RC.  We will also need to check that the fix doesn't negatively impact performance.

[2022-07-13 20:18] zepumph commented on #423
We will investigate why we can't load 1.6 and compare it to 1.6.

[2022-07-14 23:30] zepumph commented on #417
This is no longer a bug. Closing

[2022-07-14 23:30] #417 closed

[2022-07-27 20:26] samreid commented on #421
Please see notes in https://github.com/phetsims/friction/issues/278#issuecomment-1197329695 about a potential flaw in safari 15.3 through 15.5.  @Nancy-Salpepi can you please test this issue in 15.6?

[2022-07-27 22:05] Nancy-Salpepi commented on #421
@samreid all looks good with Safari 15.6. I was unable to reproduce in 4 attempts.

[2022-07-27 22:25] zepumph commented on #421
Excellent! I'm going to close this, @samreid please reopen if there are any other thoughts. Thanks all!

[2022-07-27 22:25] #421 closed

[2022-07-27 22:45] zepumph commented on #420
Yes precisely! We unfortunately were not able to make this Property migrate, we had to delete it. This behavior is expected, as you see in the console. Closing

[2022-07-27 22:45] #420 closed

[2022-08-03 02:38] samreid commented on #423
I believe this answer is straightforward. It is able to load prior versions because the API file for the prior versions is published on the phet-io website at a standard location. Since we are testing a dev or RC version for 1.6, there is no API file for the production version of 1.6 at the standard location, therefore the comparison cannot be made. I believe this is an acceptable and useful const

[2022-08-03 21:15] zepumph commented on #423
Recent changes to the diff wrapper have caused us to not be able to just diff two arbitrary links. In my opinion that is a regression that was not necessary, and not that beneficial. I agree that this error is "acceptable" because it won't effect clients, but why would we set up our wrapper to not be able to diff against a version in an RC. It just seems like we are asking to have to do more work

[2022-08-03 22:46] samreid commented on #423
Client.getAPIFile currently takes a version.  Do you recommend that getAPIFile would take version|URL?  Or two methods, like `getAPIFileForVersion` and `getAPIFileForURL`?

I also tried entering 1.6.0-dev.2 for the comparison and it said APIs are identical.  Is that acceptable for now?  Is this work blocking the upcoming release?

<img width="876" alt="image" src="https://user-images.githubusercon

[2022-08-08 20:57] samreid commented on #424
The current behavior was designed for https://github.com/phetsims/gravity-and-orbits/issues/343.  I tried commenting out that solution:

<details>

[code]

</details>

And saw the behavior was as expected for this issue.  However, with commenting out this code, the behavior in https://github.com/phetsims/gravity-and-orbits/issues/343 will no longer work.  @arouinfar can you please advise which beh

[2022-08-08 21:44] arouinfar commented on #424
I think the current behavior is as expected, and the solution designed for #343 is preferable.

I think it would be strange for the RestartButton to return a state that existed before the state was saved. The goal for this button is to allow users to repeat an experiment (requires the sim to be paused), with the startup/default state being the fallback. In the case described by @KatieWoe, there wa

[2022-08-08 21:44] #424 closed

[2022-08-09 22:27] samreid commented on #423
@zepumph and I discussed that we have utilities for comparing API files from specific URLs such as dev versions.  We can download them and run grunt compare-phet-io-api or something.  This wrapper seems good enough for clients and no more work is needed for this milestone, closing.

[2022-08-09 22:27] #423 closed

[2022-08-13 02:24] jonathanolson opened #430 "branch: stringProperties"
See https://github.com/phetsims/chipper/issues/1302

[2022-08-15 17:41] KatieWoe opened #431 "CT Designed API changes detected, please roll them back or revise the reference API"
[code]

[2022-08-15 21:23] jessegreenberg commented on #431
This was caused by changes in https://github.com/phetsims/joist/issues/814, the checkbox was replaced by a toggle switch in the Preferences dialog. I re-generated the API but thought it would be good for a PhET-iO dev to confirm this is right.

IN https://github.com/phetsims/phet-io-sim-specific/commit/9b4403f1c3cd3005f92df44e1e3fb08cfb299720
- The checkbox was removed
- In the diff I saw referenc

[2022-08-16 03:01] samreid commented on #431
Removed in the commit.  Everything else seems good, closing.

[2022-08-16 03:01] #431 closed

[2022-08-24 16:31] KatieWoe opened #432 "CT Designed API changes detected, please roll them back or revise the reference API"
[code]

[2022-08-24 17:19] Nancy-Salpepi opened #433 "Screen Name resets to original locale in Standard PhET-iO wrapper with Reset All"
**Test device**
MacBook Air (m1 chip)

**Operating System**
macOS 12.5.1

**Browser**
Safari 15.6.1

**Problem description**
For https://github.com/phetsims/qa/issues/830, when changing the locale in the Standard PhET-iO wrapper, pressing the Reset All button results in the screen name returning to the original local the sim was launched in. All other words remain in the current, chosen locale.

*

[2022-08-24 17:32] samreid commented on #433
Great discovery, thanks @Nancy-Salpepi.  I believe the problem is that the state is restored when reset all is pressed, and the string values are now in the state.  I'll have to take a closer look.  Also notifying @zepumph in case he knows a solution.

[2022-08-24 17:44] samreid commented on #433
@zepumph said:

https://github.com/phetsims/scenery-phet/blob/7310d354798d65e93c42a8327a25995b82c9879e/js/buttons/ResetAllButton.ts#L82

I tried:

[code]

And it appeared to correct the problem.  But the heuristics for detecting the localized properties are probably too general.  Do we have to introduce new PhetioObject metadata indicating whether a Property is locale related or not?  What's the b

[2022-08-24 18:26] Nancy-Salpepi opened #434 "Unable to test version migration"
For https://github.com/phetsims/qa/issues/830 I keep getting this message after trying to load a saved state from version 1.5 into version 1.6

<img width="1253" alt="Screen Shot 2022-08-24 at 2 16 48 PM" src="https://user-images.githubusercontent.com/87318828/186494185-43ceb668-8289-4faa-9af1-021f7325a99e.png">

[2022-08-24 19:04] zepumph commented on #434
Could you please pull on phettest and try to reproduce this there. I just improved the error messaging so it won't say "[Object]"

[2022-08-24 19:24] Nancy-Salpepi commented on #434
@zepumph I can't try on Master at the moment because of a different issue. I tried a couple of different sims on PhetMarks and the screens are just black when I try to open studio. I'm getting:
<img width="514" alt="Screen Shot 2022-08-24 at 3 22 33 PM" src="https://user-images.githubusercontent.com/87318828/186505411-c587c755-4850-479c-8654-78bee840f905.png">

[2022-08-24 20:22] samreid commented on #434
I removed `?locales=*` on my working copy test and tried to load a 1.5 wrapper and saw these errors:

<img width="910" alt="image" src="https://user-images.githubusercontent.com/679486/186515828-5f0becc4-d2a8-487e-a987-a1b2e299d4cd.png">

So it seems some tandems were moved into the preferences dialog and this needs to be updated.

[2022-08-24 21:19] zepumph commented on #433
What about firing the localeProperty listeners one more time after setting screen state?

[2022-08-24 21:20] zepumph commented on #434
We need migration rules!

[2022-08-25 00:40] samreid commented on #433
I was suprised to see that this error is no longer happening because of the change in https://github.com/phetsims/axon/issues/409.  Avoiding that change like so reintroduces the problem:

[code]

I'm not sure why it works but I'm glad it does.  @zepumph can this issue be closed?

[2022-08-26 15:33] Nancy-Salpepi opened #435 "Artifacts seen when using some locales in Safari"
**Test device**
MacBook Air m1 chip

**Operating System**
macOS 12.5.1

**Browser**
Safari 15.6.1

**Problem description**
For https://github.com/phetsims/qa/issues/830, with some locales artifacts can be seen as the text moves around the screen. This occurs in all scenes, but only on the right side of the orbit.

This was not reproducible with Chrome.

**Steps to reproduce**
1. Go to the To Scale

[2022-08-26 15:39] Nancy-Salpepi commented on #435
This is with the locale Marathi:
<img width="418" alt="Screen Shot 2022-08-26 at 11 38 52 AM" src="https://user-images.githubusercontent.com/87318828/186942171-f53f68e9-09f2-461a-91ef-51a2ddb6633d.png">

[2022-08-26 16:16] Nancy-Salpepi commented on #435
In Safari, artifacts are seen with 17 different locales. The * indicates the artifacts are severe.

magyar
Georgian
*Marathi
*Oriya
Slovenščina
Turkmen
Urdu
Yoruba
Bosnian
Dansk
*Gujarati
Hausa
hrvatski
Igbo
<img width="91" alt="Screen Shot 2022-08-26 at 10 54 10 AM" src="https://user-images.githubusercontent.com/87318828/186948081-c2ffe724-12ef-46b2-bdc8-341f7cce16fe.png">
<img width="111" alt="S

[2022-08-26 21:29] samreid commented on #435
This problem is likely due to incorrect font bounds, @jonathanolson can you please advise?  @kathy-phet can you please help prioritize?

[2022-08-26 22:46] kathy-phet commented on #435
Curious if @jonathanolson feels like it is addressable, easily or not.

@Nancy-Salpepi - Does it occur when you launch the current published version in that same language? That is, is this issue unique to this new feature or just more discoverable by QA now? Thx.

[2022-08-27 01:44] samreid commented on #434
I got the 1.5 state to load into 1.6 via the commits.  Would be great if @zepumph can take a look, especially at the change in LinkedElementIO which was unusual but I couldn't figure out a better way.

[2022-08-27 01:45] samreid commented on #432
We committed a new API file and I updated the migration rules, closing.

[2022-08-27 01:45] #432 closed

[2022-08-27 12:08] Nancy-Salpepi commented on #435
@kathy-phet this does occur in the current published version as well. I tried 4 from the list and they all showed the issue.

[2022-08-30 21:15] zepumph commented on #434
GAO migration rules are now passing on master. @Nancy-Salpepi can you please test studio on master against 1.5 to ensure migration is supported now?

[2022-08-30 21:28] zepumph commented on #435
We can experiment with anti-artifact rectangles over in
https://github.com/phetsims/gravity-and-orbits/blob/a1ec2c39eb3a29df12465fc5a085e2e7ee70ecde/js/common/view/BodyNode.ts#L182-L184

perhaps with a bigger dilate?

@samreid was definitely feeling like it would be good if @jonathanolson could mention if there was a better, less work-aroundy solution here, even if we can't get to it for this rele

[2022-08-31 14:19] Nancy-Salpepi commented on #434
@zepumph I was only able to load wrapper version 1.5 into 1.6 after removing the query parameter "keyboardLocaleSwitcher" from the url. Without removing, I am getting this message:
<img width="467" alt="Screen Shot 2022-08-31 at 10 03 20 AM" src="https://user-images.githubusercontent.com/87318828/187700045-a170a993-4289-47be-9b45-5af4aa0f0bb8.png">

which causes the load to be rejected

<img width

[2022-08-31 18:10] jonathanolson commented on #435
I believe those anti-artifact rectangles are probably the best approach we have to trick browsers into handling these cases correctly.

[2022-08-31 18:13] zepumph commented on #434
Gotcha. Yes, that is expected behavior. We want to make sure that query parameters match between version to ensure that APIs are identical when migrating. I think this issue is ready to close. Thanks.

[2022-08-31 18:13] #434 closed

[2022-08-31 18:29] KatieWoe opened #436 "Query parameter for locale does not work in studio"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/830
When trying to load studio with the `?locale=es` parameter, an error pop-up appears, the console shows the same error, and studio does not load. The screens parameter seems to work as expected, so I believe this is connected to locale specifically.

**Visuals**

[2022-09-01 16:48] zepumph commented on #436
My notes are in https://github.com/phetsims/scenery/issues/1124. This is the first time that we have a consistent hit on this assertion. I don't want to just remove the assertion and drop the data stream event without some discussion over in https://github.com/phetsims/scenery/issues/1124, though likely that is how we will unblock this.

[2022-09-01 20:16] samreid opened #437 "Checkbox Text not discoverable in studio"
This may have broken when we started using VerticalCheckboxGroup

[2022-09-02 02:32] samreid commented on #437
I fixed the radio buttons and checkboxes in the commit.  @pixelzoom I called them `labelNode`, does that match what you have been doing and/or sound reasonable?  Would you like to review the commit?

[2022-09-02 14:45] pixelzoom commented on #437
I've been using the Node type as the suffix. That seeems to be what designers have typically requested.  So if the checkbox  labels are of type Text, I've been calling using tandem name `labelText`. E.g. in `VisibilityCheckboxGroup`:

`        tandem: tandem.createTandem( 'labelText' ),`

I should also note that there are surely exceptions to this in my code. And I don't know it's something that n

[2022-09-02 14:52] pixelzoom commented on #437
Looks like I was fairly consistent in geometric-optic.  I used `labelText` for all but one control label.  And I fixed that one case, since geometric-optic has never been published.

[2022-09-02 14:53] pixelzoom commented on #437
Looks like I was fairly consistent in geometric-optics.  I used `labelText` for all but one control label.  And I fixed that one case, since geometric-optic has never been published.

I used `titleText` for titles on things like panels and accordion boxes.

[2022-09-02 18:21] samreid commented on #437
I'm seeing 29 occurrences of `createTandem( 'labelNode' )` across our sims, many (all?) of them in Text or RichText instances.  @kathy-phet or @arouinfar do we want to rename all of these to `labelText`?

[2022-09-02 18:32] pixelzoom commented on #437
And to clarify for @kathy-phet and @arouinfar...  This is related to https://github.com/phetsims/tandem/issues/267 (Tandem name conventions are applied haphazardly), where we've decided that it's useful to have conventions for tandem names, for 2 reasons:
(1) Instructional designers can tell the type of the element from its tandem name, and know what to expect for child elements.
(2) Fewer PhET-iO

[2022-09-02 18:35] pixelzoom commented on #437
natural-selection, geometric-optics, phet-scale, and fourier-making-waves are all consistent about using the "Text" suffix for tandem names related to Text and RichText nodes.

[2022-09-02 18:38] pixelzoom commented on #437
+1 for renaming.

[2022-09-02 19:19] samreid commented on #436
I added this to the project board and will self-unassign until we discuss https://github.com/phetsims/phet-io/issues/1875#issuecomment-1235819514

[2022-09-02 23:08] samreid commented on #435
I was able to reproduce the problem, and added an anti-artifact rectangle around the text to correct it.  It seems OK locally.  @Nancy-Salpepi can you please test on phettest?

[2022-09-03 03:39] samreid commented on #426
No performance problem were reported in the preceding dev tests. Closing.

[2022-09-03 03:39] #426 closed

[2022-09-05 17:48] samreid commented on #428
Fixed, closing.

[2022-09-05 17:48] #428 closed

[2022-09-06 01:56] samreid commented on #162
The October 2019 test reported in https://github.com/phetsims/qa/issues/443#issuecomment-545496827 did not indicate significant problems, closing.

[2022-09-06 01:56] #162 closed

[2022-09-06 02:01] samreid commented on #430
This branch is fully merged to master, so I'll delete the branch and close the issue.

[2022-09-06 02:01] #430 closed

[2022-09-06 02:05] samreid commented on #291
@arouinfar should we leave this open as a potential future improvement, or close as likely outside the scope of this sim?

[2022-09-06 02:06] samreid commented on #281
It seems this was requested in https://github.com/phetsims/gravity-and-orbits/issues/416?  I'll close that one as duplicate and take another look.

[2022-09-06 02:06] samreid commented on #416
Closing as duplicate of https://github.com/phetsims/gravity-and-orbits/issues/281

[2022-09-06 02:06] #416 closed

[2022-09-06 11:58] Nancy-Salpepi commented on #435
@samreid things look good on master as well!

[2022-09-06 15:24] samreid commented on #306
A scene is like a mini-sim with both model and view parts.  It may not be ideal, but I don't think it's worth a significant effort to change what's here.  GravityAndOrbitsScene is already documented as such, so I think this issue should be closed.

[2022-09-06 15:24] #306 closed

[2022-09-06 16:02] samreid commented on #388
Fixed, it was straightforward and easy to verify so I do not think it needs a separate review step.  Closing.

[2022-09-06 16:02] #388 closed

[2022-09-06 16:04] samreid commented on #435
Thanks, I think this issue can be closed.

[2022-09-06 16:04] #435 closed

[2022-09-06 16:08] samreid commented on #412
Good catch, I am unfamiliar with how key names can be changed and weighing that against the importance of this convention.  @jbphet can you please advise?

[2022-09-06 18:28] jbphet commented on #412
There is a document that describes how to change a string key for a published sim, please see https://github.com/phetsims/rosetta/blob/master/doc/how-to-change-a-string-key.md.

It looks like a lot of translations have been submitted for this sim, so I'm not sure it would be worth it to change the key.  If we don't have any tools that rely on this convention, it may not be worth the effect.  Ultim

[2022-09-06 19:48] zepumph commented on #436
https://github.com/phetsims/phet-io-wrappers/commit/463cf19d4dbd2fc79b32209097004517ae2ec870 is the fix here. We were hitting an assertion from over in https://github.com/phetsims/studio/issues/268 that I don't think should apply here. Instead we can just assert if the query parameter values differ. @KatieWoe can you please confirm fixes on master and feel free to close.

[2022-09-06 19:48] zepumph commented on #436
Oops, still working on this. Hold on.

[2022-09-06 20:27] zepumph commented on #436
https://github.com/phetsims/tandem/commit/db0956f2b7e2cd276d7d614dfef6fdc8df1ecbd7 should fix this. @KatieWoe can you please test and feel free to close.

[2022-09-06 21:35] samreid commented on #412
Due to the significant amount of work to change keys, and the lack of operational requirements for enforcing this convention, I recommend we leave this as an unchanged legacy case.  I also skimmed through other sims alphabetically to see if I could quickly find other cases where they do not follow the convention.  I saw:

* Area Builder explore screen key is just "explore"
* Area Builder explore g

[2022-09-06 22:16] KatieWoe commented on #436
Looks fixed on master

[2022-09-06 22:16] #436 closed

[2022-09-06 22:17] pixelzoom commented on #412
Not my call. That's probably a question for PhET-iO designers, since the fact that the screen names are not where they should be is exposed in the Studio.

[2022-09-07 21:37] samreid commented on #415
The scene reset behavior under customized phet-io state was described here: https://github.com/phetsims/gravity-and-orbits/issues/343 and approved as working well.

For this issue, the state is now transmitting well:

<img width="482" alt="image" src="https://user-images.githubusercontent.com/679486/188986816-86ce4f7d-2c00-414f-bec7-981bf11171bf.png">

But perhaps it doesn't matter because of the

[2022-09-07 21:37] #415 closed

[2022-09-08 19:09] zepumph commented on #437
We will suffix with `Text` over in https://github.com/phetsims/tandem/issues/267#issuecomment-1241116079. Keeping open to make sure usages in this sim are covered.

[2022-09-08 19:27] zepumph commented on #412
We discussed this during PhET-iO meeting today. We all agree that this convention (starting the key with `screen.`) would be nice to have, and we want it in the future.

We are not going to change the GAO string keys before publication.

We see ~160 usages of screen keys using this, about ~280 new screens on the project, so our coverage is quite poor. @samreid  astutely noted that the issue here i

[2022-09-09 22:28] arouinfar commented on #281
@samreid I was unable to reproduce the behavior described in #416, and it looks like the client didn't provide steps to reproduce the issue. However, #416 was related to https://github.com/phetsims/density-buoyancy-common/issues/67. In Density, the underlying issue was due to an abrupt change in the aspect ratio. The client guide now includes this caution:

I think we can go ahead and close this i

[2022-09-09 22:28] #281 closed

[2022-09-15 18:03] zepumph commented on #412
Discussed at dev meeting today. PSA complete.
* Not going to change old names
* Update Simula rasa to demonstrate this example.
* Not making it easy to change a string key (at this time), but at some point in the future!

[2022-09-15 23:05] #412 closed

[2022-09-19 16:45] arouinfar opened #438 "Unused string keys"
For #440

When reviewing the strings in Studio, I realized that there are two unused string keys --  `earthDayStringProperty` & `earthMinuteStringProperty`. These are both singular versions of the timeCounter string,  however, only the plural version is ever used in the sim.
<img width="136" alt="image" src="https://user-images.githubusercontent.com/8419308/191069334-62e10b8a-eac2-493d-a681-615837

[2022-09-19 17:13] arouinfar opened #439 "Return Objects button needs a maxWidth"
For #440

@samreid the Return Objects button doesn't have a maxWidth, as revealed by editing the `returnObjectsStringProperty`.

<img width="806" alt="image" src="https://user-images.githubusercontent.com/8419308/191074043-48530700-cffc-422b-b321-388240d02500.png">.

This problem exists in the latest published version of the sim, but `stringTest=long` isn't long enough to reveal the layout issues,

[2022-09-19 17:30] arouinfar opened #440 "PhET-iO review for 1.6 release"
This was one of the earliest sims published with PhET-iO Studio, and I think it would benefit from another design review before the upcoming publication of 1.6.

Review will focus on:
- [x] Review dynamic strings/layout behavior
- [x] Verify `stringProperties` are linked appropriately in the view
- [x] Review `phetioFeatured` elements, and update overrides as needed

[2022-09-19 17:34] arouinfar opened #441 "Update examples.md for 1.6 release"
For #440

[Examples.md](https://github.com/phetsims/phet-io-sim-specific/blob/master/repos/gravity-and-orbits/client-guide/examples.md) is stale and needs updating.

[2022-09-19 20:02] arouinfar opened #442 "`deviatedFromDefaultsProperty` should be read-only"
For #440

Looks like `deviatedFromDefaultsProperty` was instrumented for #343. The documentation indicates that it is for internal use, so it should probably be `phetioReadOnly: true`.

[2022-09-19 20:19] arouinfar opened #443 "`controlPanel.visibleProperty` and `massesControlPanel.visibleProperty` should not be read-only"
For #440

In master, `controlPanel.visibleProperty` and `massesControlPanel.visibleProperty` are `phetioReadOnly: true`, which is a deviation from the behavior in the lastest published version. @samreid can you switch these back to `phetioReadyOnly: false`?

[2022-09-21 14:15] samreid commented on #443
Fixed, can you please spot check on phettest?

[2022-09-21 14:18] samreid commented on #442
Fixed, can you please spot check on phettest?

[2022-09-21 18:33] arouinfar commented on #443
Thanks, looks good @samreid

[2022-09-21 18:33] #443 closed

[2022-09-21 18:33] arouinfar commented on #442
Thanks @samreid, looks good.

[2022-09-21 18:33] #442 closed

[2022-09-21 22:18] arouinfar opened #444 "`massesControlPanel` should resize dynamically"
For #440

The `massesControlPanel` does not resize dynamically when its contents are hidden. The `controlPanel` resizes, so this seems like an oversight.

<img width="276" alt="image" src="https://user-images.githubusercontent.com/8419308/191620294-3da50ae6-a06d-4aef-b9f3-89163f4cf9b2.png">

[2022-09-21 23:05] arouinfar commented on #440
I completed the design review and opened a few issues tagged above.

I also updated the `phetioFeatured` overrides in the above commit. Summary of the changes:
* Featured `zoomLevelProperty` to be consistent with other sims.
* Unfeatured `massSlider.visibleProperty` because clients should use the top-level `visibleProperty` instead.
* Found a few cases where a Property should have been featured fo

[2022-09-22 00:16] arouinfar commented on #441
Summary of changes:
* Removed general customizations that belong in phet-io-guide.md
* Updated phetioIDs for strings. @samreid changed all instances of `textProperty` to `stringProperty` as a part of https://github.com/phetsims/scenery/issues/1451, however, the phetioIDs were all deprecated with the move to `general.model.stings`.
* Minor edits to improve clarity.

[2022-09-22 00:16] #441 closed

[2022-09-22 00:22] arouinfar opened #445 "Does `massProperty` need a range?"
During #440 I noticed that `massProperty` doesn't have a range. I'm not sure if this will cause issues with the new data-entry functionality of Studio, so I'm wondering if we should impose a range. If we do need a `massProperty.rangeProperty`, is it reasonable to match the range to what is used for the sliders -- 0.5x-2.0x the default value?

[2022-09-22 14:54] samreid commented on #445
Good catch.  This sim has a constraint that the Properties are "rewindable" for when you restore initial conditions. The rewindable nature is currently incompatible with NumberProperty, which is the part of the code that manages the range.  Adding range behavior to a new subtype of RewindableProperty seems prohibitively expensive. The behavior in studio is that you can enter any number, and the sl

[2022-09-22 16:44] arouinfar commented on #445
Thanks for the explanation @samreid. Negative masses do not seem reasonable, so I think we can continue without a range.

[2022-09-22 16:44] #445 closed

[2022-09-26 16:26] #440 closed

[2022-09-26 21:37] samreid commented on #444
Fixed and ready for review.

[2022-09-26 21:43] samreid commented on #438
I fixed this code and it should now be using the singular strings.

<img width="224" alt="image" src="https://user-images.githubusercontent.com/679486/192386058-3fd3c8ca-b96e-493c-943b-783b402b8cf2.png">

@arouinfar can you please review?

[2022-09-26 22:03] samreid commented on #439
Fixed and ready for review, thanks.

[2022-09-28 12:25] Nancy-Salpepi opened #446 "Outline appears around scenes"
**Test device**
MacBook Air (m1 chip)

**Operating System**
macOS 12.6

**Browser**
Safari 16.0

**Problem description**
For https://github.com/phetsims/qa/issues/838, when I hover the mouse over different scenes an outline appears. This issue is related to https://github.com/phetsims/sun/issues/772 and has been addressed by @jbphet on master. Assigning this issue to him as well, so that he can li

[2022-09-28 12:35] Nancy-Salpepi opened #447 "Design of Restart button doesn't match other buttons"
For https://github.com/phetsims/qa/issues/838
The restart button has a light gray outline around each component that isn't present in the other buttons. This inconsistency is also in the published version.

<img width="633" alt="Screen Shot 2022-09-27 at 5 26 00 PM" src="https://user-images.githubusercontent.com/87318828/192779239-1995ea00-ba54-410e-b139-949c4db25975.png">

[2022-09-28 16:05] KatieWoe opened #448 "Strings may not be vertically centered"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/838.
Text may not be vertically centered. This is especially the case when strings are longer than in English. This can be done with `?stringTest=long` or with existing translations. This can be easily seen with the icons in the nav bar. This seems to be related to

[2022-09-28 16:47] KatieWoe opened #449 "Flickering Mass images"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome (Have not yet seen on Firefox)
**Problem description**
For https://github.com/phetsims/qa/issues/838. Also seen in published, but I do not believe I have encountered this in the past, so it may be related to some recent update.
The images of the sun, planet, moon, and satellite, next to the mass sliders may flicker in and out of v

[2022-09-28 16:53] KatieWoe commented on #449
I was able to see this on a Mac device after updating Chrome, but not before, so I think it is safe to think this has to do with a recent Chrome update, possibly within the last day or so.

[2022-09-28 17:20] jonathanolson commented on #449
Reproducing this in chrome 105 on macOS.

[2022-09-28 17:21] jonathanolson commented on #449
<img width="180" alt="image" src="https://user-images.githubusercontent.com/480878/192847848-cbef9c61-d224-4206-97ec-7070406a1a65.png">

Can also get partial images

[2022-09-28 17:30] Nancy-Salpepi commented on #449
I was also able to reproduce with mac + chrome 106 but haven't seen it on safari yet. When I switch to the planet/moon scene, the planet is missing initially but reappears once I move the slider.
I also got flickering to occur while moving the slider.

https://user-images.githubusercontent.com/87318828/192849518-0b9b1618-eb66-4576-aa22-1522eccc1b5e.mp4

[2022-09-28 20:21] KatieWoe opened #450 "PhET-iO Guide contains unneeded curly bracket"
For https://github.com/phetsims/qa/issues/838.
There is an extra curly bracket, `{` at the end of the PhET-iO Guide. It is after PhET-iO API Documentation in the More Details for Developers section.
<img width="352" alt="curlybracket" src="https://user-images.githubusercontent.com/41024075/192880321-2eeffa56-4dd8-49ed-90b8-4fb3b84183cc.png">

[2022-09-28 20:47] jbphet commented on #446
This is fixed in master, and there are two commits that should both be picked up to resolve it in a release branch.  They are:

- https://github.com/phetsims/sun/commit/3733859aa8261342e8530d66c063e35373614f74
- https://github.com/phetsims/sun/commit/43e6e01e5cc3054579a4d3871c356acfc46ebd6c

I'm going to discuss some of these changes with another dev tomorrow, and I'll amend this if anything chang

[2022-09-28 21:08] KatieWoe opened #451 "Unable to hide screen icons as instructed"
For https://github.com/phetsims/qa/issues/838, seen on Win 11 Chrome.
The element `gravityAndOrbits.general.model.screens.isUserNavigatableProperty` is given in the model as being able to hide screen icons in the nav bar. However, this element does not seem to exist. I suspect `gravityAndOrbits.general.model.screens.isUserNavigableProperty` should be the element instead.

[2022-09-28 21:47] KatieWoe opened #452 "simName in curly brackets should be replaced with actual sim name"
For https://github.com/phetsims/qa/issues/838. Seen on Win 11 Chrome.
The element `gravityAndOrbits.general.model.strings.{{simName}}` is described in the PhET-iO Guide. The sim name is already included in the first part of this element, so I am unsure why it is not filled in at the end of the element.

[2022-09-28 22:08] KatieWoe opened #453 "Listed elements can cause studio to crash"
For https://github.com/phetsims/qa/issues/838.
The PhET-iO guide discusses the different preference elements and notes that not all are supported. However, they are in the tree, and trying to use them will cause a crash. Some of these elements may be listed specifically in the document, even though using them causes a crash and reload of studio. `gravityAndOrbits.general.view.audioManager.audioEna

[2022-09-29 00:43] Nancy-Salpepi opened #454 "Changing locale to Hausa causes "V" to move"
**Test device**
MacBook Air (m1 chip)

**Operating System**
12.6

**Browser**
safari and chrome

**Problem description**
For https://github.com/phetsims/qa/issues/838 seen in PhET-iO brand and PhET brand sim:
With the sim paused, if I switch locale to Hausa, the "V" will move from inside the circle back to the default position. Changing to any other locale will result in the "V" being in the defau

[2022-09-29 14:06] Nancy-Salpepi opened #455 "standard wrapper doesn't show path when launched"
**Test device**
MacBook Air (m1 chip)

**Operating System**
macOS 12.6

**Browser**
safari and chrome

**Problem description**
For https://github.com/phetsims/qa/issues/838, when the sim is launched from studio the planet/moon/satellite are in the correct position in the standard wrapper, but the path that was previously taken is missing. Seems similar to what was reported back in https://github.c

[2022-09-29 17:16] arouinfar commented on #447
Thanks @Nancy-Salpepi.

@samreid can remove the stroke around the icon on the restart button? If not, let's at least make the stroke black so the icon looks more consistent with the other buttons.

[2022-09-29 18:07] arouinfar commented on #439
@samreid this looks fixed in master, but I'm not seeing the change in rc.1. Seems like something that will need cherry-picking.
<img width="797" alt="image" src="https://user-images.githubusercontent.com/8419308/193109423-aacd8dea-8660-4525-9a86-5ea7f7b375a1.png">

[2022-09-29 19:05] arouinfar commented on #444
Thanks @samreid. Looks good in master, but not in rc.1, so tagging for cherry-picking.

[2022-09-29 19:06] arouinfar commented on #438
Thanks @samreid. Looks good in master, but not in rc.1, so tagging for cherry-picking.

[2022-09-29 19:15] KatieWoe opened #456 "Hiding scenes leaves a noticeable gap"
For https://github.com/phetsims/qa/issues/838. Seen on Win 11 Chrome.
When hiding scenes, there is a gap left between the remaining sims. This can be very noticeable.
<img width="691" alt="gap" src="https://user-images.githubusercontent.com/41024075/193122284-899b68f9-3dc7-4d10-a11e-2ad538097b53.png">

[2022-09-29 22:07] KatieWoe commented on #455
Oddly, it will appear in the launched sim if you hit the scene refresh button.

[2022-09-29 22:48] KatieWoe opened #457 "Object in launched sim may change orientation if time is stepped back"
**Test device**
Dell
**Operating System**
Win 11
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/838.
When a sim is launched, the step back time control is available. However, it "steps back" to the location it was at when launched. If the sim is paused, this should mean nothing happens. However, the orientation of the object is changed.
**Steps to reproduce**

[2022-09-29 23:35] arouinfar commented on #451
Thanks @KatieWoe. I can take care of fixing this, but I'd like to wait and see how many issues require editing the PhET-iO Guide so I can group everything into one commit. Related issues #450 #452.

[2022-09-29 23:35] arouinfar commented on #450
Thanks @KatieWoe. I can take care of fixing this, but I'd like to wait and see how many issues require editing the PhET-iO Guide so I can group everything into one commit. Related issues #451 #452.

[2022-09-29 23:36] arouinfar commented on #452
Thanks @KatieWoe. I can take care of fixing this, but I'd like to wait and see how many issues require editing the PhET-iO Guide so I can group everything into one commit. Related issues #450 #451 .

[2022-09-30 15:40] Nancy-Salpepi opened #458 "should projector mode be stateful?"
For https://github.com/phetsims/qa/issues/838, if I turn on projector mode in studio it will be on in the standard wrapper. I'm still not sure what in the preferences menu is stateful.

[2022-09-30 16:33] Nancy-Salpepi opened #459 "Inconsistent availability of buttons"
**Test device**

**Operating System**
MacBook Air (m1 chip)

**Browser**
safari 16

**Problem description**
For https://github.com/phetsims/qa/issues/838, in both Studio and State wrappers:
In the launched sim, both the Restart button and Clear button are enabled. Pressing the Reset button next to the scene disables them.

**Steps to reproduce**
1. In the State wrapper set state rate= 0
2. On eith

[2022-10-03 15:59] Nancy-Salpepi opened #460 "Restart button stays disabled after pressing play in launched sim"
**Test device**
MacBook Air (m1 chip)

**Operating System**
macOS 12.6

**Browser**
Chrome and Safari

**Problem description**
For https://github.com/phetsims/qa/issues/838 and related to https://github.com/phetsims/gravity-and-orbits/issues/459:

In studio or state wrappers: After pressing the Reset button next to a scene, pressing play doesn't trigger the Restart button to become enabled.

**Ste

[2022-10-03 16:43] Nancy-Salpepi opened #461 "Reset button returns measuring tape to default position"
**Test device**
MacBook Air (m1 chip)

**Operating System**
macOS 12.6

**Browser**
chrome and safari

**Problem description**
For https://github.com/phetsims/qa/issues/838 pressing the reset button in the standard wrapper returns the measuring tape to its default location, which is different behavior than in the Studio wrapper, upstream sim of the State wrapper, or the standalone sim.

**Steps to

[2022-10-03 17:54] Nancy-Salpepi commented on #461
The reset button also returns the zoom controls back to the default setting.

[2022-10-03 19:12] jbphet commented on #446
The changes are finalized.  I've added some documentation but didn't change the functionality any further, so the two commits listed above should do the trick.  Assigning to @samreid, since I believe he is working on the release of this sim.

[2022-10-03 19:16] Nancy-Salpepi commented on #449
After refreshing studio and switching to the planet/moon scene, moving Earth (instead of the slider) also produces the flickering.

[2022-10-03 21:57] arouinfar commented on #449
This happened to me once in Mac/Chrome 106, but I otherwise haven't been able to reproduce this issue.

@samreid since this seems to be a Chrome issue, we can probably close as wontfix.

[2022-10-03 21:59] arouinfar commented on #446
Thanks @jbphet looks good in master.

[2022-10-03 22:18] Nancy-Salpepi commented on #449
@arouinfar to clarify--it is a chrome issue in general, not just on the mac. It was originally reported with Win11 + chrome.

[2022-10-04 16:51] samreid commented on #456
@arouinfar did we previously decide to proceed with this as a known deficiency? And even if so, have we changed our tolerance for problems like this?  What do you recommend?

[2022-10-04 16:57] samreid commented on #458
From slack:

<img width="687" alt="image" src="https://user-images.githubusercontent.com/679486/193880077-73f3f434-8d2f-4a49-95e4-7c92e2d63086.png">

<img width="697" alt="image" src="https://user-images.githubusercontent.com/679486/193880159-9e2c3e41-f6fa-48d0-9f30-194769438801.png">

[2022-10-04 16:58] samreid commented on #458
Based on the conversation above, it seems like projector mode is supposed to be stateful, and it is stateful in the RC.  Therefore I think this issue can be closed.

[2022-10-04 16:58] #458 closed

[2022-10-04 17:11] samreid opened #462 "Get rid of console.log in QSM"
From https://github.com/phetsims/qa/issues/838, we need to cherry pick:

https://github.com/phetsims/query-string-machine/commit/03e27127517adb19fba52be93acd7db989d9d6e8

[2022-10-04 17:57] samreid commented on #448
Collaborating with @zepumph and @jonathanolson, we also saw that GridBox wasn't `yAlign: 'top'` as we expected, when we tried using GridBox for this. I'll open a scenery issue.

[2022-10-04 18:09] samreid commented on #448
@zepumph and I made a commit above to correct the problem, and discussed with @jonathanolson to open a side issue for future improvement.  @KatieWoe can you please review this in master?  It currently looks like this for us:

<img width="439" alt="image" src="https://user-images.githubusercontent.com/679486/193893743-d435d47f-7a65-424e-b344-28a46486a361.png">

[2022-10-04 18:29] arouinfar commented on #447
@samreid the stroke appearance should match the icons on the PlayPauseButton and StepForwardButton. The change can apply universally to all sims.

[2022-10-04 18:32] zepumph commented on #447
@samreid and I reworked the design, removing the grey stroke and updating the icon to look more like the other play/pause icons.

My solar system:
![image](https://user-images.githubusercontent.com/6856943/193897620-2243acb9-1643-43bc-b72a-466cc67d7ab4.png)

Gravity and orbits:
![image](https://user-images.githubusercontent.com/6856943/193897689-2732e4bd-1a83-4e9b-9d12-1fef7859045f.png)

Anything

[2022-10-04 18:34] arouinfar commented on #456
@samreid this seems like something we would have punted on before dynamic layout. However, I think it's worth some investigation to try and close the gap. If it's not well-supported (since two separate controls need to be hidden), we can close as wontfix.

[2022-10-04 18:49] arouinfar commented on #457
Thanks @KatieWoe.

@samreid this looks like a problem with the `rotationProperty` of the object. It's easiest to observe with the satellite, but it's a general problem.

Here's an example following @KatieWoe's steps to reproduce, but with the PlanetMoonScene.

`rotationProperty` = -1.92... radians in Studio and the initial configuration of the Standard PhET-iO Wrapper:
![image](https://user-images

[2022-10-04 18:56] samreid commented on #449
@zepumph and I met with @jonathanolson and we considered this is probably a browser-specific bug.  We may need to work around it via something like `renderer: 'canvas'`.  But we would want to make sure to only do that for the icons and not for the bodies in the play area.

[2022-10-04 18:58] arouinfar commented on #457
I compared to the 1.5 version, and the Restart button is disabled in the Standard PhET-iO Wrapper, as I would expect. However, if you play or step forward to enable the restart button, and then press restart, it will restore a state with the `rotationProperty` = 0.

[2022-10-04 19:03] arouinfar commented on #447
Looks great, thanks @zepumph @samreid.

[2022-10-04 19:33] samreid commented on #449
In the next round of QA, please make sure this change didn't introduce a performance degradation.

[2022-10-04 19:40] KatieWoe commented on #448
This looks good on master with stringTest=long

[2022-10-04 19:40] zepumph commented on #450
All fixed! ready for cherry pick.

[2022-10-04 19:42] zepumph commented on #451
@samreid and I are cruising through issues linked in the GAO rc, and fixed this guy. Ready for cherry pick.

[2022-10-04 19:45] zepumph commented on #452
Fixed above!

[2022-10-04 20:02] zepumph commented on #453
Right! We should not crash if we don't support sound. Fixed above with @samreid and ready for cherry pick. We also changed manually all other preferences Properties and didn't encounter errors.

[2022-10-04 21:23] zepumph commented on #437
All looks good here! https://github.com/phetsims/gravity-and-orbits/blob/d0420b63cf512da58eca1adefcff138dbd3f83b5/js/common/view/CheckboxPanel.ts#L67

[2022-10-04 21:23] #437 closed

[2022-10-04 21:47] zepumph commented on #433
I think that makes sense to me. I am ready to close

[2022-10-04 21:47] #433 closed

[2022-10-04 22:32] samreid commented on #456
Patch from collaboration with @zepumph

<details>

[code]

</details>

[2022-10-04 23:05] arouinfar commented on #459
Typically the Restart Button restores one of two possible states
1. The default configuration of the scene (if no custom configuration exists). This is identical in function to the scene reset button.
2. A custom configuration created while the sim was paused

With PhET-iO this becomes a bit more complicated. When the Standard PhET-iO Wrapper is created, the current state becomes the state restore

[2022-10-05 03:41] samreid commented on #456
Fixed and ready for cherry picking.

[2022-10-05 03:46] samreid commented on #457
Fixed and ready for cherry-pick

[2022-10-05 03:51] samreid commented on #461
The standard wrapper "reset all" button is supposed to restore the PhET-iO saved state for that screen.  We decided for this sim that the "reset scene" button should restore the PhET-iO saved state for that scene.  The measuring tape is part of the scene data.  @arouinfar what do you recommend?

[2022-10-05 15:48] samreid commented on #459
- [ ] It seems to always reset the time to zero, regardless of the time displayed when the saved configuration was created
- [ ] The Clear button should be enabled if the displayed time is non-zero.
- [ ] If the sim is launched while paused, the Restart button should definitely be disabled,

[2022-10-05 16:18] samreid commented on #461
In discussion with @arouinfar and @marlitas, we observed that the measuring tape coordinates are part of the scene, and therefore it is OK to restore those coordinates when the scene is restored.  Therefore, we think this issue can be closed.

[2022-10-05 16:18] #461 closed

[2022-10-05 20:26] samreid commented on #459
@marlitas and I made good progress, and this issue is ready for cherry-picking.

[2022-10-05 20:32] samreid commented on #460
This was fixed by https://github.com/phetsims/gravity-and-orbits/issues/459, should be tested in RC.2.

[2022-10-06 04:04] samreid commented on #439
Needed for https://github.com/phetsims/qa/issues/841

[2022-10-06 04:04] samreid commented on #438
Needed for https://github.com/phetsims/qa/issues/841

[2022-10-06 04:04] samreid commented on #444
Needed for https://github.com/phetsims/qa/issues/841

[2022-10-06 12:17] Nancy-Salpepi commented on #447
Looks perfect in master and in 1.6.0-rc.3. Closing!

[2022-10-06 12:22] Nancy-Salpepi commented on #446
Looks good on master and in 1.6.0-rc.3! Closing.

[2022-10-06 12:22] #446 closed

[2022-10-06 12:36] Nancy-Salpepi commented on #454
Looks good in master and in 1.6.0-rc.3! Closing.

[2022-10-06 12:36] #454 closed

[2022-10-06 13:02] samreid commented on #455
That sounds correct to me, because the Reset scene or Reset all is meant to restore the initial PhET-iO State.  But the Restart button is supposed to go back to the initial conditions for the last experiment, which would have path lengths of zero.

[2022-10-06 15:17] samreid commented on #459
Yes, Restart is supposed to go to the beginning of the experiment, and not the stored PhET-iO initial state, so that sounds reasonable.  Thanks!

[2022-10-06 15:27] #460 closed

[2022-10-06 17:23] Nancy-Salpepi opened #463 "Time display looks jumpy"
**Test device**
MacBook Air (m1 chip)

**Operating System**
macOS 12.6

**Browser**
safari 16.0

**Problem description**
For https://github.com/phetsims/qa/issues/841, I noticed that the grammar was fixed for the time displayed (1 earth day instead of days or 1 earth minute instead of minutes) between RC.2 and RC.3. This makes the time look a little jumpy when you first press Play. I was wondering

[2022-10-06 17:39] Nancy-Salpepi commented on #439
Return objects button has a max width in RC.3
<img width="369" alt="Screen Shot 2022-10-06 at 1 38 28 PM" src="https://user-images.githubusercontent.com/87318828/194381567-98c6810a-c75d-4155-a5d0-1eb9cf53c848.png">

Closing

[2022-10-06 17:39] #439 closed

[2022-10-06 17:46] samreid commented on #463
@arouinfar how do you want to address this?  Should the text be left aligned?  Do you just want it to say "1 Earth Days"? I'm not sure of a robust way to make sure the "1 Earth day"  has the same left coordinate as "2 Earth days".  Keep in mind our solution needs to be robust against locale changes and phet-io text customization.

[2022-10-06 17:50] Nancy-Salpepi commented on #444
This looks good in RC.3! Closing.

[2022-10-06 17:50] #444 closed

[2022-10-06 18:49] KatieWoe commented on #448
This does not seem to be fixed in https://github.com/phetsims/qa/issues/841

[2022-10-06 18:55] KatieWoe commented on #449
The flashing seems fixed in RC 3. Leaving open to test performance.

[2022-10-06 19:01] KatieWoe commented on #450
Fixed in RC3

[2022-10-06 19:01] #450 closed

[2022-10-06 19:07] samreid commented on #448
I see this in RC.3, do you see something different?

<img width="402" alt="image" src="https://user-images.githubusercontent.com/679486/194397940-ce193a43-376b-420d-aa8a-5c77530531f4.png">

[2022-10-06 19:07] KatieWoe commented on #451
This is fixed in RC3

[2022-10-06 19:07] #451 closed

[2022-10-06 19:15] KatieWoe commented on #448
Just wen to take a screenshot and realized the window was partly off screen, which probably caused what I was seeing. It still looks lower than it did though, even in your screenshot.

[2022-10-06 19:16] Nancy-Salpepi commented on #456
The layout now changes as you hide scenes and the panel size also changes dynamically.
There is only one instance where that isn't true: If only one scene is visible and the reset button is hidden, the panel size does not change--resulting in an empty space at the top.

<img width="247" alt="Screen Shot 2022-10-06 at 3 15 09 PM" src="https://user-images.githubusercontent.com/87318828/194399483-96b

[2022-10-06 19:17] Nancy-Salpepi opened #464 "Update QA credits"
For https://github.com/phetsims/qa/issues/841, please add Clifford Hardin and Nancy Salpepi to QA Credits. Thanks!

[2022-10-06 19:34] KatieWoe commented on #448
I think so. Thanks for clarifying. Closing for now, is something else comes up I'll reopen.

[2022-10-06 19:38] KatieWoe commented on #452
Looks good in RC3

[2022-10-06 19:38] #452 closed

[2022-10-06 20:12] KatieWoe commented on #453
This seems fixed in RC3

[2022-10-06 20:12] #453 closed

[2022-10-06 20:26] KatieWoe opened #465 "No audio tab to hide"
**Test device**
MacBook Pro
**Operating System**
MacOS 12.6
**Browser**
Chrome
**Problem description**
For https://github.com/phetsims/qa/issues/841
The guide contains this element: `gravityAndOrbits.general.view.navigationBar.preferencesButton.preferencesDialogCapsule.preferencesDialog.preferencesTabs.audioTab.visibleProperty` but no such element is in the tree as there is no sound.

[2022-10-06 20:40] KatieWoe commented on #457
This seems fixed in RC.3

[2022-10-06 20:40] #457 closed

[2022-10-06 21:11] arouinfar commented on #456
@Nancy-Salpepi I think that behavior is acceptable. If a client wants to completely hide the scene radio buttons, they should use `view.controlPanel.sceneControl.visibleProperty` which behaves as expected:

<img width="168" alt="image" src="https://user-images.githubusercontent.com/8419308/194419391-7466a57d-f90a-464f-847e-635a908ec306.png">

[2022-10-06 21:11] #456 closed

[2022-10-06 21:16] arouinfar commented on #463
@samreid I am fine with always using the plural Days/Minutes to avoid the jumpy behavior. Keep in mind that if we get rid of the singular forms, we should get rid of their string keys in #438.

[2022-10-07 03:13] samreid commented on #463
Fixed and ready for cherry-picking.

[2022-10-07 03:15] samreid commented on #464
Fixed and ready for cherry-picking.

[2022-10-07 15:33] samreid commented on #462
@marlitas and I confirmed this is fixed in RC.3, closing.

[2022-10-07 15:33] #462 closed

[2022-10-07 15:39] samreid commented on #438
We pushed a fix in https://github.com/phetsims/gravity-and-orbits/issues/463 and @marlitas and I confirmed the strings are correctly omitted.  Leaving open for verification in RC after cherry-picking.

[2022-10-07 22:25] KatieWoe commented on #449
I haven't seen any new performance problems. Closing

[2022-10-07 22:25] #449 closed

[2022-10-11 18:54] samreid commented on #465
@zepumph and I fixed the documentation above, for cherry-picking we only need phet-io-sim-specific.
https://github.com/phetsims/phet-io-sim-specific/commit/59fb542016aded667261c8958912bfed8e5de81e

[2022-10-14 01:32] samreid opened #466 "Standard Wrapper phetioClient should be a global"
Sim specific issue to cherry pick https://github.com/phetsims/phet-io-wrappers/issues/461

[2022-10-17 15:43] samreid opened #467 "Update localeOrderProperty algorithm"
Cherry pick https://github.com/phetsims/joist/issues/869

[2022-10-17 18:39] JaronDroder opened #471 "Stuttering for sim when in studio wrapper"

[2022-10-20 21:21] samreid opened #468 "Use HSeparator instead of HSeparatorDeprecated"
So they will autocollapse, see https://github.com/phetsims/scenery/issues/1480

[2022-10-21 16:08] samreid opened #469 "Migrate prior customized strings to new localized strings"
Migrate prior customized strings to new localized strings

[2022-10-21 20:19] KatieWoe commented on #448
Reopening. During https://github.com/phetsims/qa/issues/844 I noticed that, when the strings are long, the icons change position, and if only one is long, the icons are not aligned with each other. This happens in Gravity and Orbits as well.
![longshift](https://user-images.githubusercontent.com/41024075/197281872-5ddfaecc-8abb-4690-a164-49ecf7646658.png)
This is what the icons should look like:
!

[2022-10-21 20:21] Nancy-Salpepi opened #470 "Unable to hide localization tab"
In the client guide for RC.3, it states that a subset of tabs can be hidden. However, this element isn't in the tree:
`gravityAndOrbits.general.view.navigationBar.preferencesButton.preferencesDialogCapsule.preferencesDialog.preferencesTabs.LocalizationTab.visibleProperty`.

This is the similar to https://github.com/phetsims/molecule-shapes/issues/230 and  https://github.com/phetsims/gravity-and-or

[2022-10-22 23:03] samreid commented on #469
There are no `stringProperty` in 1.5, and here are all the `textProperty`:

<details>

[code]

</details>

[2022-10-22 23:08] samreid commented on #469
I used this code in the console to set all `textProperty` to 'hello' in 1.5.  You can see it is not very good coverage:

[code]

<img width="534" alt="image" src="https://user-images.githubusercontent.com/679486/197365590-d457d146-9847-4485-8549-17b4cba70125.png">

[2022-10-22 23:32] samreid commented on #469
I thought it would work to add TandemFragmentRenamed rules, but somehow that state "hello" is not getting through:

[code]

@zepumph do we need a different kind of migration rule for things like this?  Or is something broken about TandemFragmentRenamed?  Or am I confused or using it wrong?

[2022-10-24 22:59] arouinfar commented on #470
Thanks for reporting @Nancy-Salpepi. I checked [rc.3](https://phet-dev.colorado.edu/html/gravity-and-orbits/1.6.0-rc.3/phet-io/wrappers/studio/) in Studio, and I am able to hide the Localization Tab. I think there are two possible reasons you ran into trouble:
1. You searched for the listed `phetioID` without first opening the Preferences dialog, so it didn't exist. Dialogs must first be opened be

[2022-10-24 23:17] arouinfar commented on #470
I addressed (1) in the above commit, and the relevant section of the guide now reads:

`{{simCamelCaseName}}.general.view.navigationBar.preferencesButton.visibleProperty`

`{{simCamelCaseName}}.general.view.navigationBar.preferencesButton.preferencesDialogCapsule.preferencesDialog.preferencesTabs.LocalizationTab.visibleProperty`

@Nancy-Salpepi I think this change along with making the tab's `visi

[2022-10-25 12:30] Nancy-Salpepi commented on #470
You're right. I didn't have the dialog open first. Thanks @arouinfar and sorry about that!

[2022-10-25 12:30] #470 closed

[2022-10-26 01:48] samreid commented on #448
I believe when we discussed with @jonathanolson and @zepumph we raised the idea of a grid layout but decided against it.  @arouinfar how severe would you consider this problem and how much effort should be made to align those for varying string lengths?

[2022-10-26 03:06] samreid commented on #468
Fixed, and I observed that they correctly collapse in studio.

[2022-10-26 05:02] samreid commented on #468
I also added migration rules so 1.5 will still load.  @arouinfar want to review this issue in studio?

[2022-10-26 20:03] arouinfar commented on #448
I am not particularly bothered by the vertical shift. However, I find it odd that the first screen's `maxWidth` appears to be so much smaller than the second screen. Switching the `localeProperty` while the sim is running has a different appearance than loading the sim with the `locale` query parameter. Here's an example with `locale=bs` where the screen names have a similar character count.

Swit

[2022-10-26 23:49] arouinfar commented on #468
@samreid the separators disappear as expected, so that's looking good. However, there are a few issues:

* The separators extend beyond the bounds of the control panel
   <img width="250" alt="image" src="https://user-images.githubusercontent.com/8419308/198159354-8cbabdf4-eff2-4541-ac22-9fc41f4267a9.png">

* Setting `sceneControl.visibleProperty` to false centers the remaining contents creating a

[2022-10-27 00:27] #471 closed

[2022-10-27 19:53] zepumph commented on #469
@samreid and I discussed and we found 2 problems:

1. You can't put these rules at the bottom of the migration rules, because if after this rule then it won't work: https://github.com/phetsims/phet-io-sim-specific/blob/c64deb3aba0bce890662a2799b70b6c50b957af2/repos/gravity-and-orbits/js/gravity-and-orbits-migration-rules.ts#L34.
2. This rule is wrong, it should point back to `gravityAndOrbits.gene

[2022-10-28 02:28] samreid commented on #469
A better script:

[code]

[2022-10-28 02:31] samreid commented on #469
A problem as I go about this.  In 1.5

`gravityAndOrbits.${screen}.view.massesControlPanel.${sceneMassesControlPanel}.${body}ControlNode.massLabel.textProperty`,

copy-pasted the value of "Sun" 4x times, one for each control.  In 1.6, these are all coalesced.  So using the script above, in 1.5, I see suns labeled hello27, hello29, hello52 and hello54, but in 1.6 they are all coalesced to hello54.

[2022-10-28 02:57] samreid commented on #469
OK using the scripts above I was able to migrate forward all of the customizable strings from 1.5.  Summarizing caveats from above:

* Not many strings were customizable in GAO 1.5
* Strings in GAO 1.5 were independently customizable, you could call the sun "Sun" in one context and "Blag" in another.  In 1.6 they are coalesced.  Right now it is a "last one wins" strategy which will be correct if a

[2022-11-03 21:51] zepumph commented on #469
Looks great thanks.

[2022-11-04 23:11] samreid commented on #469
Tagging @arouinfar and @kathy-phet so they are aware of the "strings get coalesced" problem. In my opinion, it would be too complex to try to add heuristics to try to pick "the best" string to use.  That mainly affects the body types in the play area and for the sliders (for this sim). Please open a separate issue if that requires further attention.  Closing.

[2022-11-04 23:11] #469 closed

[2022-11-07 22:25] samreid commented on #468
I fixed that in the commits.

This is controlled by the AlignBox in the outer panel.  When I change it like so:

<details>

[code]

</details>

The HSeparator doesn't fill the width.

<img width="113" alt="image" src="https://user-images.githubusercontent.com/679486/200427973-5bbbe100-513d-4d0f-8003-ee27e0c9baaa.png">

@marlitas or @jonathanolson can you please comment how the `GravityAndOrbitsCon

[2022-11-08 01:02] marlitas commented on #468
Did some initial research on this, and I would assume that passing a `stretch: true` to GravityAndOrbitsControl would solve the problem. However, even with `stretch: true` the VBox is calculating it's width to be about `65 px` less than the parent AlignBox's width.

This screenshot shows the behavior with scenery helper outlines. The red dash represents the AlignBox bounds.
<img width="307" alt="S

[2022-11-08 16:26] jonathanolson commented on #468
AlignGroup doesn't currently set preferred sizes for anything, and this really isn't a good place to use AlignGroup. The AlignBox is just padding out the content. https://github.com/phetsims/scenery/issues/1493 exists to look into whether AlignGroup should be improved to do this type of thing.

Instead, just use the VBox itself and toss the AlignBoxes/AlignGroups for a simpler approach:

<details>

[2022-11-08 20:37] #468 closed

[2022-11-09 00:51] samreid commented on #438
Please close after verifying.

[2022-11-09 00:51] samreid commented on #463
Please close after verifying.

[2022-11-09 00:51] samreid commented on #464
Please close after verifying.

[2022-11-09 00:51] samreid commented on #465
Please close after verifying.

[2022-11-09 19:09] Nancy-Salpepi opened #472 "artifacts seen with latest macOS + safari"
**Test device**
MacBook Air (m1 chip)

**Operating System**
macOS 13.0

**Browser**
Safari 16.1

**Problem description**
For https://github.com/phetsims/qa/issues/850, I am seeing artifacts with the planet/moon and star/planet scenes with Gravity Force and Velocity checked and the mass of planet or star is increased.
This is a general issue with the latest macOS + safari and scenery that is assign

[2022-11-09 19:27] Nancy-Salpepi commented on #472
Also seen in the sun/planet/moon scene without changing the mass values.

[2022-11-09 20:42] Nancy-Salpepi opened #473 "Restart button becomes enabled when star/plant/moon is grabbed"
**Test device**
MacBook Air (m1 chip)

**Operating System**
macOS 13.0

**Browser**
safari 16.1 and with chrome

**Problem description**
For https://github.com/phetsims/qa/issues/850, When I grab an interactive object in the play area, the restart button becomes enabled. Once I let go, it becomes disabled again.

**This is not seen in the published version.

**Steps to reproduce**
1. On either scr

[2022-11-09 20:52] Nancy-Salpepi commented on #463
Looks good in 1.6.0-rc.4. Closing.

[2022-11-09 20:52] #463 closed

[2022-11-10 00:46] JaronDroder opened #474 "Index.HTML does not work for Phet.io offline test"
Test Device
Alien ware m15 r7

Operating System
Windows 11

Browser
Version 106.0.5249.119

Problem Description

Seen in phetsims/qa/issues/850
For the offline test on the Phet.io, the index.html just goes to a white screen

### Steps to Reproduce

Download the phet.io zip file and open the index.html
### Visuals
![Screenshot (7)](https://user-images.githubusercontent.com/115029534/200972947-b2eb8

[2022-11-10 05:48] samreid commented on #474
Was the file decompressed?  From the url in the screenshot above, it seems the browser is pointed to the file still within the compressed zip?  After decompression on Mac/Chrome the index page launches the sim correctly on my platform.

[2022-11-10 19:27] Nancy-Salpepi commented on #473
also seen with PhET-iO brand (standalone, studio, etc)

[2022-11-10 19:40] KatieWoe commented on #438
This seems to be broken again in https://github.com/phetsims/qa/issues/850
![notfixed2](https://user-images.githubusercontent.com/41024075/201190545-ac74a5d8-7b04-46fc-bd93-54c6d1dfddf2.png)
![notfixed](https://user-images.githubusercontent.com/41024075/201190546-00cd0246-8483-4370-845a-5362c22192ac.png)

[2022-11-10 19:46] Nancy-Salpepi commented on #438
@KatieWoe they decided to always go back to always plural because of https://github.com/phetsims/gravity-and-orbits/issues/463

[2022-11-10 21:30] samreid commented on #438
From discussion with @KatieWoe

<img width="726" alt="image" src="https://user-images.githubusercontent.com/679486/201209921-75e877fc-29d2-486a-98a3-a2a11775dc92.png">

[2022-11-11 13:03] Nancy-Salpepi opened #475 "Mass Icons incorrect or missing with mac + safari"
**Test device**
MacBook Air (m1 chip)

**Operating System**
macOS 13.0.1

**Browser**
Safari

**Problem description**
For https://github.com/phetsims/qa/issues/850 in PhET and PhET-iO brands:

As you change the scenes on either screen, the icons in the Masses Control panel are either incorrect or missing. It looks like the problem was introduced between 1.6.0-rc.1 and 1.6.0-rc.3. Perhaps it is rel

[2022-11-11 17:07] KatieWoe commented on #474
I checked this and I believe this is what happened. I think this can be closed. Thanks for the catch @samreid

[2022-11-11 17:28] KatieWoe commented on #438
Closing. Looks ok in RC 4

[2022-11-11 17:28] #438 closed

[2022-11-11 17:40] KatieWoe commented on #465
The changes in the linked commit are present. Closing

[2022-11-11 17:40] #465 closed

[2022-11-11 19:11] Nancy-Salpepi opened #476 "Should I be able to open saved studio states from a different minor version?"
For https://github.com/phetsims/qa/issues/850, things looks good when I open a saved studio state from 1.5 into 1.6.0-rc.4. When I tried to upload a saved state from 1.6.0-rc.1, I got an 'incorrect username or password' message. Should I be able to load older minor versions into the latest version?
<img width="519" alt="Screenshot 2022-11-11 at 1 49 17 PM" src="https://user-images.githubuserconten

[2022-11-12 03:31] jonathanolson commented on #472
@Nancy-Salpepi can you verify that the above commit handles this issue? Turns out it was a different Safari bug, documented in https://github.com/phetsims/geometric-optics-basics/issues/31.

[2022-11-12 03:34] jonathanolson commented on #472
@kathy-phet should I look into reporting an SVG bug to Safari for this?

[code]

Causes the buggy case:

<img width="82" alt="image" src="https://user-images.githubusercontent.com/480878/201453797-1c0641e2-f7b1-4ce5-8649-f62a875c45cb.png">

While this was possibly to isolate into an easy-to-report issue, it is also dramatically easy to work around (likely a minimal performance impact). Also, I don

[2022-11-12 12:56] Nancy-Salpepi commented on #475
I haven't been able to reproduce this issue with ipadOS 16.1

[2022-11-14 14:18] Nancy-Salpepi commented on #472
@jonathanolson things looks good on master.

[2022-11-14 15:01] Nancy-Salpepi opened #478 "Reset/Reset All doesn't interrupt grabbed object"
**Test device**
iPad 9th generation

**Operating System**
iPadOS 16

**Browser**
safari

**Problem description**
For https://github.com/phetsims/qa/issues/850. If I press Reset or Reset All with one finger, while I still have a planet/sun/moon grabbed with another, the planet/sun/moon will return to its current position after reset instead of the default.

This also occurs with the published versi

[2022-11-14 22:10] #474 closed

[2022-11-14 22:15] samreid commented on #476
The problem is that it expects the previous version to be loaded from a production version, hence it is looking in phet-io.colorado.edu/sims/gravity-and-orbits (not on phet-dev).  So I think this will work OK once things are published, and no work is needed for this publication.

To correct this for future versions, each save file could also output the URL of the corresponding API file.  @zepumph

[2022-11-14 22:23] samreid commented on #464
Tagging for https://github.com/phetsims/gravity-and-orbits/issues/464

[2022-11-14 22:47] samreid commented on #473
I pushed a proposed fix that seems to have the correct behavior.  The restore state is now set on drag start and drag, in addition to drag end.  I was concerned about the performance during dragging but a performance trace did not show troublesome CPU in my test.

[2022-11-14 22:49] samreid commented on #475
I did not see this problem in Safari Version 16.0 (17614.1.25.9.10, 17614)

[2022-11-14 23:41] KatieWoe commented on #475
I'm not seeing it either. Could it be an M1 chip thing?

[2022-11-15 02:04] samreid commented on #475
I'm on M1 (in my test above as well), and I upgraded to MacOS 13.0.1 running Safari Version 16.1 (18614.2.9.1.12).  I still do not see the icons disappear, but I see a different problem in the same place.  The icons do not switch to reflect the new scene.

<img width="1271" alt="image" src="https://user-images.githubusercontent.com/679486/201808375-8f329b6a-f9f7-45aa-b641-283957747e3e.png">

This

[2022-11-15 09:33] stemilymill commented on #475
I haven't been able to reproduce this in Mac 12.6 safari 16.0 (17614.1.25.9.10, 17614). I can continue trying in the morning with this setup or I can update OS for more testing, whatever would be more helpful

[2022-11-15 12:48] Nancy-Salpepi commented on #475
@samreid sometimes the correct icons didn't appear as you said  in https://github.com/phetsims/gravity-and-orbits/issues/475#issuecomment-1314655887 and sometimes they disappeared for me completely. I was seeing different things at different times. I am glad you were able to reproduce this!!

[2022-11-16 17:54] samreid commented on #475
@marlitas and I were able to reproduce this issue many times, but it was very flaky--sometimes the same situation (code + screen size) would give a different result.  Resizing the window would trigger a repaint.  We tried setTimeout + repaint + invalidation at many levels but could not find a combination that worked 100% of the time.

Next, I tried rendering the body objects using mipmaps, and hav

[2022-11-17 01:26] samreid commented on #475
During testing, I have never seen the mipmaps fail, so I went ahead and committed that fix.  However, reverting that change, I was unable to make the icon disappear in chrome, despite testing at different resolutions and restarting chrome numerous times.   So this is still mysterious, but I think it's ready for QA to take a look.  Please test Mac Chrome, Win Chrome, Safari and a Firefox to make su

[2022-11-17 01:38] samreid commented on #472
Based on https://github.com/phetsims/qa/issues/854, I feel we do not have a complete understanding of this problem or its solution.  However, based on https://github.com/phetsims/geometric-optics-basics/issues/31#issuecomment-1317603964 it seems like we want to move forward with cherry picking https://github.com/phetsims/scenery/commit/8ebb1eb3aae93a70a746f841818228f943581bb7

[2022-11-17 01:40] kathy-phet commented on #472
@samreid - The problem is in Safari. JO will submit bug reports. For now, yes, do the cherry pick of the fix that fixes GAO - it just needs one pick not two picks. The easier of the picks, I believe.

[2022-11-17 01:49] jonathanolson commented on #472
Bug reports submitted:

https://bugs.webkit.org/show_bug.cgi?id=248003
https://bugs.webkit.org/show_bug.cgi?id=248004
https://bugs.webkit.org/show_bug.cgi?id=248005

The first submitted bug is for this issue in particular. This is the issue that will be worked around by the maintenance release.

[2022-11-17 04:15] samreid commented on #472
Ready for testing in https://github.com/phetsims/qa/issues/857, please check for the artifacts in Safari 16.1.  Please close if all is well.

[2022-11-17 04:15] samreid commented on #473
Ready for testing in https://github.com/phetsims/qa/issues/857, please close if all is well.

[2022-11-17 04:15] samreid commented on #475
Ready for testing in https://github.com/phetsims/qa/issues/857, please close if all is well.

[2022-11-17 04:15] samreid commented on #478
Ready for testing in https://github.com/phetsims/qa/issues/857, please close if all is well.

[2022-11-17 04:16] samreid commented on #464
Ready for testing in https://github.com/phetsims/qa/issues/857, please close if all is well.

[2022-11-17 14:01] Nancy-Salpepi commented on #472
This looks good in 1.6.0-rc.6. Closing.

[2022-11-17 14:01] #472 closed

[2022-11-17 14:09] Nancy-Salpepi commented on #473
Looks good in 1.6.0-rc.6. Closing.

[2022-11-17 14:09] #473 closed

[2022-11-17 14:17] Nancy-Salpepi commented on #478
Looks good in 1.6.0-rc.6. Closing.

[2022-11-17 14:17] #478 closed

[2022-11-17 14:20] Nancy-Salpepi commented on #464
Jaron has been added to credits in  1.6.0-rc.6. Closing.

[2022-11-17 14:20] #464 closed

[2022-11-17 15:20] Nancy-Salpepi commented on #475
When testing 1.6.0-rc.6 with different screen sizes/resolutions, things look good with mac + safari/chrome/firefox. @KatieWoe would you mind taking at look at Windows?

[2022-11-17 16:28] KatieWoe commented on #475
Windows 11 Chrome looks ok to me.

[2022-11-17 18:10] Nancy-Salpepi commented on #475
Things look good on the iPad as well. Closing.

[2022-11-17 18:10] #475 closed

[2022-11-18 00:37] samreid opened #479 "Build failure: Error: Build aborted, Error: Could not find expected browser (chrome) locally."
While deploying 1.6 via `grunt production --brands=phet,phet-io --branch=1.6`, I received this email:

It appears the 1.6 phet brand version was built correctly, I can see it at:
https://phet.colorado.edu/sims/html/gravity-and-orbits/1.6.0/gravity-and-orbits_all.html

Maybe something went wrong with the chromium puppeteer step on the build server?  Could it be related to changes in https://github.

[2022-11-18 01:35] zepumph commented on #479
Hmmm I am confused by this. If it has something to do with my changes (commits right below https://github.com/phetsims/perennial/issues/268#issuecomment-1319114110) then (I'm especially confused). This is because I would have thought that the build server would be using the older version of puppeteer, with no trouble (**chipper sha**: https://github.com/phetsims/gravity-and-orbits/blob/c544ccefac4

[2022-11-18 02:59] samreid commented on #479
Perhaps this failed build left the PhET brand in an inconsistent state, the images are not loading:

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/679486/202606827-f1cddeb1-d53f-415c-8f42-c8b6d348f542.png">

[2022-11-18 03:08] samreid commented on #479
The relevant part from the build logs is:

[code]

The relevant code is in taskWorker.js in this section:

[code]

So it seems the `writePhetHtaccess` succeeded because it said `Write success.` on the .htaccess.  But it seems `createTranslationsXML` failed because it has `winston.log( 'info', 'wrote XML file' );` at the end that never prints.

[2022-11-18 03:13] samreid commented on #479
`parseScreenNames` is called from `createTranslationsXML` and has this code:

[code]

And it uses puppeteer to load the screen names.  So it is probably using the new puppeteer 19.2 introduced in https://github.com/phetsims/perennial/issues/268 in https://github.com/phetsims/binder/commit/ff58030c89dc12eaac796362858cc15bdf984a4c

[2022-11-18 03:19] samreid commented on #479
Using this patch,

<details>

[code]

</details>

I ran

[code]

So it does not seem to be an inherent problem or incompatibility with 19.2

[2022-11-18 03:26] samreid commented on #479
In the change logs, puppeteer says 19.0.0 introduced a breaking change:

https://github.com/puppeteer/puppeteer/releases/tag/v19.0.0

<img width="941" alt="image" src="https://user-images.githubusercontent.com/679486/202609681-804f0c54-677d-4c66-b4c9-b3cfb2ba4507.png">

Others have reported problems like ours:
https://github.com/puppeteer/puppeteer/issues/9218

Maybe I should run an experiment by

[2022-11-18 22:29] samreid commented on #448
It looks like in issue https://github.com/phetsims/joist/issues/438 we added this code:

https://github.com/phetsims/joist/blob/5cf0f5d641eda304b104668444cbd61cf2611b5b/js/NavigationBarScreenButton.ts#L228-L238

This means the maxWidth of the screen icon is being set to its initial width.  Should we just choose a constant for this, or perhaps a function that only depends on the number of screens?

[2022-11-22 00:47] zepumph commented on #479
I am so very sorry that you ran into this. I didn't know that the build server used puppeteer. I do not believe that this has anything to do with the above breaking changes, but rather, I didn't realize that the build server most likely needs to be restarted to accommodate the new puppeteer version that was installed. I'll work with @mattpen on this next week.

[2022-11-22 00:59] arouinfar commented on #448
Thanks @samreid! I opened https://github.com/phetsims/joist/issues/884 to continue the discussion around screen title `maxWidth`. I don't think anything else remains for this issue, so I'll close.

[2022-11-22 00:59] #448 closed

[2022-11-29 03:20] mattpen commented on #479
Looks like this is being addressed in https://github.com/phetsims/perennial/issues/268

@zepumph - is this ok to close?

[2022-11-29 22:02] zepumph commented on #479
@mattpen and I spoke about this yesterday. We feel like it is important to improve the logging in our puppeteer processes, and then from there figure out where the error case is coming from. I'll take the lead!

[2022-11-29 22:03] zepumph commented on #479
Yes thanks. This worked great over in https://github.com/phetsims/perennial/issues/268. We just needed to restart the build server to get the new puppeteer npm version into memory. Closing

[2022-11-29 22:03] #479 closed